{% liquid
  assign title = 'customer.account.menu' | t
  if current == "account"
    assign title = 'customer.account.title' | t
  elsif current == "addresses"
    assign title = 'customer.addresses.title' | t
  endif
%}

{% capture nav_items %}
  <ul>
    <li>
      <a href="{{ routes.account_url }}" class="{% if current == "account" %}txt-link{% endif %}">
        {{- 'customer.account.title' | t -}}
      </a>
    </li>

    <li >
      <a href="{{ routes.account_addresses_url }}" class="{% if current == "addresses" %}txt-link{% endif %}">
        {{- 'customer.addresses.title' | t -}}
      </a>
    </li>
    <li>
      <a href="{{ routes.account_logout_url }}">
        {{- 'customer.log_out' | t -}}
      </a>
    </li>
  </ul>
{% endcapture %}

<nav class="main-order-main-account__nav">
  {{ nav_items }}

  {% render 'expandable-content', title: title, id: "Account", text: nav_items, style: "dropdown" %}
</nav>