{% comment %}
  Renders an article card

  Expects: 
  - article: {Object} Article object
  - class: {String} optional
  - crop: {String} optional. circle, rounded-square, square, portrait, landscape, default (adapt)
  - alt_heading: {Bool} optional bool
  - alignment: {String} optional. default, center, right
  - show_description: {Bool} optional.
  - show_date: {Bool} optional.
  - show_author: {Bool} optional.
  - show_assc_product: {String} optional. not-visible, circle, rounded-square, square, portrait, landscape, default(adapt)
  - button_label: {String} optional

  Usage:
  <ul class="list-unstyled" role="list">
    {%- for article in blog.articles -%}
      <li>
        {% render 'article-card', article: article %}
      </li>
    {%- endfor -%}
  </ul>

{% endcomment %}

{% assign crop = crop | default: "default" %}
{% assign alt_heading = alt_heading | default: false %}
{% assign alignment = alignment | default: "default" %}
{% assign show_description = show_description | default: false %}
{% assign show_date = show_date | default: false %}
{% assign show_author = show_author | default: false %}
{% assign show_assc_product = show_assc_product | default: "default" %}


{% assign image_height = article.image.height | times: 1.0 %}
{% assign image_width = article.image.width | times: 1.0 %}
{% assign image_ratio = image_height| divided_by: image_width | times: 100 %}

YO
<a 
  class="article-card {{ class }} __align-{{ alignment }}" 
  href="{{ article.url }}" 
>

  <div class="article-card__image __crop-{{ crop }}" style="--imageRatio: {{ image_ratio }}%">
    {% if article.image %}
      {% render 'next-gen-img', image: article.image %}
    {% else %}
      <h3 class="p-lg">{% if article %}{{ article.title }}{% else %}{{ sections.main-article.name | t }}{% endif %}</h3>
    {% endif %}

    {% if show_assc_product and article.metafields.custom.associated_product %}
      {% render 'next-gen-img', image: article.metafields.custom.associated_product.featured_image %}
      {% comment %}TODO: make this look good, does it need cropping options too? {% endcomment %}
    {% endif %}
  </div>

  <h3 class="article-card__title h6 {% if alt_heading == true %}alt{% endif %}">
    {{ article.title | escape }}
  </h3>

  {% if show_date %}
    <span class="p">{{ article.published_at | time_tag: format: 'date' }}</span>
  {% endif %}

  {% if show_author %}
     <span class="p"> {{ article.author }}</span>
  {% endif %}

  {% if show_description and article.excerpt_or_content %}
     <p>{{ article.excerpt_or_content | strip_html | truncatewords: 20 }}</p>
  {% endif %}

  {% if button_label %}
    {% render 'button', button_label: button_label, style: "underline" %}
  {% endif %}
</a>
