{% comment %}
  Renders an article card

  Expects: 
  - article: {Object} Article object
  - class: {String} optional
  - crop: {String} optional. circle, rounded-square, square, portrait, landscape, default (adapt)
  - alt_heading: {Bool} optional bool
  - alignment: {String} optional. default, center, right
  - show_description: {Bool} optional.
  - show_date: {Bool} optional.
  - show_author: {Bool} optional.
  - assc_product_crop_shape: {String} optional. not-visible, circle, rounded-square, square, portrait, landscape, default(adapt)
  - button_label: {String} optional
  - img_width: {int} The width of the image at its max width x2 for high resolution screens
  - img_widths: {string} Different 1x or 2x widths of the image that can be decided on a loaded by the browser, include mobile, tablet and desktop options
  - img_sizes { string } Specify which 1x size the image will display at, on different devices
  - img_preload { bool } Whether the image should use lazy loading / not above the fold


  Usage:
  <ul class="list-unstyled" role="list">
    {%- for article in blog.articles -%}
      <li>
        {% render 'article-card', article: article %}
      </li>
    {%- endfor -%}
  </ul>

{% endcomment %}

{% assign crop = crop | default: "default" %}
{% assign alt_heading = alt_heading | default: false %}
{% assign alignment = alignment | default: "default" %}
{% assign show_description = show_description | default: false %}
{% assign show_date = show_date | default: false %}
{% assign show_author = show_author | default: false %}
{% assign assc_product_crop_shape = assc_product_crop_shape | default: "not-visible" %}

{% assign image_ratio = article.image.height | divided_by: 1.00 | divided_by: article.image.width | times: 100 %}

{% assign article_url = article.url %}
{% assign article_title = article.title %}


{% unless article != blank %}
  {% assign article_url = "/" %}
  {% assign article_title = "Article Title" %}
  {% assign image_ratio = 100 %}
  {% assign alignment = "center" %}
{% endunless %}
<a 
  class="article-card {{ class }} __align-{{ alignment }}" 
  href="{{ article_url }}" 
>

  <div class="article-card__top">

    {% if assc_product_crop_shape != blank and assc_product_crop_shape != "not-visible" and article.metafields.custom.associated_products %}
      {% assign featured_product = article.metafields.custom.associated_products.value | first %}
      {% assign assc_product_count = article.metafields.custom.associated_products | split: "," | size | minus: 1 %}
      <div class="article-card__assc-products">
        <div class="article-card__assc-products__product image-container __crop-{{ assc_product_crop_shape }}" style="--imageRatio: {{ featured_product.featured_image.height | divided_by: 1.00 | divided_by: featured_product.featured_image.width | times: 100 }}%">
          {% render 'next-gen-img', image: featured_product.featured_image, width: img_width: widths: img_widths, sizes: img_sizes, preload: img_preload %}
        </div>
        {% if assc_product_count > 0 %}
          <div class="article-card__assc-products__bubble p-sm" style="--articleCardProductsCount: '+{{ assc_product_count }}''"></div>
        {% endif %}
      </div>
    {% endif %}

    {% if article and article.image %}
      <div class="article-card__image image-container __crop-{{ crop }}" style="--imageRatio: {{ image_ratio }}%">
        {% render 'next-gen-img', image: article.image, width: img_width: widths: img_widths, sizes: img_sizes, preload: img_preload %}
      </div>
    {% elsif article == blank %}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {% else %}
      <h3 class="article-card__image p-lg">{{ article_title }}</h3>
    {% endif %}
  </div>

  <h3 class="article-card__title h6 {% if alt_heading == true %}alt{% endif %}">
    {{ article_title | escape }}
  </h3>

  {% if show_date %}
    <span class="p-sm">{{ article.published_at | time_tag: format: 'date' }}</span>
  {% endif %}

  {% if show_author %}
     <span class="p-sm"> {{ article.author }}</span>
  {% endif %}

  {% if show_description and article.excerpt_or_content %}
     <p class="p-sm">{{ article.excerpt_or_content | strip_html | truncatewords: 20 }}</p>
  {% endif %}

  {% if button_label %}
    {% render 'button', button_label: button_label, style: "underline" %}
  {% endif %}
</a>
