{% comment %}
  Renders a button

  Accepts:
  - button_label: {String}
  - button_link: {Url}
  - button_color: {String}
  - class: {String}
  - style: {string} Accepts nothing (default) "border", or "underline"


  Usage:
  {% render 'button', class: "featured-product", button_label: section.settings.button_label, button_link: section.settings.button_link %}
{% endcomment %}

{% button_color = button_color | default: "default" %}

{% if button_label != blank %}
  {% if button_link != blank %}
    <a 
      href="{{ button_link }}"
      class="{% if class %}{{ class }}__btn{% endif %} btn __btn-clr-{{ button_color }} {% if style %}__with-{{ style }}{% endif %}"
      {{ block.shopify_attributes }}
    >
      {{- button_label | escape -}}
    </a>
  {% else %}
    <span
      class="{% if class %}{{ class }}__btn{% endif %} btn __btn-clr-{{ button_color }} {% if style %}__with-{{ style }}{% endif %}"
      {{ block.shopify_attributes }}
    >
      {{- button_label | escape -}}
    </span>
  {% endif %}
{% endif %}