{% comment %}
  Renders the cart

  Expects:
  - additional_sections: {Html} optional
  - footer_components: {Html} optional

  Usage:

{% endcomment %}

{{ 'main-cart.css' | asset_url | stylesheet_tag }}
{{ 'quick-product.css' | asset_url | stylesheet_tag }} {% comment %}Must load here so that there isn't a flash of unstyled cards when the deffered recommendations section loads {% endcomment %}
{{ 'number-input.css' | asset_url | stylesheet_tag }}


<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>

<div class="main-cart">
  <cart-form>
    <form action="{{ routes.cart_url }}" method="post" class="main-cart__form __no-form-styles" id="Cart" data-id="{{ section.id }}">
      <div class="js-contents">

         {%- if cart != empty -%}
          {% capture heading %}{{'sections.cart.title' | t }} ({{ cart.item_count }}) {% endcapture %}
          {% render 'heading' heading: heading, heading_size: settings.cart_heading_size, alt_heading: settings.cart_alt_heading, class: "main-cart", heading_tag: "h1" %}

          <div class="main-cart__link">
            {% capture button_label %}{{ 'general.continue_shopping' | t }}{% endcapture %}
            {% render 'button' button_label: button_label, button_link: routes.root_url, style: "underline" %}
          </div>

          <table class="main-cart__table">
            <thead class="main-cart__table__head">
              <tr class="main-cart__table__row">
                <th colspan="1" scope="col" class="main-cart__table__item p-sm">
                  {{ 'sections.cart.headings.product' | t }}
                </th>
                <th colspan="1" scope="col" class="main-cart__table__item p-sm">
                  {{ 'sections.cart.headings.quantity' | t }}
                </th>
                <th colspan="1" scope="col" class="main-cart__table__item p-sm">
                  {{ 'sections.cart.headings.price' | t }}
                </th>
              </tr>
            </thead>

            <tbody class="main-cart__table__body">
              {%- for item in cart.items -%}
                <tr id="CartItem-{{ item.index | plus: 1 }}" class="main-cart__table__row">

                  <td class="main-cart__table__item">
                    <div class="main-cart__product-details">

                      {%- comment -%} Image {%- endcomment -%}
                      {% if item.image %}
                        <a href="{{ item.url }}" aria-hidden="true" tabindex="-1" class="main-cart__product-details__image image-container __crop-{{ settings.cart_crop_shape }}" style="--imageRatio: {{ item.image.height | divided_by: 1.00 | divided_by: item.image.width | times: 100 }}%">
                          {% render 'next-gen-img' image: item.image, width: 600, widths: '400, 300', sizes: '(max-width: 676px) 40vw, (max-width: 1024px) 30vw, 15vw', preload: true %}
                        </a>
                      {% endif %}

                      <div class="main-cart__product-details__text">

                        {%- comment -%} Vendor {%- endcomment -%}
                        {% if settings.cart_show_vendor %}
                          <p class="p-sm">{{ item.product.vendor }}</p>
                        {% endif %}

                        {%- comment -%} Title {%- endcomment -%}
                        <a href="{{ item.url }}" class="p-lg">{{ item.product.title | escape }}</a>

                        {%- comment -%} Price.  A line item is different from a product, so we can't use the price snippet {%- endcomment -%}
                        {%- if item.original_price != item.final_price -%}
                          <div class="main-cart__product-details__text__price p">
                            <span class="visually-hidden">
                              {{ 'products.price.regular_price' | t }}
                            </span>
                            <s>
                              {{- item.original_price | money -}}
                            </s>
                            <span class="visually-hidden">
                              {{ 'products.price.sale_price' | t }}
                            </span>
                            <strong>
                              {{ item.final_price | money }}
                            </strong>
                          </div>
                        {%- else -%}
                          <div class="main-cart__product-details__text__price p">
                            {{ item.original_price | money }}
                          </div>
                        {%- endif -%}

                        {%- comment -%} variants, custom information, or selling plans {%- endcomment -%}
                        {%- if item.product.has_only_default_variant == false or item.properties.size != 0 -%}
                          <dl class="main-cart__product-details__text__list">

                            {%- comment -%} We output each of the variant options that have been selected {%- endcomment -%}
                            {%- if item.product.has_only_default_variant == false -%}
                              {%- for option in item.options_with_values -%}
                                <dt class="p-sm">{{ option.name }}:</dt>
                                <dd class="p-sm">{{ option.value }}</dd>
                              {%- endfor -%}
                            {%- endif -%}

                            {%- comment -%}
                              We output each of the pieces of custom information on a product.  Examples of this are engraving and
                              files.  For each of these, we need to check whether or not /uploads/ is present, because that
                              indicates a file that we can link to for the buyer to validate.
                            {%- endcomment -%}
                            {%- for property in item.properties -%}
                              {%- assign property_first_char = property.first | slice: 0 -%}
                              {%- if property.last != blank and property_first_char != '_' -%}
                                <dt class="p-sm">{{ property.first }}:</dt>
                                <dd class="p-sm">
                                  {%- if property.last contains '/uploads/' -%}
                                    <a href="{{ property.last }}" target="_blank">
                                      {{ property.last | split: '/' | last }}
                                    </a>
                                  {%- else -%}
                                    {{ property.last }}
                                  {%- endif -%}
                                </dd>
                              {%- endif -%}
                            {%- endfor -%}
                          </dl>
                        {%- endif -%}

                        {%- comment -%}  Finally, we output the selling plan allocation for the product, if there is one. {%- endcomment -%}
                        {% if item.selling_plan_allocation != nil and item.selling_plan_allocation.selling_plan.name != empty %}
                          <p class="p-sm">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                        {%- endif -%}

                        {%- comment -%} Item level discounts can be applied by merchants, and must be shown to the buyer {%- endcomment -%}
                        {% if item.discounts.size > 0 %}
                          <div class="__article-txt-p-sm">
                            <ul aria-label="{{ 'customer.order.discount' | t }}">
                              {%- for discount in item.discounts -%}
                                <li>
                                  <p>{{ discount.title }}</p>
                                </li>
                              {%- endfor -%}
                            </ul>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </td>

                  <td class="main-cart__table__item main-cart__quantity">
                    <number-input class="number-input">
                      <label for="Quantity-{{ item.index | plus: 1 }}" class="visually-hidden">
                        {{ 'products.quantity.label' | t }}
                      </label>
                      <button class="decrement">-</button>
                      <input
                        type="number"
                        name="updates[]"
                        value="{{ item.quantity }}"
                        min="0"
                        aria-label="{{ 'products.quantity.input_label' | t: product: item.product.title | escape }}"
                        id="Cart-Quantity-{{ item.index | plus: 1 }}"
                        data-index="{{ item.index | plus: 1 }}"
                      >
                      <button class="increment">+</button>
                    </number-input>

                    <div class="line-item-error" id="Cart-LineItemError-{{ item.index | plus: 1 }}" role="alert">
                      <small class="message-error"></small>
                    </div>
                  </td>

                  <td class="main-cart__table__item main-cart__whole-price">
                    <div class="loading-overlay hidden">
                      <div>
                        <svg
                          aria-hidden="true"
                          focusable="false"
                          role="presentation"
                          viewBox="0 0 66 66"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <circle fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>

                    <div class="p main-cart__whole-price__container">
                      {%- comment -%}
                        This is the price of the entire line, as opposed to the units.
                      {%- endcomment -%}
                      {%- if item.original_line_price != item.final_line_price -%}
                        <dl>
                          <dt class="visually-hidden">
                            {{ 'products.price.regular_price' | t }}
                          </dt>
                          <dd>
                            <s>
                              {{ item.original_line_price | money }}
                            </s>
                          </dd>
                          <dt class="visually-hidden">
                            {{ 'products.price.sale_price' | t }}
                          </dt>
                          <dd>
                            {{ item.final_line_price | money }}
                          </dd>
                        </dl>
                      {%- else -%}
                        <span>
                          {{ item.original_line_price | money }}
                        </span>
                      {%- endif -%}

                      {%- if item.variant.available and item.unit_price_measurement -%}
                        <div class="main-cart__whole-price__container__unit-price p-sm ">
                          <span class="visually-hidden">{{ 'products.price.unit_price' | t }}</span>
                          {{ item.variant.unit_price | money }}
                          <span aria-hidden="true">/</span>
                          <span>&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                          {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                            {{- item.variant.unit_price_measurement.reference_value -}}
                          {%- endif -%}
                          {{ item.variant.unit_price_measurement.reference_unit }}
                        </div>
                      {%- endif -%}
                    </div>
                  </td>
                </tr>
              {%- endfor -%}
            </tbody>
          </table>

          {% if settings.cart_show_textarea == true %}
            <div class="main-cart__textarea form-styles">
                <label class="visually-hidden" for="Cart-Note">{{ 'sections.cart.note' | t }}</label>
                <textarea
                  name="note"
                  placeholder="{{ 'sections.cart.note' | t }}"
                  id="Cart-Note"
                >{{ cart.note }}</textarea>
            </div>
          {% endif %}

          {{ additional_sections }}
        {%- else -%}
          <div>
            <h1 class="h2">{{ 'sections.cart.empty' | t }}</h1>
            {% capture button_label %}{{ 'general.continue_shopping' | t }}{% endcapture %}
            {% render 'button' button_label: button_label, button_link: routes.root_url, style: "underline" %}
          </div>
        {%- endif -%}

        {%- if cart != empty -%}
          <div class="main-cart__footer">

            <div class="cart-actions">
              <div class="main-cart__footer__total">
                <h2 class="p-lg">{{ 'sections.cart.total' | t }}</h2>
                <p class="p-lg">{{ cart.total_price | money_with_currency }}</p>
              </div>

              <div class="main-cart__footer__discounts">
                {%- comment -%}
                  Cart level discounts can be applied by merchants, and must be shown to the buyer
                {%- endcomment -%}
                {%- if cart.cart_level_discount_applications.size > 0 -%}
                  <ul class="list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                    {%- for discount in cart.cart_level_discount_applications -%}
                      <li class="p-sm">
                        <span>{{ discount.title }}</span>
                        <span>(-{{ discount.total_allocated_amount | money }})<span>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              </div>

              {%- comment -%}
                Some regions require a merchant to disclose shipping and tax policies directly on their storefront.
              {%- endcomment -%}
              <small class="main-cart__footer__fine-print p-sm">
                {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                  {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                {%- elsif cart.taxes_included -%}
                  {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                {%- elsif shop.shipping_policy.body != blank -%}
                  {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                {%- else -%}
                  {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                {%- endif -%}
              </small>

              <div>
                {%- comment -%}
                  When JS is disabled, the buyer needs to update their quantities if they want to keep browsing.
                {%- endcomment -%}
                <noscript>
                  <button>
                    {{ 'sections.cart.update' | t }}
                  </button>
                </noscript>

                <button
                  name="checkout"
                  {% if cart == empty %}
                    disabled
                  {% endif %}
                >
                  {{ 'sections.cart.checkout' | t }}
                </button>
              </div>

              {%- if additional_checkout_buttons -%}
                <div class="additional-checkout-buttons additional-checkout-buttons--vertical">
                  {{ content_for_additional_checkout_buttons }}
                </div>
              {%- endif -%}

              <div id="Cart-Errors"></div>
            </div>

            {{ footer_components }}
          </div>
        {%- endif -%}
      </div>
      <p class="visually-hidden" id="Cart-LiveRegionText" aria-live="polite" role="status"></p>
      <p class="visually-hidden" id="Cart-LineItemStatus" aria-live="polite" aria-hidden="true" role="status">
        {{ 'accessibility.loading' | t }}
      </p>
    </form>
  </cart-form>
</div>