{% comment %}
    Renders a collection card

    Expects:
    - collection: {Object} Collection object
    - class: {String} optional
    - button_label: {String} optional
    - alignment: {String} optional
    - img_width: {int} The width of the image at its max width x2 for high resolution screens
    - img_widths: {string} Different 1x or 2x widths of the image that can be decided on a loaded by the browser, include mobile, tablet and desktop options
    - img_sizes { string } Specify which 1x size the image will display at, on different devices
    - img_preload { bool } Whether the image should use lazy loading / not above the fold


    Usage:
   
    <ul class="list-unstyled" role="list">
      {%- for block in section.bloacks -%}
        <li>
          {% render 'collection-card' collection: block.collection %}
        </li>
      {%- endfor -%}
    </ul>
{% endcomment %}

{{ 'collection-card.css' | asset_url | stylesheet_tag }}

{% liquid
  assign collection_title = collection.title 
  assign collection_url = collection.url 

  unless collection != blank 
    assign collection_url = "/" 
    assign collection_title = "Enim ad minim veniam" 
  endunless 
%}

<a class="collection-card {{ class }} __align-{{ alignment }}" href="{{ collection_url }}">
  <div class="collection-card__image">
    {% if collection and collection.image %}
      {% render 'next-gen-img', image: collection.image, width: img_width: widths: img_widths, sizes: img_sizes, preload: img_preload %}
    {% elsif collection == blank %}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {% else %}
      <h3 class="p-lg">{{ collection_title }}</h3>
    {% endif %}
  </div>

  <h3 class="collection-card__title h6">
    {{ collection_title }}
  </h3>
  {% if collection.description %}
    <p class="__article-txt-p-sm p-sm">{{ collection.description | strip_html | truncatewords: 20 }}</p>
  {% endif %}
  
  {% if button_label %}
    {% render 'button', button_label: button_label class: "collection-card", style: "underline" %}
  {% endif %}
</a>