{% comment %}
    Renders a collection card

    Expects:
    - collection: {Object} Collection object
    - class: {String} optional

    Usage:
   
    <ul class="list-unstyled" role="list">
      {%- for block in section.bloacks -%}
        <li>
          {% render 'collection-card' collection: block.collection %}
        </li>
      {%- endfor -%}
    </ul>
{% endcomment %}

{% assign collection_title = collection.title %}

{% unless collection != blank %}
  {% assign collection_url = "/" %}
  {% assign collection_title = "Enim ad minim veniam" %}
{% endunless %}

<a class="collection-card {{ class }}" href="{{ collection_url }}" >
  <div class="collection-card__image">
    {% if collection and collection.image %}
      {% render 'next-gen-img', image: collection.image %}
    {% elsif collection == blank %}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {% else %}
      <h3 class="p-lg">{{ collection_title }}</h3>
    {% endif %}
  </div>

  <h3 class="collection-card__title h6">
    {{ collection_title }}
  </h3>
  {% if collection.description %}
    <p class="p-sm">{{ collection.description }}</p>
  {% endif %}
  {% comment %}TODO: How to make hardcoded button label language diverse {% endcomment %}
  {% render 'button', button_label: "Shop Collection", button_link: collection.url, class: "collection-card", style: "underline" %}
</a>