{% comment %}theme-check-disable RemoteAsset{% endcomment %}

{{ 'article-comment.css' | asset_url | stylesheet_tag }}

<article id="{{ comment.id }}" class="article-comment">
  <div class="article-comment__avatar">
    <span class="p">{{comment.author.first }}</span>
  </div>
  <div class="article-comment__content">
    <span class="article-comment__author p">{{ comment.author }}</span>
    {%- if comment.created_at != nil -%}
      <span class="article-comment__date p">
        {{ comment.created_at | time_tag: '%B %d, %Y' }}
      </span>
    {%- endif -%}
    <div class="article-comment__comment __article-txt-p-sm">
      {{ comment.content }}
    </div>
  </div>
</article>
