{% comment %}
  Renders a content card (image with text)

  Expects:
  - class: {string} optional
  - style: {string} optional, default, row
  - image: {image object}
  - alignment: {String} optional. default, center, right
  - crop_shape: {String} optional. default, square, rounded-square, circle, portrait, rounded-portrait, semicircle-portrait, landscape, rounded-landscape, semicircle-landscape, arch",
  - overlay_theme: {String} optional. primary, 2, 3, 4, 5
  - overlay: {int} optional
  - overlap: bool
  - heading: {string}
  - heading_size: {String} "h2", "h4", "h5", "h6"
  - text: {richtext}
  - text_size: {string} optional p-sm, p, p-lg
  - button_label: {string} optional
  - button_link: {url} optional
  - button_color: {string} optional
  - class: {string} optional
  - img_width: {int} The width of the image at its max width x2 for high resolution screens
  - img_widths: {string} Different 1x or 2x widths of the image that can be decided on a loaded by the browser, include mobile, tablet and desktop options
  - img_sizes { string } Specify which 1x size the image will display at, on different devices
  - img_preload { bool } Whether the image should use lazy loading / not above the fold


  Usage:
    {% render 'content-card' image: block.settings.image, alignment: block.settings.alignment, crop_shape: block.settings.crop_shape, overlay_theme: block.settings.overlay_theme, overlay: section.settings.overlay, heading: block.settings.heading heading_size: block.settings.heading_size, button_link: block.settings.button_link, button_color: block.settings.button_color, text: block.settings.text %}
{% endcomment %}

{{ 'content-card.css' | asset_url | stylesheet_tag }}

{% assign overlay = overlay | default: 5 %}
{% assign text_size = text_size | default: "p-sm" %}


{% liquid 
  assign alignment = alignment | default: 'default'
  assign crop_shape = crop_shape | default: 'default' 
  assign overlay_theme = overlay_theme | default: 'default' 
  assign style = style | default: 'default'
  assign overlay = overlay | default: 50 
  assign overlap = overlap | default: false 
  
%}

{% capture card_tag %}{% if button_link != blank and button_label == blank %}a{% else %}div{% endif %}{% endcapture %}

<{{ card_tag }}
  class="content-card {{ class }} __align-{{ alignment }} __style-{{ style }}"
  style="--contentCardSectionTextColor: RGB(var(--color-text));"
  {% if card_tag == 'a' %}href="{{ button_link }}"{% endif %}
>
  <div
    class="content-card__image image-container __crop-{{ crop_shape }} {% if overlay_theme %}__theme-{{ overlay_theme }}{% endif %}"
    style="--imageRatio: {{ image.height | divided_by: 1.00 | divided_by: image.width | times: 100 }}%; --overlayOpacity: calc({{ overlay }} / 100);"
  >
    {%- if image != blank -%}
      {% render 'next-gen-img', image: image, width: img_width: widths: img_widths, sizes: img_sizes, preload: img_preload %}
    {%- endif -%}
    {% if overlap == true %}
      {%
        render 'heading',
        class: 'content-card__image',
        heading: heading,
        heading_size: heading_size,
      %}
    {% endif %}
  </div>
  
  <div class="content-card__text">
    {% if image == blank and crop_shape != "default" %}
      {% assign space_for_heading = false %}
    {% endif %}
    {% if space_for_heading or overlap == false %}
      {% render 'heading', class: 'content-card', heading: heading, heading_size: heading_size, heading_tag: 'h3' %}
    {% endif %}

    {%- if text -%}
      <div class="content-card__text__desc __article-txt-{{ text_size }} {{ text_size }}" {{ block.shopify_attributes }}>
        {{ text }}
      </div>
    {%- endif -%}
    {% render 'button',
      class: 'content-card',
      button_label: button_label,
      button_link: button_link,
      button_color: button_color
    %}
  </div>
</{{ card_tag }}>
