{% comment %}
  Renders a dialog button that opens a dialog when clicked

  Expects: 
    - title: {String or Html} required
    - aria_label: {string} required if the title above is html
    - id: {String or Int} required, makes aria controls unique to this instance
    - content: {html} required if page isn't included below
    - style: {string} optional, "pop-up", "left-drawer", "right-drawer"
    - class: {string} optional

  Usage:
    {% render 'dialog', type: "default" %}

{% endcomment %}    

{{ 'dialog.css' | asset_url | stylesheet_tag }}

{% assign style = style | default: "pop-up" %}
{% assign aria_label = aria_label | default: title %}
{% assign close = close | default: false %}
    
{% if title and id and content %}
  <details class="dialog {{ class }} __style-{{ style }}">
    <summary class="dialog__summary" aria-label="{{ aria_label }}" aria-haspopup="dialog" aria-controls="dialog-{{ id }}">
      {{ title }}
      <div class="dialog__summary__close" aria-label="Close modal">{% render 'svg-exit' %}</div>
    </summary>
    <div class="dialog__content" id="dialog-{{ id }}" role="dialog" aria-modal="true">
      <div class="dialog__content__body">
        {{ content }}
      </div>
    </div>
  </details>
{% endif %}