{% comment %}
  Renders an accordion, that shows exapandable content when clicked or set to open

  Expects: 
  - title: {String} required
  - id: {String or Int} required, makes aria controls unique to this instance
  - text: {Richtext} optional, required if page isn't included below
  - page: {Object} optional, required if text isn't included above
  - open: {Boolean} optional, whether the accordion should start open 

  Usage:
    {% render 'explandable-content', title: block.settings.title, text: block.settings.text, open: false %}

{% endcomment %}   

{% assign open = open | default: false %}

{% if title and id and text or page %}
  <details class="expandable-content" {% if open %}open{% endif %}>
    <summary class="expandable-content__summary " aria-label="{{ title }}" role="button" aria-expanded="true" aria-controls="dropdown-{{ id }}">
      <span class="p-sm">{{ title }}</span>
    </summary>
    <div id="dropdown-{{ id }}" class="expandable-content__content __article-txt-p-sm">
      {{ text }}

      {{ page.content }}
    </div>
  </details>
{% endif %}
