{% comment %}
  Renders a featured icons

  Expects:
  - product: {Object} Product object
  - icons: {array of strings} optional, Used to loop through if product is provided
  - class: {String} optional
  - layout: {string} optional stacked (default), row, icon-only
  - icon_height: {int} optional

  Usage:
    {% render 'featured-icons' product: product, class:"class" %}
{% endcomment %}

{{ 'custom-icons.css' | asset_url | stylesheet_tag }}


{% assign icon_height = icon_height | default: '20' %}
{% assign layout = layout | default: 'stacked' %}
{% assign array = product.metafields.custom.featured_icons.value | default: icons %}

{% if icon_1 != 'none' %}
  <ul class="featured-icons {{ class }} __layout-{{ layout }}" style="--customIconHeight:{{ icon_height }}px;">
    <li class="featured-icons__icon custom-icon custom-icon-{{ icon | handleize }} user-added">
      {% render 'icon', icon: icon_1 %}
      {% if icon_1_title != '' %}
        <span class="p-sm">{{ icon_1_title }}</span>
      {% endif %}
    </li>
    {% if icon_2 != 'none' and icon_2_title != '' %}
      <li class="featured-icons__icon custom-icon custom-icon-{{ icon | handleize }} user-added">
        {% render 'icon', icon: icon_2 %}
        {% if icon_2_title != '' %}
          <span class="p-sm">{{ icon_2_title }}</span>
        {% endif %}
      </li>
    {% endif %}
    {% if icon_3 != 'none' and icon_3_title != '' %}
      <li class="featured-icons__icon custom-icon custom-icon-{{ icon | handleize }} user-added">
        {% render 'icon', icon: icon_3 %}
        {% if icon_3_title != '' %}
          <span class="p-sm">{{ icon_3_title }}</span>
        {% endif %}
      </li>
    {% endif %}
  </ul>
{% else %}
  <ul class="featured-icons {{ class }} __layout-{{ layout }}" style="--customIconHeight:{{ icon_height }}px;">
    {% for icon in array %}
      <li class="featured-icons__icon custom-icon custom-icon-{{ icon | handleize }}">
        <span class="p-sm">{{ icon }}</span>
      </li>
    {% endfor %}
  </ul>
{% endif %}
