{% comment %}
  Renders gift card recipient form.
  Accepts:
  - product: {Object} product object.
  - form: {Object} the product form object.
  - section: {Object} section to which this snippet belongs.

  Usage:
  {% render 'gift-card-recipient-form', product: product, form: form, section: section %}
{% endcomment %}

{%- assign max_chars_message = 200 -%}
{%- assign max_chars_message_rendered = 'recipient.form.max_characters' | t: max_chars: max_chars_message -%}
{%- assign message_label_rendered = 'recipient.form.message_label' | t -%}


<div class="recipient-fields">
  {%- assign gift_card_recipient_control_flag = 'properties[__shopify_send_gift_card_to_recipient]' -%}
  <script src="{{ 'recipient-form.js' | asset_url }}" defer="defer"></script>
  <recipient-form
    class="customer-forms form-styles __hide-fields"
    data-section-id="{{ section.id }}"
    data-product-id="{{ product.id }}"
    data-product-variant-id="{{ product.selected_or_first_available_variant.id }}"
  >
    {% capture form_title %}{{ 'recipient.form.label' | t }}{% endcapture %}

    {% capture form_content %}
      {% comment %} Checkbox field {% endcomment %}
      <div class="form-styles__row">
        <input
          id="Recipient-Checkbox-{{ section.id }}"
          type="checkbox"
          name="{{ gift_card_recipient_control_flag }}"
          disabled
          unchecked
        >
       <label class="recipient-fields__checkbox" for="Recipient-Checkbox-{{ section.id }}">
          <span>{{ 'recipient.form.checkbox' | t }}</span>
        </label>
      </div>

      {% comment %} Email field's, label and input {% endcomment %}
      <div>
        <label for="Recipient-email-{{ section.id }}">
          <span class="recipient-email-label">{{ 'recipient.form.email_label' | t }}</span>
        </label>
        <input
          id="Recipient-email-{{ section.id }}"
          type="email"
          placeholder="{{ 'recipient.form.email' | t }}"
          name="properties[Recipient email]"
          value="{{ form.email }}"
        >
      </div>

      {% comment %} Name field's, label and input {% endcomment %}
      <div>
        <label class="field__label" for="Recipient-name-{{ section.id }}">
          {{- 'recipient.form.name_label' | t -}}
        </label>
        <input
          class="field__input"
          autocomplete="name"
          type="text"
          id="Recipient-name-{{ section.id }}"
          name="properties[Recipient name]"
          placeholder="{{ 'recipient.form.name' | t }}"
          value="{{ form.name }}"
        >
      </div>
      
      {% comment %} Message field's, labels and textarea {% endcomment %}
      <div>
        <label class="form__label field__label" for="Recipient-message-{{ section.id }}">
          {{ message_label_rendered }}
        </label>
        <textarea
          rows="10"
          id="Recipient-message-{{ section.id }}"
          class="text-area field__input"
          name="properties[Message]"
          maxlength="{{ max_chars_message }}"
          placeholder="{{ 'recipient.form.message' | t }}"
          aria-label="{{ message_label_rendered }} {{ max_chars_message_rendered }}"
        >{{ form.message }}</textarea>

        <label class="form__label recipient-form-field-label recipient-form-field-label--space-between">
          <span>{{ max_chars_message_rendered }}</span>
        </label>
      </div>

      {% comment %} gift_card_recipient_control_flag {% endcomment %}
      <input
        type="hidden"
        name="{{ gift_card_recipient_control_flag }}"
        value="if_present"
        id="Recipient-Control-{{ section.id }}"
      >
    {% endcapture %}

    {% render 'disclosure', title: form_title, id: 'GiftCardRecipient', text: form_content, class: "customer-forms__form" %}
  </recipient-form>
</div>
