{% comment %}
  Renders gift card recipient form.
  Accepts:
  - product: {Object} product object.
  - form: {Object} the product form object.
  - section: {Object} section to which this snippet belongs.

  Usage:
  {% render 'gift-card-recipient-form', product: product, form: form, section: section %}
{% endcomment %}

{%- assign max_chars_message = 200 -%}
{%- assign max_chars_message_rendered = 'recipient.form.max_characters' | t: max_chars: max_chars_message -%}
{%- assign message_label_rendered = 'recipient.form.message_label' | t -%}


<div class="recipient-fields">
  {%- assign gift_card_recipient_control_flag = 'properties[__shopify_send_gift_card_to_recipient]' -%}
  <script src="{{ 'recipient-form.js' | asset_url }}" defer="defer"></script>
  <recipient-form
    class="customer-forms form-styles __hide-fields"
    data-section-id="{{ section.id }}"
    data-product-id="{{ product.id }}"
    data-product-variant-id="{{ product.selected_or_first_available_variant.id }}"
  >
    {% capture form_title %}{{ 'recipient.form.label' | t }}{% endcapture %}

    {% capture form_content %}

      {% comment %} Errors summary {% endcomment %}
      <div
        id="Recipient-errors-{{ section.id }}"
        role="alert"
        {% unless form.errors %}
          hidden
        {% endunless %}
      >
        <h2 tabindex="-1" autofocus>
          <p class="message-error">{{ 'templates.contact.form.error_heading' | t }}</p>
        </h2>

        <ul>
          {%- if form.errors -%}
            {%- for field in form.errors -%}
              <li>
                {%- if field == 'form' -%}
                  {{ form.errors.messages[field] }}
                {%- else -%}
                  <a href="#Recipient-{{ field }}-{{ section.id }}">
                    {{ form.errors.translated_fields[field] | capitalize }}
                    {{ form.errors.messages[field] }}
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          {%- endif -%}
        </ul>
      </div>

      {% comment %} Checkbox field {% endcomment %}
      <div class="form-styles__row">
        <input
          id="Recipient-Checkbox-{{ section.id }}"
          type="checkbox"
          name="{{ gift_card_recipient_control_flag }}"
          disabled
          unchecked
        >
       <label class="recipient-fields__checkbox" for="Recipient-Checkbox-{{ section.id }}">
          <span>{{ 'recipient.form.checkbox' | t }}</span>
        </label>
      </div>

      {% comment %} Email field's error, label and input {% endcomment %}
      <div>
        <div
          id="RecipientForm-email-error-{{ section.id }}"
          class="recipient-fields__error {% unless form.errors contains 'email' %} hidden{% endunless %}"
        >
          <p class="message-error">
            {%- if form.errors contains 'email' -%}
              {{ form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email }}.
            {%- endif -%}
          </p>
        </div>

        <label for="Recipient-email-{{ section.id }}">
          <span class="recipient-email-label">{{ 'recipient.form.email_label' | t }}</span>
        </label>
        <input
          id="Recipient-email-{{ section.id }}"
          type="email"
          placeholder="{{ 'recipient.form.email' | t }}"
          name="properties[Recipient email]"
          value="{{ form.email }}"
          {% if form.errors contains 'email' %}
            aria-invalid="true"
            aria-describedby="RecipientForm-email-error-{{ section.id }}"
          {% endif %}
        >
      </div>

      {% comment %} Name field's error, label and input {% endcomment %}
      <div>
        <div
          id="RecipientForm-name-error-{{ section.id }}"
          class="recipient-fields__error {% unless form.errors contains 'name' %} hidden{% endunless %}"
        >
          <p class="message-error">
            {%- if form.errors contains 'name' -%}
              {{ form.errors.translated_fields.name | capitalize }}
              {{ form.errors.messages.name }}.
            {%- endif -%}
          </p>
        </div>

        <label class="field__label" for="Recipient-name-{{ section.id }}">
          {{- 'recipient.form.name_label' | t -}}
        </label>
        <input
          class="field__input"
          autocomplete="name"
          type="text"
          id="Recipient-name-{{ section.id }}"
          name="properties[Recipient name]"
          placeholder="{{ 'recipient.form.name' | t }}"
          value="{{ form.name }}"
          {% if form.errors contains 'name' %}
            aria-invalid="true"
            aria-describedby="RecipientForm-name-error-{{ section.id }}"
          {% endif %}
        >
      </div>
      
      {% comment %} Message field's error, labels and textarea {% endcomment %}
      <div>
        <div
          id="RecipientForm-message-error-{{ section.id }}"
          class="recipient-fields__error {% unless form.errors contains 'message' %} hidden{% endunless %}"
        >
          <p class="message-error">
            {%- if form.errors contains 'message' -%}
              {{ form.errors.translated_fields.message | capitalize }}
              {{ form.errors.messages.message }}.
            {%- endif -%}
          </p>
        </div>

        <label class="form__label field__label" for="Recipient-message-{{ section.id }}">
          {{ message_label_rendered }}
        </label>
        <textarea
          rows="10"
          id="Recipient-message-{{ section.id }}"
          class="text-area field__input"
          name="properties[Message]"
          maxlength="{{ max_chars_message }}"
          placeholder="{{ 'recipient.form.message' | t }}"
          aria-label="{{ message_label_rendered }} {{ max_chars_message_rendered }}"
          {% if form.errors contains 'message' %}
            aria-invalid="true"
            aria-describedby="RecipientForm-message-error-{{ section.id }}"
          {% endif %}
        >{{ form.message }}</textarea>

        <label class="form__label recipient-form-field-label recipient-form-field-label--space-between">
          <span>{{ max_chars_message_rendered }}</span>
        </label>
      </div>

      {% comment %} gift_card_recipient_control_flag {% endcomment %}
      <input
        type="hidden"
        name="{{ gift_card_recipient_control_flag }}"
        value="if_present"
        id="Recipient-Control-{{ section.id }}"
      >
    {% endcapture %}

    {% render 'disclosure', title: form_title, id: 'GiftCardRecipient', text: form_content, class: "customer-forms__form" %}
  </recipient-form>
</div>
