{% comment %}
    Renders a featured promotion link, originally made to be used in a navigation dropdown

    Expects:
    - heading: {string} optional
    - text: {string } optional
    - text_size: {string} optional
    - link: {url} optional
    - image: {object} required
    - className: {string} optional

    Usage:
    {% render 'nav-dropdown-page' page: page %}
{% endcomment %}

{% assign text_size = text_size | default: "p-sm" %}

{% if heading != blank or image != blank or text != blank %}
  {% capture promo %}
      {% if image %}
        <div class="{{ className }}__image image-container">
          {% render 'next-gen-img' image: image, alt: heading, width: 500, widths: '500, 250, 100', sizes: '(max-width: 676px) 250px, (max-width: 1024px) 100px, 250px' %}
        </div>
      {% endif %}
      {% if heading %}
        <div class="{{ className }}__label h6 p-lg">{{ heading | escape }}</div>
      {% endif %}
      {% if text %}
        <div class="{{ text_size }}">
          {{ text }}
        </div>
      {% endif %}
  {% endcapture %}

  {% if link %}
  <a href="{{ link }}" class="{{ className }} __featured-page">
    {{ promo }}
  </a>
  {% else %}
    <div class="{{ className }} __featured-page">
      {{ promo }}
    </div>
  {% endif %}
{% endif %}