{% comment %}
  Renders a product card

  Expects: 
  - product: {Object} Product object
  - class: {String} optional
  - crop: {String} optional. circle, rounded-square, square, portrait, landscape, default (adapt)
  - alt_heading: {Bool} optional bool
  - alignment: {String} optional. default, center, right
  - show_phrase: {Bool} optional.
  - show_bg_color: {Bool} optional.
  - show_description: {Bool} optional.
  - price_position: {String} optional. default, bottom, not-visible
  - quick_add: {Bool} optional

  Usage:
  <ul class="list-unstyled" role="list">
    {%- for product in collection.products -%}
      <li>
        {% render 'product-card' product: product, show_bg_color: show_bg_color, quick_add: quick_add, crop: crop_shape, show_phrase: show_phrase, alignment: product_text_alignment, show_description: show_description, price_position: price_pos, alt_heading: alt_title, class: "featured-collection__cards__card" %}
      </li>
    {%- endfor -%}
  </ul>

{% endcomment %}


{% assign crop = crop | default: "default" %}
{% assign alt_heading = alt_heading | default: false %}
{% assign alignment = alignment | default: "default" %}
{% assign show_phrase = show_phrase | default: false %}
{% assign show_bg_color = show_bg_color | default: false %}
{% assign show_description = show_description | default: false %}
{% assign price_position = price_position | default: "default" %}

{% assign product_url = product.url %}
{% assign product_title = product.title %}
{% assign image_ratio = product.featured_image.height | divided_by: 1.00 | divided_by: product.featured_image.width | times: 100 %}

{% unless product != blank %}
  {% assign product_url = "/" %}
  {% assign product_title = "Enim ad minim" %}
  {% assign image_ratio = 100 %}
{% endunless %}



<div
  class="product-card {{ class }} __align-{{ alignment }} {% if show_bg_color and product.metafields.custom.color %}__include-bg{% endif %}" 
  style="{% if product.metafields.custom.color %}--productColor: {{ product.metafields.custom.color }}{% endif %}"
  data-bg-color="{% if product.metafields.custom.color %} {{ product.metafields.custom.color }} {% else %}var(--color-background){% endif %}"
  data-text-color="{% if product.metafields.custom.text_color %} {{ product.metafields.custom.text_color }} {% else %}var(--color-text){% endif %}"
>
  <a href="{{ product_url }}" aria-label="View Product"></a>

  {% if show_phrase and product.metafields.custom.phrase %}
    <p class="product-card__phrase h6">{{ product.metafields.custom.phrase }}</p>
  {% endif %}


  <div class="product-card__image image-container __crop-{{ crop }}" style="--imageRatio: {{ image_ratio }}%">
    {% if product and product.featured_image %}
      {% render 'next-gen-img', image: product.featured_image %}
    {% elsif product == blank %}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {% else %}
      <h3 class="p-lg">{{ product_title }}</h3>
    {% endif %}
  </div>

  {% if quick_add %}
    <div class="product-card__quick-add-btn">
      <quick-add-modal class="product-card__quick-add-btn__btn btn" aria-label="Quick Buy" data-product-url="{{ product_url }}">+</quick-add-modal>
    </div>
  {% endif %}

  <div class="product-card__row">
    <h3 class="product-card__title h6 {% if alt_heading == true %}alt{% endif %}">
      {{ product_title }}
    </h3>
    {% if price_position == "default" %}
      {%- render 'price', class: "product-card__price", product: product -%}
    {% endif %}
  </div>

  {% if show_description and product.description %}
    <p class="p-sm">{{ product.description }}</p>
  {% endif %}

  {% if price_position == "bottom" %}
    {%- render 'price', product: product -%}
  {% endif %}
</div>
