{% comment %}
  Renders a the product form used in main product

  Expects: 
  - product {object} required, product in question
  - product_form_id: {string} required
  - class: {String} optional
  - hide_dynamic_buttons: {bool} optional
  - show_quantity { bool } optional
  - include_border { bool } optional

  Usage:
    {% render 'product-form' class: "class" %}

{% endcomment %}

{% assign hide_dynamic_buttons = hide_dynamic_buttons | default: false %}

{% capture quantity %}
  {% if show_quantity == true %}
    <number-input {{ block.shopify_attributes }} class="product-form__quantity number-input">
      <label for="Quantity-{{ section.id }}" class="visually-hidden">
        {{ 'products.product.quantity.label' | t }}
      </label>
      <button class="decrement">-</button>
      <input
        type="number"
        name="quantity"
        id="Quantity-{{ section.id }}"
        min="1"
        value="1"
        form="{{ product_form_id }}"
      >
      <button class="increment">+</button>
    </number-input>
  {% endif %}
{% endcapture %}

{% capture add_to_cart %}
  <button
    type="submit"
    name="add"
    class="button btn product-form__add-to-cart"
    {% if product.selected_or_first_available_variant.available == false %}
      disabled
    {% endif %}
  >
    <span>
      {%- if product.selected_or_first_available_variant.available -%}
        {{ 'products.product.add_to_cart' | t }}
      {%- else -%}
        {{ 'products.product.sold_out' | t }}
      {%- endif -%}
    </span>
    {% comment %} TODO: loading spinner {% endcomment %}
  </button>
{% endcapture%}

<product-form class="{{ class }}" {{ block.shopify_attributes }}>
  <div class="message-error" role="alert" hidden></div>

  {%-
    form 'product',
    product,
    id: id,
    class: 'product-form __no-form-styles',
    novalidate: 'novalidate',
    data-type: 'add-to-cart-form'
  -%}
    <input
      type="hidden"
      name="id"
      value="{{ product.selected_or_first_available_variant.id }}"
      disabled
    >
    
      {% if hide_dynamic_buttons == true %}
        <div class="product-form__row">
          {{ quantity }}
          {{ add_to_cart }}
        </div>
      {% else %}
        {% if show_quantity == true %}
          <div class="product-form__row {% if include_border %}__include-border{% endif %}">{{ quantity }}</div>
        {% endif %}
        <div class="product-form__column">
          {{ add_to_cart }}
          {% comment %} Dynamic checkout buttons {% endcomment %}
          {{ form | payment_button }}
        </div>
      {% endif %}
  {%- endform -%}
</product-form>