{% comment %}
  Renders a product card

  Expects:
  - this_product: {Object} Product object
  - class: {String} optional
  - crop: {String} optional. circle, rounded-square, square, portrait, landscape, default (adapt)
  - alt_heading: {Bool} optional bool
  - heading_size {string} optional, default is "h6"
  - alignment: {String} optional. default, center, right
  - show_phrase: {Bool} optional.
  - show_bg_color: {Bool} optional.
  - show_description: {Bool} optional.
  - price_position: {String} optional. default, bottom, not-visible
  - quick_add: {Bool} optional
  - img_width: {int} The width of the image at its max width x2 for high resolution screens
  - img_widths: {string} Different 1x or 2x widths of the image that can be decided on a loaded by the browser, include mobile, tablet and desktop options
  - img_sizes { string } Specify which 1x size the image will display at, on different devices
  - img_preload { bool } Whether the image should use lazy loading / not above the fold

  Usage:
  <ul class="list-unstyled" role="list">
    {%- for product in collection.products -%}
      <li>
        {% render 'product-card this_product: product, show_bg_color: show_bg_color, quick_add: quick_add, crop: crop_shape, show_phrase: show_phrase, alignment: product_text_alignment, show_description: show_description, price_position: price_pos, alt_heading: alt_title, class: "featured-collection__cards__card" %}
      </li>
    {%- endfor -%}
  </ul>
{% endcomment %}

{% assign crop = crop | default: 'default' %}
{% assign heading_size = heading_size | default: 'h6' %}
{% assign alt_heading = alt_heading | default: false %}
{% assign alignment = alignment | default: 'default' %}
{% assign show_phrase = show_phrase | default: false %}
{% assign show_bg_color = show_bg_color | default: false %}
{% assign show_description = show_description | default: false %}
{% assign price_position = price_position | default: 'default' %}

{% assign product_url = this_product.url %}
{% assign product_title = this_product.title %}
{% assign image_ratio = this_product.featured_image.height
  | divided_by: 1.00
  | divided_by: this_product.featured_image.width
  | times: 100
%}

{% unless this_product != blank %}
  {% assign product_url = '/' %}
  {% assign product_title = 'Product Title' %}
  {% assign image_ratio = 100 %}
{% endunless %}

{% capture title_and_price %}
  <div class="product-card__row">
    <h3 class="product-card__title {{ heading_size }} {% if alt_heading == true %}alt{% endif %}">
      {{ product_title }}
    </h3>
    {% if price_position == 'default' %}
      {%- render 'price', class: 'product-card__price', product: this_product -%}
    {% endif %}
  </div>
{% endcapture %}

<div
  class="product-card {{ class }} __align-{{ alignment }} {% if show_bg_color and this_product.metafields.custom.color %}__include-bg{% endif %}"
  style="--bgRatio: {{ image_ratio | divided_by: 2.0 }}%; {% if this_product.metafields.custom.color %}--productColor: {{ this_product.metafields.custom.color }}{% endif %}"
  data-bg-color="{% if this_product.metafields.custom.color %} {{ this_product.metafields.custom.color }} {% else %}var(--color-background){% endif %}"
  data-text-color="{% if this_product.metafields.custom.text_color %} {{ this_product.metafields.custom.text_color }} {% else %}var(--color-text){% endif %}"
>
  <a href="{{ product_url }}" aria-label="{{ 'products.product.view_product' | t }} {{ product_title }}"></a>

  {% if show_phrase and this_product.metafields.custom.phrase %}
    {% render 'product-phrase' phrase: this_product.metafields.custom.phrase, class: 'product-card__phrase' %}
  {% endif %}

  <div class="product-card__image image-container __crop-{{ crop }}" style="--imageRatio: {{ image_ratio }}%">
    {% if this_product and this_product.featured_image %}
      {% if settings.product_card_hover and this_product.images[2] %}
        {% render 'next-gen-img', image: this_product.images[2], width: img_width: widths: img_widths, sizes: img_sizes %}
      {% endif %}

      {% render 'next-gen-img', image: this_product.featured_image, width: img_width: widths: img_widths, sizes: img_sizes, preload: img_preload %}
    {% elsif this_product == blank %}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {% else %}
      <h3 class="p-lg">{{ product_title }}</h3>
    {% endif %}
  </div>

  {% if quick_add and settings.quick_add_style == 'dropdown' %}
    {% assign quick_add_id = this_product.id | append: "-quick-add" %}
    {% assign quick_add_product_id = 'Product-Form-' | append: section.id | append: this_product.id %}
    {% capture quick_add_content %}
      <p class="product-card__desc p-sm">{{ this_product.description | strip_html | truncatewords: 20 }}</p>

      {% render 'variant_picker' this_product: this_product, layout: 'buttons', product_form_id: quick_add_product_id %}
      {% render 'product-form' id: quick_add_product_id, product: this_product, show_quantity: true, hide_dynamic_buttons: true %}
    {% endcapture %}
    <quick-add-dropdown class="product-card__quick-add-btn no-js-hidden">
      {% capture html_title %}
        {{ title_and_price }}
        <div class="btn __with-plus"></div>
      {% endcapture %}
      {%capture class %}__align-{{ alignment }}{% endcapture %}
      {% render 'disclosure' html_title: html_title, id: quick_add_id, text: quick_add_content, style: "blank", aria_label: "Quick Add", class: class %}
    </quick-add-dropdown>
  {% elsif quick_add %}
    <div class="product-card__quick-add-btn no-js-hidden">
      <quick-add-modal
        class="product-card__quick-add-btn__btn btn __with-plus"
        aria-label="{{ 'products.product.quick_buy' | t }}"
        data-product-url="{{ product_url }}"
        ></quick-add-modal
      >
    </div>
  {% else %}
    {{ title_and_price }}
  {% endif %}

  {% if show_description and this_product.description %}
    <p class="product-card__desc p-sm">{{ this_product.description | strip_html | truncatewords: 20 }}</p>
  {% endif %}

  {% if price_position == 'bottom' %}
    {%- render 'price', product: product, class: 'product-card__bottom-price' -%}
  {% endif %}
</div>
