{% comment %}
  Renders a the product form used in main product

  Expects: 
  - product {object} required, product in question
  - id: {string} required
  - class: {String} optional
  - hide_dynamic_buttons: {bool} optional
  - show_gift_card_recipient: {bool} optional
  - show_quantity { bool } optional
  - include_border { bool } optional
  - button_style {string} optional, seconadry, underline

  Usage:
    {% render 'product-form' class: "class" %}

{% endcomment %}

{%- liquid
  assign gift_card_recipient_feature_active = false
  if show_gift_card_recipient and product.gift_card?
    assign gift_card_recipient_feature_active = true
  endif

  assign hide_dynamic_buttons = false
  if hide_dynamic_buttons and gift_card_recipient_feature_active == true
    assign hide_dynamic_buttons = true
  endif
-%}

{%- if gift_card_recipient_feature_active -%}
  {%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
{%- endif -%}

{% capture quantity %}
  {% if show_quantity == true %}
    <number-input {{ block.shopify_attributes }} class="product-form__quantity number-input">
      <label for="Quantity-{{ section.id }}" class="visually-hidden">
        {{ 'products.product.quantity.label' | t }}
      </label>
      <button class="decrement __style-secondary" type="button">-</button>
      <input
        type="number"
        name="quantity"
        min="1"
        value="1"
        aria-label="{{ 'products.product.quantity.label' | t }}"
      >
      <button class="increment __style-secondary" type="button">+</button>
    </number-input>
  {% endif %}
{% endcapture %}

{% capture add_to_cart %}
  <button
    type="submit"
    name="add"
    class="button btn product-form__add-to-cart {% if button_style %}__style-{{ button_style }}{% endif %}"
    {% if product.selected_or_first_available_variant.available == false %}
      disabled
    {% endif %}
  >
    <span>
      {%- if product.selected_or_first_available_variant.available -%}
        {{ 'products.product.add_to_cart' | t }}
      {%- else -%}
        {{ 'products.product.sold_out' | t }}
      {%- endif -%}
    </span>
  </button>
{% endcapture%}

<product-form class="{{ class }}" {{ block.shopify_attributes }} data-hide-errors="{{ gift_card_recipient_feature_active }}">
  <div class="message-error" role="alert" hidden></div>

  {%-
    form 'product',
    product,
    id: id,
    class: 'product-form __no-form-styles',
    novalidate: 'novalidate',
    data-type: 'add-to-cart-form'
  -%}
    <input
      type="hidden"
      name="id"
      value="{{ product.selected_or_first_available_variant.id }}"
    >
      {% if hide_dynamic_buttons == true %}
        <div class="product-form__row">
          {{ quantity }}
          {{ add_to_cart }}
        </div>
      {% else %}
        {% if show_quantity == true %}
          <div class="product-form__row {% if include_border %}__include-border{% endif %}">{{ quantity }}</div>
        {% endif %}
        <div class="product-form__column">
          {{ add_to_cart }}
          {% comment %} Dynamic checkout buttons {% endcomment %}
          {{ form | payment_button }}
        </div>
      {% endif %}
  {%- endform -%}
</product-form>