{% comment %}
  Renders a product card

  Expects: 
  - product: {Object} Product object
  - class: {String} optional
  - id: {String} optional
  - crop: optional. circle, rounded-square, default

  Usage:
  <ul class="container grid" class="list-unstyled" role="list">
    {%- for product in collection.products -%}
      <li>
        {% render 'product-card', product: product %}
      </li>
    {%- endfor -%}
  </ul>

{% endcomment %}


<a class="product-card {{ class }} __crop-{{ crop }}" id="{{ id }}" href="{{ product.url }}">
  {% if product.metafields.custom.phrase %}
    <p class="product-card__phrase h6">{{ product.metafields.custom.phrase }}</p>
  {% endif %}

  {% if product.featured_image %}
    <div class="product-card__image">
      {% render 'next-gen-img', image: product.featured_image %}
    </div>
  {% endif %}

  <h3 class="product-card__title h6">{{product.title}}</h3>


  {% comment %}{%- render 'price', product: card_product -%}{% endcomment %}
</a>
