{% comment %}
  Renders a quick product block: image, title, variants, button with price

  Expects: 
  - product: {Object} Product object
  - class: {String} optional
  - crop: {String} optional. circle, rounded-square, square, portrait, landscape, default (adapt)
  - alt_heading: {Bool} optional bool

  Usage:
    {% render 'quick-product' quick_product: product, show_bg_color: show_bg_color, quick_add: quick_add, crop: crop_shape, show_phrase: show_phrase, alignment: product_text_alignment, show_description: show_description, price_position: price_pos, alt_heading: alt_title, class: "featured-collection__cards__card" %}

{% endcomment %}


{% assign crop = crop | default: "default" %}
{% assign alt_heading = alt_heading | default: false %}

{% if quick_product %}
  <a class="quick-product {{ class }}"  href="{{ quick_product.url }}">

    {% if quick_product.featured_image %}
      <div class="quick-product__image">
        <div class="quick-product__image__container __crop-{{ crop }}" style="--imageRatio: {{ quick_product.featured_image.aspect_ratio | times: 100 }}%">
          {% render 'next-gen-img', image: quick_product.featured_image %}
        </div>
      </div>
    {% endif %}

    <h3 class="quick-product__title h6 {% if alt_heading == true %}alt{% endif %}">
      {{ quick_product.title }}
    </h3>

    {% if quick_product.selected_or_first_available_variant.options %}
      <p class="quick-product__variants p-sm">{{ quick_product.selected_or_first_available_variant.options | join: " - "}}</p>
    {% endif %}

    {% render 'product-form' class: "quick-product__btn", id: product.id, hide_dynamic_buttons: true %}
  </a>

{% endif %}
