{% comment %}
  Renders a quick product block: image, title, variants, button with price

  Expects: 
  - product: {Object} Product object
  - class: {String} optional
  - crop: {String} optional. circle, rounded-square, square, portrait, landscape, default (adapt)
  - alt_heading: {Bool} optional bool
  - style {string} optional. default, stacked
  - img_width: {int} The width of the image at its max width x2 for high resolution screens
  - img_widths: {string} Different 1x or 2x widths of the image that can be decided on a loaded by the browser, include mobile, tablet and desktop options
  - img_sizes { string } Specify which 1x size the image will display at, on different devices
  - img_preload { bool } Whether the image should use lazy loading / not above the fold

  Usage:
    {% render 'quick-product' quick_product: product, show_bg_color: show_bg_color, quick_add: quick_add, crop: crop_shape, show_phrase: show_phrase, alignment: product_text_alignment, show_description: show_description, price_position: price_pos, alt_heading: alt_title, class: "featured-collection__cards__card" %}

{% endcomment %}

{{ 'quick-product.css' | asset_url | stylesheet_tag }}


{% assign crop = crop | default: "default" %}
{% assign style = style | default: "default" %}
{% assign alt_heading = alt_heading | default: false %}

{% if quick_product %}
  <a class="quick-product {{ class }} __style-{{ style }}"  href="{{ quick_product.url }}">

    {% if quick_product.featured_image %}
      <div class="quick-product__image">
        <div class="quick-product__image__container image-container __crop-{{ crop }}" style="--imageRatio: {{ quick_product.featured_image.height | divided_by: 1.00 | divided_by: quick_product.featured_image.width | times: 100 }}%">
          {% render 'next-gen-img', image: quick_product.featured_image, img_width: widths: img_widths, sizes: img_sizes, preload: img_preload %}
        </div>
      </div>
    {% endif %}

    <h3 class="quick-product__title p {% if alt_heading == true %}alt{% endif %}">
      {{ quick_product.title }}
    </h3>

    {% if quick_product.selected_or_first_available_variant.options %}
      <p class="quick-product__variants p-sm">{{ quick_product.selected_or_first_available_variant.options | join: " - "}}</p>
    {% endif %}

    {% render 'product-form' class: "quick-product__btn", product: quick_product, product_form_id: quick_product.id, hide_dynamic_buttons: true %}
  </a>

{% endif %}
