{% comment %}
    Renders a quote card

    Expects:
    - class: 
    - quote: {string} Richtext, expected but optional
    - quotations: {bool} optional
    - details: {string} Richtext, optional
    - logo: {image}, optional
    - background_theme: {string}, optional
    - card_corners: {string} default, rounded, semicircle
    - class: {string} optional
    - alignment: {string} left, center right
    - img_width: {int} The width of the image at its max width x2 for high resolution screens
    - img_widths: {string} Different 1x or 2x widths of the image that can be decided on a loaded by the browser, include mobile, tablet and desktop options
    - img_sizes { string } Specify which 1x size the image will display at, on different devices
    - img_preload { bool } Whether the image should use lazy loading / not above the fold


    Usage:
    {% render 'quote-card' quote: block.settings.quote %}
{% endcomment %}

{{ 'quote-card.css' | asset_url | stylesheet_tag }}

<div class="quote-card {{ class}} __align-{{ alignment }} {% if background_theme %}__theme-{{ background_theme }}{% endif %}">
  <div class="quote-card__inner __crop-{{ card_corners }}">

    {% if quote != blank %}
      <div class="quote-card__quote __article-txt-p-sm">
        {% if quotations == true %}{% render 'svg-quotes'%}{% endif %}
          {{ quote }}
        {% if quotations == true %}{% render 'svg-quotes'%}{% endif %}
      </div>
    {% endif %}

    {% if details != blank %}
      <div class="quote-card__details __article-txt-p-sm">{{ details }}</div>
    {% endif %}

    {%- if logo != blank -%}
      <div class="quote-card__image image-container">
          {% render 'next-gen-img', image: logo, img_width: widths: img_widths, sizes: img_sizes, preload: img_preload %}
      </div>
    {%- endif -%}
  </div>
</div>