{% comment %}
  Renders variant dropdowns or radios

  Expects: 
  - this_product: {Object} Product object
  - product_form_id {string} required
  - class: {String} optional
  - layout: {String} optional. dropdown (default), buttons
  - include_border: {Bool} optional bool
  - show_option_labels {bool} optional

  Usage:
    {% render 'variant_picker' this_product: section.settings.product, layout: block.settings.layout, include_border: block.settings.include_border, show_option_labels: block.settings.show_option_labels, class: "featured-product__block" %}

{% endcomment %}

{%- unless this_product.has_only_default_variant -%}

  {% comment %} Layout button {% endcomment %}
  {%- if layout == 'buttons' -%}
    <variant-radios class="no-js-hidden variant-picker__radios" data-section="{{ section.id }}" data-product-id="{{ this_product.id }}" data-url="{{ this_product.url }}" {{ block.shopify_attributes }}>
      {%- for option in this_product.options_with_values -%}
        {% capture option_variable_name %}option_{{ forloop.index }}_description{% endcapture %}

        {% assign option_idx = forloop.index %}
        <div class="variant-picker__radios__radio {{ class }} {% if include_border %} __border-top {% endif %}">
          <fieldset class="js variant-input-wrapper variant-picker__fieldset"
            data-option-index="option{{ option_idx }}"
            data-option-slug="{{ option.name | handleize }}"
          >
            {%- if show_option_labels -%}
              <legend class="variant-picker__fieldset__label p-sm">
                <span>{{ option.name }}</span>
                {{ this_product.metafields.custom[option_variable_name] }}
                {% comment %}{%- if is_color -%}
                  <span class="form__label-info" id="color-{{ section.id }}">&ndash;&nbsp;{{ option.selected_value }}</span>
                {%- endif -%}{% endcomment %}
              </legend>
            {%- endif -%}
            {%- for value in option.values -%}
              <input
                type="radio"
                id="{{ section.id }}-{{ this_product.id }}-{{ option.name }}-{{ forloop.index0 }}"
                name="{{ section.id }}-{{ this_product.id }}-{{ option.name }}"
                value="{{ value | escape }}"
                form="{{ product_form_id }}"
                {%- if option.selected_value == value %}checked {% endif -%}
                data-option-value="{{ value | escape }}"
                class="variant-picker__fieldset__input visually-hidden"
              />
                <label for="{{ section.id }}-{{ this_product.id }}-{{ option.name }}-{{ forloop.index0 }}" class="p-sm variant-picker__fieldset__value">
                  <span class="p-sm variant-picker__fieldset__value__text">{{ value }}</span>
                </label>
            {%- endfor -%}
          </fieldset>
        </div>
      {%- endfor -%}
      
      <script type="application/json">
        {{ this_product.variants | json }}
      </script>
    </variant-radios>
  {% comment %} Layout dropdowns {% endcomment %}
  {%- else -%}
    <variant-selects class="no-js-hidden variant-picker__variant-dropdowns {{ class }} form-styles {% if include_border %} __border-top {% endif %}" data-section="{{ section.id }}" data-url="{{ this_product.url }}">
      {%- for option in this_product.options_with_values -%}
        <div class="variant-picker__dropdown">
          <label for="Option-{{ section.id }}-{{ this_product.id }}-{{ forloop.index0 }}" class="variant-picker__dropdown__label p-sm">
            {{ option.name }}
          </label>
          <select
            id="Option-{{ section.id }}-{{ this_product.id }}-{{ forloop.index0 }}"
            name="options[{{ section.id }}-{{ this_product.id }}-{{ option.name }}]"
            form="{{ product_form_id }}"
            class="variant-picker__dropdown__select"
          >
            {%- for value in option.values -%}
              <option
                value="{{ value | escape }}"
                {% if option.selected_value == value %}
                  selected="selected"
                {% endif %}
              >
                {{ value }}
              </option>
            {%- endfor -%}
          </select>
        </div>
      {%- endfor -%}

      <script type="application/json">
        {{ this_product.variants | json }}
      </script>
    </variant-selects>
  {%- endif -%}

  <noscript>
    <div class="variant-picker__dropdown">
      <label for="Variants-{{ section.id }}" class="variant-picker__dropdown__label p-sm">
        {{ 'products.product.product_variants' | t }}
      </label>

      <select
        name="id"
        id="Variants-{{ section.id }}"
        form="{{ product_form_id }}"
        class="variant-picker__dropdown__select"
      >
        {%- for variant in this_product.variants -%}
          <option
            {% if variant == this_product.selected_or_first_available_variant %}
              selected="selected"
            {% endif %}
            {% if variant.available == false %}
              disabled
            {% endif %}
            value="{{ variant.id }}"
          >
            {{ variant.title }}
            {%- if variant.available == false %}
              - {{ 'products.product.sold_out' | t -}}
            {%- endif %}
            - {{ variant.price | money | strip_html }}
          </option>
        {%- endfor -%}
      </select>
    </div>
  </noscript>
{%- endunless -%}