<!doctype html>
<html class="no-js __theme-primary" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    <title>
      {{ page_title }}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'social-media-tags' %}

    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'deferred-media.js' | asset_url }}" defer></script>

    {{ content_for_header }}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>

    {{ 'theme.css' | asset_url | stylesheet_tag }}
    {{ 'header.css' | asset_url | stylesheet_tag }}

    {% render 'font-variables' %}
    {% render 'color-variables' %}
    {% render 'custom-icons-variables' %}
    {% render 'other-variables' %}

    {%- if settings.favicon != blank and settings.favicon contains '.png' -%}
      <link rel="favicon" href="{{ settings.favicon | img_url: 'master' }}" type="image/png">
    {%- elsif settings.favicon != blank and settings.favicon contains '.ico' -%}
      <link rel="favicon" href="{{ settings.favicon | img_url: 'master' }}" type="image/x-icon">
    {%- endif -%}
  </head>
  <body>
    <a class="skip-to-content-link visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_content' | t }}
    </a>

    {% sections 'header-group' %}

    <main id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    <ul hidden>
      <li id="A11y-RefreshPageMessage">{{ 'accessibility.refresh_page' | t }}</li>
    </ul>

    <script>
      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`,
      };

      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_url: '{{ routes.cart_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
      };
    </script>
  </body>
</html>
