{{ 'collection-teaser.css' | asset_url | stylesheet_tag }}
{{ 'collection-teaser-row.css' | asset_url | stylesheet_tag }}

{% style %}
  #Collection-teaser-{{ section.id }} {
    --topSpacingRatio: {{ section.settings.top_spacing }} / 100;
    --bottomSpacingRatio: {{ section.settings.bottom_spacing }} / 100;
  }
{% endstyle %}

<div id="Collection-teaser-{{ section.id }}" class="collection-teaser __theme-{{ section.settings.theme }}">
  <ol class="list-unstyled" role="list">
    {% comment %} Loop through all collections {% endcomment %}
    {%- for collection in section.settings.collections -%}
      <li>
        {% render 'collection-teaser-row' collection: collection, display_collection_image: section.settings.display_collection_image, enable_sticky_details: section.settings.enable_sticky_details, collection_image_crop_shape: section.settings.collection_image_crop_shape, alt_heading: section.settings.alt_heading, heading_size: section.settings.heading_size, description_size: section.settings.text_size, display_featured_icons: section.settings.display_featured_icons, enable_icons_marquee: section.settings.enable_icons_marquee, layout: section.settings.layout, icon_height: section.settings.icon_height, display_featured_stats: section.settings.display_featured_stats, stats_color: section.settings.stats_color, view_all_button_label: section.settings.view_all_button_label, show_bg_color: section.settings.show_bg_color, quick_add: section.settings.quick_add, crop: section.settings.crop_shape, show_phrase: section.settings.show_phrase, alignment: section.settings.product_text_alignment, show_description: section.settings.show_description, price_position: section.settings.price, alt_title: section.settings.alt_title, products_per_collection: section.settings.products_per_collection, marquee_speed: section.settings.speed %}
      </li>
    {%- endfor -%}
  </ol>
</div>
{% schema %}
{
  "name": "t:sections.collection-teaser.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.collection-teaser.settings.header.content"
    },
    {
      "type": "collection_list",
      "id": "collections",
      "label": "t:sections.collection-teaser.settings.collections.label"
    },
    {
      "type": "header",
      "content": "t:sections.collection-teaser.settings.header_2.content"
    },
    {
      "type": "range",
      "id": "products_per_collection",
      "default": 2,
      "min": 2,
      "max": 12,
      "step": 1,
      "label": "t:sections.collection-teaser.settings.products_per_collection.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.collection-teaser.settings.heading_size.options.label_1"
        },
        {
          "value": "h4",
          "label": "t:sections.collection-teaser.settings.heading_size.options.label_2"
        },
        {
          "value": "h5",
          "label": "t:sections.collection-teaser.settings.heading_size.options.label_3"
        },
        {
          "value": "h6",
          "label": "t:sections.collection-teaser.settings.heading_size.options.label_4"
        }
      ],
      "default": "h4",
      "label": "t:sections.collection-teaser.settings.heading_size.label"
    },
    {
      "type": "checkbox",
      "id": "alt_heading",
      "label": "t:sections.collection-teaser.settings.alt_heading.label"
    },
    {
      "type": "select",
      "id": "text_size",
      "options": [
        {
          "value": "p-sm",
          "label": "t:sections.collection-teaser.settings.description_text_size.options.label_1"
        },
        {
          "value": "p",
          "label": "t:sections.collection-teaser.settings.description_text_size.options.label_2"
        },
        {
          "value": "p-lg",
          "label": "t:sections.collection-teaser.settings.description_text_size.options.label_3"
        }
      ],
      "default": "p-sm",
      "label": "t:sections.collection-teaser.settings.description_text_size.label"
    },
    {
      "type": "text",
      "id": "view_all_button_label",
      "label": "t:sections.collection-teaser.settings.view_all_button_label.label",
      "info": "t:sections.collection-teaser.settings.view_all_button_label.info",
      "default": "View All"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_details",
      "default": true,
      "label": "t:sections.collection-teaser.settings.enable_sticky_details.label",
      "info": "t:sections.collection-teaser.settings.enable_sticky_details.info"
    },
    {
      "type": "checkbox",
      "id": "display_collection_image",
      "label": "t:sections.collection-teaser.settings.display_collection_image.label",
      "info": "t:sections.collection-teaser.settings.display_collection_image.info",
      "default": false
    },
    {
      "type": "select",
      "id": "collection_image_crop_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.collection-teaser.settings.collection_image_crop_shape.options.label_1"
        },
        {
          "value": "square",
          "label": "t:sections.collection-teaser.settings.collection_image_crop_shape.options.label_2"
        },
        {
          "value": "rounded-square",
          "label": "t:sections.collection-teaser.settings.collection_image_crop_shape.options.label_3"
        },
        {
          "value": "circle",
          "label": "t:sections.collection-teaser.settings.collection_image_crop_shape.options.label_4"
        },
        {
          "value": "portrait",
          "label": "t:sections.collection-teaser.settings.collection_image_crop_shape.options.label_5"
        },
        {
          "value": "rounded-portrait",
          "label": "t:sections.collection-teaser.settings.collection_image_crop_shape.options.label_6"
        },
        {
          "value": "semicircle-portrait",
          "label": "t:sections.collection-teaser.settings.collection_image_crop_shape.options.label_7"
        },
        {
          "value": "landscape",
          "label": "t:sections.collection-teaser.settings.collection_image_crop_shape.options.label_8"
        },
        {
          "value": "rounded-landscape",
          "label": "t:sections.collection-teaser.settings.collection_image_crop_shape.options.label_9"
        },
        {
          "value": "semicircle-landscape",
          "label": "t:sections.collection-teaser.settings.collection_image_crop_shape.options.label_10"
        },
        {
          "value": "wide",
          "label": "t:sections.collection-teaser.settings.collection_image_crop_shape.options.label_11"
        },
        {
          "value": "rounded-wide",
          "label": "t:sections.collection-teaser.settings.collection_image_crop_shape.options.label_12"
        },
        {
          "value": "semicircle-wide",
          "label": "t:sections.collection-teaser.settings.collection_image_crop_shape.options.label_13"
        },
        {
          "value": "arch",
          "label": "t:sections.collection-teaser.settings.collection_image_crop_shape.options.label_14"
        }
      ],
      "default": "default",
      "label": "t:sections.collection-teaser.settings.collection_image_crop_shape.label"
    },
    {
      "type": "checkbox",
      "id": "display_featured_icons",
      "label": "t:sections.collection-teaser.settings.display_featured_icons.label",
      "info": "t:sections.collection-teaser.settings.display_featured_icons.info",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_icons_marquee",
      "label": "t:sections.collection-teaser.settings.enable_icons_marquee.label",
      "default": false
    },
    {
      "type": "range",
      "id": "speed",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "x",
      "label": "t:sections.collection-teaser.settings.speed.label",
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "display_featured_stats",
      "label": "t:sections.collection-teaser.settings.display_featured_stats.label",
      "info": "t:sections.collection-teaser.settings.display_featured_stats.info",
      "default": false
    },
    {
      "type": "select",
      "id": "stats_color",
      "label": "t:sections.collection-teaser.settings.stats_color.label",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "t:sections.collection-teaser.settings.stats_color.options.label_1"
        },
        {
          "value": "primary",
          "label": "t:sections.collection-teaser.settings.stats_color.options.label_2"
        },
        {
          "value": "2",
          "label": "t:sections.collection-teaser.settings.stats_color.options.label_3"
        },
        {
          "value": "3",
          "label": "t:sections.collection-teaser.settings.stats_color.options.label_4"
        },
        {
          "value": "4",
          "label": "t:sections.collection-teaser.settings.stats_color.options.label_5"
        },
        {
          "value": "5",
          "label": "t:sections.collection-teaser.settings.stats_color.options.label_6"
        }
      ]
    },
    {
      "type": "range",
      "id": "icon_height",
      "min": 20,
      "max": 100,
      "step": 10,
      "unit": "px",
      "label": "t:sections.collection-teaser.settings.icon_height.label",
      "default": 40
    },
    {
      "type": "radio",
      "id": "layout",
      "label": "t:sections.collection-teaser.settings.layout.label",
      "options": [
        {
          "value": "stacked",
          "label": "t:sections.collection-teaser.settings.layout.options.label_1"
        },
        {
          "value": "row",
          "label": "t:sections.collection-teaser.settings.layout.options.label_2"
        },
        {
          "value": "icon-only",
          "label": "t:sections.collection-teaser.settings.layout.options.label_3"
        }
      ],
      "default": "stacked"
    },
    {
      "type": "header",
      "content": "t:sections.collection-teaser.settings.header_3.content"
    },
    {
      "type": "checkbox",
      "id": "show_phrase",
      "label": "t:sections.collection-teaser.settings.show_phrase.label"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "t:sections.collection-teaser.settings.show_description.label"
    },
    {
      "type": "checkbox",
      "id": "quick_add",
      "label": "t:sections.collection-teaser.settings.quick_add.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_bg_color",
      "label": "t:sections.collection-teaser.settings.show_bg_color.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "alt_title",
      "label": "t:sections.collection-teaser.settings.alt_title.label"
    },
    {
      "type": "select",
      "id": "product_text_alignment",
      "options": [
        {
          "value": "default",
          "label": "t:sections.collection-teaser.settings.product_text_alignment.options.label_1"
        },
        {
          "value": "center",
          "label": "t:sections.collection-teaser.settings.product_text_alignment.options.label_2"
        },
        {
          "value": "right",
          "label": "t:sections.collection-teaser.settings.product_text_alignment.options.label_3"
        }
      ],
      "default": "default",
      "label": "t:sections.collection-teaser.settings.product_text_alignment.label"
    },
    {
      "type": "select",
      "id": "price",
      "options": [
        {
          "value": "default",
          "label": "t:sections.collection-teaser.settings.price.options.label_1"
        },
        {
          "value": "bottom",
          "label": "t:sections.collection-teaser.settings.price.options.label_2"
        },
        {
          "value": "not-visible",
          "label": "t:sections.collection-teaser.settings.price.options.label_3"
        }
      ],
      "default": "default",
      "label": "t:sections.collection-teaser.settings.price.label"
    },
    {
      "type": "select",
      "id": "crop_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.collection-teaser.settings.crop_shape.options.label_1"
        },
        {
          "value": "square",
          "label": "t:sections.collection-teaser.settings.crop_shape.options.label_2"
        },
        {
          "value": "rounded-square",
          "label": "t:sections.collection-teaser.settings.crop_shape.options.label_3"
        },
        {
          "value": "circle",
          "label": "t:sections.collection-teaser.settings.crop_shape.options.label_4"
        },
        {
          "value": "portrait",
          "label": "t:sections.collection-teaser.settings.crop_shape.options.label_5"
        },
        {
          "value": "rounded-portrait",
          "label": "t:sections.collection-teaser.settings.crop_shape.options.label_6"
        },
        {
          "value": "semicircle-portrait",
          "label": "t:sections.collection-teaser.settings.crop_shape.options.label_7"
        },
        {
          "value": "landscape",
          "label": "t:sections.collection-teaser.settings.crop_shape.options.label_8"
        },
        {
          "value": "rounded-landscape",
          "label": "t:sections.collection-teaser.settings.crop_shape.options.label_9"
        },
        {
          "value": "semicircle-landscape",
          "label": "t:sections.collection-teaser.settings.crop_shape.options.label_10"
        },
        {
          "value": "arch",
          "label": "t:sections.collection-teaser.settings.crop_shape.options.label_11"
        }
      ],
      "default": "default",
      "label": "t:sections.collection-teaser.settings.crop_shape.label"
    },
    {
      "type": "header",
      "content": "t:sections.collection-teaser.settings.header_4.content"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.collection-teaser.settings.theme.options.label_1"
        },
        {
          "value": "2",
          "label": "t:sections.collection-teaser.settings.theme.options.label_2"
        },
        {
          "value": "3",
          "label": "t:sections.collection-teaser.settings.theme.options.label_3"
        },
        {
          "value": "4",
          "label": "t:sections.collection-teaser.settings.theme.options.label_4"
        },
        {
          "value": "5",
          "label": "t:sections.collection-teaser.settings.theme.options.label_5"
        }
      ],
      "default": "primary",
      "label": "t:sections.collection-teaser.settings.theme.label"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.collection-teaser.settings.top_spacing.label",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.collection-teaser.settings.bottom_spacing.label",
      "default": 50
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-teaser.presets.name"
    }
  ]
}
{% endschema %}
