{% style %}
    #Collections-list-{{ section.id }} {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
    }
 {% endstyle %}
 
 <div id="Collections-list-{{ section.id }}" class="collections-list __theme-{{ section.settings.theme }}"  
>
  {% render 'heading', class: "collections-list", heading: section.settings.heading, heading_size: section.settings.heading_size %}


  <div class="collections-list__container">
    {% for block in section.blocks %}
      {% render 'collection-card' collection: block.settings.collection %}
    {% endfor %}
  </div>

</div>

{% schema %}
{
  "name": "Collections List",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Text Content"
    },
    {
        "type": "text",
        "id": "heading",
        "default": "Lorem ipsum dolor sit",
        "label": "Heading"
    },
    {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
              "value": "h2",
              "label": "X-Large"
          },
          {
              "value": "h4",
              "label": "Large"
          },
          {
              "value": "h5",
              "label": "Medium"
          },
          {
              "value": "h6",
              "label": "Small"
          }
        ],
        "default": "h4",
        "label": "Heading Size"
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ],
      "default": "primary",
      "label": "Theme"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "Collection",
      "type": "collection",
      "limit": 12,
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collections List"
    }
  ]
}
{% endschema %}
