{{ 'collections-list.css' | asset_url | stylesheet_tag }}
{{ 'overflow-slider.css' | asset_url | stylesheet_tag }}

{% liquid
  if section.blocks.size < 5
    assign hide_arrows_on_desktop = true
  endif
  if section.blocks.size < 3
    assign hide_arrows_on_tablet = true
  endif
%}

{% style %}
  #Collections-list-{{ section.id }} {
    --topSpacingRatio: {{section.settings.top_spacing}} / 100;
    --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
  }
{% endstyle %}

<div id="Collections-list-{{ section.id }}" class="collections-list __theme-{{ section.settings.theme }}">
  {% comment %} Text Content {% endcomment %}
  {% render 'heading',
    class: 'collections-list',
    heading: section.settings.heading,
    alt_heading: section.settings.alt_heading,
    heading_size: section.settings.heading_size
  %}

  {% comment %} Collections Slider Container {% endcomment %}
  <overflow-slider class="collections-list__slider overflow-slider {% if hide_arrows_on_desktop %}__hide-desktop-arrows{% endif %} {% if hide_arrows_on_tablet %}__hide-tablet-arrows{% endif %}">
    <ul class="collections-list__container list-unstyled overflow-slider__container">
      {% comment %} Real Content {% endcomment %}
      {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
          <li>
            {% render 'collection-card',
              collection: block.settings.collection,
              alignment: section.settings.collections_text_alignment,
              button_label: section.settings.button_label,
              img_width: 1000,
              img_widths: '1000, 800, 500, 400',
              img_sizes: '(max-width: 676px) 75vw, (max-width: 1024px) 50vw, 25vw'
            %}
          </li>
        {% endfor %}

        {% comment %} Placeholder Content {% endcomment %}
      {% else %}
        {%- for i in (1..4) -%}
          <li>
            {% render 'collection-card' %}
          </li>
        {%- endfor -%}
      {% endif %}
    </ul>

    {% comment %} Arrows (required for slider) {% endcomment %}
    {% render 'overflow-slider-arrows' %}
  </overflow-slider>
</div>

{% schema %}
{
  "name": "t:sections.collections-list.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.collections-list.settings.header.content"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Collections Heading",
      "label": "t:sections.collections-list.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.collections-list.settings.heading_size.options.label_1"
        },
        {
          "value": "h4",
          "label": "t:sections.collections-list.settings.heading_size.options.label_2"
        },
        {
          "value": "h5",
          "label": "t:sections.collections-list.settings.heading_size.options.label_3"
        },
        {
          "value": "h6",
          "label": "t:sections.collections-list.settings.heading_size.options.label_4"
        }
      ],
      "default": "h4",
      "label": "t:sections.collections-list.settings.heading_size.label"
    },
    {
      "type": "checkbox",
      "id": "alt_heading",
      "label": "t:sections.collections-list.settings.alt_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.collections-list.settings.header_2.content"
    },
    {
      "type": "radio",
      "id": "collections_text_alignment",
      "label": "t:sections.collections-list.settings.collections_text_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.collections-list.settings.collections_text_alignment.options.label_1"
        },
        {
          "value": "center",
          "label": "t:sections.collections-list.settings.collections_text_alignment.options.label_2"
        },
        {
          "value": "right",
          "label": "t:sections.collections-list.settings.collections_text_alignment.options.label_3"
        }
      ],
      "default": "left"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.collections-list.settings.button_label.label",
      "info": "t:sections.collections-list.settings.button_label.info"
    },
    {
      "type": "header",
      "content": "t:sections.collections-list.settings.header_3.content"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.collections-list.settings.theme.options.label_1"
        },
        {
          "value": "2",
          "label": "t:sections.collections-list.settings.theme.options.label_2"
        },
        {
          "value": "3",
          "label": "t:sections.collections-list.settings.theme.options.label_3"
        },
        {
          "value": "4",
          "label": "t:sections.collections-list.settings.theme.options.label_4"
        },
        {
          "value": "5",
          "label": "t:sections.collections-list.settings.theme.options.label_5"
        }
      ],
      "default": "primary",
      "label": "t:sections.collections-list.settings.theme.label"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.collections-list.settings.top_spacing.label",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.collections-list.settings.bottom_spacing.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.collections-list.blocks.name",
      "type": "collection",
      "limit": 12,
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collections-list.blocks.settings.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collections-list.presets.name"
    }
  ]
}
{% endschema %}
