{% liquid
  if section.blocks.size < 5
    assign hide_arrows_on_desktop = true
  endif
  if section.blocks.size < 3
    assign hide_arrows_on_tablet = true
  endif
%}

{% style %}
  #Collections-list-{{ section.id }} {
    --topSpacingRatio: {{section.settings.top_spacing}} / 100;
    --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
  }
{% endstyle %}

<div id="Collections-list-{{ section.id }}" class="collections-list __theme-{{ section.settings.theme }}">
  {% comment %} Text Content {% endcomment %}
  {% render 'heading',
    class: 'collections-list',
    heading: section.settings.heading,
    alt_heading: section.settings.alt_heading,
    heading_size: section.settings.heading_size
  %}

  {% comment %} Collections Slider Container {% endcomment %}
  <overflow-slider class="collections-list__slider overflow-slider {% if hide_arrows_on_desktop %}__hide-desktop-arrows{% endif %} {% if hide_arrows_on_tablet %}__hide-tablet-arrows{% endif %}">
    <ul class="collections-list__container list-unstyled overflow-slider__container">
      {% comment %} Real Content {% endcomment %}
      {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
          <li>
            {% render 'collection-card',
              collection: block.settings.collection,
              alignment: section.settings.collections_text_alignment,
              button_label: section.settings.button_label,
               img_width: 1000, 
               img_widths: "1000, 800, 500, 400", 
               img_sizes: "(max-width: 676px) 75vw, (max-width: 1024px) 50vw, 25vw"
            %}
          </li>
        {% endfor %}

        {% comment %} Placeholder Content {% endcomment %}
      {% else %}
        {%- for i in (1..4) -%}
          <li>
            {% render 'collection-card' %}
          </li>
        {%- endfor -%}
      {% endif %}
    </ul>

    {% comment %} Arrows (required for slider) {% endcomment %}
    {% render 'overflow-slider-arrows' %}
  </overflow-slider>
</div>

{% schema %}
{
  "name": "Collections List",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Text Content"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Lorem ipsum dolor sit",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "X-Large"
        },
        {
          "value": "h4",
          "label": "Large"
        },
        {
          "value": "h5",
          "label": "Medium"
        },
        {
          "value": "h6",
          "label": "Small"
        }
      ],
      "default": "h4",
      "label": "Heading Size"
    },
    {
      "type": "checkbox",
      "id": "alt_heading",
      "label": "Use body font instead of heading font for heading"
    },
    {
      "type": "header",
      "content": "Collections Settings"
    },
    {
      "type": "radio",
      "id": "collections_text_alignment",
      "label": "Collections Text Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "info": "If excluded, no button will display on each collection card"
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ],
      "default": "primary",
      "label": "Theme"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "Collection",
      "type": "collection",
      "limit": 12,
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collections List"
    }
  ]
}
{% endschema %}
