{% assign card_width_divisor = 4 %}
{% assign placeholder_card_count = 4 %}

{% if section.blocks.size > 1 %}
  {% assign placeholder_content = false %}
{% else %}
  {% assign placeholder_content = true %}
{% endif %}

{% style %}
    #Content-marquee-{{ section.id }} {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;      --contentMarqueeDivisor: {{ card_width_divisor }};

      {% if placeholder_content == false %}
        --contentMarqueeCardCount: {{ section.blocks.size }};
        --contentMarqueeSpeed: {{ section.settings.speed | minus: 11 | times: -1 | times: section.blocks.size }}s;
      {% else %}
        --contentMarqueeCardCount: {{ placeholder_card_count }};
        --contentMarqueeSpeed: {{ section.settings.speed | minus: 11 | times: -1 | times: placeholder_card_count }}s;
      {% endif %}
    }
 {% endstyle %}


<div id="Content-marquee-{{ section.id }}" class="content-marquee __theme-{{ section.settings.theme }}">
  <content-marquee class="content-marquee__container">
    {% for i in (1..card_width_divisor) %}
      {% if placeholder_content == false %}
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'quote'%}
              {% render 'quote-card' quote: block.settings.quote, alignment: section.settings.alignment, background_theme: block.settings.background_theme, card_corners: block.settings.card_corners, quotations: block.settings.quotations, details: block.settings.details, logo: block.settings.logo, class: "content-marquee__item" %}
          {% endcase %}
        {% endfor %}
      {% else %}
        {% for i in (1..placeholder_card_count) %}
          {% render 'quote-card' quote: "<p>Lorem ipsum dolor iset</p>", quotations: true, background_theme: "2", alignment: section.settings.alignment, class: "content-marquee__item" %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </content-marquee>
</div>

{% schema %}
{
  "name": "Content Marquee",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
        "type": "radio",
        "id": "alignment",
        "label": "Text Alignment",
        "options": [
          {
              "value": "left",
              "label":"Left"
          },
          {
              "value": "center",
              "label": "Center"
          },
          {
              "value": "right",
              "label": "Right"
          }
        ],
        "default": "center"
    },
    {
      "type": "range",
      "id": "speed",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "x",
      "label": "Speed",
      "default": 5
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ],
      "default": "primary",
      "label": "Theme"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    }
  ],
  "blocks": [
      {
        "type": "quote",
        "name": "Quote",
        "settings": [
          {
            "type": "richtext",
            "id": "quote",
            "label": "Quote"
          },
          {
            "type": "checkbox",
            "id": "quotations",
            "label": "Show quotation marks?",
            "info": "Requires quote field to have content.",
            "default": true
          },
          {
            "type": "richtext",
            "id": "details",
            "label": "Extra Details"
          },
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
          },
          {
            "type": "select",
            "id": "background_theme",
            "options": [
                {
                  "value": "primary",
                  "label": "Primary Theme"
                },
                {
                  "value": "2",
                  "label": "2nd Theme"
                },
                {
                  "value": "3",
                  "label": "3rd Theme"
                },
                {
                  "value": "4",
                  "label": "4th Theme"
                },
                {
                  "value": "5",
                  "label": "5th Theme"
                }
            ],
            "default": "primary",
            "label": "Theme"
          },
          {
            "type": "select",
            "id": "card_corners",
            "options": [
              {
                  "value": "default",
                  "label": "Square Corners"
              },
              {
                  "value": "rounded",
                  "label": "Rounded Corners"
              },
              {
                  "value": "semicircle",
                  "label": "Semicircle Corners"
              }
            ],
            "default": "default",
            "label": "Card Corners"
          }
        ]
      }
  ],
  "presets": [
    {
      "name": "Content Marquee"
    }
  ]
}
{% endschema %}
