{% liquid
  assign section_theme = section.settings.theme
  assign top_spacing = section.settings.top_spacing
  assign bottom_spacing = section.settings.bottom_spacing
  assign form_class = 'contact-form__form form-styles' | append: " __hide-labels-" | append: section.settings.hide_labels
%}
{% style %}
  #Contact-form-{{ section.id }} {
    --topSpacingRatio: {{ top_spacing }} / 100;
    --bottomSpacingRatio: {{ bottom_spacing }} / 100;
  }
{% endstyle %}

<div id="Contact-form-{{ section.id }}" class="contact-form  __theme-{{ section_theme }}">
  
    <div class="contact-form__text __align-center">
      {% render 'heading', heading: section.settings.heading, heading_size: section.settings.heading_size, alt_heading: section.settings.alt_heading %}
      <div class="contact-form__text__description p-sm" {{ block.shopify_attributes }}>
        {{ section.settings.description }}
      </div>
    </div>

    {%- form 'contact', id: 'ContactForm', class: form_class -%}
      {% if section.settings.disclaimer != blank %}
        <span class="p-sm">
          {{ section.settings.disclaimer }}
        </span>
      {% endif %}


      {% comment %}
        Check if the form submitted successfully
        If not it could only have come from the email field which is the only required field
      {% endcomment %}
      {%- if form.posted_successfully? -%} 
        <p class="message-success">{{ 'templates.contact.form.post_success' | t }}</p>
      {%- elsif form.errors -%}
        <p class="message-error">
          {{ 'templates.contact.form.error_heading' | t }}
          <a href="#ContactForm-email">
            {{ form.errors.translated_fields.email | capitalize }}
            {{ form.errors.messages.email }}
          </a>
        </p>
      {%- endif -%}

      {% comment %}
        Email field, which is required
        Aria is used for accessibility
      {% endcomment %}
      <div>
        <label
          for="ContactForm-email"
          class=""
        >
          {{ section.settings.email_label }}
          <span aria-hidden="true">*</span></label
        >
        <input
          required
          autocomplete="email"
          type="email"
          id="ContactForm-email"
          name="contact[email]"
          spellcheck="false"
          placeholder="{{ section.settings.email_placeholder }}*"
          autocapitalize="off"
          aria-required="true"
          value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
          {% if form.errors contains 'email' %}
            aria-invalid="true"
            aria-describedby="ContactForm-email-error"
          {% endif %}
        >
      </div>

      {% comment %} Print email errors {% endcomment %}
      {%- if form.errors contains 'email' -%}
        <small id="ContactForm-email-error">
          <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
          <span class="message-error">
            {{- form.errors.translated_fields.email | capitalize }}
            {{ form.errors.messages.email -}}
          </span>
        </small>
      {%- endif -%}

      {% comment %}
        Name field
        The inputs need to have an attribute of name="contact[information_id]", where information_id briefly
        identifies the information that you're collecting. These titles appear in contact notifications, and
        must be unique within the form. The emails sent to the buyer related to contact us form submissions
        uses the name string for the label in the email and thus needs to be translated.
      {% endcomment %}
      {% unless section.settings.hide_name_field %}
        <div>
          <label
            for="ContactForm-name"
          >
            {{- section.settings.name_label -}}
            {% if section.settings.name_required %}
              <span aria-hidden="true">*</span>
            {%- endif -%}
          </label>

          <input
            {% if section.settings.name_required %}
              required
            {% endif %}
            autocomplete="name"
            type="text"
            placeholder="{{ section.settings.name_placeholder }}{% if section.settings.name_required %}*{% endif %}"
            id="ContactForm-name"
            name="contact[{{- section.settings.name_label -}}]"
            value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
          >
        </div>
      {% endunless %}

      {% comment %}
        Contact Reason field
      {% endcomment %}
      {% unless section.settings.hide_reason_field %}
        <div>
          <label
            for="ContactForm-contactReason"
          >
            {{- section.settings.contact_reason_label -}}
            {% if section.settings.contact_reason_required %}
              <span aria-hidden="true">*</span>
            {%- endif -%}
          </label>
          <input
            {% if section.settings.contact_reason_required %}
              required
            {% endif %}
            autocomplete="contactReason"
            type="text"
            placeholder="{{ section.settings.contact_reason_placeholder }}{% if section.settings.contact_reason_required %}*{% endif %}"
            id="ContactForm-contactReason"
            name="contact[{{- section.settings.contact_reason_label -}}]"
          >
        </div>
      {% endunless %}

      {% comment %} 
        Phone field 
      {% endcomment %}
      {% unless section.settings.hide_phone_field %}
        <div>
          <label
            for="ContactForm-phone"
          >
            {{- section.settings.phone_label -}}
            {% if section.settings.phone_required %}
              <span aria-hidden="true">*</span>
            {%- endif -%}
          </label>
          <input
            {% if section.settings.phone_required %}
              required
            {% endif %}
            type="text"
            id="ContactForm-phone"
            placeholder="{{ section.settings.phone_placeholder }}{% if section.settings.phone_required %}*{% endif %}"
            autocomplete="tel"
            name="contact[{{- section.settings.phone_label -}}]"
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
            value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
          >
        </div>
      {% endunless %}

      {% comment %} 
        Comment field 
      {% endcomment %}
      <div>
        <label
          for="ContactForm-body"
        >
          {{- section.settings.message_label -}}
          <span aria-hidden="true">*</span></label
        >
        <textarea-counter class="textarea-counter">
          <textarea
            required
            id="ContactForm-body"
            rows="15"
            maxlength="1000"
            placeholder="{{ section.settings.message_placeholder }}*"
            name="contact[{{- section.settings.message_label -}}]"
          >
              {{- form.body -}}
            </textarea>
          <div class="textarea-counter__count p-sm">
            <span class="textarea-counter__count__current">0</span>
            <span class="textarea-counter__count__max">/ 1000</span>
          </div>
        </textarea-counter>
      </div>

      <button class="contact-form__button button">
        {{ 'templates.contact.form.send' | t }}
      </button>
    {%- endform -%}

</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Text Content"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Lorem ipsum dolor sit",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "X-Large"
        },
        {
          "value": "h4",
          "label": "Large"
        },
        {
          "value": "h5",
          "label": "Medium"
        },
        {
          "value": "h6",
          "label": "Small"
        }
      ],
      "default": "h4",
      "label": "Heading Size"
    },
    {
      "type": "checkbox",
      "id": "alt_heading",
      "label": "Use body font instead of heading font for heading?"
    },
    {
      "type": "richtext",
      "id": "description",
      "default": "<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "disclaimer",
      "default": "*indicates a required field",
      "label": "Disclaimer"
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "checkbox",
      "id": "hide_labels",
      "label": "Hide Labels?",
      "default": true
    },
    {
      "type": "header",
      "content": "Email Field"
    },
    {
      "type": "text",
      "id": "email_label",
      "default": "Email",
      "label": "Email Label"
    },
    {
      "type": "text",
      "id": "email_placeholder",
      "default": "Email",
      "label": "Email Placeholder"
    },
    {
      "type": "header",
      "content": "Name Field"
    },
    {
      "type": "text",
      "id": "name_label",
      "default": "Name",
      "label": "Name Label"
    },
    {
      "type": "text",
      "id": "name_placeholder",
      "default": "Name",
      "label": "Name Placeholder"
    },
    {
      "type": "checkbox",
      "id": "name_required",
      "label": "Make Field Required?",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "hide_name_field",
      "label": "Hide Field?",
      "default": false
    },
    {
      "type": "header",
      "content": "Contact Reason Field"
    },
    {
      "type": "text",
      "id": "contact_reason_label",
      "default": "Contact Reason",
      "label": "Contact Reason Label"
    },
    {
      "type": "text",
      "id": "contact_reason_placeholder",
      "default": "Contact Reason",
      "label": "Contact Reason Placeholder"
    },
    {
      "type": "checkbox",
      "id": "hide_reason_field",
      "label": "Hide Field?",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "contact_reason_required",
      "label": "Make Field Required?",
      "default": false
    },
    {
      "type": "header",
      "content": "Phone Field"
    },
    {
      "type": "text",
      "id": "phone_label",
      "default": "Phone",
      "label": "Phone Label"
    },
    {
      "type": "text",
      "id": "phone_placeholder",
      "default": "123-456-7890",
      "label": "Phone Placeholder"
    },
    {
      "type": "checkbox",
      "id": "hide_phone_field",
      "label": "Hide Field?",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "phone_required",
      "label": "Make Field Required?",
      "default": false
    },
    {
      "type": "header",
      "content": "Message Field"
    },
    {
      "type": "text",
      "id": "message_label",
      "default": "Leave a Message",
      "label": "Message Label"
    },
    {
      "type": "text",
      "id": "message_placeholder",
      "default": "What can we help you with?",
      "label": "Message Placeholder"
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ],
      "default": "primary",
      "label": "Theme"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
