{% assign card_width_divisor = 4 %}
{% assign placeholder_card_count = 4 %}

{% if section.blocks.size > 1 %}
  {% assign placeholder_content = false %}
{% else %}
  {% assign placeholder_content = true %}
{% endif %}

{% style %}
    #Content-marquee-{{ section.id }} {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;      --contentMarqueeDivisor: {{ card_width_divisor }};

      {% if placeholder_content == false %}
        --contentMarqueeCardCount: {{ section.blocks.size }};
        --contentMarqueeSpeed: {{ section.settings.speed | minus: 11 | times: -1 | times: section.blocks.size }}s;
      {% else %}
        --contentMarqueeCardCount: {{ placeholder_card_count }};
        --contentMarqueeSpeed: {{ section.settings.speed | minus: 11 | times: -1 | times: placeholder_card_count }}s;
      {% endif %}
    }
 {% endstyle %}


<div id="Content-marquee-{{ section.id }}" class="content-marquee __theme-{{ section.settings.theme }}">
  <content-marquee class="content-marquee__container">
    {% for i in (1..card_width_divisor) %}
      {% if placeholder_content == false %}
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'quote'%}
              {% render 'quote-card' quote: block.settings.quote, alignment: section.settings.alignment, background_theme: block.settings.background_theme, card_corners: block.settings.card_corners, quotations: block.settings.quotations, details: block.settings.details, logo: block.settings.logo, class: "content-marquee__item" %}
            {%- when 'image' -%}
              {% render 'content-card' class: 'content-marquee__item', image: block.settings.image, alignment: block.settings.alignment, crop_shape: block.settings.crop_shape, overlay_theme: block.settings.overlay_theme, overlay: section.settings.overlay, heading: block.settings.heading heading_size: block.settings.heading_size, button_link: block.settings.button_link, button_color: block.settings.button_color, text: block.settings.text %}
          {% endcase %}
        {% endfor %}
      {% else %}
        {% for i in (1..placeholder_card_count) %}
          {% render 'quote-card' quote: "<p>Lorem ipsum dolor iset</p>", quotations: true, background_theme: "2", alignment: section.settings.alignment, class: "content-marquee__item" %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </content-marquee>
</div>

{% schema %}
{
  "name": "Content Marquee",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
        "type": "radio",
        "id": "alignment",
        "label": "Text Alignment",
        "options": [
          {
              "value": "left",
              "label":"Left"
          },
          {
              "value": "center",
              "label": "Center"
          },
          {
              "value": "right",
              "label": "Right"
          }
        ],
        "default": "center"
    },
    {
      "type": "range",
      "id": "speed",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "x",
      "label": "Speed",
      "default": 5
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ],
      "default": "primary",
      "label": "Theme"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "quote",
      "name": "Quote",
      "settings": [
        {
          "type": "richtext",
          "id": "quote",
          "label": "Quote"
        },
        {
          "type": "checkbox",
          "id": "quotations",
          "label": "Show quotation marks?",
          "info": "Requires quote field to have content.",
          "default": true
        },
        {
          "type": "richtext",
          "id": "details",
          "label": "Extra Details"
        },
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
        {
          "type": "select",
          "id": "background_theme",
          "options": [
              {
                "value": "primary",
                "label": "Primary Theme"
              },
              {
                "value": "2",
                "label": "2nd Theme"
              },
              {
                "value": "3",
                "label": "3rd Theme"
              },
              {
                "value": "4",
                "label": "4th Theme"
              },
              {
                "value": "5",
                "label": "5th Theme"
              }
          ],
          "default": "primary",
          "label": "Theme"
        },
        {
          "type": "select",
          "id": "card_corners",
          "options": [
            {
                "value": "default",
                "label": "Square Corners"
            },
            {
                "value": "rounded",
                "label": "Rounded Corners"
            },
            {
                "value": "semicircle",
                "label": "Semicircle Corners"
            }
          ],
          "default": "default",
          "label": "Card Corners"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image with Text",
      "settings": [
        {
          "type": "header",
          "content": "Image Content"
        },  
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "overlay",
          "label": "Overlay Opacity",
          "info": "If above 0%, an overlay will be added on top of the image",
          "min": 0,
          "max": 70,
          "step": 10,
          "unit": "%",
          "default": 0
        },
        {
          "type": "select",
          "id": "overlay_theme",
          "options": [
              {
                "value": "primary",
                "label": "Primary Theme"
              },
              {
                "value": "2",
                "label": "2nd Theme"
              },
              {
                "value": "3",
                "label": "3rd Theme"
              },
              {
                "value": "4",
                "label": "4th Theme"
              },
              {
                "value": "5",
                "label": "5th Theme"
              }
          ],
          "default": "primary",
          "label": "Overlay Theme"
        },
        {
          "type": "select",
          "id": "crop_shape",
          "options": [
            {
              "value": "default",
              "label": "No Crop"
            },
            {
              "value": "square",
              "label": "Square"
            },
            {
              "value": "rounded-square",
              "label": "Rounded Square"
            },
            {
              "value": "circle",
              "label": "Circle"
            },
            {
              "value": "portrait",
              "label": "Portrait"
            },
            {
              "value": "rounded-portrait",
              "label": "Rounded Portrait"
            },
            {
              "value": "semicircle-portrait",
              "label": "Semicircle Portrait"
            },
            {
              "value": "landscape",
              "label": "Landscape"
            },
            {
              "value": "rounded-landscape",
              "label": "Rounded Landscape"
            },
            {
              "value": "semicircle-landscape",
              "label": "Semicircle Landscape"
            },
            {
              "value": "arch",
              "label": "Semicircle Arch"
            }
          ],
          "default": "default",
          "label": "Image Crop Shape"
        },
        {
          "type": "header",
          "content": "Text"
        },  
        {
          "type": "text",
          "id": "heading",
          "default": "Lorem ipsum",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "X-Large"
            },
            {
              "value": "h4",
              "label": "Large"
            },
            {
              "value": "h5",
              "label": "Medium"
            },
            {
              "value": "h6",
              "label": "Small"
            }
          ],
          "default": "h5",
          "label": "Heading Size"
        },
        {
          "type": "checkbox",
          "id": "overlap",
          "label": "Enable overlap?",
          "info": "Requires both heading and image field content.",
          "default": false
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Description"
        },
        {
          "type": "radio",
          "id": "alignment",
          "label": "Text Alignment",
          "options": [
              {
                "value": "left",
                "label":"Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
          ],
          "default": "left"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Laboris Nisi",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "button_color",
          "label": "Button Color",
          "default": "default",
          "options":[
            {
                "value": "default",
                "label": "Default"
            },
            {
                "value": "primary",
                "label": "Primary Theme"
            },
            {
                "value": "2",
                "label": "2nd Theme"
            },
            {
                "value": "3",
                "label": "3rd Theme"
            },
            {
                "value": "4",
                "label": "4th Theme"
            },
            {
                "value": "5",
                "label": "5th Theme"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Content Marquee"
    }
  ]
}
{% endschema %}
