{{ 'content-marquee.css' | asset_url | stylesheet_tag }}
{{ 'content-card.css' | asset_url | stylesheet_tag }}
{{ 'quote-card.css' | asset_url | stylesheet_tag }}

<script src="{{ 'content-marquee.js' | asset_url }}" defer></script>


{% liquid
  assign card_width_divisor = 4
  assign placeholder_card_count = 4

  if section.blocks.size >= 1
    assign placeholder_content = false
  else
    assign placeholder_content = true
  endif
%}

{% style %}
  #Content-marquee-{{ section.id }} {
    --topSpacingRatio: {{section.settings.top_spacing}} / 100;
    --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;      --contentMarqueeDivisor: {{ card_width_divisor }};

    {% if placeholder_content == false %}
      --contentMarqueeCardCount: {{ section.blocks.size }};
      --contentMarqueeSpeed: {{ section.settings.speed | minus: 11 | times: -1 | times: section.blocks.size }}s;
    {% else %}
      --contentMarqueeCardCount: {{ placeholder_card_count }};
      --contentMarqueeSpeed: {{ section.settings.speed | minus: 11 | times: -1 | times: placeholder_card_count }}s;
    {% endif %}
  }
{% endstyle %}

<div id="Content-marquee-{{ section.id }}" class="content-marquee __theme-{{ section.settings.theme }}">
  <div class="content-marquee__inner">
    <content-marquee class="content-marquee__content">
      {% for i in (1..card_width_divisor) %}
        {% comment %} Real content cards {% endcomment %}
        {% if placeholder_content == false %}
          {% for block in section.blocks %}
            {% case block.type %}
                {% comment %} Type quote {% endcomment %}
              {% when 'quote' %}
                {% render 'quote-card',
                  quote: block.settings.quote,
                  quote_size: block.settings.text_size,
                  alignment: section.settings.alignment,
                  background_theme: block.settings.background_theme,
                  card_corners: block.settings.card_corners,
                  quotations: block.settings.quotations,
                  details: block.settings.details,
                  logo: block.settings.logo,
                  class: 'content-marquee__item',
                  img_width: 800,
                  img_widths: '800, 500, 300',
                  img_sizes: '(max-width: 1024px) 40vw, 25vw'
                %}

                {% comment %} Type content card {% endcomment %}
              {%- when 'image' -%}
                {% render 'content-card',
                  class: 'content-marquee__item',
                  image: block.settings.image,
                  alignment: block.settings.alignment,
                  crop_shape: block.settings.crop_shape,
                  overlay_theme: block.settings.overlay_theme,
                  overlay: section.settings.overlay,
                  heading: block.settings.heading,
                  heading_size: block.settings.heading_size,
                  button_label: block.settings.button_label,
                  button_link: block.settings.button_link,
                  button_color: block.settings.button_color,
                  text: block.settings.text,
                  text_size: block.settings.text_size,
                  img_width: 800,
                  img_widths: '800, 500, 300',
                  img_sizes: '(max-width: 1024px) 40vw, 25vw'
                %}
            {% endcase %}
          {% endfor %}

          {% comment %} Placeholder content {% endcomment %}
        {% else %}
          {% for i in (1..placeholder_card_count) %}
            {% render 'quote-card',
              quote: '<p>Display your quote here</p>',
              quotations: true,
              background_theme: '2',
              alignment: section.settings.alignment,
              class: 'content-marquee__item'
            %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </content-marquee>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.content-marquee.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.content-marquee.settings.header.content"
    },
    {
      "type": "radio",
      "id": "alignment",
      "label": "t:sections.content-marquee.settings.alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.content-marquee.settings.alignment.options.label_1"
        },
        {
          "value": "center",
          "label": "t:sections.content-marquee.settings.alignment.options.label_2"
        },
        {
          "value": "right",
          "label": "t:sections.content-marquee.settings.alignment.options.label_3"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "speed",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "x",
      "label": "t:sections.content-marquee.settings.speed.label",
      "default": 5
    },
    {
      "type": "header",
      "content": "t:sections.content-marquee.settings.header_2.content"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.content-marquee.settings.theme.options.label_1"
        },
        {
          "value": "2",
          "label": "t:sections.content-marquee.settings.theme.options.label_2"
        },
        {
          "value": "3",
          "label": "t:sections.content-marquee.settings.theme.options.label_3"
        },
        {
          "value": "4",
          "label": "t:sections.content-marquee.settings.theme.options.label_4"
        },
        {
          "value": "5",
          "label": "t:sections.content-marquee.settings.theme.options.label_5"
        }
      ],
      "default": "primary",
      "label": "t:sections.content-marquee.settings.theme.label"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.content-marquee.settings.top_spacing.label",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.content-marquee.settings.bottom_spacing.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "quote",
      "name": "t:sections.content-marquee.blocks.quote.name",
      "settings": [
        {
          "type": "richtext",
          "id": "quote",
          "label": "t:sections.content-marquee.blocks.quote.settings.quote.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "p-sm",
              "label": "t:sections.content-marquee.blocks.quote.settings.description_text_size.options.label_1"
            },
            {
              "value": "p",
              "label": "t:sections.content-marquee.blocks.quote.settings.description_text_size.options.label_2"
            },
            {
              "value": "p-lg",
              "label": "t:sections.content-marquee.blocks.quote.settings.description_text_size.options.label_3"
            }
          ],
          "default": "p-sm",
          "label": "t:sections.content-marquee.blocks.quote.settings.description_text_size.label"
        },
        {
          "type": "checkbox",
          "id": "quotations",
          "label": "t:sections.content-marquee.blocks.quote.settings.quotations.label",
          "info": "t:sections.content-marquee.blocks.quote.settings.quotations.info",
          "default": true
        },
        {
          "type": "richtext",
          "id": "details",
          "label": "t:sections.content-marquee.blocks.quote.settings.details.label"
        },
        {
          "type": "image_picker",
          "id": "logo",
          "label": "t:sections.content-marquee.blocks.quote.settings.logo.label"
        },
        {
          "type": "select",
          "id": "background_theme",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.content-marquee.blocks.quote.settings.background_theme.options.label_1"
            },
            {
              "value": "2",
              "label": "t:sections.content-marquee.blocks.quote.settings.background_theme.options.label_2"
            },
            {
              "value": "3",
              "label": "t:sections.content-marquee.blocks.quote.settings.background_theme.options.label_3"
            },
            {
              "value": "4",
              "label": "t:sections.content-marquee.blocks.quote.settings.background_theme.options.label_4"
            },
            {
              "value": "5",
              "label": "t:sections.content-marquee.blocks.quote.settings.background_theme.options.label_5"
            }
          ],
          "default": "primary",
          "label": "t:sections.content-marquee.blocks.quote.settings.background_theme.label"
        },
        {
          "type": "select",
          "id": "card_corners",
          "options": [
            {
              "value": "default",
              "label": "t:sections.content-marquee.blocks.quote.settings.card_corners.options.label_1"
            },
            {
              "value": "rounded",
              "label": "t:sections.content-marquee.blocks.quote.settings.card_corners.options.label_2"
            },
            {
              "value": "semicircle",
              "label": "t:sections.content-marquee.blocks.quote.settings.card_corners.options.label_3"
            }
          ],
          "default": "default",
          "label": "t:sections.content-marquee.blocks.quote.settings.card_corners.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "t:sections.content-marquee.blocks.image.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.content-marquee.blocks.image.settings.header.content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.content-marquee.blocks.image.settings.image_picker.label"
        },
        {
          "type": "range",
          "id": "overlay",
          "label": "t:sections.content-marquee.blocks.image.settings.overlay.label",
          "info": "t:sections.content-marquee.blocks.image.settings.overlay.info",
          "min": 0,
          "max": 70,
          "step": 10,
          "unit": "%",
          "default": 0
        },
        {
          "type": "select",
          "id": "overlay_theme",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.content-marquee.blocks.image.settings.overlay_theme.options.label_1"
            },
            {
              "value": "2",
              "label": "t:sections.content-marquee.blocks.image.settings.overlay_theme.options.label_2"
            },
            {
              "value": "3",
              "label": "t:sections.content-marquee.blocks.image.settings.overlay_theme.options.label_3"
            },
            {
              "value": "4",
              "label": "t:sections.content-marquee.blocks.image.settings.overlay_theme.options.label_4"
            },
            {
              "value": "5",
              "label": "t:sections.content-marquee.blocks.image.settings.overlay_theme.options.label_5"
            }
          ],
          "default": "primary",
          "label": "t:sections.content-marquee.blocks.image.settings.overlay_theme.label"
        },
        {
          "type": "select",
          "id": "crop_shape",
          "options": [
            {
              "value": "default",
              "label": "t:sections.content-marquee.blocks.image.settings.crop_shape.options.label_1"
            },
            {
              "value": "square",
              "label": "t:sections.content-marquee.blocks.image.settings.crop_shape.options.label_2"
            },
            {
              "value": "rounded-square",
              "label": "t:sections.content-marquee.blocks.image.settings.crop_shape.options.label_3"
            },
            {
              "value": "circle",
              "label": "t:sections.content-marquee.blocks.image.settings.crop_shape.options.label_4"
            },
            {
              "value": "portrait",
              "label": "t:sections.content-marquee.blocks.image.settings.crop_shape.options.label_5"
            },
            {
              "value": "rounded-portrait",
              "label": "t:sections.content-marquee.blocks.image.settings.crop_shape.options.label_6"
            },
            {
              "value": "semicircle-portrait",
              "label": "t:sections.content-marquee.blocks.image.settings.crop_shape.options.label_7"
            },
            {
              "value": "landscape",
              "label": "t:sections.content-marquee.blocks.image.settings.crop_shape.options.label_8"
            },
            {
              "value": "rounded-landscape",
              "label": "t:sections.content-marquee.blocks.image.settings.crop_shape.options.label_9"
            },
            {
              "value": "semicircle-landscape",
              "label": "t:sections.content-marquee.blocks.image.settings.crop_shape.options.label_10"
            },
            {
              "value": "arch",
              "label": "t:sections.content-marquee.blocks.image.settings.crop_shape.options.label_11"
            }
          ],
          "default": "default",
          "label": "t:sections.content-marquee.blocks.image.settings.crop_shape.label"
        },
        {
          "type": "header",
          "content": "t:sections.content-marquee.blocks.image.settings.header_2.content"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Heading Content",
          "label": "t:sections.content-marquee.blocks.image.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.content-marquee.blocks.image.settings.heading_size.options.label_1"
            },
            {
              "value": "h4",
              "label": "t:sections.content-marquee.blocks.image.settings.heading_size.options.label_2"
            },
            {
              "value": "h5",
              "label": "t:sections.content-marquee.blocks.image.settings.heading_size.options.label_3"
            },
            {
              "value": "h6",
              "label": "t:sections.content-marquee.blocks.image.settings.heading_size.options.label_4"
            }
          ],
          "default": "h5",
          "label": "t:sections.content-marquee.blocks.image.settings.heading_size.label"
        },
        {
          "type": "checkbox",
          "id": "overlap",
          "label": "t:sections.content-marquee.blocks.image.settings.overlap.label",
          "info": "t:sections.content-marquee.blocks.image.settings.overlap.info",
          "default": false
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.content-marquee.blocks.image.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "p-sm",
              "label": "t:sections.content-marquee.blocks.image.settings.description_text_size.options.label_1"
            },
            {
              "value": "p",
              "label": "t:sections.content-marquee.blocks.image.settings.description_text_size.options.label_2"
            },
            {
              "value": "p-lg",
              "label": "t:sections.content-marquee.blocks.image.settings.description_text_size.options.label_3"
            }
          ],
          "default": "p-sm",
          "label": "t:sections.content-marquee.blocks.image.settings.description_text_size.label"
        },
        {
          "type": "radio",
          "id": "alignment",
          "label": "t:sections.content-marquee.blocks.image.settings.alignment.label",
          "options": [
            {
              "value": "left",
              "label": "t:sections.content-marquee.blocks.image.settings.alignment.options.label_1"
            },
            {
              "value": "center",
              "label": "t:sections.content-marquee.blocks.image.settings.alignment.options.label_2"
            },
            {
              "value": "right",
              "label": "t:sections.content-marquee.blocks.image.settings.alignment.options.label_3"
            }
          ],
          "default": "left"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Read More",
          "label": "t:sections.content-marquee.blocks.image.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.content-marquee.blocks.image.settings.button_link.label"
        },
        {
          "type": "select",
          "id": "button_color",
          "label": "t:sections.content-marquee.blocks.image.settings.button_color.label",
          "default": "default",
          "options": [
            {
              "value": "default",
              "label": "t:sections.content-marquee.blocks.image.settings.button_color.options.label_1"
            },
            {
              "value": "primary",
              "label": "t:sections.content-marquee.blocks.image.settings.button_color.options.label_2"
            },
            {
              "value": "2",
              "label": "t:sections.content-marquee.blocks.image.settings.button_color.options.label_3"
            },
            {
              "value": "3",
              "label": "t:sections.content-marquee.blocks.image.settings.button_color.options.label_4"
            },
            {
              "value": "4",
              "label": "t:sections.content-marquee.blocks.image.settings.button_color.options.label_5"
            },
            {
              "value": "5",
              "label": "t:sections.content-marquee.blocks.image.settings.button_color.options.label_6"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.content-marquee.presets.name"
    }
  ]
}
{% endschema %}
