{{ 'divider.css' | asset_url | stylesheet_tag }}

{% style %}
  #Divider-section-{{ section.id }} {
    --topSpacingRatio: {{section.settings.top_spacing}} / 100;
    --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
  }
{% endstyle %}

<div id="Divider-section-{{ section.id }}" class="divider-section __theme-{{section.settings.theme}}"></div>

{% schema %}
{
  "name": "t:sections.divider.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.divider.settings.header.content"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.divider.settings.theme.options.label_1"
        },
        {
          "value": "2",
          "label": "t:sections.divider.settings.theme.options.label_2"
        },
        {
          "value": "3",
          "label": "t:sections.divider.settings.theme.options.label_3"
        },
        {
          "value": "4",
          "label": "t:sections.divider.settings.theme.options.label_4"
        },
        {
          "value": "5",
          "label": "t:sections.divider.settings.theme.options.label_5"
        }
      ],
      "default": "primary",
      "label": "t:sections.divider.settings.theme.label"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.divider.settings.top_spacing.label",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.divider.settings.bottom_spacing.label",
      "default": 50
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "t:sections.divider.presets.name"
    }
  ]
}
{% endschema %}
