{% style %}
  #Email-signup-{{ section.id }} {
    --topSpacingRatio: {{ section.settings.top_spacing}} / 100;
    --bottomSpacingRatio: {{ section.settings.bottom_spacing}} / 100;
  }
{% endstyle %}

<div id="Email-signup-{{ section.id }}" class="email-signup __align-center __theme-{{ section.settings.theme }}">
  {% render 'heading',
    class: 'newsletter-signup',
    heading: section.settings.heading,
    alt_heading: section.settings.alt_heading,
    heading_size: section.settings.heading_size
  %}
  {% render 'newsletter-signup', style: section.settings.style %}
</div>

{% schema %}
{
  "name": "t:sections.email-signup.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.email-signup.settings.header.content"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.email-signup.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.email-signup.settings.heading_size.options.label_1"
        },
        {
          "value": "h4",
          "label": "t:sections.email-signup.settings.heading_size.options.label_2"
        },
        {
          "value": "h5",
          "label": "t:sections.email-signup.settings.heading_size.options.label_3"
        },
        {
          "value": "h6",
          "label": "t:sections.email-signup.settings.heading_size.options.label_4"
        }
      ],
      "default": "h4",
      "label": "t:sections.email-signup.settings.heading_size.label"
    },
    {
      "type": "checkbox",
      "id": "alt_heading",
      "label": "t:sections.email-signup.settings.alt_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.email-signup.settings.header_2.content"
    },
    {
      "type": "radio",
      "id": "style",
      "label": "t:sections.email-signup.settings.style.label",
      "options": [
        {
          "value": "default",
          "label": "t:sections.email-signup.settings.style.options.label_1"
        },
        {
          "value": "bold",
          "label": "t:sections.email-signup.settings.style.options.label_2"
        }
      ],
      "default": "default"
    },
    {
      "type": "header",
      "content": "t:sections.email-signup.settings.header_3.content"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.email-signup.settings.theme.options.label_1"
        },
        {
          "value": "2",
          "label": "t:sections.email-signup.settings.theme.options.label_2"
        },
        {
          "value": "3",
          "label": "t:sections.email-signup.settings.theme.options.label_3"
        },
        {
          "value": "4",
          "label": "t:sections.email-signup.settings.theme.options.label_4"
        },
        {
          "value": "5",
          "label": "t:sections.email-signup.settings.theme.options.label_5"
        }
      ],
      "default": "primary",
      "label": "t:sections.email-signup.settings.theme.label"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.email-signup.settings.top_spacing.label",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.email-signup.settings.bottom_spacing.label",
      "default": 50
    }
  ],
  "presets": [
    {
      "name": "t:sections.email-signup.presets.name"
    }
  ]
}
{% endschema %}
