{% style %}
  #Email-signup-{{ section.id }} {
    --topSpacingRatio: {{ section.settings.top_spacing}} / 100;
    --bottomSpacingRatio: {{ section.settings.bottom_spacing}} / 100;
  }
{% endstyle %}

<div id="Email-signup-{{ section.id }}" class="email-signup __align-center __theme-{{ section.settings.theme }}">
  {% render 'heading',
    class: 'newsletter-signup',
    heading: section.settings.heading,
    alt_heading: section.settings.alt_heading,
    heading_size: section.settings.heading_size
  %}
  {% render 'newsletter-signup' style: section.settings.style %}
</div>

{% schema %}
{
  "name": "t:sections.email-signup.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Text Content"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.email-signup.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "X-Large"
        },
        {
          "value": "h4",
          "label": "Large"
        },
        {
          "value": "h5",
          "label": "Medium"
        },
        {
          "value": "h6",
          "label": "Small"
        }
      ],
      "default": "h4",
      "label": "Heading Size"
    },
    {
      "type": "checkbox",
      "id": "alt_heading",
      "label": "Use body font instead of heading font for heading"
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "radio",
      "id": "style",
      "label": "Style",
      "options": [
        {
          "value": "default",
          "label": "Basic"
        },
        {
          "value": "bold",
          "label": "Bold"
        }
      ],
      "default": "default"
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ],
      "default": "primary",
      "label": "Theme"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    }
  ],
  "presets": [
    {
      "name": "t:sections.email-signup.presets.name"
    }
  ]
}
{% endschema %}
