{{ 'featured-product.css' | asset_url | stylesheet_tag }}
{{ 'number-input.css' | asset_url | stylesheet_tag }}
{{ 'product-form.css' | asset_url | stylesheet_tag }}
{{ 'variant-picker.css' | asset_url | stylesheet_tag }}

{% liquid
  assign section_theme = section.settings.theme
  assign top_spacing = section.settings.top_spacing
  assign bottom_spacing = section.settings.bottom_spacing
  assign alignment = section.settings.alignment
  assign product_form_id = 'Product-Form-' | append: section.id | append: product.id
   if section.settings.theme_section == "half"
      assign half_blocks_count = section.blocks.size | divided_by: 2.0 | ceil
   elsif section.settings.theme_section == "most"
      assign half_blocks_count = section.blocks.size | minus: 1
   else
      assign half_blocks_count = 0
   endif
%}

{% style %}
  #Featured-product-{{ section.id }} {
    --topSpacingRatio: {{ top_spacing }} / 100;
    --bottomSpacingRatio: {{ bottom_spacing }} / 100;
    --featuredProductThemeBool: {% if section.settings.theme_section != "default" %}""{% else %}none{% endif %};
  }
{% endstyle %}

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'variant-selects.js' | asset_url }}" defer="defer"></script>

<div id="Featured-product-{{ section.id }}" class="featured-product __layout-{{ section.settings.layout }} __layout-mobile-{{ section.settings.mobile_layout }} __theme-{{ section_theme }}">

  {% comment %} Text content column {% endcomment %}
  <div class="featured-product__text">
      <div 
        class="featured-product__text__first-half"
        style="{% if section.settings.theme_section != "default" %}{% if section.settings.product.metafields.custom.color %}--color-background: {{ section.settings.product.metafields.custom.color.value.rgb }}; --color-foreground-text: {{ section.settings.product.metafields.custom.color.value.rgb }};{% endif %} {% if section.settings.product.metafields.custom.text_color %} --color-text: {{ section.settings.product.metafields.custom.text_color.value.rgb }}; --color-foreground: {{ section.settings.product.metafields.custom.text_color.value.rgb }}; --color-border: {{ section.settings.product.metafields.custom.text_color.value.rgb }} / .3;{% endif %}{% endif %}"
      >
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {% comment %} Type app {% endcomment %}
            {%- when '@app' -%}
              <div class="app">
                {% render block %}
              </div>

            {% comment %} Type text {% endcomment %}
            {%- when 'text' -%}
              <div class="featured-product__block {% if block.settings.include_border %} __border-top {% endif %}">
                <p class="{{ block.settings.text_size }} __article-txt" {{ block.shopify_attributes }}>
                  {{ block.settings.text }}
                </p>
              </div>

            {% comment %} Type title {% endcomment %}
            {%- when 'title' -%}
              {% capture heading_class %}__align-{{ alignment }} featured-product{% endcapture %}
              {% if section.settings.hero == true %}
                {% assign heading_tag = "h1" %}
              {% endif %}
              {% assign title = section.settings.product.title | default: "Product Title"%}
              {% render 'heading', heading: title, alt_heading: block.settings.alt_heading, heading_size: block.settings.heading_size, heading_tag: heading_tag, class: heading_class %}

            {% comment %} Type buy buttons {% endcomment %}
            {%- when 'buy_buttons' -%}
               {% if section.settings.product != blank %}
                  <div class="featured-product__block {% if block.settings.include_border %} __border-top {% endif %}">
                     {% render 'product-form' id: product_form_id, product: section.settings.product, show_quantity: block.settings.show_quantity, include_border: block.settings.include_border, hide_dynamic_buttons: block.settings.hide_dynamic_buttons %}
                  </div>
               {% endif %}

            {% comment %} Type expandable content {% endcomment %}
            {%- when 'expandable' %}
              {% render 'disclosure', title: block.settings.title, id: block.id, text: block.settings.text, page: block.settings.page, open: block.settings.open, article_text: true %}

            {% comment %} Type description {% endcomment %}
            {%- when 'description' -%}
              {%- unless section.settings.product.description == blank -%}
                <div {{ block.shopify_attributes }} class="__article-txt-{{ block.settings.text_size }} {{ block.settings.text_size }} __align-{{ alignment }}">
                  {{ section.settings.product.description }}
                </div>
              {%- endunless -%}

            {% comment %} Type rating {% endcomment %}
            {%- when 'rating' -%}
               {% if section.settings.product != blank %}
                  {{ 'product-ratings.css' | asset_url | stylesheet_tag }}
                  {% render 'product-ratings' product: section.settings.product %}
               {% endif %}

            {% comment %} Type shop button {% endcomment %}
            {%- when 'shop_button' -%}
              {% render 'button' button_label: block.settings.button_label, button_link: section.settings.product.url, style: "underline", class: "featured-product__text" %}

            {% comment %} Divider / Space {% endcomment %}
            {%- when 'divider' -%}
              {{ 'divider.css' | asset_url | stylesheet_tag }}
              <div class="featured-product__text__divider divider-section {% if block.settings.hide_divider %}__hide-divider{% endif %}" style="--dividerSnippetUseTopSpace: {{ block.settings.bottom }}px; --dividerSnippetUseBottomSpace: {{ block.settings.top }}px;"></div>

            {% comment %} Type variant picker {% endcomment %}
            {%- when 'variant_picker' -%}
               {% if section.settings.product != blank %}
                  {% render 'variant_picker' this_product: section.settings.product, product_form_id: product_form_id, layout: block.settings.layout, include_border: block.settings.include_border, show_option_labels: block.settings.show_option_labels, class: "featured-product__block" %}
               {% endif %}
            {% comment %} Type price {% endcomment %}
            {%- when 'price' -%}
               {% if section.settings.product != blank %}
                  {% render 'form-price' product: section.settings.product, price_size: block.settings.heading_size, form_id: section.id %}
               {% endif %}

          {%- endcase -%}

          {% if forloop.index == half_blocks_count %}
            </div>
            <div class="featured-product__text__last-half">
          {% endif %}
        {%- endfor -%}
      </div>
  </div>

  {% comment %} Image content column {% endcomment %}
  <div 
   class="featured-product__image"
   style="{% if section.settings.product.metafields.custom.color %}--color-background: {{ section.settings.product.metafields.custom.color.value.rgb }};{% endif %}"
   >
      {%- if section.settings.product.featured_image != blank -%}
         <div class="image-container __crop-{{ section.settings.crop_shape }}" style="--imageRatio: {{ section.settings.product.featured_image.height | divided_by: 1.00 | divided_by: section.settings.product.featured_image.width | times: 100 }}%">
            {% render 'next-gen-img', image: section.settings.product.featured_image, width: 1400, widths: "1400, 940, 700, 500" sizes: '(max-width: 676px) 100vw, (max-width: 1024px) 40vw, 30vw', preload: section.settings.hero %}
            {% if section.settings.show_phrase == true and section.settings.product.metafields.custom.phrase %}
               {% render 'product-phrase' phrase: section.settings.product.metafields.custom.phrase, class: 'featured-product__image__phrase' %}
            {% endif %}
         </div>
      {%- else -%}
         <div class="image-container __crop-{{ section.settings.crop_shape }}" style="--imageRatio: 100%">
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
         </div>
      {%- endif -%}

  </div>
</div>

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    {%- if seo_media -%}
      "image": [
        {{ seo_media | image_url | prepend: "https:" | json }}
      ],
    {%- endif -%}
    "description": {{ product.description | strip_html | json }},
    {%- if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif -%}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ request.origin | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
   "name":"t:sections.featured-product.name",
   "tag":"section",
   "class":"section",
   "settings":[
      {
         "type":"header",
         "content":"t:sections.featured-product.settings.header.content"
      },
      {
         "type":"product",
         "id":"product",
         "label":"t:sections.featured-product.settings.product.label"
      },
      {
         "type":"checkbox",
         "id":"hero",
         "label":"t:sections.featured-product.settings.hero.label",
         "info":"t:sections.featured-product.settings.hero.info"
      },
      {
         "type":"radio",
         "id":"alignment",
         "label":"t:sections.featured-product.settings.alignment.label",
         "options":[
            {
               "value":"left",
               "label":"t:sections.featured-product.settings.alignment.options.label_1"
            },
            {
               "value":"center",
               "label":"t:sections.featured-product.settings.alignment.options.label_2"
            },
            {
               "value":"right",
               "label":"t:sections.featured-product.settings.alignment.options.label_3"
            }
         ],
         "default":"left"
      },
      {
         "type":"select",
         "id":"theme_section",
         "label":"t:sections.featured-product.settings.theme_section.label",
         "options":[
            {
               "value":"default",
               "label":"t:sections.featured-product.settings.theme_section.options.label_1"
            },
            {
               "value":"half",
               "label":"t:sections.featured-product.settings.theme_section.options.label_2"
            },
            {
               "value":"most",
               "label":"t:sections.featured-product.settings.theme_section.options.label_3"
            }
         ],
         "default":"default",
         "info":"t:sections.featured-product.settings.theme_section.info"
      },
      {
         "type":"select",
         "id":"layout",
         "options":[
            {
               "value":"default",
               "label":"t:sections.featured-product.settings.layout.options.label_1"
            },
            {
               "value":"reversed",
               "label":"t:sections.featured-product.settings.layout.options.label_2"
            }
         ],
         "default":"default",
         "label":"t:sections.featured-product.settings.layout.label"
      },
      {
         "type":"select",
         "id":"crop_shape",
         "options":[
            {
               "value":"default",
               "label":"t:sections.featured-product.settings.crop_shape.options.label_1"
            },
            {
               "value":"square",
               "label":"t:sections.featured-product.settings.crop_shape.options.label_2"
            },
            {
               "value":"rounded-square",
               "label":"t:sections.featured-product.settings.crop_shape.options.label_3"
            },
            {
               "value":"circle",
               "label":"t:sections.featured-product.settings.crop_shape.options.label_4"
            },
            {
               "value":"portrait",
               "label":"t:sections.featured-product.settings.crop_shape.options.label_5"
            },
            {
               "value":"rounded-portrait",
               "label":"t:sections.featured-product.settings.crop_shape.options.label_6"
            },
            {
               "value":"semicircle-portrait",
               "label":"t:sections.featured-product.settings.crop_shape.options.label_7"
            },
            {
               "value":"landscape",
               "label":"t:sections.featured-product.settings.crop_shape.options.label_8"
            },
            {
               "value":"rounded-landscape",
               "label":"t:sections.featured-product.settings.crop_shape.options.label_9"
            },
            {
               "value":"semicircle-landscape",
               "label":"t:sections.featured-product.settings.crop_shape.options.label_10"
            },
            {
               "value":"wide",
               "label":"t:sections.featured-product.settings.crop_shape.options.label_11"
            },
            {
               "value":"rounded-wide",
               "label":"t:sections.featured-product.settings.crop_shape.options.label_12"
            },
            {
               "value":"semicircle-wide",
               "label":"t:sections.featured-product.settings.crop_shape.options.label_13"
            },
            {
               "value":"arch",
               "label":"t:sections.featured-product.settings.crop_shape.options.label_14"
            }
         ],
         "default":"default",
         "label":"t:sections.featured-product.settings.crop_shape.label"
      },
      {
         "type":"checkbox",
         "id":"show_phrase",
         "label":"t:sections.featured-product.settings.show_phrase.label"
      },
      {
         "type":"select",
         "id":"mobile_layout",
         "options":[
            {
               "value":"default",
               "label":"t:sections.featured-product.settings.mobile_layout.options.label_1"
            },
            {
               "value":"reversed",
               "label":"t:sections.featured-product.settings.mobile_layout.options.label_2"
            }
         ],
         "default":"default",
         "label":"t:sections.featured-product.settings.mobile_layout.label"
      },
      {
         "type":"header",
         "content":"t:sections.featured-product.settings.header_2.content"
      },
      {
         "type":"select",
         "id":"theme",
         "options":[
            {
               "value":"primary",
               "label":"t:sections.featured-product.settings.theme.options.label_1"
            },
            {
               "value":"2",
               "label":"t:sections.featured-product.settings.theme.options.label_2"
            },
            {
               "value":"3",
               "label":"t:sections.featured-product.settings.theme.options.label_3"
            },
            {
               "value":"4",
               "label":"t:sections.featured-product.settings.theme.options.label_4"
            },
            {
               "value":"5",
               "label":"t:sections.featured-product.settings.theme.options.label_5"
            }
         ],
         "default":"primary",
         "label":"t:sections.featured-product.settings.theme.label"
      },
      {
         "type":"range",
         "id":"top_spacing",
         "min":0,
         "max":100,
         "step":10,
         "unit":"%",
         "label":"t:sections.featured-product.settings.top_spacing.label",
         "default":50
      },
      {
         "type":"range",
         "id":"bottom_spacing",
         "min":0,
         "max":100,
         "step":10,
         "unit":"%",
         "label":"t:sections.featured-product.settings.bottom_spacing.label",
         "default":50
      }
   ],
   "blocks":[
      {
         "type":"@app"
      },
      {
         "type":"text",
         "name":"t:sections.featured-product.blocks.text.name",
         "settings":[
            {
               "type":"text",
               "id":"text",
               "default":"Text",
               "label":"t:sections.featured-product.blocks.text.name"
            },
            {
               "type":"select",
               "id":"text_size",
               "options":[
                  {
                     "value":"p-sm",
                     "label":"t:sections.featured-product.blocks.text.settings.text_size.options.label_1"
                  },
                  {
                     "value":"p",
                     "label":"t:sections.featured-product.blocks.text.settings.text_size.options.label_2"
                  },
                  {
                     "value":"p-lg",
                     "label":"t:sections.featured-product.blocks.text.settings.text_size.options.label_3"
                  }
               ],
               "default":"p-sm",
               "label":"t:sections.featured-product.blocks.text.settings.text_size.label"
            },
            {
               "type":"checkbox",
               "id":"include_border",
               "label":"t:sections.featured-product.blocks.text.settings.include_border.label",
               "default":true
            }
         ]
      },
      {
         "type":"expandable",
         "name":"t:sections.featured-product.blocks.expandable.name",
         "settings":[
            {
               "type":"text",
               "id":"title",
               "default": "Expandable Content",
               "label":"t:sections.featured-product.blocks.expandable.settings.title.label"
            },
            {
               "type":"richtext",
               "id":"text",
               "default": "<p>Extra information your customers might find useful</p>",
               "label":"t:sections.featured-product.blocks.expandable.settings.text.label"
            },
            {
               "type":"page",
               "id":"page",
               "label":"t:sections.featured-product.blocks.expandable.settings.page.label"
            },
            {
               "type":"checkbox",
               "id":"open",
               "label":"t:sections.featured-product.blocks.expandable.settings.open.label"
            }
         ]
      },
      {
         "type":"title",
         "name":"t:sections.featured-product.blocks.title.name",
         "limit":1,
         "settings":[
            {
               "type":"select",
               "id":"heading_size",
               "options":[
                  {
                     "value":"h1",
                     "label":"t:sections.featured-product.blocks.title.settings.options.label_1"
                  },
                  {
                     "value":"h2",
                     "label":"t:sections.featured-product.blocks.title.settings.options.label_2"
                  },
                  {
                     "value":"h3",
                     "label":"t:sections.featured-product.blocks.title.settings.options.label_3"
                  },
                  {
                     "value":"h4",
                     "label":"t:sections.featured-product.blocks.title.settings.options.label_4"
                  }
               ],
               "default":"h2",
               "label":"t:sections.featured-product.blocks.title.settings.label"
            },
            {
               "type":"checkbox",
               "id":"alt_heading",
               "label":"t:sections.featured-product.blocks.title.settings.alt_heading.label"
            }
         ]
      },
      {
         "type":"price",
         "name":"t:sections.featured-product.blocks.price.name",
         "limit":1,
         "settings":[
            {
               "type":"select",
               "id":"heading_size",
               "options":[
                  {
                     "value":"h5",
                     "label":"t:sections.featured-product.blocks.price.settings.options.label_1"
                  },
                  {
                     "value":"h6",
                     "label":"t:sections.featured-product.blocks.price.settings.options.label_2"
                  },
                  {
                     "value":"p",
                     "label":"t:sections.featured-product.blocks.price.settings.options.label_3"
                  },
                  {
                     "value":"p-sm",
                     "label":"t:sections.featured-product.blocks.price.settings.options.label_4"
                  }
               ],
               "default":"h6",
               "label":"t:sections.featured-product.blocks.price.settings.label"
            }
         ]
      },
      {
         "type":"variant_picker",
         "name":"t:sections.featured-product.blocks.variant_picker.name",
         "limit":1,
         "settings":[
            {
               "type":"radio",
               "id":"layout",
               "label":"t:sections.featured-product.blocks.variant_picker.settings.layout.label",
               "options":[
                  {
                     "value":"dropdown",
                     "label":"t:sections.featured-product.blocks.variant_picker.settings.layout.options.label_1"
                  },
                  {
                     "value":"buttons",
                     "label":"t:sections.featured-product.blocks.variant_picker.settings.layout.options.label_2"
                  }
               ],
               "default":"buttons"
            },
            {
               "type":"checkbox",
               "id":"show_option_labels",
               "label":"t:sections.featured-product.blocks.variant_picker.settings.show_option_labels.label",
               "info":"t:sections.featured-product.blocks.variant_picker.settings.show_option_labels.info",
               "default":true
            },
            {
               "type":"checkbox",
               "id":"include_border",
               "label":"t:sections.featured-product.blocks.variant_picker.settings.include_border.label",
               "default":true
            }
         ]
      },
      {
         "type":"buy_buttons",
         "name":"t:sections.featured-product.blocks.buy_buttons.name",
         "limit":1,
         "settings":[
            {
               "type":"checkbox",
               "id":"show_quantity",
               "label":"t:sections.featured-product.blocks.buy_buttons.settings.show_quantity.label",
               "default":true
            },
            {
               "type":"checkbox",
               "id":"hide_dynamic_buttons",
               "label":"t:sections.featured-product.blocks.buy_buttons.settings.hide_dynamic_buttons.label",
               "default":true
            },
            {
               "type":"checkbox",
               "id":"include_border",
               "label":"t:sections.featured-product.blocks.buy_buttons.settings.include_border.label",
               "default":true
            }
         ]
      },
      {
         "type":"description",
         "name":"t:sections.featured-product.blocks.description.name",
         "limit":1,
         "settings":[
            {
               "type":"select",
               "id":"text_size",
               "options":[
                  {
                     "value":"p-sm",
                     "label":"t:sections.featured-product.blocks.description.settings.options.label_1"
                  },
                  {
                     "value":"p",
                     "label":"t:sections.featured-product.blocks.description.settings.options.label_2"
                  },
                  {
                     "value":"p-lg",
                     "label":"t:sections.featured-product.blocks.description.settings.options.label_3"
                  }
               ],
               "default":"p-sm",
               "label":"t:sections.featured-product.blocks.description.settings.label"
            }
         ]
      },
      {
         "type":"rating",
         "name":"t:sections.featured-product.blocks.rating.name",
         "limit":1,
         "settings":[
            {
               "type":"paragraph",
               "content":"t:sections.featured-product.blocks.rating.settings.paragraph.content"
            }
         ]
      },
      {
         "type":"shop_button",
         "name":"t:sections.featured-product.blocks.shop_button.name",
         "limit":1,
         "settings":[
            {
               "type":"text",
               "id":"button_label",
               "default": "View Details",
               "label":"t:sections.featured-product.blocks.shop_button.settings.label",
               "info":"t:sections.featured-product.blocks.shop_button.settings.info"
            }
         ]
      },
      {
         "type":"divider",
         "name":"t:sections.featured-product.blocks.divider.name",
         "settings":[
            {
               "type":"range",
               "id":"top",
               "min":0,
               "max":100,
               "step":10,
               "unit":"px",
               "label":"t:sections.featured-product.blocks.divider.settings.top.label",
               "default":50
            },
            {
               "type":"range",
               "id":"bottom",
               "min":0,
               "max":100,
               "step":10,
               "unit":"px",
               "label":"t:sections.featured-product.blocks.divider.settings.bottom.label",
               "default":50
            },
            {
               "type":"checkbox",
               "id":"hide_divider",
               "label":"t:sections.featured-product.blocks.divider.settings.hide_divider.label",
               "default":false
            }
         ]
      }
   ],
   "presets":[
      {
         "name": "Featured Product",
         "blocks":[
            {
               "type":"title"
            },
            {
               "type":"expandable"
            },
            {
               "type":"expandable"
            },
            {
               "type":"description"
            },
            {
               "type":"buy_buttons"
            },
            {
               "type":"shop_button"
            }
         ]
      }
   ]
}
{% endschema %}