 {% liquid
  assign featured_collection = section.settings.collection
  assign products_count = featured_collection.products | size
  assign collection_text_content = section.settings.collection_text_content
  assign collection_heading = section.settings.heading
  assign collection_text = section.settings.text
  assign crop_shape = section.settings.crop_shape
  assign section_theme = section.settings.theme
  assign top_spacing = section.settings.top_spacing
  assign bottom_spacing = section.settings.bottom_spacing
  assign stack_text_content = section.settings.stack_text_content
  assign show_phrase = section.settings.show_phrase
  assign theme_slider = section.settings.theme_slider

  if collection_text_content
    assign section_heading = featured_collection.title
    assign section_text = featured_collection.description
  else
    if collection_heading
        assign section_heading = collection_heading
    endif
      if collection_text
      assign section_text = collection_text
    endif
  endif
%}

 {% style %}
    #Featured-collection-{{ section.id }} {
      --topSpacingRatio: {{ top_spacing }} / 100;
      --bottomSpacingRatio: {{ bottom_spacing }} / 100;
      --initialBgColor: {{ featured_collection.products[0].metafields.custom.color }}
    }
 {% endstyle %}

 <div id="Featured-collection-{{ section.id }}" class="featured-collection __theme-{{section_theme}} {% if stack_text_content %}__layout-stacked{% endif %} {% if theme_slider %}__theme-slider {% endif %}"  
>
  {% if section_heading != blank or section_text != blank %}
    <div class="featured-collection__text __align-{{section.settings.alignment}}">
        {% if section_heading %}
          <h2 class="featured-collection__text__heading h4">{{ section_heading }}</h2>
        {% endif %}
        {% if section_text %}
          <div class="featured-collection__text__desc">
            {{ section_text }}
          </div>
        {% endif %}
    </div>
  {% endif %}

  <featured-collection 
    class="featured-collection__container"
    data-slider="{% if products_count > 1 %}true{% else %}false{% endif %}" 
  >

    <div class="featured-collection__cards">
      {% for product in featured_collection.products %}
        {% render 'product-card' product: product, crop: crop_shape, show_phrase: show_phrase, alignment: "center", price_position: "not-visible", alt_header: true, class: "featured-collection__cards__card" %}
      {% endfor %}
    </div>
    <div class="featured-collection__controls">
      {% for product in featured_collection.products %}
        <div class="featured-collection__controls__control" style="--productColor: {% if theme_slider %}{{product.metafields.custom.color }}{% else %}var(--color-text) {% endif %};">
          <span class="visually-hidden">{{ product.title }}</span>
        </div>
      {% endfor %}
    </div>
    {% if theme_slider %}
      <div class="featured-collection__background-color">
        {% for product in featured_collection.products %}
          <div class="featured-collection__background-color__item" style="background-color: {{product.metafields.custom.color }};"></div>
        {% endfor %}
      </div>
    {% endif %}
  </featured-collection>

</div>

{% schema %}
{
  "name": "Featured Collection",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Collection and Card Settings"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "select",
      "id": "crop_shape",
      "options": [
        {
          "value": "default",
          "label": "No Crop (Default)"
        },
        {
          "value": "circle",
          "label": "Circle"
        },
        {
          "value": "rounded-square",
          "label": "Rounded Square"
        },
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "landscape",
          "label": "Landscape"
        }
      ],
      "default": "default",
      "label": "Product Image Crop Shape"
    },
    {
      "type": "checkbox",
      "id": "show_phrase",
      "label": "Show product phrase?"
    },
    {
      "type": "checkbox",
      "id": "theme_slider",
      "label": "Theme slider with product colors?"
    },
    {
      "type": "header",
      "content": "Text Content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Lorem Ipsum"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
      "label": "Description"
    },
    {
      "type": "checkbox",
      "id": "collection_text_content",
      "label": "Use collection title and description for text content?",
      "info": "If chosen, the collection title and description will replace the heading and description added above, if any."
    },
    {
      "type": "checkbox",
      "id": "stack_text_content",
      "label": "Stack content on top of collection products?"
    },
    {
      "type": "radio",
      "id": "alignment",
      "label": "Text Alignment",
      "options": [
        {
          "value":"left",
          "label":"Left"
        },
        {
          "value":"center",
          "label":"Center"
        },
        {
          "value":"right",
          "label":"Right"
        }
      ],
      "default":"left"
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ],
      "default": "primary",
      "label": "Theme"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "phrase",
      "name": "Phrase",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "font_type",
          "default": "default",
          "label": "Font Type",
          "options": [
            {
              "value": "alt",
              "label": "Body Font"
            },
            {
              "value": "default",
              "label": "Heading Font"
            }
          ]
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "font_type",
          "default": "default",
          "label": "Font Type",
          "options": [
            {
              "value": "alt",
              "label": "Body Font"
            },
            {
              "value": "default",
              "label": "Heading Font"
            }
          ]
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    }
  ],
  "presets": [
    {
      "name": "Featured Collection"
    }
  ]
}
{% endschema %}
