{% style %}
    #Featured-collection-{{ section.id }} {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
      --initialBgColor: {{ section.settings.collection.products[0].metafields.custom.color }}
    }
 {% endstyle %}
 
 {% if section.settings.collection_text_content %}
  {% assign section_heading = section.settings.collection.title %}
  {% assign section_text = section.settings.collection.description %}
 {% else %}
  {% if section.settings.heading %}
      {% assign section_heading = section.settings.heading %}
  {% endif %}
    {% if section.settings.text %}
    {% assign section_text = section.settings.text %}
  {% endif %}
 {% endif %}

 <div id="Featured-collection-{{ section.id }}" class="featured-collection __theme-{{section.settings.color_scheme}}"  
>
  {% if section_heading or section_text %}
    <div class="featured-collection__text">
        {% if section_heading %}
          <h2 class="featured-collection__text__heading h4">{{ section_heading }}</h2>
        {% endif %}
        {% if section_text %}
          <p class="featured-collection__text__desc">{{ section_text }}</p>
        {% endif %}
    </div>
  {% endif %}

  <div class="featured-collection__container">
    <div class="featured-collection__container__cards">
      {% for product in section.settings.collection.products %}
        {% assign card_id = section.id | append: forloop.index %}
        {% render 'product-card' product: product, crop: section.settings.crop_shape, show_phrase: true, alignment: "center", price_position: "not-visible", alt_header: true, class: "featured-collection__container__cards__card", id: card_id %}
      {% endfor %}
    </div>
    <div class="featured-collection__container__controls">
      {% for product in section.settings.collection.products %}
        {% assign card_id = section.id | append: forloop.index %}
        <a href="#{{ card_id }}" style="background-color: {{product.metafields.custom.color }}">
          <span class="visually-hidden">{{ product.title }}</span>
        </a>
      {% endfor %}
    </div>
  </div>

</div>

{% schema %}
{
  "name": "Featured Collection",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Collection and Card Settings"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "select",
      "id": "crop_shape",
      "options": [
        {
          "value": "default",
          "label": "No Crop (Default)"
        },
        {
          "value": "circle",
          "label": "Circle"
        },
        {
          "value": "rounded-square",
          "label": "Rounded Square"
        }
      ],
      "default": "default",
      "label": "Product Image Crop Shape"
    },
    {
      "type": "header",
      "content": "Text Content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Lorem Ipsum"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
      "label": "Description"
    },
    {
      "type": "checkbox",
      "id": "collection_text_content",
      "label": "Use collection title and description for text content?",
      "info": "If chosen, the collection title and description will replace the heading and description added above, if any."
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ],
      "default": "primary",
      "label": "Theme"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "phrase",
      "name": "Phrase",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "font_type",
          "default": "default",
          "label": "Font Type",
          "options": [
            {
              "value": "alt",
              "label": "Body Font"
            },
            {
              "value": "default",
              "label": "Heading Font"
            }
          ]
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "font_type",
          "default": "default",
          "label": "Font Type",
          "options": [
            {
              "value": "alt",
              "label": "Body Font"
            },
            {
              "value": "default",
              "label": "Heading Font"
            }
          ]
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    }
  ],
  "presets": [
    {
      "name": "Featured Collection"
    }
  ]
}
{% endschema %}
