 {% liquid
  assign section_theme = section.settings.theme
  assign top_spacing = section.settings.top_spacing
  assign bottom_spacing = section.settings.bottom_spacing
%}

{% style %}
  #Featured-blog-{{ section.id }} {
    --topSpacingRatio: {{ top_spacing }} / 100;
    --bottomSpacingRatio: {{ bottom_spacing }} / 100;
  }
{% endstyle %}

<div id="Featured-blog-{{ section.id }}" class="featured-blog __theme-{{ section_theme }}">
   {% render 'heading', class: "featured-blog", heading: section.settings.heading, heading_size: section.settings.heading_size %}
  
  {%- if section.settings.blog != blank and section.settings.blog.articles_count > 0 -%}
    <ul class="featured-blog__articles list-unstyled" role="list">
      {%- for article in section.settings.blog.articles -%} 
        <li class="featured-blog__articles__article-container">
          {% render 'article-card', article: article %}
        </li>
      {% endfor %}
    </ul>

  {% comment %}TODO optional view all articles button {% endcomment %}
  {%- else -%}
    <ul class="featured-blog__articles list-unstyled" role="list">
      {%- for i in (1..3) -%} 
        <li class="featured-blog__articles__article-container">
          {% render 'article-card' %}
        </li>
      {% endfor %}
    </ul>
  {%- endif -%}
</div>
    
  {% schema %}
{
  "name": "t:sections.featured-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Lorem ipsum",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
            "value": "h2",
            "label": "X-Large"
        },
        {
            "value": "h4",
            "label": "Large"
        },
        {
            "value": "h5",
            "label": "Medium"
        },
        {
            "value": "caption-lg",
            "label": "Small"
        }
      ],
      "default": "h5",
      "label": "Heading Size"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-blog.presets.name",
      "settings": {
        "blog": "From the Blog"
      }
    }
  ]
}
{% endschema %}

