{% style %}
    #Section-footer-{{ section.id }} {
    }
 {% endstyle %}

{% assign icons = false %}
{% comment %}
  {% render 'newsletter-row' %}
{% endcomment %}

<footer id="Section-footer-{{ section.id }}" class="section-footer">
    
    <div class="section-footer__col __theme-{{section.settings.accent_theme}}">
      <div class="section-footer__branding">
        <div class="section-footer__branding__logo">{% render 'svg-logo-stacked' %}</div>
      </div>


      {%- if section.settings.show_social -%}
        <div class="section-footer__bottom__social">
          {% render 'social-icons' %}
        </div>
      {%- endif -%}
    </div>

    <div class="section-footer__col __theme-{{section.settings.theme}}">
      {%- if section.blocks.size > 0 -%}
        <div class="section-footer__blocks">
          {%- for block in section.blocks -%}
            
              {%- case block.type -%}
                {%- when 'link_list' -%}
                  <div class="section-footer__blocks__block" {{ block.shopify_attributes }}>
                    {%- if block.settings.heading != blank -%}
                      <p class="section-footer__header caption">{{- block.settings.heading | escape -}}</p>
                    {%- endif -%}
                    {%- if block.settings.menu != blank -%}
                      <ul class="section-footer__links list-unstyled">
                        {%- for link in block.settings.menu.links -%}
                          <li class="section-footer__links__item">
                            <a class="section-footer__links__item__link p-sm" href="{{ link.url }}">
                              {{ link.title }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  </div>
                  

                  {%- when 'icon' -%}
                    {% assign icons = true %}
                {%- endcase -%}
            
          {%- endfor -%}
        </div>
      {%- endif -%}

      {% if icons == true %}
        <div class="section-footer__badges">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'icon' -%}
                <div class="section-footer__badges__badge">
                  {%- if block.settings.icon != blank -%}
                    {% render 'next-gen-img', image: block.settings.icon %}
                  {%- endif -%}
                </div>      
              {%- endcase -%}
          {%- endfor -%}
        </div>
      {% endif %}

      <small class="section-footer__bottom__copywright p-sm">&copy; {{ shop.name }}. {{ 'now' | date: "%Y" }}</small>

      {%- if section.settings.secondary_links %}
        <ul class="section-footer__bottom__sec-links section-footer__links list-unstyled">
          {%- for link in section.settings.secondary_links.links -%}
            <li class="section-footer__links__item">
              <a class="section-footer__links__item__link p-sm" href="{{ link.url }}">
                {{ link.title }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </div>

</footer>


{% comment %}<footer class="footer">
  <div class="container">
    <div>
      <h2>{{ 'general.newsletter.heading' | t }}</h2>
      {%- form 'customer' -%}
        <label for="NewsletterEmail--{{ section.id }}">{{ 'general.newsletter.email' | t }}</label>
        <input
          id="NewsletterEmail--{{ section.id }}"
          type="email"
          name="contact[email]"
          value="{{ form.email }}"
          aria-required="true"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="email"
          required
          {% if form.errors %}
            autofocus
            aria-invalid="true"
            aria-describedby="NewsletterError--{{ section.id }}"
          {% elsif form.posted_successfully? %}
            aria-describedby="NewsletterSuccess--{{ section.id }}"
          {% endif %}
        >
        {%- if form.errors -%}
          <small id="NewsletterError--{{ section.id }}" class="message-error">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
        {%- elsif form.posted_successfully? -%}
          <small id="NewsletterSuccess--{{ section.id }}" class="message-success" tabindex="-1" autofocus>{{ 'general.newsletter.success' | t }}</small>
        {%- endif -%}  
        <input type="hidden" name="contact[tags]" value="newsletter">
        <button type="submit">{{ 'general.newsletter.subscribe' | t }}</button>
      {%- endform -%}
    </div>

    <div class="grid">
      {% comment %} Country selector {% endcomment %}
      {%- if localization.available_countries.size > 1 -%}
        {%- form 'localization' -%}
          <label for="CountryList--{{ section.id }}">{{ 'general.localization.country.label' | t }}</label>
          <select name="country_code" id="CountryList--{{ section.id }}">
            {%- for country in localization.available_countries -%}
              <option 
                value="{{ country.iso_code }}"
                {%- if country.iso_code == localization.country.iso_code %} selected{% endif -%}
              >
                {{ 'general.localization.country.option_label' | t: name: country.name, currency_iso_code: country.currency.iso_code, currency_symbol: country.currency.symbol }}
              </option>
            {%- endfor -%}
          </select>
          <button type="submit">{{ 'general.localization.country.update' | t }}</button>
        {%- endform -%}
      {%- endif -%}

      {% comment %} Language selector {% endcomment %}
      {%- if localization.available_languages.size > 1 -%}
        {%- form 'localization' -%}
          <label for="LanguageList--{{ section.id }}">{{ 'general.localization.language.label' | t }}</label>
          <select name="locale_code" id="LanguageList--{{ section.id }}">
            {%- for language in localization.available_languages -%}
              <option 
                value="{{ language.iso_code }}" lang="{{ language.iso_code }}"
                {%- if language.iso_code == localization.language.iso_code %} selected{% endif %} 
              >
                {{ language.endonym_name | capitalize }}
              </option>
            {%- endfor -%}
          </select>
          <button type="submit">{{ 'general.localization.language.update' | t }}</button>
        {%- endform -%}
      {%- endif -%}

      {% comment %} Social media icons {% endcomment %}
      {% comment %} TODO: Add SVG social media icons (if required) {% endcomment %}
      <ul class="list-unstyled" role="list">
        {%- if settings.social_twitter_link != blank -%}
          <li>
            <a href="{{ settings.social_twitter_link }}">{{ 'general.social.links.twitter' | t }}</a>
          </li>
        {%- endif -%}
        {%- if settings.social_facebook_link != blank -%}
          <li>
            <a href="{{ settings.social_facebook_link }}">{{ 'general.social.links.facebook' | t }}</a>
          </li>
        {%- endif -%}
        {%- if settings.social_pinterest_link != blank -%}
          <li>
            <a href="{{ settings.social_pinterest_link }}">{{ 'general.social.links.pinterest' | t }}</a>
          </li>
        {%- endif -%}
        {%- if settings.social_instagram_link != blank -%}
          <li>
            <a href="{{ settings.social_instagram_link }}">{{ 'general.social.links.instagram' | t }}</a>
          </li>
        {%- endif -%}
        {%- if settings.social_tiktok_link != blank -%}
          <li>
            <a href="{{ settings.social_tiktok_link }}">{{ 'general.social.links.tiktok' | t }}</a>
          </li>
        {%- endif -%}
        {%- if settings.social_tumblr_link != blank -%}
          <li>
            <a href="{{ settings.social_tumblr_link }}">{{ 'general.social.links.tumblr' | t }}</a>
          </li>
        {%- endif -%}
        {%- if settings.social_snapchat_link != blank -%}
          <li>
            <a href="{{ settings.social_snapchat_link }}">{{ 'general.social.links.snapchat' | t }}</a>
          </li>
        {%- endif -%}
        {%- if settings.social_youtube_link != blank -%}
          <li>
            <a href="{{ settings.social_youtube_link }}">{{ 'general.social.links.youtube' | t }}</a>
          </li>
        {%- endif -%}
        {%- if settings.social_vimeo_link != blank -%}
          <li>
            <a href="{{ settings.social_vimeo_link }}">{{ 'general.social.links.vimeo' | t }}</a>
          </li>
        {%- endif -%}
      </ul>

      {% comment %} Copyright {% endcomment %}
      <p>
        <span>&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</span>
        <span>{{ powered_by_link }}</span>
      </p>
    </div>
  </div>
</footer>
{% endcomment %}

{% schema %}
{
  "name": "Footer",
  "blocks": [
    {
      "type": "link_list",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "Menu",
          "info": "Displays only top-level menu items."
        }
      ]
    },
    {
      "type": "icon",
      "name": "Icon",
      "settings": [
          {
            "type":"image_picker",
            "id":"icon",
            "label":"Icon"
          }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our newsletter",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "newsletter_description",
      "label": "Description"
    },
    {
      "type": "header",
      "content": "Social Media Icons",
      "info": "To display your social media accounts, link them in your theme settings."
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "link_list",
      "info": "Displays only top-level menu items.",
      "id": "secondary_links",
      "label": "Secondary Links"
    },
    {
      "type": "header",
      "content": "Footer Theme"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ],
      "default": "primary",
      "label": "Theme"
    },
    {
      "type": "select",
      "id": "accent_theme",
      "options": [
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ],
      "default": "primary",
      "label": "Accent Theme"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}

