{{ 'social-icons.css' | asset_url | stylesheet_tag }}
{{ 'footer.css' | asset_url | stylesheet_tag }}

{% style %}
  #Section-footer-{{ section.id }} {
    --footerLogoMaxWidth: {{ section.settings.logo_width }}px;
  }
{% endstyle %}

{% liquid
  assign img_width = section.settings.logo_width | times: 2
  assign img_widths = img_width | append: ', ' | append: section.settings.logo_width
  assign img_sizes = section.settings.logo_width | append: 'px'
%}

{% comment %}
  Seperate the blocks into groups to display in different spots
{% endcomment %}
 
{%- for block in section.blocks -%}
  {%- case block.type -%}

    {%- when 'link_list' -%}
      {% capture link_list_and_text_blocks %}
        {{ link_list_and_text_blocks }}
        <div class="section-footer__blocks__block" {{ block.shopify_attributes }}>
          {%- if block.settings.heading != blank -%}
            <p class="section-footer__header h6 alt">{{- block.settings.heading | escape -}}</p>
          {%- endif -%}
          {%- if block.settings.menu != blank -%}
            <ul class="section-footer__links list-unstyled">
              {%- for link in block.settings.menu.links -%}
                <li class="section-footer__links__item">
                  <a class="section-footer__links__item__link p-sm" href="{{ link.url }}">
                    {{ link.title }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        </div>
      {% endcapture %}

    {%- when 'icon' -%}
      {% capture icon_blocks %}
        {{ icon_blocks }}
        <div class="section-footer__badges__badge">
          {%- if block.settings.icon != blank -%}
            {% render 'next-gen-img', image: block.settings.icon, height: 100 %}
          {%- endif -%}
        </div>
      {% endcapture %}

    {%- when 'text_block' -%}
      {% capture link_list_and_text_blocks %}
        {{ link_list_and_text_blocks }}
        <div class="section-footer__blocks__block __align-{{ block.settings.alignment }}" style="max-width:{{ block.settings.max_width }}px;">
          {%- if block.settings.label -%}
            <p class="section-footer__header h6 alt">{{- block.settings.label | escape -}}</p>
          {%- endif -%}
          {%- if block.settings.text -%}
            <div class="__article-txt-{{ block.settings.text_size }} {{ block.settings.text_size }}" {{ block.shopify_attributes }}>
              {{ block.settings.text }}
            </div>
          {%- endif -%}
          {% render 'button',
            button_label: block.settings.button_label,
            button_link: block.settings.button_link,
            button_color: block.settings.button_color
          %}                
        </div>
      {% endcapture %}

  {%- endcase -%}
{%- endfor -%}


<footer id="Section-footer-{{ section.id }}" class="section-footer">
  <div class="section-footer__col __theme-{{section.settings.accent_theme}}">
    {% comment %} Text content and logo {% endcomment %}
    <div class="section-footer__branding {% if section.settings.stack_logo == true %}__stack {% endif %}">
      {% if section.settings.logo %}
        <div class="section-footer__branding__logo">
          {% render 'next-gen-img',
            image: section.settings.logo,
            width: img_width,
            widths: img_widths,
            sizes: img_sizes
          %}
        </div>
      {% endif %}

      {% if section.settings.information %}
        <div class="__article-txt-{{ section.settings.description_text_size }} {{ section.settings.description_text_size }}">
          {{ section.settings.information }}
        </div>
      {% endif %}
      {% if section.settings.heading %}
        <h2 class="h6 alt">
          {{ section.settings.heading }}
        </h2>
      {% endif %}
      {% if section.settings.description %}
        <p class="{{ section.settings.description_text_size }}">
          {{ section.settings.description }}
        </p>
      {% endif %}
    </div>

    {% comment %} Newsletter {% endcomment %}
    {% if section.settings.newsletter_enable %}
      {% render 'newsletter-signup', class: 'section-footer__newsletter', style: 'bold' %}
    {% endif %}

    {% if section.settings.details %}
      <div class="__article-txt-{{ section.settings.description_text_size }} {{ section.settings.description_text_size }}">
        {{ section.settings.details }}
      </div>
    {% endif %}

    {% comment %} Social Icons {% endcomment %}
    {%- if section.settings.show_social -%}
      {% render 'social-icons', class: 'section-footer__social' %}
    {%- endif -%}

    {%- if localization.available_countries.size > 1 or localization.available_languages.size > 1 -%}
      {% render 'localization', class: 'section-footer__localization' %}
    {%- endif -%}
  </div>

  {% comment %} Primary links {% endcomment %}
  <div class="section-footer__col __theme-{{ section.settings.theme }}">
    {%- if link_list_and_text_blocks != blank -%}
      <div class="section-footer__blocks">
        {{ link_list_and_text_blocks }}
      </div>
    {%- endif -%}

    {% comment %} Badges/icons {% endcomment %}
    {% if icon_blocks != blank %}
      <div class="section-footer__badges">
        {{ icon_blocks }}
      </div>
    {% endif %}

    {% comment %} Secondary links {% endcomment %}
    <div class="section-footer__row">
      {%- if section.settings.secondary_links %}
        <ul class="section-footer__sec-links list-unstyled">
          {%- for link in section.settings.secondary_links.links -%}
            <li class="section-footer__sec-links__item">
              <a class="section-footer__sec-links__item__link p-sm" href="{{ link.url }}">
                {{ link.title }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}

      {%- if section.settings.payment_enable -%}
        <div class="section-footer__payment">
          <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
          <ul class="section-footer__payment__payment-types" role="list">
            {%- for type in shop.enabled_payment_types -%}
              <li class="section-footer__payment__payment-types__single">
                {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}

      {%- if section.settings.follow_enable -%}
         {{ shop | login_button: action: 'follow' }}
      {%- endif -%}

      {% comment %} Copywright {% endcomment %}
      <span class="section-footer__copywright p-sm">
        &copy; {{ 'now' | date: '%Y' }}
        {{ shop.name | link_to: routes.root_url -}}
      </span>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "icon",
      "name": "t:sections.footer.blocks.icon.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "t:sections.footer.blocks.icon.settings.image_picker.label"
        }
      ]
    },
    {
      "type": "text_block",
      "name": "t:sections.footer.blocks.text-block.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.footer.blocks.text-block.settings.header_2.content"
        },
        {
          "type": "text",
          "id": "label",
          "label": "t:sections.footer.blocks.text-block.settings.label.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.footer.blocks.text-block.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "p-sm",
              "label": "t:sections.footer.blocks.text-block.settings.text_size.options.label_1"
            },
            {
              "value": "p",
              "label": "t:sections.footer.blocks.text-block.settings.text_size.options.label_2"
            },
            {
              "value": "p-lg",
              "label": "t:sections.footer.blocks.text-block.settings.text_size.options.label_3"
            }
          ],
          "default": "p-sm",
          "label": "t:sections.footer.blocks.text-block.settings.text_size.label"
        },
        {
          "type": "radio",
          "id": "alignment",
          "label": "Text Alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.footer.blocks.text-block.settings.alignment.options.label_1"
            },
            {
              "value": "center",
              "label": "t:sections.footer.blocks.text-block.settings.alignment.options.label_2"
            },
            {
              "value": "right",
              "label": "t:sections.footer.blocks.text-block.settings.alignment.options.label_3"
            }
          ],
          "default": "left"
        },
        {
          "type": "range",
          "id": "max_width",
          "min": 100,
          "max": 600,
          "step": 20,
          "unit": "px",
          "label": "t:sections.footer.blocks.text-block.settings.max_width.label",
          "default": 200,
          "label": "t:sections.footer.blocks.text-block.settings.max_width.info"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.footer.blocks.text-block.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.footer.blocks.text-block.settings.button_link.label"
        },
        {
          "type": "select",
          "id": "button_color",
          "label": "t:sections.footer.blocks.text-block.settings.button_color.label",
          "default": "default",
          "options": [
            {
              "value": "default",
              "label": "t:sections.footer.blocks.text-block.settings.button_color.options.label_0"
            },
            {
              "value": "primary",
              "label": "t:sections.footer.blocks.text-block.settings.button_color.options.label_1"
            },
            {
              "value": "2",
              "label": "t:sections.footer.blocks.text-block.settings.button_color.options.label_2"
            },
            {
              "value": "3",
              "label": "t:sections.footer.blocks.text-block.settings.button_color.options.label_3"
            },
            {
              "value": "4",
              "label": "t:sections.footer.blocks.text-block.settings.button_color.options.label_4"
            },
            {
              "value": "5",
              "label": "t:sections.footer.blocks.text-block.settings.button_color.options.label_5"
            }
          ]
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.header.content"
    },
    {
      "type": "richtext",
      "id": "information",
      "label": "t:sections.footer.settings.information.label"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Subscribe to our newsletter",
      "label": "t:sections.footer.settings.heading.label"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:sections.footer.settings.description.label"
    },
    {
      "type": "richtext",
      "id": "details",
      "label": "t:sections.footer.settings.details.label"
    },
    {
      "type": "select",
      "id": "description_text_size",
      "options": [
        {
          "value": "p-sm",
          "label": "t:sections.footer.settings.description_text_size.options.label_1"
        },
        {
          "value": "p",
          "label": "t:sections.footer.settings.description_text_size.options.label_2"
        },
        {
          "value": "p-lg",
          "label": "t:sections.footer.settings.description_text_size.options.label_3"
        }
      ],
      "default": "p-sm",
      "label": "t:sections.footer.settings.description_text_size.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header_2.content"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.footer.settings.image_picker.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 0,
      "max": 300,
      "step": 10,
      "unit": "px",
      "label": "t:sections.footer.settings.logo_width.label",
      "default": 80
    },
    {
      "type": "checkbox",
      "id": "stack_logo",
      "default": false,
      "label": "t:sections.footer.settings.stack_logo.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header_4.content",
      "info": "t:sections.footer.settings.header_4.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "link_list",
      "default": "footer",
      "info": "t:sections.footer.settings.secondary_links.info",
      "id": "secondary_links",
      "label": "t:sections.footer.settings.secondary_links.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header_6.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "checkbox",
      "id": "follow_enable",
      "default": false,
      "label": "t:sections.footer.settings.follow_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header_5.content"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.footer.settings.theme.options.label_1"
        },
        {
          "value": "2",
          "label": "t:sections.footer.settings.theme.options.label_2"
        },
        {
          "value": "3",
          "label": "t:sections.footer.settings.theme.options.label_3"
        },
        {
          "value": "4",
          "label": "t:sections.footer.settings.theme.options.label_4"
        },
        {
          "value": "5",
          "label": "t:sections.footer.settings.theme.options.label_5"
        }
      ],
      "default": "primary",
      "label": "t:sections.footer.settings.theme.label",
      "info": "t:sections.footer.settings.theme.info."
    },
    {
      "type": "select",
      "id": "accent_theme",
      "options": [
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ],
      "default": "primary",
      "label": "Accent Theme",
      "info": "Theme used for the left side of the footer."
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
