{% style %}
    #Section-footer-{{ section.id }} {
      --footerLogoMaxWidth: {{ section.settings.logo_width }}px;
    }
 {% endstyle %}

{% liquid
  assign icons = false 
  assign img_width = section.settings.logo_width | times: 2
  assign img_widths = img_width | append: ', ' | append: section.settings.logo_width
  assign img_sizes = section.settings.logo_width | append: 'px'
%}

<footer id="Section-footer-{{ section.id }}" class="section-footer">
    
    <div class="section-footer__col __theme-{{section.settings.accent_theme}}">

      {% comment %} Text content and logo {% endcomment %}
      <div class="section-footer__branding {% if section.settings.stack_logo == true %}__stack {% endif %}">
        {% if section.settings.logo %}
          <div class="section-footer__branding__logo">
            {% render 'next-gen-img', image: section.settings.logo, width: img_width, widths: img_widths, sizes: img_sizes %}
          </div>
        {% endif %}

        {% if section.settings.heading %}
          <h2 class="h6 alt">
            {{ section.settings.heading }}
          </h2>
        {% endif %}
        {% if section.settings.description %}
          <p class="p-sm">
            {{ section.settings.description }}
          </p>
        {% endif %}
      </div>

      {% comment %} Newsletter {% endcomment %}
      {% if section.settings.newsletter_enable %}
        {% render 'newsletter-signup' class: "section-footer__newsletter", style: "bold" %}
      {% endif %}


      {% comment %} Social Icons {% endcomment %}
      {%- if section.settings.show_social -%}
        {% render 'social-icons' class: "section-footer__social"%}
      {%- endif -%}
      
      {% comment %} Country selector {% endcomment %}
      {%- if localization.available_countries.size > 1 -%}
        {%- form 'localization' -%}
          <label for="CountryList--{{ section.id }}">{{ 'general.localization.country.label' | t }}</label>
          <select name="country_code" id="CountryList--{{ section.id }}">
            {%- for country in localization.available_countries -%}
              <option 
                value="{{ country.iso_code }}"
                {%- if country.iso_code == localization.country.iso_code %} selected{% endif -%}
              >
                {{ 'general.localization.country.option_label' | t: name: country.name, currency_iso_code: country.currency.iso_code, currency_symbol: country.currency.symbol }}
              </option>
            {%- endfor -%}
          </select>
          <button type="submit">{{ 'general.localization.country.update' | t }}</button>
        {%- endform -%}
      {%- endif -%}


      {% comment %} Language selector {% endcomment %}
      {%- if localization.available_languages.size > 1 -%}
        {%- form 'localization' -%}
          <label for="LanguageList--{{ section.id }}">{{ 'general.localization.language.label' | t }}</label>
          <select name="locale_code" id="LanguageList--{{ section.id }}">
            {%- for language in localization.available_languages -%}
              <option 
                value="{{ language.iso_code }}" lang="{{ language.iso_code }}"
                {%- if language.iso_code == localization.language.iso_code %} selected{% endif %} 
              >
                {{ language.endonym_name | capitalize }}
              </option>
            {%- endfor -%}
          </select>
          <button type="submit">{{ 'general.localization.language.update' | t }}</button>
        {%- endform -%}
      {%- endif -%}
    </div>

    {% comment %} Primary links {% endcomment %}
    <div class="section-footer__col __theme-{{ section.settings.theme }}">
      {%- if section.blocks.size > 0 -%}
        <div class="section-footer__blocks">
          {%- for block in section.blocks -%}
            
              {%- case block.type -%}
                {%- when 'link_list' -%}
                  <div class="section-footer__blocks__block" {{ block.shopify_attributes }}>
                    {%- if block.settings.heading != blank -%}
                      <p class="section-footer__header h6 alt">{{- block.settings.heading | escape -}}</p>
                    {%- endif -%}
                    {%- if block.settings.menu != blank -%}
                      <ul class="section-footer__links list-unstyled">
                        {%- for link in block.settings.menu.links -%}
                          <li class="section-footer__links__item">
                            <a class="section-footer__links__item__link p-sm" href="{{ link.url }}">
                              {{ link.title }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  </div>
                  

                  {%- when 'icon' -%}
                    {% assign icons = true %}
                {%- endcase -%}
            
          {%- endfor -%}
        </div>
      {%- endif -%}

      {% comment %} Badges/icons {% endcomment %}
      {% if icons == true %}
        <div class="section-footer__badges">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'icon' -%}
                <div class="section-footer__badges__badge">
                  {%- if block.settings.icon != blank -%}
                    {% render 'next-gen-img', image: block.settings.icon, height: 100 %}
                  {%- endif -%}
                </div>      
              {%- endcase -%}
          {%- endfor -%}
        </div>
      {% endif %}

      {% comment %} Secondary links {% endcomment %}
      <div class="section-footer__row">
        {%- if section.settings.secondary_links %}
          <ul class="section-footer__sec-links list-unstyled">
            {%- for link in section.settings.secondary_links.links -%}
              <li class="section-footer__sec-links__item">
                <a class="section-footer__sec-links__item__link p-sm" href="{{ link.url }}">
                  {{ link.title }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}

        {% comment %} Copywright {% endcomment %}
        <span class="section-footer__copywright p-sm">&copy; {{ 'now' | date: "%Y" }} {{ shop.name | link_to: routes.root_url }}</span>
      </div>
    </div>

</footer>

{% schema %}
{
  "name": "Footer",
  "blocks": [
    {
      "type": "link_list",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "Menu",
          "info": "Displays only top-level menu items."
        }
      ]
    },
    {
      "type": "icon",
      "name": "Icon",
      "settings": [
          {
            "type":"image_picker",
            "id":"icon",
            "label":"Icon"
          }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Text Content"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Subscribe to our newsletter",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "logo"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 0,
      "max": 300,
      "step": 10,
      "unit": "px",
      "label": "Logo Max Width",
      "default": 80
    },
    {
      "type": "checkbox",
      "id": "stack_logo",
      "default": false,
      "label": "Stack logo above text content?"
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "header",
      "content": "Social Media Icons",
      "info": "To display your social media accounts, link them in your theme settings."
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "Show social icons?"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "Show newsletter form?"
    },
    {
      "type": "link_list",
      "info": "Displays only top-level menu items.",
      "id": "secondary_links",
      "label": "Secondary Links"
    },
    {
      "type": "header",
      "content": "Footer Theme"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ],
      "default": "primary",
      "label": "Theme",
      "info": "Theme used for the right side of the footer."
    },
    {
      "type": "select",
      "id": "accent_theme",
      "options": [
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ],
      "default": "primary",
      "label": "Accent Theme",
      "info": "Theme used for the left side of the footer."
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}

