{% style %}
  #main-404-{{ section.id }} {
    --topSpacingRatio: {{ section.settings.top_spacing }} / 100;
    --bottomSpacingRatio: {{ section.settings.bottom_spacing }} / 100;
    --imageMaxWidth: {{ section.settings.image_width }}px;
  }
{% endstyle %}

<div id="main-404-{{ section.id }}" class="site-404 __align-center">
  {%- if section.settings.image != blank -%}
    <div class="site-404__image">
      {% render 'next-gen-img', image: section.settings.image %}
    </div>
  {%- endif -%}

  {% render 'heading', heading: section.settings.heading, heading_size: section.settings.heading_size, heading_tag: 'h1', alt_heading: section.settings.alt_heading %}

  {% if section.settings.button_link != blank %}
    {% render 'button', button_label: section.settings.button_label, button_link: section.settings.button_link, class: "site-404", button_color: section.settings.button_color %}
  {% endif %}
</div>

{% schema %}
{
  "name": "404",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Custom Image"
    },
    {
      "type": "range",
      "id": "image_width",
      "min": 0,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "Image Max Width",
      "default": 80
    },
    {
      "type": "header",
      "content": "Text Content"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "404",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "X-Large"
        },
        {
          "value": "h4",
          "label": "Large"
        },
        {
          "value": "h5",
          "label": "Medium"
        },
        {
          "value": "h6",
          "label": "Small"
        }
      ],
      "default": "h4",
      "label": "Heading Size"
    },
    {
      "type": "checkbox",
      "id": "alt_heading",
      "label": "Use body font instead of heading font for heading?"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Return Home",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link",
      "default": "/collections/all"
    },
    {
      "type": "select",
      "id": "button_color",
      "label": "Button Color",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Section Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Section Spacing",
      "default": 50
    }
  ]
}
{% endschema %}
