{{ 'main-collection-grid.css' | asset_url | stylesheet_tag }}

{% style %}
  #Main-collection-grid-{{ section.id }} {
    --topSpacingRatio: {{ section.settings.top_spacing }} / 100;
    --bottomSpacingRatio: {{ section.settings.bottom_spacing }} / 100;
    --gridItemHeight: 1;
    --gridItemWidth: 1;
  }
{% endstyle %}

{%- paginate collection.products by section.settings.pagination_count -%}
  <div id="Main-collection-grid-{{ section.id }}" class="main-collection-grid __theme-{{ section.settings.theme }} {% if section.settings.show_bg_color == true %}__mobile-fw{% endif %}">
    
    {% comment %} Filter and sort {% endcomment %}
    {% render 'filter-and-sort', results: collection %}

    {% comment %} No products found in general or with current filters applied {% endcomment %}
    {%- if collection.products.size == 0 -%}
      <p class="__article-text __align-center">
        {{ 'products.facets.use_fewer_filters_html' | t: link: collection.url }}
      </p>

    {% comment %} Product grid {% endcomment %}
    {%- else -%}
      <ul class="main-collection-grid__container list-unstyled" role="list">
        {%- for product in collection.products -%}
          {% assign preload = false %}
          {% if forloop.index0 < 3 %}
            {% assign preload = true %}
          {% endif %}

          <li style="order: {{ forloop.index }};">
            {% render 'product-card' product: product, class: "main-collection-grid__grid-item", show_bg_color: section.settings.show_bg_color, quick_add: section.settings.quick_add, crop: section.settings.crop_shape, show_phrase: section.settings.show_phrase, alignment: section.settings.product_text_alignment, section.settings.show_description: section.settings.show_description, price_position: section.settings.price, alt_heading: section.settings.alt_title, img_width: 1280, img_widths: '1280, 900, 700, 500', img_sizes: '(max-width: 676px) 100vw, (max-width: 1024px) 45vw, 25vw', img_preload: preload %}
          </li>
        {%- endfor -%}

        {% if paginate.current_page == 1 %}
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'promotion' %}
                {% liquid 
                  if block.settings.link != blank 
                    assign promotion_tag = "a" 
                  else 
                    assign promotion_tag = "div" 
                  endif 
                  if block.settings.width == 1
                    assign img_width = 1360
                    assign img_widths = '1360, 900, 700, 500'
                    assign img_sizes = '(max-width: 676px) 100vw, (max-width: 1024px) 45vw, 25vw'
                  elsif block.settings.width == 2
                    assign img_width = 1850
                    assign img_widths = '1850, 1400, 1000, 700'
                    assign img_sizes = '(max-width: 676px) 100vw, (max-width: 1024px) 95vw, 55vw'
                  else 
                    assign img_width = 2620
                    assign img_widths = '2620, 2000, 1400, 1000, 700'
                    assign img_sizes = '(max-width: 676px) 100vw, (max-width: 1024px) 95vw, 80vw'
                  endif
                  if block.settings.position < 3
                    assign img_preload = true
                  endif
                %}

                <li
                  style="order: {{ block.settings.position }}; --overlayOpacity: {{ block.settings.overlay }}%; --gridItemWidth: {{ block.settings.width }}; --gridItemHeight: {{ block.settings.height }}; --mobileMinHeight: {{ block.settings.mobile_min_height }}px;"
                  class="main-collection-grid__grid-item __theme-{{ block.settings.overlay_theme }}"
                >
                  <{{ promotion_tag}} href="{{ block.settings.link }}" class="main-collection-grid__block image-container __crop-{{ block.settings.image_corners }}">
                    {% render 'heading',
                      class: 'main-collection-grid__block',
                      heading: block.settings.heading,
                      heading_size: block.settings.heading_size,
                      alt_heading: block.settings.alt_heading
                    %}
                    <div class="__article-txt">
                      {{ block.settings.text }}
                    </div>

                    {% if block.settings.image %}
                      {% render 'next-gen-img', image: block.settings.image, width: img_width, widths: img_widths, sizes: img_sizes, preload: img_preload %}
                    {% endif %}
                  </{{ promotion_tag}}>
                </li>
            {% endcase %}
          {% endfor %}
        {% endif%}
      </ul>
    {% endif %}

    {% comment %} Pagination {% endcomment %}
    {% render 'pagination', paginate: paginate %}
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "Main Collection Grid",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "range",
      "id": "pagination_count",
      "min": 4,
      "max": 24,
      "step": 1,
      "label": "Products per page",
      "default": 12
    },
    {
      "type": "header",
      "content": "Product Card Settings"
    },
    {
      "type": "checkbox",
      "id": "show_phrase",
      "label": "Show product phrase"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show product description"
    },
    {
      "type": "checkbox",
      "id": "quick_add",
      "label": "Enable quick add",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_bg_color",
      "label": "Show background color",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "alt_title",
      "label": "Use body font instead of heading font for product title"
    },
    {
      "type": "select",
      "id": "product_text_alignment",
      "options": [
        {
          "value": "default",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "default",
      "label": "Product Text Alignment"
    },
    {
      "type": "select",
      "id": "price",
      "options": [
        {
          "value": "default",
          "label": "Right of Title"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "not-visible",
          "label": "Not Visible"
        }
      ],
      "default": "default",
      "label": "Price Position"
    },
    {
      "type": "select",
      "id": "crop_shape",
      "options": [
        {
          "value": "default",
          "label": "No Crop"
        },
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "rounded-square",
          "label": "Rounded Square"
        },
        {
          "value": "circle",
          "label": "Circle"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "rounded-portrait",
          "label": "Rounded Portrait"
        },
        {
          "value": "semicircle-portrait",
          "label": "Semicircle Portrait"
        },
        {
          "value": "landscape",
          "label": "Landscape"
        },
        {
          "value": "rounded-landscape",
          "label": "Rounded Landscape"
        },
        {
          "value": "semicircle-landscape",
          "label": "Semicircle Landscape"
        },
        {
          "value": "arch",
          "label": "Semicircle Arch"
        }
      ],
      "default": "default",
      "label": "Product Image Crop Shape"
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ],
      "default": "primary",
      "label": "Theme"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "promotion",
      "name": "Featured Promotion",
      "settings": [
        {
          "type": "header",
          "content": "General"
        },
        {
          "type": "range",
          "id": "position",
          "min": 0,
          "max": 13,
          "step": 1,
          "label": "Display after how many products",
          "default": 4
        },
        {
          "type": "range",
          "id": "width",
          "min": 1,
          "max": 3,
          "step": 1,
          "label": "How many products wide",
          "default": 1
        },
        {
          "type": "range",
          "id": "height",
          "min": 1,
          "max": 3,
          "step": 1,
          "label": "How many products tall",
          "default": 1
        },
        {
          "type": "range",
          "id": "mobile_min_height",
          "min": 0,
          "max": 600,
          "step": 50,
          "unit": "px",
          "label": "Mobile Minimum Height",
          "default": 450
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "header",
          "content": "Text Content"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Lorem ipsum dolor sit",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "X-Large"
            },
            {
              "value": "h4",
              "label": "Large"
            },
            {
              "value": "h5",
              "label": "Medium"
            },
            {
              "value": "h6",
              "label": "Small"
            }
          ],
          "default": "h4",
          "label": "Heading Size"
        },
        {
          "type": "checkbox",
          "id": "alt_heading",
          "label": "Use body font instead of heading font for heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Description"
        },
        {
          "type": "header",
          "content": "Image Content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "overlay",
          "label": "Overlay Opacity",
          "info": "If above 0%, an overlay will be added on top of the image to create contrast behind the text.",
          "min": 0,
          "max": 70,
          "step": 10,
          "unit": "%",
          "default": 50
        },
        {
          "type": "select",
          "id": "overlay_theme",
          "options": [
            {
              "value": "primary",
              "label": "Primary Theme"
            },
            {
              "value": "2",
              "label": "2nd Theme"
            },
            {
              "value": "3",
              "label": "3rd Theme"
            },
            {
              "value": "4",
              "label": "4th Theme"
            },
            {
              "value": "5",
              "label": "5th Theme"
            }
          ],
          "default": "primary",
          "label": "Overlay Theme"
        },
        {
          "type": "select",
          "id": "image_corners",
          "options": [
            {
              "value": "default",
              "label": "Square Corners"
            },
            {
              "value": "rounded",
              "label": "Rounded Corners"
            },
            {
              "value": "semicircle",
              "label": "Semicircle Corners"
            }
          ],
          "default": "default",
          "label": "Image Corners"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Main Collection Grid"
    }
  ]
}
{% endschema %}
