{{ 'product.css' | asset_url | stylesheet_tag }}
{{ 'cmnc-flickity.css' | asset_url | stylesheet_tag }}
{{ 'main-product.css' | asset_url | stylesheet_tag }}


{% if template == "product.modal" %}
  {{ 'main-modal.css' | asset_url | stylesheet_tag }}
{% endif %}

{% style %}
  --topSpacingRatio: {{ section.settings.top_spacing }} / 100;
  --bottomSpacingRatio: {{ section.settings.bottom_spacing }} / 100;
{% endstyle %}


{% comment %} 
  Get these variables:
   featured_media (object)
   variant_images (array)
   media_count (int)
   first_3d_modal (object)

   TODO: What is section.settings.hide_variants below. Create it in schema? Remove it here?
{% endcomment %}
{%- liquid
  assign featured_media = product.selected_or_first_available_variant.featured_media
  assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
  assign media_count = product.media.size
  if section.settings.hide_variants and media_count > 1
    assign media_count = media_count | minus: variant_images.size | plus: 1
  endif
  assign first_3d_model = product.media | where: "media_type", "model" | first
  assign product_form_id = 'Product-Form-' | append: section.id
-%}

{% comment %} Add style sheet that'll apply to 3d model instances? {% endcomment %}
{%- if first_3d_model -%}
  <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
{%- endif -%}

<div class="main-product product {% if template == "product.modal" %}main-modal{% endif %} __theme-{{ section.settings.theme }}">
  
    {% comment %} Product info {% endcomment %}
    <div id="Product-Info-{{ section.id }}" class="main-product__container __offset-{% if section.blocks.first.type == "media" %}left{% elsif section.blocks.last.type == "media" %}right{% else %}none{% endif %}">
      {% comment %} 
        Seems weird but we need to open this container without a closing tag. 
        Either the end of the loop of the media block within the loop will close 
        this div. Goal here is to contain all blocks that are ordered before the media block.
      {% endcomment %}
      <div 
        class="main-product__blocks-before-media"
        style="{% if product.metafields.custom.color %}--color-background: {{ product.metafields.custom.color.value.rgb }}; --color-foreground-text: {{ product.metafields.custom.color.value.rgb }};{% endif %} {% if product.metafields.custom.text_color %} --color-text: {{ product.metafields.custom.text_color.value.rgb }}; --color-foreground: {{ product.metafields.custom.text_color.value.rgb }}; --color-border: {{ product.metafields.custom.text_color.value.rgb }} / .3;{% endif %}"
      > 

      {% comment %} Loop through blocks {% endcomment %}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          

          {% comment %} Type media {% endcomment %}
          {%- when 'media' -%}
            {% comment %}
              Seems weird, but this closes the "blocks-before-media" opening div tag above
              so that all blocks ordered before media are in a container
            {% endcomment %}
            </div>


            <media-gallery class="main-product__media __layout-{{ block.settings.layout }}" id="Product-MediaGallery-{{ section.id }}" data-section="{{ section.id }}">

              {% comment %} Skip to content anchor link {% endcomment %}
              <a class="skip-to-content-link visually-hidden" href="#ProductInfo-{{ section.id }}">
                {{ 'accessibility.skip_to_product_info' | t }}
              </a>

              <ul class="main-product__media__container product-media list-unstyled" role="list">

                {% comment %} If no media exists, output placeholder content? {% endcomment %}
                {%- unless featured_media == null -%}
                  <li class="main-product__media__item" data-media-id="{{ section.id }}-{{ featured_media.id }}">
                    {% render 'product-thumbnail', media: featured_media, loading: 'eager' %}
                  </li>
                {%- endunless -%}

                {% comment %} Loop through available media, excluding featured media item {% endcomment %}
                {% comment %} What does the parent <media-gallery> component do, why do these li's have data-media-id attr on them? {% endcomment %}
                {%- for media in product.media -%}
                  {%- unless media.id == featured_media.id -%}
                    <li class="main-product__media__item" data-media-id="{{ section.id }}-{{ media.id }}">
                      {%- liquid
                        assign media_position = media_position | default: 0 | plus: 1
                        assign loading = 'eager'
                        if media_position > 1
                          assign loading = 'lazy'
                        endif
                        render 'product-thumbnail', media: media, loading: loading
                      -%}
                    </li>
                  {%- endunless -%}
                {%- endfor -%}
              </ul>

              {% if block.settings.layout != "stacked" %}
                <ul class="main-product__media__dots" style="--dotsColumns: {% if product.media.size > 5 %}5{% else %}{{ product.media.size }}{% endif %}; --dotsRows: {{ product.media.size | divided_by: 5.0 | ceil }}">
                  {%- for media in product.media -%}
                    <li class="main-product__media__dots__dot standard-flickity-dot {% if media == product.selected_or_first_available_variant.featured_media %}__active{% endif %}" data-media-dot-id="{{ section.id }}-{{ media.id }}">
                      <span class="visually-hidden">{{ forloop.index }}</span>
                    </li>
                  {%- endfor -%}
                  {% if product.media.size > 1 %}
                    <li class="main-product__media__dots__prev btn classic-arrow prev">
                      <span class="visually-hidden">Previous Slide</span>
                      {% render 'svg-slider-arrow' %}
                    </li>
                    <li class="main-product__media__dots__next btn classic-arrow next">
                      <span class="visually-hidden">Next Slide</span>
                      {% render 'svg-slider-arrow' %}
                    </li>
                  {% endif %}
                </ul>
              {% endif %}
              
            </media-gallery>

            {% comment %}
              Seems weird but we need to open this container without a closing tag. 
              The end of the loop will close this div so that all blocks after media are in a container
            {% endcomment %}
            <div 
              class="main-product__blocks-after-media"
              style="{% if product.metafields.custom.color %}--color-foreground: {{ product.metafields.custom.color.value.rgb }}; {% endif %} {% if product.metafields.custom.text_color %} --color-foreground-text: {{ product.metafields.custom.text_color.value.rgb }};{% endif %}"
            >
            
          {% comment %} Type app {% endcomment %}
          {%- when '@app' -%}
            <div class="app">
              {% render block %}
            </div>

          {% comment %} Type text {% endcomment %}
          {%- when 'text' -%}
            <div class="main-product__block {% if block.settings.include_border %} __border-top {% endif %}">
              <p class="{{ block.settings.text_size }}" {{ block.shopify_attributes }}>
                {{ block.settings.text }}
              </p>
            </div>

          {% comment %} Type title {% endcomment %}
          {%- when 'title' -%}
            {% render 'heading', heading: product.title, alt_heading: block.settings.alt_heading, heading_size: block.settings.heading_size, heading_tag: "h1" %}

          {% comment %} Type price {% endcomment %}
          {%- when 'price' -%}
            {% render 'form-price' product: product, price_size: block.settings.heading_size, form_id: section.id %}

          
          {% comment %} Type variant picker {% endcomment %}
          {%- when 'variant_picker' -%}
            {% render 'variant_picker' product: product, layout: block.settings.layout, include_border: block.settings.include_border, show_option_labels: block.settings.show_option_labels, class: "main-product__block" %}

          {% comment %} Type buy buttons {% endcomment %}
          {%- when 'buy_buttons' -%}
          <div class="main-product__block {% if block.settings.include_border %} __border-top {% endif %}">
            {% render 'product-form' id: product_form_id, product: product, show_quantity: block.settings.show_quantity, include_border: block.settings.include_border, hide_dynamic_buttons: block.settings.hide_dynamic_buttons %}
          </div>

          {% comment %} Type expandable content {% endcomment %}
          {%- when 'expandable' %}
            {% render 'disclosure', title: block.settings.title, id: block.id, text: block.settings.text, page: block.settings.page, open: block.settings.open, article_text: true %}

          {% comment %} Type featured icons {% endcomment %}
          {%- when 'icons' -%}
            {% if product.metafields.custom.featured_icons.value.size > 0 %}
              <div class="main-product__block {% if block.settings.include_border %} __border-top {% endif %}">
                {% if block.settings.title %}
                  <div class="p-sm">{{ block.settings.title }}</div>
                {% endif %}
                {% render 'featured-icons'  icon_1: block.settings.icon_1, icon_1_title: block.settings.icon_1_title, icon_2: block.settings.icon_2, icon_2_title: block.settings.icon_2_title, icon_3: block.settings.icon_3, icon_3_title: block.settings.icon_3_title, product: product, class: "main-product__icons", layout: block.settings.layout, icon_height: block.settings.icon_height %}
              </div>
            {% endif %}

          {% comment %} Type description {% endcomment %}
          {%- when 'description' -%}
            {%- unless product.description == blank -%}
              <div {{ block.shopify_attributes }} class="__article-txt-{{ block.settings.text_size }} {{ block.settings.text_size }}">
                {{ product.description }}
              </div>
            {%- endunless -%}

          {% comment %} Divider / Space {% endcomment %}
          {%- when 'divider' -%}
            <div class="main-product__divider divider-section {% if block.settings.hide_divider %}__hide-divider{% endif %}" style="--dividerSnippetUseTopSpace: {{ block.settings.bottom }}px; --dividerSnippetUseBottomSpace: {{ block.settings.top }}px;"></div>


          {% comment %} Type rating {% endcomment %}
          {%- when 'rating' -%}
            {% render 'product-ratings' product: product %}

          {% comment %} Type pickup availability {% endcomment %}
          {%- when 'pickup_availability' -%}

            {% capture pickup_availability_content %}
              {% comment %}
                Pickup availability block's contents are rendered async to ensure faster Liquid render times, but this may cause a noticeable increase in cumulative layout shift (CLS) if rendered near the top of the page.
                To mitigate CLS, the contents of `pickup-availability.liquid` could alternatively be rendered directly in this Liquid file.
              {% endcomment %}
              <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
              <pickup-availability data-product-variant="{{ product.selected_or_first_available_variant.id }}">
                {% comment %}
                  Error template is rendered if async request for pickup availability fails
                {% endcomment %}
                <template>
                  <p class="message-error">{{ 'products.pickup_availability.error' | t }}</p>
                </template>
              </pickup-availability>  
            {% endcapture %}
            {% capture pickup_availability_id %}pickup-{{ section.id }}-{{ block.id }}{% endcapture %}
            {% render 'disclosure' title: block.settings.title, text: pickup_availability_content, id: pickup_availability_id, class: "main-product__block main-product__pickup-disclosure" %}
          
          {% comment %} Product Recommendations {% endcomment %}
          {%- when 'complementary_products' -%}
            {% assign comp_product_count = product.metafields.shopify--discovery--product_recommendation.complementary_products | split: "," | size %}
            {% if comp_product_count > 0 %}
              <div class="main-product__block main-product__comp-products {% if block.settings.include_border %} __border-top {% endif %}">
                  {% if block.settings.title %}
                    <div class="main-product__comp-products__label p">{{ block.settings.title }}</div>
                  {% endif %}
                  {% for product in product.metafields.shopify--discovery--product_recommendation.complementary_products.value %}
                    {% render 'quick-product' quick_product: product, class: "main-product__comp-products__product", crop: block.settings.crop_shape, img_width: 450, img_widths: '450, 300, 150', img_sizes: '(max-width: 676px) 30vw, 10vw', img_preload: true %}
                  {% endfor %}
              </div>
            {% endif %}
        {%- endcase -%}
      {%- endfor -%}

      {% if template == "product.modal" and settings.quick_add_modal_button_text != blank %}
        {% render 'button' button_label: settings.quick_add_modal_button_text, button_link: product.url, style: "underline", class: "main-product" %}
      {% endif %}

      {% comment %}
        Seems weird, but this closes the "blocks-before-media" or "blocks-after-media" 
        opening div tag above depending on if the media block exists or not. This is
        so that all blocks ordered after media are in a container
      {% endcomment %}
      </div>
    </div>

    {% if template == "product.modal" %}
      <div class="main-modal__close">
        <button class="main-modal__close__btn" type="button" aria-label="{{ 'products.product.close' | t }}">{% render 'svg-exit' %}</button>
      </div>
    {% endif %}
  </div>

  {% comment %} TODO: IE purchase flow fix {% endcomment %}
  {% comment %} TODO: SEO JSON {% endcomment %}
  {%- if first_3d_model -%}
    <script type="application/json" id="Product-JSON-{{ product.id }}">
      {{ product.media | where: 'media_type', 'model' | json }}
    </script>
    <script src="{{ 'product-model.js' | asset_url }}" defer></script>
  {%- endif -%}
</div>

<script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'variant-selects.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    {%- if seo_media -%}
      "image": [
        {{ seo_media | image_url | prepend: "https:" | json }}
      ],
    {%- endif -%}
    "description": {{ product.description | strip_html | json }},
    {%- if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif -%}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ request.origin | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "main-product__wrapper",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "p-sm",
              "label": "Small Text"
            },
            {
              "value": "p",
              "label": "Basic Text"
            },
            {
              "value": "p-lg",
              "label": "Large Text"
            }
          ],
          "default": "p-sm",
          "label": "Text Size"
        },
        {
          "type": "checkbox",
          "id": "include_border",
          "label": "Include border",
          "default": true
        }
      ]
    },
    {
      "type": "expandable",
      "name": "Expandable Content",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Text from a page"
        },
        {
          "type": "checkbox",
          "id": "open",
          "label": "Open"
        }
      ]
    },
    {
      "type": "complementary_products",
      "limit": 1,
      "name": "Complementary Products",
      "settings": [
        {
          "type": "paragraph",
          "content": "This is generated from the complementary products you specify inside the Search and Discovery app. TODO: link with more info"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Title",
          "label": "Title"
        },
        {
          "type": "checkbox",
          "id": "include_border",
          "label": "Include border",
          "default": true
        },
        {
          "type": "select",
          "id": "crop_shape",
          "options": [
            {
              "value": "default",
              "label": "No Crop"
            },
            {
              "value": "square",
              "label": "Square"
            },
            {
              "value": "rounded-square",
              "label": "Rounded Square"
            },
            {
              "value": "circle",
              "label": "Circle"
            },
            {
              "value": "portrait",
              "label": "Portrait"
            },
            {
              "value": "rounded-portrait",
              "label": "Rounded Portrait"
            },
            {
              "value": "semicircle-portrait",
              "label": "Semicircle Portrait"
            },
            {
              "value": "landscape",
              "label": "Landscape"
            },
            {
              "value": "rounded-landscape",
              "label": "Rounded Landscape"
            },
            {
              "value": "semicircle-landscape",
              "label": "Semicircle Landscape"
            },
            {
              "value": "arch",
              "label": "Semicircle Arch"
            }
          ],
          "default": "square",
          "label": "Product Image Crop Shape"
        }
      ]
    },
    {
      "type": "icons",
      "limit": 1,
      "name": "Featured Icons",
      "settings": [
        {
          "type": "paragraph",
          "content": "This are generated from the featured icons product metafield. Learn More TODO: link this to a description. You can add additional featured icons below."
        },
        {
          "type": "select",
          "id": "icon_1",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "briefcase",
              "label": "Briefcase"
            },
            {
              "value": "calendar",
              "label": "Calendar"
            },
            {
              "value": "chat_bubble",
              "label": "Chat bubble"
            },
            {
              "value": "check_mark",
              "label": "Check mark"
            },
            {
              "value": "clock",
              "label": "Clock"
            },
            {
              "value": "credit_card",
              "label": "Credit card"
            },
            {
              "value": "dollar_sign",
              "label": "Dollar sign"
            },
            {
              "value": "dryer",
              "label": "Dryer"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "feather",
              "label": "Feather"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "iron",
              "label": "Iron"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "leather",
              "label": "Leather"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map_pin",
              "label": "Map pin"
            },
            {
              "value": "pants",
              "label": "Pants"
            },
            {
              "value": "percent",
              "label": "Percent"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "price_tag",
              "label": "Price tag"
            },
            {
              "value": "question_mark",
              "label": "Question mark"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "scissors",
              "label": "Scissors"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shoe",
              "label": "Shoe"
            },
            {
              "value": "silhouette",
              "label": "Silhouette"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "washing",
              "label": "Washing"
            }
          ],
          "default": "none",
          "label": "Icon 1"
        },
        {
          "type": "text",
          "id": "icon_1_title",
          "label": "Icon 1 Title"
        },
        {
          "type": "select",
          "id": "icon_2",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "briefcase",
              "label": "Briefcase"
            },
            {
              "value": "calendar",
              "label": "Calendar"
            },
            {
              "value": "chat_bubble",
              "label": "Chat bubble"
            },
            {
              "value": "check_mark",
              "label": "Check mark"
            },
            {
              "value": "clock",
              "label": "Clock"
            },
            {
              "value": "credit_card",
              "label": "Credit card"
            },
            {
              "value": "dollar_sign",
              "label": "Dollar sign"
            },
            {
              "value": "dryer",
              "label": "Dryer"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "feather",
              "label": "Feather"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "iron",
              "label": "Iron"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "leather",
              "label": "Leather"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map_pin",
              "label": "Map pin"
            },
            {
              "value": "pants",
              "label": "Pants"
            },
            {
              "value": "percent",
              "label": "Percent"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "price_tag",
              "label": "Price tag"
            },
            {
              "value": "question_mark",
              "label": "Question mark"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "scissors",
              "label": "Scissors"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shoe",
              "label": "Shoe"
            },
            {
              "value": "silhouette",
              "label": "Silhouette"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "washing",
              "label": "Washing"
            }
          ],
          "default": "none",
          "label": "Icon 2"
        },
        {
          "type": "text",
          "id": "icon_2_title",
          "label": "Icon 3 Title"
        },
        {
          "type": "select",
          "id": "icon_3",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "briefcase",
              "label": "Briefcase"
            },
            {
              "value": "calendar",
              "label": "Calendar"
            },
            {
              "value": "chat_bubble",
              "label": "Chat bubble"
            },
            {
              "value": "check_mark",
              "label": "Check mark"
            },
            {
              "value": "clock",
              "label": "Clock"
            },
            {
              "value": "credit_card",
              "label": "Credit card"
            },
            {
              "value": "dollar_sign",
              "label": "Dollar sign"
            },
            {
              "value": "dryer",
              "label": "Dryer"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "feather",
              "label": "Feather"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "iron",
              "label": "Iron"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "leather",
              "label": "Leather"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map_pin",
              "label": "Map pin"
            },
            {
              "value": "pants",
              "label": "Pants"
            },
            {
              "value": "percent",
              "label": "Percent"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "price_tag",
              "label": "Price tag"
            },
            {
              "value": "question_mark",
              "label": "Question mark"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "scissors",
              "label": "Scissors"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shoe",
              "label": "Shoe"
            },
            {
              "value": "silhouette",
              "label": "Silhouette"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "washing",
              "label": "Washing"
            }
          ],
          "default": "none",
          "label": "Icon 3"
        },
        {
          "type": "text",
          "id": "icon_3_title",
          "label": "Icon 3 Title"
        },
        {
          "type": "range",
          "id": "icon_height",
          "min": 20,
          "max": 100,
          "step": 10,
          "unit": "px",
          "label": "Icon Height",
          "default": 40
        },
        {
          "type": "text",
          "id": "title",
          "default": "Title",
          "label": "Title"
        },
        {
          "type": "radio",
          "id": "layout",
          "label": "Layout",
          "options": [
            {
              "value": "stacked",
              "label": "Stacked"
            },
            {
              "value": "row",
              "label": "Row"
            },
            {
              "value": "icon-only",
              "label": "Icon Only"
            }
          ],
          "default": "stacked"
        },
        {
          "type": "checkbox",
          "id": "include_border",
          "label": "Include border",
          "default": true
        }
      ]
    },
    {
      "type": "media",
      "name": "media",
      "limit": 1,
      "settings": [
        {
          "type": "radio",
          "id": "layout",
          "label": "Layout",
          "options": [
            {
              "value": "stacked",
              "label": "Stacked"
            },
            {
              "value": "slideshow",
              "label": "Slideshow"
            }
          ],
          "default": "stacked"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h1",
              "label": "X-Large"
            },
            {
              "value": "h2",
              "label": "Large"
            },
            {
              "value": "h3",
              "label": "Medium"
            },
            {
              "value": "h4",
              "label": "Small"
            }
          ],
          "default": "h2",
          "label": "Heading Size"
        },
        {
          "type": "checkbox",
          "id": "alt_heading",
          "label": "Use body font instead of heading font for heading"
        }
      ]
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1,
      "settings": [
          {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                  "value": "h5",
                  "label": "X-Large"
              },
              {
                  "value": "h6",
                  "label": "Large"
              },
              {
                  "value": "p",
                  "label": "Medium"
              },
              {
                  "value": "p-sm",
                  "label": "Small"
              }
            ],
            "default": "h6",
            "label": "Heading Size"
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "radio",
          "id": "layout",
          "label": "Layout",
          "options": [
            {
              "value": "dropdown",
              "label": "Dropdown"
            },
            {
              "value": "buttons",
              "label": "Buttons"
            }
          ],
          "default": "buttons"
        },
        {
          "type": "checkbox",
          "id": "show_option_labels",
          "label": "Show option labels and option descriptions",
          "info": "Option descriptions can be added using metafields TODO: link",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "include_border",
          "label": "Include border",
          "default": true
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons/quanity",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_quantity",
          "label": "Show quantity selector",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "hide_dynamic_buttons",
          "label": "Hide dynamic checkout buttons",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "include_border",
          "label": "Include border",
          "default": true
        }
      ]
    },
    {
      "type": "divider",
      "name": "Divider/Space",
      "settings": [
        {
          "type": "range",
          "id": "top",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "px",
          "label": "Top Spacing",
          "default": 50
        },
        {
          "type": "range",
          "id": "bottom",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "px",
          "label": "Bottom Spacing",
          "default": 50
        },
        {
          "type": "checkbox",
          "id": "hide_divider",
          "label": "Hide divider",
          "default": false
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "p-sm",
              "label": "Small Text"
            },
            {
              "value": "p",
              "label": "Basic Text"
            },
            {
              "value": "p-lg",
              "label": "Large Text"
            }
          ],
          "default": "p-sm",
          "label": "Text Size"
        }
      ]
    },
    {
      "type": "rating",
      "name": "t:sections.main-product.blocks.rating.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.rating.settings.paragraph.content"
        }
      ]
    },
    {
      "type": "pickup_availability",
      "name": "Pickup availability",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Pickup Availability",
          "label": "Title"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ],
      "default": "primary",
      "label": "Theme",
      "info": "Theme"
    }
  ]
}
{% endschema %}