{% style %}
  #Main-page-{{ section.id }} {
    --topSpacingRatio: {{ section.settings.top_spacing }} / 100;
    --bottomSpacingRatio: {{ section.settings.bottom_spacing }} / 100;
  }
{% endstyle %}

<div id="Main-page-{{ section.id }}" class="main-page __theme-{{ section.settings.theme }}">
  {% render 'heading', heading: page.title, heading_tag: 'h1' %}
  {% if page.content != blank %}
    <div class="__article-txt">{{ page.content }}</div>
  {% endif %}
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "settings": [
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.main-page.settings.top_spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.main-page.settings.bottom_spacing",
      "default": 50
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.main-page.settings.theme.options.label_1"
        },
        {
          "value": "2",
          "label": "t:sections.main-page.settings.theme.options.label_2"
        },
        {
          "value": "3",
          "label": "t:sections.main-page.settings.theme.options.label_3"
        },
        {
          "value": "4",
          "label": "t:sections.main-page.settings.theme.options.label_4"
        },
        {
          "value": "5",
          "label": "t:sections.main-page.settings.theme.options.label_5"
        }
      ],
      "default": "primary",
      "label": "t:sections.main-page.settings.theme.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.main-page.presets.name"
    }
  ]
}
{% endschema %}
