{{ 'main-collection-grid.css' | asset_url | stylesheet_tag }}
{{ 'product-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'disclosure.css' | asset_url | stylesheet_tag }}

{% style %}
  #Main-collection-grid-{{ section.id }} {
    --topSpacingRatio: {{ section.settings.top_spacing }} / 100;
    --bottomSpacingRatio: {{ section.settings.bottom_spacing }} / 100;
    --gridItemHeight: 1;
    --gridItemWidth: 1;
  }
{% endstyle %}

{%- paginate collection.products by section.settings.pagination_count -%}
  <div
    id="Main-collection-grid-{{ section.id }}"
    class="main-collection-grid __theme-{{ section.settings.theme }} {% if section.settings.show_bg_color == true %}__mobile-fw{% endif %}"
  >
    {% if collection.products.size > 0 and collection.filters.size > 0 %}
      {% comment %} Filter and sort {% endcomment %}
      {% render 'filter-and-sort', results: collection %}

      {% comment %} No products found in general or with current filters applied {% endcomment %}
      {%- if collection.products.size == 0 -%}
        <p class="__article-txt __align-center">
          {{ 'products.facets.use_fewer_filters_html' | t: link: collection.url }}
        </p>

        {% comment %} Product grid {% endcomment %}
      {%- else -%}
        <ul class="main-collection-grid__container list-unstyled" role="list">
          {%- for product in collection.products -%}
            {% assign preload = false %}
            {% if forloop.index0 < 3 %}
              {% assign preload = true %}
            {% endif %}

            <li style="order: {{ forloop.index }};">
              {% render 'product-card' this_product: product, class: "main-collection-grid__grid-item", show_bg_color: section.settings.show_bg_color, quick_add: section.settings.quick_add, crop: section.settings.crop_shape, show_phrase: section.settings.show_phrase, alignment: section.settings.product_text_alignment, section.settings.show_description: section.settings.show_description, price_position: section.settings.price, alt_heading: section.settings.alt_title, img_width: 1280, img_widths: '1280, 900, 700, 500', img_sizes: '(max-width: 676px) 100vw, (max-width: 1024px) 45vw, 25vw', img_preload: preload %}
            </li>
          {%- endfor -%}

          {% if paginate.current_page == 1 %}
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'promotion' %}
                  {% liquid
                    if block.settings.link != blank
                      assign promotion_tag = 'a'
                    else
                      assign promotion_tag = 'div'
                    endif
                    if block.settings.width == 1
                      assign img_width = 1360
                      assign img_widths = '1360, 900, 700, 500'
                      assign img_sizes = '(max-width: 676px) 100vw, (max-width: 1024px) 45vw, 25vw'
                    elsif block.settings.width == 2
                      assign img_width = 1850
                      assign img_widths = '1850, 1400, 1000, 700'
                      assign img_sizes = '(max-width: 676px) 100vw, (max-width: 1024px) 95vw, 55vw'
                    else
                      assign img_width = 2620
                      assign img_widths = '2620, 2000, 1400, 1000, 700'
                      assign img_sizes = '(max-width: 676px) 100vw, (max-width: 1024px) 95vw, 80vw'
                    endif
                    if block.settings.position < 3
                      assign img_preload = true
                    endif
                  %}

                  <li
                    style="order: {{ block.settings.position }}; --overlayOpacity: {{ block.settings.overlay }}%; --gridItemWidth: {{ block.settings.width }}; --gridItemHeight: {{ block.settings.height }}; --mobileMinHeight: {{ block.settings.mobile_min_height }}px;"
                    class="main-collection-grid__grid-item __theme-{{ block.settings.overlay_theme }}"
                  >
                    <{{ promotion_tag }}
                      href="{{ block.settings.link }}"
                      class="main-collection-grid__block image-container __crop-{{ block.settings.image_corners }}"
                    >
                      {% render 'heading',
                        class: 'main-collection-grid__block',
                        heading: block.settings.heading,
                        heading_size: block.settings.heading_size,
                        alt_heading: block.settings.alt_heading
                      %}
                      <div class="__article-txt-{{ block.settings.text_size }}">
                        {{ block.settings.text }}
                      </div>

                      {% if block.settings.image %}
                        {% render 'next-gen-img',
                          image: block.settings.image,
                          width: img_width,
                          widths: img_widths,
                          sizes: img_sizes,
                          preload: img_preload
                        %}
                      {% endif %}
                    </{{ promotion_tag }}>
                  </li>
              {% endcase %}
            {% endfor %}
          {% endif %}
        </ul>
      {% endif %}

    {% else %}
      <p class="__article-txt __align-center">
        {{ 'products.facets.no_products' | t: link: collection.url }}
      </p>
    {% endif %}

    {% comment %} Pagination {% endcomment %}
    {% render 'pagination', paginate: paginate %}
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-collection-grid.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-collection-grid.settings.header.content"
    },
    {
      "type": "range",
      "id": "pagination_count",
      "min": 4,
      "max": 24,
      "step": 1,
      "label": "t:sections.main-collection-grid.settings.pagination_count.label",
      "default": 12
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-grid.settings.header_2.content"
    },
    {
      "type": "checkbox",
      "id": "show_phrase",
      "label": "t:sections.main-collection-grid.settings.pagination_count.label"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "t:sections.main-collection-grid.settings.show_description.label"
    },
    {
      "type": "checkbox",
      "id": "quick_add",
      "label": "t:sections.main-collection-grid.settings.quick_add.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_bg_color",
      "label": "t:sections.main-collection-grid.settings.show_bg_color.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "alt_title",
      "label": "t:sections.main-collection-grid.settings.alt_title.label"
    },
    {
      "type": "select",
      "id": "product_text_alignment",
      "options": [
        {
          "value": "default",
          "label": "t:sections.main-collection-grid.settings.product_text_alignment.options.label_1"
        },
        {
          "value": "center",
          "label": "t:sections.main-collection-grid.settings.product_text_alignment.options.label_2"
        },
        {
          "value": "right",
          "label": "t:sections.main-collection-grid.settings.product_text_alignment.options.label_3"
        }
      ],
      "default": "default",
      "label": "t:sections.main-collection-grid.settings.product_text_alignment.label"
    },
    {
      "type": "select",
      "id": "price",
      "options": [
        {
          "value": "default",
          "label": "t:sections.main-collection-grid.settings.price.options.label_1"
        },
        {
          "value": "bottom",
          "label": "t:sections.main-collection-grid.settings.price.options.label_2"
        },
        {
          "value": "not-visible",
          "label": "t:sections.main-collection-grid.settings.price.options.label_3"
        }
      ],
      "default": "default",
      "label": "t:sections.main-collection-grid.settings.price.label"
    },
    {
      "type": "select",
      "id": "crop_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.main-collection-grid.settings.crop_shape.options.label_1"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-grid.settings.crop_shape.options.label_2"
        },
        {
          "value": "rounded-square",
          "label": "t:sections.main-collection-grid.settings.crop_shape.options.label_3"
        },
        {
          "value": "circle",
          "label": "t:sections.main-collection-grid.settings.crop_shape.options.label_4"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-grid.settings.crop_shape.options.label_5"
        },
        {
          "value": "rounded-portrait",
          "label": "t:sections.main-collection-grid.settings.crop_shape.options.label_6"
        },
        {
          "value": "semicircle-portrait",
          "label": "t:sections.main-collection-grid.settings.crop_shape.options.label_7"
        },
        {
          "value": "landscape",
          "label": "t:sections.main-collection-grid.settings.crop_shape.options.label_8"
        },
        {
          "value": "rounded-landscape",
          "label": "t:sections.main-collection-grid.settings.crop_shape.options.label_9"
        },
        {
          "value": "semicircle-landscape",
          "label": "t:sections.main-collection-grid.settings.crop_shape.options.label_10"
        },
        {
          "value": "arch",
          "label": "t:sections.main-collection-grid.settings.crop_shape.options.label_11"
        }
      ],
      "default": "default",
      "label": "t:sections.main-collection-grid.settings.crop_shape.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-grid.settings.header_3.content"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.main-collection-grid.settings.theme.options.label_1"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-grid.settings.theme.options.label_2"
        },
        {
          "value": "3",
          "label": "t:sections.main-collection-grid.settings.theme.options.label_3"
        },
        {
          "value": "4",
          "label": "t:sections.main-collection-grid.settings.theme.options.label_4"
        },
        {
          "value": "5",
          "label": "t:sections.main-collection-grid.settings.theme.options.label_5"
        }
      ],
      "default": "primary",
      "label": "t:sections.main-collection-grid.settings.theme.label"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.main-collection-grid.settings.top_spacing.label",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.main-collection-grid.settings.bottom_spacing.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "promotion",
      "name": "t:sections.main-collection-grid.blocks.promotion.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.main-collection-grid.blocks.promotion.settings.header.content"
        },
        {
          "type": "range",
          "id": "position",
          "min": 0,
          "max": 13,
          "step": 1,
          "label": "t:sections.main-collection-grid.blocks.promotion.settings.position.label",
          "default": 4
        },
        {
          "type": "range",
          "id": "width",
          "min": 1,
          "max": 3,
          "step": 1,
          "label": "t:sections.main-collection-grid.blocks.promotion.settings.width.label",
          "default": 1
        },
        {
          "type": "range",
          "id": "height",
          "min": 1,
          "max": 3,
          "step": 1,
          "label": "t:sections.main-collection-grid.blocks.promotion.settings.height.label",
          "default": 1
        },
        {
          "type": "range",
          "id": "mobile_min_height",
          "min": 0,
          "max": 600,
          "step": 50,
          "unit": "px",
          "label": "t:sections.main-collection-grid.blocks.promotion.settings.mobile_min_height.label",
          "default": 450
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.main-collection-grid.blocks.promotion.settings.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.main-collection-grid.blocks.promotion.settings.header_2.content"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Promotion Heading",
          "label": "t:sections.main-collection-grid.blocks.promotion.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.main-collection-grid.blocks.promotion.settings.heading_size.options.label_1"
            },
            {
              "value": "h4",
              "label": "t:sections.main-collection-grid.blocks.promotion.settings.heading_size.options.label_2"
            },
            {
              "value": "h5",
              "label": "t:sections.main-collection-grid.blocks.promotion.settings.heading_size.options.label_3"
            },
            {
              "value": "h6",
              "label": "t:sections.main-collection-grid.blocks.promotion.settings.heading_size.options.label_4"
            }
          ],
          "default": "h4",
          "label": "t:sections.main-collection-grid.blocks.promotion.settings.heading_size.label"
        },
        {
          "type": "checkbox",
          "id": "alt_heading",
          "label": "t:sections.main-collection-grid.blocks.promotion.settings.alt_heading.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.main-collection-grid.blocks.promotion.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "p-sm",
              "label": "t:sections.main-collection-grid.blocks.promotion.settings.text_size.options.label_1"
            },
            {
              "value": "p",
              "label": "t:sections.main-collection-grid.blocks.promotion.settings.text_size.options.label_2"
            },
            {
              "value": "p-lg",
              "label": "t:sections.main-collection-grid.blocks.promotion.settings.text_size.options.label_3"
            }
          ],
          "default": "p",
          "label": "t:sections.main-collection-grid.blocks.promotion.settings.text_size.label"
        },
        {
          "type": "header",
          "content": "t:sections.main-collection-grid.blocks.promotion.settings.header_3.content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.main-collection-grid.blocks.promotion.settings.image.label"
        },
        {
          "type": "range",
          "id": "overlay",
          "label": "t:sections.main-collection-grid.blocks.promotion.settings.overlay.label",
          "info": "t:sections.main-collection-grid.blocks.promotion.settings.overlay.info",
          "min": 0,
          "max": 70,
          "step": 10,
          "unit": "%",
          "default": 50
        },
        {
          "type": "select",
          "id": "overlay_theme",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.main-collection-grid.blocks.promotion.settings.overlay_theme.options.label_1"
            },
            {
              "value": "2",
              "label": "t:sections.main-collection-grid.blocks.promotion.settings.overlay_theme.options.label_2"
            },
            {
              "value": "3",
              "label": "t:sections.main-collection-grid.blocks.promotion.settings.overlay_theme.options.label_3"
            },
            {
              "value": "4",
              "label": "t:sections.main-collection-grid.blocks.promotion.settings.overlay_theme.options.label_4"
            },
            {
              "value": "5",
              "label": "t:sections.main-collection-grid.blocks.promotion.settings.overlay_theme.options.label_5"
            }
          ],
          "default": "primary",
          "label": "t:sections.main-collection-grid.blocks.promotion.settings.overlay_theme.label"
        },
        {
          "type": "select",
          "id": "image_corners",
          "options": [
            {
              "value": "default",
              "label": "t:sections.main-collection-grid.blocks.promotion.settings.image_corners.options.label_1"
            },
            {
              "value": "rounded",
              "label": "t:sections.main-collection-grid.blocks.promotion.settings.image_corners.options.label_2"
            },
            {
              "value": "semicircle",
              "label": "t:sections.main-collection-grid.blocks.promotion.settings.image_corners.options.label_3"
            }
          ],
          "default": "default",
          "label": "t:sections.main-collection-grid.blocks.promotion.settings.image_corners.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.main-collection-grid.presets.name"
    }
  ]
}
{% endschema %}
