<div class="main-account __theme-primary">
  <div class="main-account__sidebar">
    
    <h1>{{ 'customer.account.title' | t }}</h1>
    <a href="{{ routes.account_logout_url }}">
      {{- 'customer.log_out' | t -}}
    </a>

    <h2>{{ 'customer.account.name' | t }}</h2>
    <p>{{ customer.name }}</p>


    <h2>{{ 'customer.account.email' | t }}</h2>
    <p>{{ customer.email }}</p>

    <h2>{{ 'customer.account.default_address' | t }}</h2>
    {{ customer.default_address | format_address }}
    <a href="{{ routes.account_addresses_url }}">
      {{- 'customer.account.view_addresses' | t: count: customer.addresses_count -}}
    </a>

    <h2>{{ 'customer.account.password' | t }}</h2>
    <a href="{{ routes.account_login_url }}#recover">
      {{- 'customer.account.reset_password' | t -}}
    </a>
  </div>

  <div class="main-account__orders">
    <h2 class="p-lg">{{ 'customer.orders.title' | t }}</h2>
    
    {% paginate customer.orders by 1 %}
      {%- if customer.orders.size > 0 -%}
            <table role="table" class="main-account__table">
              <thead role="rowgroup" class="main-account__table__head">
                <tr role="row">
                  <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                  <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                  <th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</th>
                  <th id="ColumnFulfillment" scope="col" role="columnheader">
                    {{- 'customer.orders.fulfillment_status' | t -}}
                  </th>
                  <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
                  <th id="ColumnDetails" scope="col" role="columnheader">{{ 'customer.orders.details' | t }}</th>
                </tr>
              </thead>
              <tbody class="main-account__table__body">
                {%- for order in customer.orders -%}
                  <tr role="row" class="main-account__orders__order p-sm">
                    <td
                      id="RowOrder"
                      role="cell"
                      headers="ColumnOrder"
                    >
                      <a
                        href="{{ order.customer_url }}"
                        aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                      >
                        {{- order.name -}}
                      </a>
                    </td>
                    <td headers="RowOrder ColumnDate" role="cell">
                      {{- order.created_at | time_tag: format: 'date' -}}
                    </td>
                    <td
                      headers="RowOrder ColumnPayment"
                      role="cell"
                    >
                      {{- order.financial_status_label -}}
                    </td>
                    <td
                      headers="RowOrder ColumnFulfillment"
                      role="cell"
                    >
                      {{- order.fulfillment_status_label -}}
                    </td>
                    <td headers="RowOrder ColumnTotal" role="cell">
                      {{- order.total_price | money_with_currency -}}
                    </td>
                    <td headers="RowOrder ColumnDetails" role="cell">
                      <a href="{{ order.url }}">{{ 'customer.orders.details_link' | t }}</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {%- if paginate.pages > 1 -%}
            {%- if paginate.parts.size > 0 -%}
              <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                <ul>
                  {%- if paginate.previous -%}
                    <li>
                      <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}"><
                      </a>
                    </li>
                  {%- endif -%}

                  {%- for part in paginate.parts -%}
                    <li>
                      {%- if part.is_link -%}
                        <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                          {{- part.title -}}
                        </a>
                      {%- else -%}
                        {%- if part.title == paginate.current_page -%}
                          <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                            {{- part.title -}}
                          </span>
                        {%- else -%}
                          <span>{{- part.title -}}</span>
                        {%- endif -%}
                      {%- endif -%}
                    </li>
                  {%- endfor -%}

                  {%- if paginate.next -%}
                    <li>
                      <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">>
                      </a>
                    </li>
                  {%- endif -%}
                </ul>
              </nav>
            {%- endif -%}
          {%- endif -%}
      {% else %}
        <p>{{ 'customer.orders.none' | t }}</p>
      {% endif %}
    {% endpaginate %}
   </div>
</div>

{% schema %}
{
  "name": "t:sections.main-account.name",
  "tag": "section",
  "settings": [

  ]
}
{% endschema %}
