{{ 'main-search.css' | asset_url | stylesheet_tag }}
{{ 'article-card.css' | asset_url | stylesheet_tag }}
{{ 'content-card.css' | asset_url | stylesheet_tag }}
{{ 'product-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'disclosure.css' | asset_url | stylesheet_tag }}

{% liquid
  assign title = 'general.search.search' | t
  assign alt_title = section.settings.alt_title
  assign alignment = section.settings.alignment
  assign price = section.settings.price
  assign crop_shape = section.settings.crop_shape
  assign quick_add = section.settings.quick_add
  assign show_description = section.settings.show_description
%}

{% style %}
  #Main-search-{{ section.id }} {
    --topSpacingRatio: {{ section.settings.top_spacing }} / 100;
    --bottomSpacingRatio: {{ section.settings.bottom_spacing }} / 100;
  }
{% endstyle %}

<div id="Main-search-{{ section.id }}" class="main-search __theme-{{ section.settings.theme }}">
  {% comment %} Heading {% endcomment %}
  {% render 'heading', class: 'main-search', heading: title, heading_tag: 'h1', heading_size: 'h2' %}

  {% comment %} Search Form {% endcomment %}
  <form action="{{ routes.search_url }}" method="get" role="search" class="main-search__form">
    <label for="Search">{{ 'general.search.search' | t }}</label>
    <input
      id="Search"
      type="search"
      name="q"
      value="{{ search.terms }}"
    >
    <input name="options[prefix]" type="hidden" value="{{ 'general.search.last' | t }}">
    <button aria-label="{{ 'general.search.search' | t }}">{% render 'svg-slider-arrow' %}</button>
  </form>

  {% comment %} No results and no filters {% endcomment %}
  {% if search.results == empty and search.filters == empty %}
    <div class="main-search__container">
      {% if search.performed %}
        <p class="p-lg">{{ 'general.search.no_results' | t }}</p>
      {% else %}
        <p class="p-lg">{{ 'general.search.no_terms' | t }}</p>
      {% endif %}
    </div>

    {% comment %} No results, but filters applied {% endcomment %}
  {% elsif search.results.size == 0 and search.filters != empty %}
    <div class="main-search__container">
      {%- liquid
        assign sort_by = search.sort_by | default: search.default_sort_by
        assign terms = search.terms | escape
        assign search_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
      -%}

      <p class="p-lg">{{ 'products.facets.use_fewer_filters_html' | t: link: search_url }}</p>

      {% render 'filter-and-sort', results: search %}
    </div>

    {% comment %} The results {% endcomment %}
  {% else %}
    {% render 'filter-and-sort', results: search %}

    {% if search.performed %}
      <h2 class="main-search__size p">
        {{ 'general.search.results' | t: terms: search.terms, count: search.results_count }}
      </h2>
    {% endif %}

    {%- paginate search.results by 8 -%}
      <ul class="main-search__results list-unstyled" role="list">
        {%- for item in search.results -%}
          <li style="--searchType:'{{ item.object_type | capitalize }}'">
            {% liquid
              assign preload = false
              if forloop.index0 < 3
                assign preload = true
              endif

              case item.object_type
                when 'product'
                  render 'product-card', product: item, price_position: price, crop: crop_shape, alignment: alignment, alt_heading: alt_title, show_description: show_description, quick_add: quick_add, img_width: 1280, img_widths: '1280, 900, 700, 500', img_sizes: '(max-width: 676px) 100vw, (max-width: 1024px) 45vw, 25vw', img_preload: preload
                when 'article'
                  render 'article-card', article: item, crop: crop_shape, alignment: alignment, alt_heading: alt_title, show_description: show_description, img_width: 1280, img_widths: '1280, 900, 700, 500', img_sizes: '(max-width: 676px) 100vw, (max-width: 1024px) 45vw, 25vw', img_preload: preload
                when 'page'
                  assign text = item.content | strip_html | truncatewords: 20 | prepend: '</p><p class="p-sm">' | prepend: item.title | prepend: '<p class="p-lg">' | append: '</p>'
                  render 'content-card', heading: item.title, heading_size: 'h2', text: text, overlap: true, crop_shape: crop_shape, alignment: alignment, button_link: item.url
              endcase
            %}
          </li>
        {%- endfor -%}
      </ul>

      {% render 'pagination', paginate: paginate %}
    {%- endpaginate -%}
  {% endif %}
</div>

{% schema %}
{
  "name": "t:sections.main-search.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-search.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "t:sections.main-search.settings.show_description.label"
    },
    {
      "type": "checkbox",
      "id": "quick_add",
      "label": "t:sections.main-search.settings.quick_add.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "alt_title",
      "label": "t:sections.main-search.settings.alt_title.label"
    },
    {
      "type": "select",
      "id": "alignment",
      "options": [
        {
          "value": "default",
          "label": "t:sections.main-search.settings.alignment.options.label_1"
        },
        {
          "value": "center",
          "label": "t:sections.main-search.settings.alignment.options.label_2"
        },
        {
          "value": "right",
          "label": "t:sections.main-search.settings.alignment.options.label_3"
        }
      ],
      "default": "default",
      "label": "t:sections.main-search.settings.alignment.label"
    },
    {
      "type": "select",
      "id": "price",
      "options": [
        {
          "value": "default",
          "label": "t:sections.main-search.settings.price.options.label_1"
        },
        {
          "value": "bottom",
          "label": "t:sections.main-search.settings.price.options.label_2"
        },
        {
          "value": "not-visible",
          "label": "t:sections.main-search.settings.price.options.label_3"
        }
      ],
      "default": "default",
      "label": "t:sections.main-search.settings.price.label"
    },
    {
      "type": "select",
      "id": "crop_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.main-search.settings.crop_shape.options.label_1"
        },
        {
          "value": "square",
          "label": "t:sections.main-search.settings.crop_shape.options.label_2"
        },
        {
          "value": "rounded-square",
          "label": "t:sections.main-search.settings.crop_shape.options.label_3"
        },
        {
          "value": "circle",
          "label": "t:sections.main-search.settings.crop_shape.options.label_4"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-search.settings.crop_shape.options.label_5"
        },
        {
          "value": "rounded-portrait",
          "label": "t:sections.main-search.settings.crop_shape.options.label_6"
        },
        {
          "value": "semicircle-portrait",
          "label": "t:sections.main-search.settings.crop_shape.options.label_7"
        },
        {
          "value": "landscape",
          "label": "t:sections.main-search.settings.crop_shape.options.label_8"
        },
        {
          "value": "rounded-landscape",
          "label": "t:sections.main-search.settings.crop_shape.options.label_9"
        },
        {
          "value": "semicircle-landscape",
          "label": "t:sections.main-search.settings.crop_shape.options.label_10"
        },
        {
          "value": "arch",
          "label": "t:sections.main-search.settings.crop_shape.options.label_11"
        }
      ],
      "default": "default",
      "label": "t:sections.main-search.settings.crop_shape.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header_2.content"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.main-search.settings.theme.options.label_1"
        },
        {
          "value": "2",
          "label": "t:sections.main-search.settings.theme.options.label_2"
        },
        {
          "value": "3",
          "label": "t:sections.main-search.settings.theme.options.label_3"
        },
        {
          "value": "4",
          "label": "t:sections.main-search.settings.theme.options.label_4"
        },
        {
          "value": "5",
          "label": "t:sections.main-search.settings.theme.options.label_5"
        }
      ],
      "default": "primary",
      "label": "t:sections.main-search.settings.theme.label"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.main-search.settings.top_spacing.label",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.main-search.settings.bottom_spacing.label",
      "default": 50
    }
  ]
}
{% endschema %}
