{{ 'main-list-collections.css' | asset_url | stylesheet_tag }}
{{ 'collection-teaser-row.css' | asset_url | stylesheet_tag }}

{% style %}
  #Main-list-collections-{{ section.id }} {
    --topSpacingRatio: {{ section.settings.top_spacing }} / 100;
    --bottomSpacingRatio: {{ section.settings.bottom_spacing }} / 100;
  }
{% endstyle %}

<div id="Main-list-collections-{{ section.id }}" class="main-list-collections __theme-{{ section.settings.theme }}">
  {%- paginate collections by section.settings.collections_per_page -%}
    <ol class="list-unstyled" role="list">
      {% comment %} Loop through all collections {% endcomment %}
      {%- for collection in collections -%}
        {% assign preload = false %}
        {% if forloop.index0 == 0 %}
          {% assign preload = true %}
        {% endif %}
        <li>
          {% render 'collection-teaser-row' collection: collection, display_collection_image: section.settings.display_collection_image, enable_sticky_details: section.settings.enable_sticky_details, collection_image_crop_shape: section.settings.collection_image_crop_shape, alt_heading: section.settings.alt_heading, heading_size: section.settings.heading_size, description_size: section.settings.text_size, display_featured_icons: section.settings.display_featured_icons, enable_icons_marquee: section.settings.enable_icons_marquee, layout: section.settings.layout, icon_height: section.settings.icon_height, display_featured_stats: section.settings.display_featured_stats, stats_color: section.settings.stats_color, view_all_button_label: section.settings.view_all_button_label, show_bg_color: section.settings.show_bg_color, quick_add: section.settings.quick_add, crop: section.settings.crop_shape, show_phrase: section.settings.show_phrase, alignment: section.settings.product_text_alignment, section.settings.show_description: section.settings.show_description, price_position: section.settings.price, alt_title: section.settings.alt_title, products_per_collection: section.settings.products_per_collection, marquee_speed: section.settings.speed, img_preload: preload %}
        </li>
      {%- endfor -%}
    </ol>

    {% comment %} Pagination {% endcomment %}
    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  {%- endpaginate -%}
</div>
{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-list-collections.settings.header.content"
    },
    {
      "type": "range",
      "id": "collections_per_page",
      "default": 4,
      "min": 1,
      "max": 12,
      "step": 1,
      "label": "t:sections.main-list-collections.settings.collections_per_page.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-list-collections.settings.header_2.content"
    },
    {
      "type": "range",
      "id": "products_per_collection",
      "default": 2,
      "min": 2,
      "max": 12,
      "step": 1,
      "label": "t:sections.main-list-collections.settings.products_per_collection.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.main-list-collections.settings.heading_size.options.label_1"
        },
        {
          "value": "h4",
          "label": "t:sections.main-list-collections.settings.heading_size.options.label_2"
        },
        {
          "value": "h5",
          "label": "t:sections.main-list-collections.settings.heading_size.options.label_3"
        },
        {
          "value": "h6",
          "label": "t:sections.main-list-collections.settings.heading_size.options.label_4"
        }
      ],
      "default": "h4",
      "label": "t:sections.main-list-collections.settings.heading_size.label"
    },
    {
      "type": "checkbox",
      "id": "alt_heading",
      "label": "t:sections.main-list-collections.settings.alt_heading.label"
    },
    {
      "type": "select",
      "id": "text_size",
      "options": [
        {
          "value": "p-sm",
          "label": "t:sectionsmain-list-collections.settings.description_text_size.options.label_1"
        },
        {
          "value": "p",
          "label": "t:sectionsmain-list-collections.settings.description_text_size.options.label_2"
        },
        {
          "value": "p-lg",
          "label": "t:sectionsmain-list-collections.settings.description_text_size.options.label_3"
        }
      ],
      "default": "p-sm",
      "label": "t:sectionsmain-list-collections.settings.description_text_size.label"
    },
    {
      "type": "text",
      "id": "view_all_button_label",
      "label": "t:sections.main-list-collections.settings.view_all_button_label.label",
      "info": "t:sections.main-list-collections.settings.view_all_button_label.info",
      "default": "View All"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_details",
      "default": true,
      "label": "t:sections.main-list-collections.settings.enable_sticky_details.label",
      "info": "t:sections.main-list-collections.settings.enable_sticky_details.info"
    },
    {
      "type": "checkbox",
      "id": "display_collection_image",
      "label": "t:sections.main-list-collections.settings.display_collection_image.label",
      "info": "t:sections.main-list-collections.settings.display_collection_image.info",
      "default": false
    },
    {
      "type": "select",
      "id": "collection_image_crop_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.main-list-collections.settings.collection_image_crop_shape.options.label_1"
        },
        {
          "value": "square",
          "label": "t:sections.main-list-collections.settings.collection_image_crop_shape.options.label_2"
        },
        {
          "value": "rounded-square",
          "label": "t:sections.main-list-collections.settings.collection_image_crop_shape.options.label_3"
        },
        {
          "value": "circle",
          "label": "t:sections.main-list-collections.settings.collection_image_crop_shape.options.label_4"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-list-collections.settings.collection_image_crop_shape.options.label_5"
        },
        {
          "value": "rounded-portrait",
          "label": "t:sections.main-list-collections.settings.collection_image_crop_shape.options.label_6"
        },
        {
          "value": "semicircle-portrait",
          "label": "t:sections.main-list-collections.settings.collection_image_crop_shape.options.label_7"
        },
        {
          "value": "landscape",
          "label": "t:sections.main-list-collections.settings.collection_image_crop_shape.options.label_8"
        },
        {
          "value": "rounded-landscape",
          "label": "t:sections.main-list-collections.settings.collection_image_crop_shape.options.label_9"
        },
        {
          "value": "semicircle-landscape",
          "label": "t:sections.main-list-collections.settings.collection_image_crop_shape.options.label_10"
        },
        {
          "value": "wide",
          "label": "t:sections.main-list-collections.settings.collection_image_crop_shape.options.label_11"
        },
        {
          "value": "rounded-wide",
          "label": "t:sections.main-list-collections.settings.collection_image_crop_shape.options.label_12"
        },
        {
          "value": "semicircle-wide",
          "label": "t:sections.main-list-collections.settings.collection_image_crop_shape.options.label_13"
        },
        {
          "value": "arch",
          "label": "t:sections.main-list-collections.settings.collection_image_crop_shape.options.label_14"
        }
      ],
      "default": "default",
      "label": "t:sections.main-list-collections.settings.collection_image_crop_shape.label"
    },
    {
      "type": "checkbox",
      "id": "display_featured_icons",
      "label": "t:sections.main-list-collections.settings.display_featured_icons.label",
      "info": "t:sections.main-list-collections.settings.display_featured_icons.info",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_icons_marquee",
      "label": "t:sections.main-list-collections.settings.enable_icons_marquee.label",
      "default": false
    },
    {
      "type": "range",
      "id": "speed",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "x",
      "label": "t:sections.main-list-collections.settings.speed.label",
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "display_featured_stats",
      "label": "t:sections.main-list-collections.settings.display_featured_stats.label",
      "info": "t:sections.main-list-collections.settings.display_featured_stats.info",
      "default": false
    },
    {
      "type": "select",
      "id": "stats_color",
      "label": "t:sections.main-list-collections.settings.stats_color.label",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "t:sections.main-list-collections.settings.stats_color.option.label_1"
        },
        {
          "value": "primary",
          "label": "t:sections.main-list-collections.settings.stats_color.option.label_2"
        },
        {
          "value": "2",
          "label": "t:sections.main-list-collections.settings.stats_color.option.label_3"
        },
        {
          "value": "3",
          "label": "t:sections.main-list-collections.settings.stats_color.option.label_4"
        },
        {
          "value": "4",
          "label": "t:sections.main-list-collections.settings.stats_color.option.label_5"
        },
        {
          "value": "5",
          "label": "t:sections.main-list-collections.settings.stats_color.option.label_6"
        }
      ]
    },
    {
      "type": "range",
      "id": "icon_height",
      "min": 20,
      "max": 100,
      "step": 10,
      "unit": "px",
      "label": "t:sections.main-list-collections.settings.icon_height.label",
      "default": 40
    },
    {
      "type": "radio",
      "id": "layout",
      "label": "t:sections.main-list-collections.settings.layout.label",
      "options": [
        {
          "value": "stacked",
          "label": "t:sections.main-list-collections.settings.layout.options.label_1"
        },
        {
          "value": "row",
          "label": "t:sections.main-list-collections.settings.layout.options.label_2"
        },
        {
          "value": "icon-only",
          "label": "t:sections.main-list-collections.settings.layout.options.label_3"
        }
      ],
      "default": "stacked"
    },
    {
      "type": "header",
      "content": "t:sections.main-list-collections.settings.header_3.content"
    },
    {
      "type": "checkbox",
      "id": "show_phrase",
      "label": "t:sections.main-list-collections.settings.show_phrase.label"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "t:sections.main-list-collections.settings.show_description.label"
    },
    {
      "type": "checkbox",
      "id": "quick_add",
      "label": "t:sections.main-list-collections.settings.quick_add.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_bg_color",
      "label": "t:sections.main-list-collections.settings.show_bg_color.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "alt_title",
      "label": "t:sections.main-list-collections.settings.alt_title.label"
    },
    {
      "type": "select",
      "id": "product_text_alignment",
      "options": [
        {
          "value": "default",
          "label": "t:sections.main-list-collections.settings.product_text_alignment.options.label_1"
        },
        {
          "value": "center",
          "label": "t:sections.main-list-collections.settings.product_text_alignment.options.label_2"
        },
        {
          "value": "right",
          "label": "t:sections.main-list-collections.settings.product_text_alignment.options.label_3"
        }
      ],
      "default": "default",
      "label": "t:sections.main-list-collections.settings.product_text_alignment.label"
    },
    {
      "type": "select",
      "id": "price",
      "options": [
        {
          "value": "default",
          "label": "t:sections.main-list-collections.settings.price.options.label_1"
        },
        {
          "value": "bottom",
          "label": "t:sections.main-list-collections.settings.price.options.label_2"
        },
        {
          "value": "not-visible",
          "label": "t:sections.main-list-collections.settings.price.options.label_3"
        }
      ],
      "default": "default",
      "label": "t:sections.main-list-collections.settings.price.label"
    },
    {
      "type": "select",
      "id": "crop_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.main-list-collections.settings.crop_shape.options.label_1"
        },
        {
          "value": "square",
          "label": "t:sections.main-list-collections.settings.crop_shape.options.label_2"
        },
        {
          "value": "rounded-square",
          "label": "t:sections.main-list-collections.settings.crop_shape.options.label_3"
        },
        {
          "value": "circle",
          "label": "t:sections.main-list-collections.settings.crop_shape.options.label_4"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-list-collections.settings.crop_shape.options.label_5"
        },
        {
          "value": "rounded-portrait",
          "label": "t:sections.main-list-collections.settings.crop_shape.options.label_6"
        },
        {
          "value": "semicircle-portrait",
          "label": "t:sections.main-list-collections.settings.crop_shape.options.label_7"
        },
        {
          "value": "landscape",
          "label": "t:sections.main-list-collections.settings.crop_shape.options.label_8"
        },
        {
          "value": "rounded-landscape",
          "label": "t:sections.main-list-collections.settings.crop_shape.options.label_9"
        },
        {
          "value": "semicircle-landscape",
          "label": "t:sections.main-list-collections.settings.crop_shape.options.label_10"
        },
        {
          "value": "arch",
          "label": "t:sections.main-list-collections.settings.crop_shape.options.label_11"
        }
      ],
      "default": "default",
      "label": "t:sections.main-list-collections.settings.crop_shape.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-list-collections.settings.header_4.content"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.main-list-collections.settings.theme.options.label_1"
        },
        {
          "value": "2",
          "label": "t:sections.main-list-collections.settings.theme.options.label_2"
        },
        {
          "value": "3",
          "label": "t:sections.main-list-collections.settings.theme.options.label_3"
        },
        {
          "value": "4",
          "label": "t:sections.main-list-collections.settings.theme.options.label_4"
        },
        {
          "value": "5",
          "label": "t:sections.main-list-collections.settings.theme.options.label_5"
        }
      ],
      "default": "primary",
      "label": "t:sections.main-list-collections.settings.theme.label"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.main-list-collections.settings.top_spacing.label",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.main-list-collections.settings.bottom_spacing.label",
      "default": 50
    }
  ]
}
{% endschema %}
