{{ 'product.css' | asset_url | stylesheet_tag }}
{{ 'cmnc-flickity.css' | asset_url | stylesheet_tag }}
{{ 'main-product.css' | asset_url | stylesheet_tag }}
{{ 'number-input.css' | asset_url | stylesheet_tag }}
{{ 'product-form.css' | asset_url | stylesheet_tag }}
{{ 'variant-picker.css' | asset_url | stylesheet_tag }}


{% if template == "product.modal" %}
  {{ 'main-modal.css' | asset_url | stylesheet_tag }}
{% endif %}

{% style %}
  --topSpacingRatio: {{ section.settings.top_spacing }} / 100;
  --bottomSpacingRatio: {{ section.settings.bottom_spacing }} / 100;
{% endstyle %}


{% comment %} 
  Get these variables:
   featured_media (object)
   media_count (int)
   first_3d_modal (object)
{% endcomment %}
{%- liquid
  assign featured_media = product.selected_or_first_available_variant.featured_media
  assign media_count = product.media.size
  assign first_3d_model = product.media | where: "media_type", "model" | first
  assign product_form_id = 'Product-Form-' | append: section.id | append: product.id
-%}

{% comment %} Add style sheet that'll apply to 3d model instances? {% endcomment %}
{%- if first_3d_model -%}
  <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
{%- endif -%}

<div class="main-product product {% if template == "product.modal" %}main-modal{% endif %} __theme-{{ section.settings.theme }}">
  
    {% comment %} Product info {% endcomment %}
    <div id="Product-Info-{{ section.id }}{{ product.id }}" class="main-product__container __offset-{% if section.blocks.first.type == "media" %}left{% elsif section.blocks.last.type == "media" %}right{% else %}none{% endif %}">
      {% comment %} 
        Seems weird but we need to open this container without a closing tag. 
        Either the end of the loop of the media block within the loop will close 
        this div. Goal here is to contain all blocks that are ordered before the media block.
      {% endcomment %}
      <div 
        class="main-product__blocks-before-media"
        style="{% if product.metafields.custom.color %}--color-background: {{ product.metafields.custom.color.value.rgb }}; --color-foreground-text: {{ product.metafields.custom.color.value.rgb }};{% endif %} {% if product.metafields.custom.text_color %} --color-text: {{ product.metafields.custom.text_color.value.rgb }}; --color-foreground: {{ product.metafields.custom.text_color.value.rgb }}; --color-border: {{ product.metafields.custom.text_color.value.rgb }} / .3;{% endif %}"
      > 

      {% comment %} Loop through blocks {% endcomment %}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          

          {% comment %} Type media {% endcomment %}
          {%- when 'media' -%}
            {% comment %}
              Seems weird, but this closes the "blocks-before-media" opening div tag above
              so that all blocks ordered before media are in a container
            {% endcomment %}
            </div>


            <media-gallery 
              class="main-product__media __layout-{{ block.settings.layout }}" 
              id="Product-MediaGallery-{{ section.id }}{{ product.id }}" 
              style="{% if product.metafields.custom.color %}--mobile-color-background: {{ product.metafields.custom.color.value.rgb }}; --mobile-color-foreground-text: {{ product.metafields.custom.color.value.rgb }};{% endif %} {% if product.metafields.custom.text_color %} --mobile-color-text: {{ product.metafields.custom.text_color.value.rgb }}; --mobile-color-foreground: {{ product.metafields.custom.text_color.value.rgb }}; --mobile-color-border: {{ product.metafields.custom.text_color.value.rgb }} / .3;{% endif %}"
              data-section="{{ section.id }}"
            >

              {% comment %} Skip to content anchor link {% endcomment %}
              <a class="skip-to-content-link visually-hidden" href="#Product-Info-{{ section.id }}{{ product.id }}">
                {{ 'accessibility.skip_to_product_info' | t }}
              </a>

              <ul class="main-product__media__container product-media list-unstyled" role="list">

                {% comment %} Output first image (not lzayloaded) (changes depengind on variant availability and assigned variant images) {% endcomment %}
                {%- unless featured_media == null -%}
                  <li class="main-product__media__item" data-media-id="{{ section.id }}{{ product.id }}-{{ featured_media.id }}">
                    {% render 'product-thumbnail', media: featured_media, loading: 'eager' %}
                  </li>
                {%- endunless -%}

                {% comment %} Loop through available media, excluding featured media item {% endcomment %}
                {% comment %} What does the parent <media-gallery> component do, why do these li's have data-media-id attr on them? {% endcomment %}
                {%- for media in product.media -%}
                  {%- unless media.id == featured_media.id -%}
                    <li class="main-product__media__item" data-media-id="{{ section.id }}{{ product.id }}-{{ media.id }}">
                      {%- liquid
                        assign media_position = media_position | default: 0 | plus: 1
                        assign loading = 'eager'
                        if media_position > 1
                          assign loading = 'lazy'
                        endif
                        render 'product-thumbnail', media: media, loading: loading
                      -%}
                    </li>
                  {%- endunless -%}
                {%- endfor -%}
              </ul>

              {% if block.settings.layout != "stacked" %}
                <ul class="main-product__media__dots" style="--dotsColumns: {% if product.media.size > 5 %}5{% else %}{{ product.media.size }}{% endif %}; --dotsRows: {{ product.media.size | divided_by: 5.0 | ceil }}">
                  {%- for media in product.media -%}
                    <li class="main-product__media__dots__dot standard-flickity-dot {% if media == product.selected_or_first_available_variant.featured_media %}__active{% endif %}" data-media-dot-id="{{ section.id }}{{ product.id }}-{{ media.id }}">
                      <span class="visually-hidden">{{ forloop.index }}</span>
                    </li>
                  {%- endfor -%}
                  {% if product.media.size > 1 %}
                    <li class="main-product__media__dots__prev btn classic-arrow prev">
                      <span class="visually-hidden">Previous Slide</span>
                      {% render 'svg-slider-arrow' %}
                    </li>
                    <li class="main-product__media__dots__next btn classic-arrow next">
                      <span class="visually-hidden">Next Slide</span>
                      {% render 'svg-slider-arrow' %}
                    </li>
                  {% endif %}
                </ul>
              {% endif %}
              
            </media-gallery>

            {% comment %}
              Seems weird but we need to open this container without a closing tag. 
              The end of the loop will close this div so that all blocks after media are in a container
            {% endcomment %}
            <div 
              class="main-product__blocks-after-media"
              style="{% if product.metafields.custom.color %}--color-foreground: {{ product.metafields.custom.color.value.rgb }}; {% endif %} {% if product.metafields.custom.text_color %} --color-foreground-text: {{ product.metafields.custom.text_color.value.rgb }};{% endif %}"
            >
            
          {% comment %} Type app {% endcomment %}
          {%- when '@app' -%}
            <div class="app">
              {% render block %}
            </div>

          {% comment %} Type text {% endcomment %}
          {%- when 'text' or 'vendor' -%}
            <div class="main-product__block {% if block.settings.include_border %} __border-top {% endif %}">
              <p class="{{ block.settings.text_size }}" {{ block.shopify_attributes }}>
                {% if block.type == 'text' %}
                  {{ block.settings.text }}
                {% else %}
                  {{ product.vendor }}
                {% endif %}
              </p>
            </div>

          {% comment %} Type title {% endcomment %}
          {%- when 'title' -%}
            {% render 'heading', heading: product.title, alt_heading: block.settings.alt_heading, heading_size: block.settings.heading_size, heading_tag: "h1" %}

          {% comment %} Type price {% endcomment %}
          {%- when 'price' -%}
            {% assign form_id = section.id | append: product.id %}
            {% render 'form-price' product: product, price_size: block.settings.heading_size, form_id: form_id %}

          
          {% comment %} Type variant picker {% endcomment %}
          {%- when 'variant_picker' -%}
            {% render 'variant_picker' this_product: product, product_form_id: product_form_id, layout: block.settings.layout, include_border: block.settings.include_border, show_option_labels: block.settings.show_option_labels, class: "main-product__block" %}

          {% comment %} Type buy buttons {% endcomment %}
          {%- when 'buy_buttons' -%}
          <div class="main-product__block {% if block.settings.include_border %} __border-top {% endif %}">
            {% render 'product-form' id: product_form_id, product: product, show_quantity: block.settings.show_quantity, include_border: block.settings.include_border, hide_dynamic_buttons: block.settings.hide_dynamic_buttons %}
          </div>

          {% comment %} Type expandable content {% endcomment %}
          {%- when 'expandable' %}
            {% render 'disclosure', title: block.settings.title, id: block.id, text: block.settings.text, page: block.settings.page, open: block.settings.open, article_text: true %}

          {% comment %} Type featured metafield icons {% endcomment %}
          {%- when 'icons' -%}
            {% if product.metafields.custom.featured_icons.value.size > 0 %}
              <div class="main-product__block {% if block.settings.include_border %} __border-top {% endif %}">
                {{ 'custom-icons.css' | asset_url | stylesheet_tag }}
                {% if block.settings.title %}
                  <div class="p-sm">{{ block.settings.title }}</div>
                {% endif %}
                {% render 'featured-icons' %}
              </div>
            {% endif %}

          {% comment %} Type featured basic icons {% endcomment %}
          {%- when 'icons' -%}
            {% if block.settings.icon_1 or block.settings.icon_2 or block.settings.icon_3 %}
              <div class="main-product__block {% if block.settings.include_border %} __border-top {% endif %}">
                {{ 'custom-icons.css' | asset_url | stylesheet_tag }}
                {% if block.settings.title %}
                  <div class="p-sm">{{ block.settings.title }}</div>
                {% endif %}
                {% render 'featured-icons'  icon_1: block.settings.icon_1, icon_1_title: block.settings.icon_1_title, icon_2: block.settings.icon_2, icon_2_title: block.settings.icon_2_title, icon_3: block.settings.icon_3, icon_3_title: block.settings.icon_3_title, product: product, class: "main-product__icons", layout: block.settings.layout, icon_height: block.settings.icon_height %}
              </div>
            {% endif %}

          {% comment %} Type description {% endcomment %}
          {%- when 'description' -%}
            {%- unless product.description == blank -%}
              <div {{ block.shopify_attributes }} class="__article-txt-{{ block.settings.text_size }} {{ block.settings.text_size }}">
                {{ product.description }}
              </div>
            {%- endunless -%}

          {% comment %} Divider / Space {% endcomment %}
          {%- when 'divider' -%}
            <div class="main-product__divider divider-section {% if block.settings.hide_divider %}__hide-divider{% endif %}" style="--dividerSnippetUseTopSpace: {{ block.settings.bottom }}px; --dividerSnippetUseBottomSpace: {{ block.settings.top }}px;"></div>


          {% comment %} Type rating {% endcomment %}
          {%- when 'rating' -%}
            {{ 'product-ratings.css' | asset_url | stylesheet_tag }}
            {% render 'product-ratings' product: product %}

          {% comment %} Type pickup availability {% endcomment %}
          {%- when 'pickup_availability' -%}

            {% capture pickup_availability_content %}
              <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
              <pickup-availability data-product-variant="{{ product.selected_or_first_available_variant.id }}">
                {% comment %}
                  Error template is rendered if async request for pickup availability fails
                {% endcomment %}
                <template>
                  <p class="message-error">{{ 'products.pickup_availability.error' | t }}</p>
                </template>
              </pickup-availability>  
            {% endcapture %}
            {% capture pickup_availability_id %}pickup-{{ section.id }}{{ product.id }}-{{ block.id }}{% endcapture %}
            {% render 'disclosure' title: block.settings.title, text: pickup_availability_content, id: pickup_availability_id, class: "main-product__block main-product__pickup-disclosure" %}
          
          {% comment %} Product Recommendations {% endcomment %}
          {%- when 'complementary_products' -%}
            {% assign comp_product_count = product.metafields.shopify--discovery--product_recommendation.complementary_products | split: "," | size %}
            {% if comp_product_count > 0 %}
              <div class="main-product__block main-product__comp-products {% if block.settings.include_border %} __border-top {% endif %}">
                  {% if block.settings.title %}
                    <div class="main-product__comp-products__label p">{{ block.settings.title }}</div>
                  {% endif %}
                  {% for product in product.metafields.shopify--discovery--product_recommendation.complementary_products.value %}
                    {% render 'quick-product' quick_product: product, class: "main-product__comp-products__product", crop: block.settings.crop_shape, img_width: 450, img_widths: '450, 300, 150', img_sizes: '(max-width: 676px) 30vw, 10vw', img_preload: true %}
                  {% endfor %}
              </div>
            {% endif %}
        {%- endcase -%}
      {%- endfor -%}

      {% if template == "product.modal" and settings.quick_add_modal_button_text != blank %}
        {% render 'button' button_label: settings.quick_add_modal_button_text, button_link: product.url, style: "underline", class: "main-product" %}
      {% endif %}

      {% comment %}
        Seems weird, but this closes the "blocks-before-media" or "blocks-after-media" 
        opening div tag above depending on if the media block exists or not. This is
        so that all blocks ordered after media are in a container
      {% endcomment %}
      </div>
    </div>

    {% if template == "product.modal" %}
      <div class="main-modal__close">
        <button class="main-modal__close__btn" type="button" aria-label="{{ 'products.product.close' | t }}">{% render 'svg-exit' %}</button>
      </div>
    {% endif %}
  </div>

  {%- if first_3d_model -%}
    <script type="application/json" id="Product-JSON-{{ product.id }}">
      {{ product.media | where: 'media_type', 'model' | json }}
    </script>
    <script src="{{ 'product-model.js' | asset_url }}" defer></script>
  {%- endif -%}
</div>

<script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'variant-selects.js' | asset_url }}" defer="defer"></script>

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    {%- if seo_media -%}
      "image": [
        {{ seo_media | image_url | prepend: "https:" | json }}
      ],
    {%- endif -%}
    "description": {{ product.description | strip_html | json }},
    {%- if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif -%}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ request.origin | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "main-product__wrapper",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text about the product",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "p-sm",
              "label": "t:sections.main-product.blocks.text.settings.text_size.options.label_1"
            },
            {
              "value": "p",
              "label": "t:sections.main-product.blocks.text.settings.text_size.options.label_2"
            },
            {
              "value": "p-lg",
              "label": "t:sections.main-product.blocks.text.settings.text_size.options.label_3"
            }
          ],
          "default": "p-sm",
          "label": "t:sections.main-product.blocks.text.settings.text_size.label"
        },
        {
          "type": "checkbox",
          "id": "include_border",
          "label": "t:sections.main-product.blocks.text.settings.include_border.label",
          "default": true
        }
      ]
    },
    {
      "type": "vendor",
      "name": "t:sections.main-product.blocks.vendor.name",
      "settings": [
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "p-sm",
              "label": "t:sections.main-product.blocks.vendor.settings.text_size.options.label_1"
            },
            {
              "value": "p",
              "label": "t:sections.main-product.blocks.vendor.settings.text_size.options.label_2"
            },
            {
              "value": "p-lg",
              "label": "t:sections.main-product.blocks.vendor.settings.text_size.options.label_3"
            }
          ],
          "default": "p-sm",
          "label": "t:sections.main-product.blocks.vendor.settings.text_size.label"
        },
        {
          "type": "checkbox",
          "id": "include_border",
          "label": "t:sections.main-product.blocks.vendor.settings.include_border.label",
          "default": true
        }
      ]
    },
    {
      "type": "expandable",
      "name": "t:sections.main-product.blocks.expandable.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Title",
          "label": "t:sections.main-product.blocks.expandable.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.main-product.blocks.expandable.settings.text.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.expandable.settings.page.label"
        },
        {
          "type": "checkbox",
          "id": "open",
          "label": "t:sections.main-product.blocks.expandable.settings.open.label"
        }
      ]
    },
    {
      "type": "complementary_products",
      "limit": 1,
      "name": "t:sections.main-product.blocks.complementary_products.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.complementary_products.settings.paragraph.content"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Title",
          "label": "t:sections.main-product.blocks.complementary_products.settings.title.label"
        },
        {
          "type": "checkbox",
          "id": "include_border",
          "label": "t:sections.main-product.blocks.complementary_products.settings.include_border.label",
          "default": true
        },
        {
          "type": "select",
          "id": "crop_shape",
          "options": [
            {
              "value": "default",
              "label": "t:sections.main-product.blocks.complementary_products.settings.crop_shape.options.label_1"
            },
            {
              "value": "square",
              "label": "t:sections.main-product.blocks.complementary_products.settings.crop_shape.options.label_2"
            },
            {
              "value": "rounded-square",
              "label": "t:sections.main-product.blocks.complementary_products.settings.crop_shape.options.label_3"
            },
            {
              "value": "circle",
              "label": "t:sections.main-product.blocks.complementary_products.settings.crop_shape.options.label_4"
            },
            {
              "value": "portrait",
              "label": "t:sections.main-product.blocks.complementary_products.settings.crop_shape.options.label_4"
            },
            {
              "value": "rounded-portrait",
              "label": "t:sections.main-product.blocks.complementary_products.settings.crop_shape.options.label_5"
            },
            {
              "value": "semicircle-portrait",
              "label": "t:sections.main-product.blocks.complementary_products.settings.crop_shape.options.label_6"
            },
            {
              "value": "landscape",
              "label": "t:sections.main-product.blocks.complementary_products.settings.crop_shape.options.label_7"
            },
            {
              "value": "rounded-landscape",
              "label": "t:sections.main-product.blocks.complementary_products.settings.crop_shape.options.label_8"
            },
            {
              "value": "semicircle-landscape",
              "label": "t:sections.main-product.blocks.complementary_products.settings.crop_shape.options.label_9"
            },
            {
              "value": "arch",
              "label": "t:sections.main-product.blocks.complementary_products.settings.crop_shape.options.label_10"
            }
          ],
          "default": "square",
              "label": "t:sections.main-product.blocks.complementary_products.settings.crop_shape.label"
        }
      ]
    },
    {
      "type": "media",
      "name": "t:sections.main-product.blocks.media.name",
      "limit": 1,
      "settings": [
        {
          "type": "radio",
          "id": "layout",
          "label": "t:sections.main-product.blocks.media.settings.layout.label",
          "options": [
            {
              "value": "stacked",
              "label": "t:sections.main-product.blocks.media.settings.layout.options.label_1"
            },
            {
              "value": "slideshow",
              "label": "t:sections.main-product.blocks.media.settings.layout.options.label_2"
            }
          ],
          "default": "stacked"
        }
      ]
    },
    {
      "type": "icons",
      "limit": 1,
      "name": "t:sections.main-product.blocks.icons.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.icons.settings.paragraph.content"
        },
        {
          "type": "range",
          "id": "icon_height",
          "min": 20,
          "max": 100,
          "step": 10,
          "unit": "px",
          "label": "t:sections.main-product.blocks.icons.settings.icon_height.label",
          "default": 40
        },
        {
          "type": "text",
          "id": "title",
          "default": "Title",
          "label": "t:sections.main-product.blocks.icons.settings.title.label"
        },
        {
          "type": "radio",
          "id": "layout",
          "label": "Layout",
          "options": [
            {
              "value": "stacked",
              "label": "t:sections.main-product.blocks.icons.settings.layout.options.label_1"
            },
            {
              "value": "row",
              "label": "t:sections.main-product.blocks.icons.settings.layout.options.label_2"
            },
            {
              "value": "icon-only",
              "label": "t:sections.main-product.blocks.icons.settings.layout.options.label_3"
            }
          ],
          "default": "stacked"
        },
        {
          "type": "checkbox",
          "id": "include_border",
          "label": "t:sections.main-product.blocks.icons.settings.include_border.label",
          "default": true
        }
      ]
    },
    {
      "type": "basic_icons",
      "limit": 1,
      "name": "t:sections.main-product.blocks.basic_icons.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.basic_icons.settings.paragraph.content"
        },
        {
          "type": "select",
          "id": "icon_1",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_1"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_2"
            },
            {
              "value": "briefcase",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_3"
            },
            {
              "value": "calendar",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_4"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_5"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_6"
            },
            {
              "value": "clock",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_7"
            },
            {
              "value": "credit_card",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_8"
            },
            {
              "value": "dollar_sign",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_9"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_10"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_11"
            },
            {
              "value": "feather",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_12"
            },
            {
              "value": "gift",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_13"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_14"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_15"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_16"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_17"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_18"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_19"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_20"
            },
            {
              "value": "percent",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_21"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_22"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_23"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_24"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_25"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_26"
            },
            {
              "value": "scissors",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_27"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_28"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_29"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_30"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_31"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_32"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.options.label_33"
            }
          ],
          "default": "none",
          "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1.label"
        },
        {
          "type": "text",
          "id": "icon_1_title",
          "label": "t:sections.main-product.blocks.basic_icons.settings.icon_1_title.label"
        },
        {
          "type": "select",
          "id": "icon_2",
          "options": [
            {
            "value": "none",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_1"
            },
            {
            "value": "box",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_2"
            },
            {
            "value": "briefcase",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_3"
            },
            {
            "value": "calendar",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_4"
            },
            {
            "value": "chat_bubble",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_5"
            },
            {
            "value": "check_mark",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_6"
            },
            {
            "value": "clock",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_7"
            },
            {
            "value": "credit_card",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_8"
            },
            {
            "value": "dollar_sign",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_9"
            },
            {
            "value": "dryer",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_10"
            },
            {
            "value": "eye",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_11"
            },
            {
            "value": "feather",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_12"
            },
            {
            "value": "gift",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_13"
            },
            {
            "value": "heart",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_14"
            },
            {
            "value": "iron",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_15"
            },
            {
            "value": "leaf",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_16"
            },
            {
            "value": "leather",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_17"
            },
            {
            "value": "lock",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_18"
            },
            {
            "value": "map_pin",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_19"
            },
            {
            "value": "pants",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_20"
            },
            {
            "value": "percent",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_21"
            },
            {
            "value": "plane",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_22"
            },
            {
            "value": "price_tag",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_23"
            },
            {
            "value": "question_mark",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_24"
            },
             {
              "value": "return",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_25"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_26"
            },
            {
              "value": "scissors",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_27"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_28"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_29"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_30"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_31"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_32"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.options.label_33"
            }
          ],
          "default": "none",
          "label": "t:sections.main-product.blocks.basic_icons.settings.icon_2.label"
        },
        {
          "type": "text",
          "id": "icon_2_title",
          "label": "Icon 2 Title"
        },
        {
          "type": "select",
          "id": "icon_3",
          "options": [
            {
            "value": "none",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_1"
            },
            {
            "value": "box",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_2"
            },
            {
            "value": "briefcase",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_3"
            },
            {
            "value": "calendar",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_4"
            },
            {
            "value": "chat_bubble",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_5"
            },
            {
            "value": "check_mark",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_6"
            },
            {
            "value": "clock",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_7"
            },
            {
            "value": "credit_card",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_8"
            },
            {
            "value": "dollar_sign",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_9"
            },
            {
            "value": "dryer",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_10"
            },
            {
            "value": "eye",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_11"
            },
            {
            "value": "feather",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_12"
            },
            {
            "value": "gift",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_13"
            },
            {
            "value": "heart",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_14"
            },
            {
            "value": "iron",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_15"
            },
            {
            "value": "leaf",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_16"
            },
            {
            "value": "leather",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_17"
            },
            {
            "value": "lock",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_18"
            },
            {
            "value": "map_pin",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_19"
            },
            {
            "value": "pants",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_20"
            },
            {
            "value": "percent",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_21"
            },
            {
            "value": "plane",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_22"
            },
            {
            "value": "price_tag",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_23"
            },
            {
            "value": "question_mark",
            "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_24"
            },
             {
              "value": "return",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_25"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_26"
            },
            {
              "value": "scissors",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_27"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_28"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_29"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_30"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_31"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_32"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.options.label_33"
            }
          ],
          "default": "none",
          "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3.label"
        },
        {
          "type": "text",
          "id": "icon_3_title",
          "label": "t:sections.main-product.blocks.basic_icons.settings.icon_3_title.label"
        },
        {
          "type": "range",
          "id": "icon_height",
          "min": 20,
          "max": 100,
          "step": 10,
          "unit": "px",
          "label": "t:sections.main-product.blocks.basic_icons.settings.icon_height.label",
          "default": 40
        },
        {
          "type": "text",
          "id": "title",
          "default": "Title",
          "label": "t:sections.main-product.blocks.basic_icons.settings.title.label"
        },
        {
          "type": "radio",
          "id": "layout",
          "label": "Layout",
          "options": [
            {
              "value": "stacked",
              "label": "t:sections.main-product.blocks.basic_icons.settings.layout.options.label_1"
            },
            {
              "value": "row",
              "label": "t:sections.main-product.blocks.basic_icons.settings.layout.options.label_2"
            },
            {
              "value": "icon-only",
              "label": "t:sections.main-product.blocks.basic_icons.settings.layout.options.label_3"
            }
          ],
          "default": "stacked"
        },
        {
          "type": "checkbox",
          "id": "include_border",
          "label": "t:sections.main-product.blocks.basic_icons.settings.include_border.label",
          "default": true
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.main-product.blocks.title.settings.options.label_1"
            },
            {
              "value": "h2",
              "label": "t:sections.main-product.blocks.title.settings.options.label_2"
            },
            {
              "value": "h3",
              "label": "t:sections.main-product.blocks.title.settings.options.label_3"
            },
            {
              "value": "h4",
              "label": "t:sections.main-product.blocks.title.settings.options.label_4"
            }
          ],
          "default": "h2",
          "label": "t:sections.main-product.blocks.title.settings.label"
        },
        {
          "type": "checkbox",
          "id": "alt_heading",
          "label": "t:sections.main-product.blocks.title.settings.alt_heading.label"
        }
      ]
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1,
      "settings": [
          {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                  "value": "h5",
                  "label": "t:sections.main-product.blocks.price.settings.heading_size.options.label_1"
              },
              {
                  "value": "h6",
                  "label": "t:sections.main-product.blocks.price.settings.heading_size.options.label_2"
              },
              {
                  "value": "p",
                  "label": "t:sections.main-product.blocks.price.settings.heading_size.options.label_3"
              },
              {
                  "value": "p-sm",
                  "label": "t:sections.main-product.blocks.price.settings.heading_size.options.label_4"
              }
            ],
            "default": "h6",
            "label": "t:sections.main-product.blocks.price.settings.heading_size.label"
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "radio",
          "id": "layout",
          "label": "t:sections.main-product.blocks.variant_picker.settings.label",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.options.label_1"
            },
            {
              "value": "buttons",
              "label": "t:sections.main-product.blocks.variant_picker.settings.options.label_2"
            }
          ],
          "default": "buttons"
        },
        {
          "type": "checkbox",
          "id": "show_option_labels",
          "label": "t:sections.main-product.blocks.variant_picker.settings.show_option_labels.label",
          "info": "t:sections.main-product.blocks.variant_picker.settings.show_option_labels.info",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "include_border",
          "label": "t:sections.main-product.blocks.variant_picker.settings.include_border.label",
          "default": true
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_quantity",
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_quantity.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "hide_dynamic_buttons",
          "label": "t:sections.main-product.blocks.buy_buttons.settings.hide_dynamic_buttons.label",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "include_border",
          "label": "t:sections.main-product.blocks.buy_buttons.settings.include_border.label",
          "default": true
        }
      ]
    },
    {
      "type": "divider",
      "name": "t:sections.main-product.blocks.divider.name",
      "settings": [
        {
          "type": "range",
          "id": "top",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "px",
          "label": "t:sections.main-product.blocks.divider.top_spacing.label",
          "default": 50
        },
        {
          "type": "range",
          "id": "bottom",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "px",
          "label": "t:sections.main-product.blocks.divider.bottom_spacing.label",
          "default": 50
        },
        {
          "type": "checkbox",
          "id": "hide_divider",
          "label": "t:sections.main-product.blocks.divider.hide_divider.label",
          "default": false
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "p-sm",
              "label": "t:sections.main-product.blocks.description.settings.text_size.options.label_1"
            },
            {
              "value": "p",
              "label": "t:sections.main-product.blocks.description.settings.text_size.options.label_2"
            },
            {
              "value": "p-lg",
              "label": "t:sections.main-product.blocks.description.settings.text_size.options.label_3"
            }
          ],
          "default": "p-sm",
          "label": "t:sections.main-product.blocks.description.settings.text_size.label"
        }
      ]
    },
    {
      "type": "rating",
      "name": "t:sections.main-product.blocks.rating.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.rating.settings.paragraph.content"
        }
      ]
    },
    {
      "type": "pickup_availability",
      "name": "t:sections.main-product.blocks.pickup_availability.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Pickup Availability",
          "label": "t:sections.main-product.blocks.pickup_availability.settings.title.label"
        }
      ]
    }
  ],
    "settings": [
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header.content"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.main-product.settings.theme.options.label_1"
        },
        {
          "value": "2",
          "label": "t:sections.main-product.settings.theme.options.label_2"
        },
        {
          "value": "3",
          "label": "t:sections.main-product.settings.theme.options.label_3"
        },
        {
          "value": "4",
          "label": "t:sections.main-product.settings.theme.options.label_4"
        },
        {
          "value": "5",
          "label": "t:sections.main-product.settings.theme.options.label_5"
        }
      ],
      "default": "primary",
      "label": "t:sections.main-product.settings.theme.label",
      "info": "t:sections.main-product.settings.theme.info"
    }
  ]
}
{% endschema %}