{{ 'customer-forms.css' | asset_url | stylesheet_tag }}

{% liquid
  assign section_theme = section.settings.theme
  assign top_spacing = section.settings.top_spacing
  assign bottom_spacing = section.settings.bottom_spacing
  assign form_class = 'customer-forms__form form-styles' | append: ' __hide-labels-' | append: section.settings.hide_labels
%}

{% style %}
  #Main-login-{{ section.id }} {
    --topSpacingRatio: {{ top_spacing }} / 100;
    --bottomSpacingRatio: {{ bottom_spacing }} / 100;
  }
{% endstyle %}

<div id="Main-login-{{ section.id }}" class="customer-forms __theme-{{ section_theme }}">
  <div class="customer-forms__container" id="recover">
    <div class="customer-forms__text __align-center">
      {% render 'heading', heading: section.settings.reset_heading, heading_size: section.settings.heading_size, alt_heading: section.settings.alt_heading,  heading_tag: 'h1' %}
      <p class="{{ section.settings.text_size }}">
        {{- 'customer.recover_password.subtext' | t -}}
      </p>
    </div>
    {%- if recover_success == true -%}
      <h3 class="message-success p" tabindex="-1" autofocus>
        {{- 'customer.recover_password.success' | t -}}
      </h3>
    {%- endif -%}

    {%- form 'recover_customer_password', class: form_class -%}
      {% assign recover_success = form.posted_successfully? %}
      <div>
        <label for="RecoverEmail">
          {{- 'customer.login_page.email' | t -}}
        </label>
        <input
          type="email"
          value=""
          name="email"
          placeholder="{{- 'customer.login_page.email' | t -}}"
          id="RecoverEmail"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="email"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="RecoverEmail-email-error"
            autofocus
          {% endif %}
        >

        {%- if form.errors -%}
          <small id="RecoverEmail-email-error" class="message-error">
            {{- form.errors.messages.form -}}
          </small>
        {%- endif -%}
      </div>
      <div>
        <button>
          {{- 'customer.login_page.submit' | t -}}
        </button>
      </div>
    {%- endform -%}

    {% assign button_label = 'customer.login_page.cancel' | t %}
    {% render 'button',
      class: 'customer-forms',
      button_label: button_label,
      button_link: '#login',
      style: 'underline'
    %}
  </div>

  <div class="customer-forms__container" id="login">
    <div class="customer-forms__text __align-center">
      {% render 'heading',
        heading: section.settings.heading,
        heading_size: section.settings.heading_size, 
        alt_heading: section.settings.alt_heading,
        heading_tag: 'h1',
        class: 'customer-forms__text'
      %}
      <div class="customer-forms__text__description __article-txt-{{ section.settings.text_size }}" {{ block.shopify_attributes }}>
        {{ section.settings.description }}
      </div>
    </div>
    {%- if recover_success == true -%}
      <h3 class="message-success p" tabindex="-1" autofocus>
        {{- 'customer.recover_password.success' | t -}}
      </h3>
    {%- endif -%}

    {%- form 'customer_login', class: form_class -%}
      {%- if form.errors -%}
        <h2 tabindex="-1" autofocus>
          <small class="visually-hidden">{{- 'accessibility.error' | t -}}</small>
          {{- 'templates.contact.form.error_heading' | t -}}
        </h2>

        {{ form.errors | default_errors }}
      {%- endif -%}

      <div>
        <label for="CustomerEmail">
          {{- 'customer.login_page.email' | t -}}
        </label>
        <input
          type="email"
          name="customer[email]"
          placeholder="{{- 'customer.login_page.email' | t -}}"
          id="CustomerEmail"
          autocomplete="email"
          autocorrect="off"
          autocapitalize="off"
          {% if form.errors contains 'form' %}
            aria-invalid="true"
          {% endif %}
        >
      </div>

      <div>
        <label for="CustomerPassword">
          {{- 'customer.login_page.password' | t -}}
        </label>
        <input
          type="password"
          placeholder="{{- 'customer.login_page.password' | t -}}"
          value=""
          name="customer[password]"
          id="CustomerPassword"
          autocomplete="current-password"
          {% if form.errors contains 'form' %}
            aria-invalid="true"
          {% endif %}
        >
      </div>

      <div>
        <button>
          {{- 'customer.login_page.sign_in' | t -}}
        </button>
      </div>
    {%- endform -%}

    {% assign button_label = 'customer.login_page.forgot_password' | t %}
    {% render 'button',
      class: 'customer-forms',
      button_label: button_label,
      button_link: '#recover',
      style: 'underline'
    %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-login.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-login.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "hide_labels",
      "label": "t:sections.main-login.settings.hide_labels.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.main-login.settings.header_2.content"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Welcome",
      "label": "t:sections.main-login.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.main-login.settings.heading_size.options.label_1"
        },
        {
          "value": "h4",
          "label": "t:sections.main-login.settings.heading_size.options.label_2"
        },
        {
          "value": "h5",
          "label": "t:sections.main-login.settings.heading_size.options.label_3"
        },
        {
          "value": "h6",
          "label": "t:sections.main-login.settings.heading_size.options.label_4"
        }
      ],
      "default": "h5",
      "label": "t:sections.main-login.settings.heading_size.label"
    },
    {
      "type": "checkbox",
      "id": "alt_heading",
      "label": "t:sections.main-login.settings.alt_heading.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "default": "<p>Log in to Your Account<\/p><p>Don't have an account? <a href=\"\/account\/register\" title=\"\/account\/register\">Register<\/a><\/p>",
      "label": "t:sections.main-login.settings.description.label"
    },
    {
      "type": "select",
      "id": "text_size",
      "options": [
        {
          "value": "p-sm",
          "label": "t:sections.main-login.settings.description_text_size.options.label_1"
        },
        {
          "value": "p",
          "label": "t:sections.main-login.settings.description_text_size.options.label_2"
        },
        {
          "value": "p-lg",
          "label": "t:sections.main-login.settings.description_text_size.options.label_3"
        }
      ],
      "default": "p-sm",
      "label": "t:sections.main-login.settings.description_text_size.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-login.settings.header_3.content"
    },
    {
      "type": "text",
      "id": "reset_heading",
      "default": "Reset Your Password",
      "label": "t:sections.main-login.settings.reset_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-login.settings.header_4.content"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.main-login.settings.top_spacing.label",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.main-login.settings.bottom_spacing.label",
      "default": 50
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.main-login.settings.theme.options.label_1"
        },
        {
          "value": "2",
          "label": "t:sections.main-login.settings.theme.options.label_2"
        },
        {
          "value": "3",
          "label": "t:sections.main-login.settings.theme.options.label_3"
        },
        {
          "value": "4",
          "label": "t:sections.main-login.settings.theme.options.label_4"
        },
        {
          "value": "5",
          "label": "t:sections.main-login.settings.theme.options.label_5"
        }
      ],
      "default": "primary",
      "label": "t:sections.main-login.settings.theme.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.main-login.presets.name"
    }
  ]
}
{% endschema %}
