{{ 'main-blog.css' | asset_url | stylesheet_tag }}
{{ 'article-card.css' | asset_url | stylesheet_tag }}

{% liquid
  assign section_theme = section.settings.theme
  assign top_spacing = section.settings.top_spacing
  assign bottom_spacing = section.settings.bottom_spacing
  assign alt_heading = section.settings.alt_heading
  assign show_date = section.settings.show_date
  assign show_author = section.settings.show_author
  assign show_description = section.settings.show_description
  assign alignment = section.settings.alignment
  assign button_label = section.settings.button_label
  assign assc_product_crop_shape = section.settings.assc_product_crop_shape
  assign crop_shape = section.settings.crop_shape
%}

{% style %}
  #Main-blog-{{ section.id }} {
    --topSpacingRatio: {{ top_spacing }} / 100;
    --bottomSpacingRatio: {{ bottom_spacing }} / 100;
  }
{% endstyle %}

{%- paginate blog.articles by section.settings.posts_per_page -%}
  <div id="Main-blog-{{ section.id }}" class="main-blog __theme-{{ section_theme }}">
    {%- if section.settings.blog_show_tags -%}
      <aside>
        <ul class="main-blog__tags">
          {% if section.settings.tags_label %}
            <li class="p-sm">{{ section.settings.tags_label }}</li>
          {% endif %}

          {%- for tag in blog.all_tags -%}
            <li>
              {% capture button_link %} {{ blog.url }}/tagged/{{ tag | handle }} {% endcapture %}
              {% render 'button',
                button_link: button_link,
                button_label: tag,
                button_color: section.settings.tag_color,
                class: 'main-blog__tags'
              %}
            </li>
          {%- endfor -%}
        </ul>
      </aside>
    {%- endif -%}

    <ul class="main-blog__articles list-unstyled grid" role="list">
      {%- for article in blog.articles -%}
        <li class="main-blog__articles__article-container">
          {% render 'article-card',
            class: 'main-blog__card',
            crop: crop_shape,
            assc_product_crop_shape: assc_product_crop_shape,
            button_label: button_label,
            alignment: alignment,
            show_description: show_description,
            show_author: show_author,
            show_date: show_date,
            alt_heading: alt_heading,
            article: article,
            img_width: 1280,
            img_widths: '1280, 900, 700, 500',
            img_sizes: '(max-width: 676px) 100vw, (max-width: 1024px) 45vw, 25vw'
          %}
        </li>
      {%- endfor -%}
    </ul>
    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "range",
      "id": "posts_per_page",
      "default": 4,
      "min": 1,
      "max": 12,
      "step": 1,
      "label": "t:sections.main-blog.settings.posts_per_page.label"
    },
    {
      "type": "checkbox",
      "id": "blog_show_tags",
      "label": "t:sections.main-blog.settings.blog_show_tags.label"
    },
    {
      "type": "text",
      "id": "tags_label",
      "label": "t:sections.main-blog.settings.tags_label.label",
      "default": "Browse Tags"
    },
    {
      "type": "select",
      "id": "tag_color",
      "label": "t:sections.main-blog.settings.tag_color.label",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "t:sections.main-blog.settings.tag_color.options.label_0"
        },
        {
          "value": "primary",
          "label": "t:sections.main-blog.settings.tag_color.options.label_1"
        },
        {
          "value": "2",
          "label": "t:sections.main-blog.settings.tag_color.options.label_2"
        },
        {
          "value": "3",
          "label": "t:sections.main-blog.settings.tag_color.options.label_3"
        },
        {
          "value": "4",
          "label": "t:sections.main-blog.settings.tag_color.options.label_4"
        },
        {
          "value": "5",
          "label": "t:sections.main-blog.settings.tag_color.options.label_5"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header_2.content"
    },
    {
      "type": "checkbox",
      "id": "alt_heading",
      "label": "t:sections.main-blog.settings.alt_heading.label"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "t:sections.main-blog.settings.show_description.label",
      "info": "t:sections.main-blog.settings.show_description.info"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "select",
      "id": "assc_product_crop_shape",
      "options": [
        {
          "value": "not-visible",
          "label": "t:sections.main-blog.settings.assc_product_crop_shape.options.label_1"
        },
        {
          "value": "default",
          "label": "t:sections.main-blog.settings.assc_product_crop_shape.options.label_2"
        },
        {
          "value": "square",
          "label": "t:sections.main-blog.settings.assc_product_crop_shape.options.label_3"
        },
        {
          "value": "rounded-square",
          "label": "t:sections.main-blog.settings.assc_product_crop_shape.options.label_4"
        },
        {
          "value": "circle",
          "label": "t:sections.main-blog.settings.assc_product_crop_shape.options.label_5"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-blog.settings.assc_product_crop_shape.options.label_6"
        },
        {
          "value": "rounded-portrait",
          "label": "t:sections.main-blog.settings.assc_product_crop_shape.options.label_7"
        },
        {
          "value": "semicircle-portrait",
          "label": "t:sections.main-blog.settings.assc_product_crop_shape.options.label_8"
        },
        {
          "value": "landscape",
          "label": "t:sections.main-blog.settings.assc_product_crop_shape.options.label_9"
        },
        {
          "value": "rounded-landscape",
          "label": "t:sections.main-blog.settings.assc_product_crop_shape.options.label_10"
        },
        {
          "value": "semicircle-landscape",
          "label": "t:sections.main-blog.settings.assc_product_crop_shape.options.label_11"
        },
        {
          "value": "arch",
          "label": "t:sections.main-blog.settings.assc_product_crop_shape.options.label_12"
        }
      ],
      "default": "not-visible",
      "label": "t:sections.main-blog.settings.assc_product_crop_shape.label",
      "info": "t:sections.main-blog.settings.assc_product_crop_shape.info"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.main-blog.settings.button_label.label",
      "info": "t:sections.main-blog.settings.button_label.info"
    },
    {
      "type": "select",
      "id": "crop_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.main-blog.settings.crop_shape.options.label_1"
        },
        {
          "value": "square",
          "label": "t:sections.main-blog.settings.crop_shape.options.label_2"
        },
        {
          "value": "rounded-square",
          "label": "t:sections.main-blog.settings.crop_shape.options.label_3"
        },
        {
          "value": "circle",
          "label": "t:sections.main-blog.settings.crop_shape.options.label_4"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-blog.settings.crop_shape.options.label_5"
        },
        {
          "value": "rounded-portrait",
          "label": "t:sections.main-blog.settings.crop_shape.options.label_6"
        },
        {
          "value": "semicircle-portrait",
          "label": "t:sections.main-blog.settings.crop_shape.options.label_7"
        },
        {
          "value": "landscape",
          "label": "t:sections.main-blog.settings.crop_shape.options.label_8"
        },
        {
          "value": "rounded-landscape",
          "label": "t:sections.main-blog.settings.crop_shape.options.label_9"
        },
        {
          "value": "semicircle-landscape",
          "label": "t:sections.main-blog.settings.crop_shape.options.label_10"
        },
        {
          "value": "arch",
          "label": "t:sections.main-blog.settings.crop_shape.options.label_11"
        }
      ],
      "default": "default",
      "label": "t:sections.main-blog.settings.crop_shape.label"
    },
    {
      "type": "radio",
      "id": "alignment",
      "label": "t:sections.main-blog.settings.alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.main-blog.settings.alignment.options.label_1"
        },
        {
          "value": "center",
          "label": "t:sections.main-blog.settings.alignment.options.label_2"
        },
        {
          "value": "right",
          "label": "t:sections.main-blog.settings.alignment.options.label_3"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header_3.content"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.main-blog.settings.theme.options.label_1"
        },
        {
          "value": "2",
          "label": "t:sections.main-blog.settings.theme.options.label_2"
        },
        {
          "value": "3",
          "label": "t:sections.main-blog.settings.theme.options.label_3"
        },
        {
          "value": "4",
          "label": "t:sections.main-blog.settings.theme.options.label_4"
        },
        {
          "value": "5",
          "label": "t:sections.main-blog.settings.theme.options.label_5"
        }
      ],
      "default": "primary",
      "label": "t:sections.main-blog.settings.theme.label"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.main-blog.settings.top_spacing.label",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.main-blog.settings.bottom_spacing.label",
      "default": 50
    }
  ]
}
{% endschema %}
