{% liquid 
  assign heading = 'customer.activate_account.title' | t
  assign form_class = 'customer-forms__form form-styles'
%}


<div id="Main-activate-account" class="customer-forms">
  <div class="customer-forms__container">
  <div class="site-activate-account__text">
    {% render 'heading', heading: heading, heading_size: 'h5', heading_tag: 'h1' %}
    <p class="p-sm">
      {{- 'customer.activate_account.subtext' | t -}}
    </p>
  </div>
  {%- form 'activate_customer_password', class: form_class %}
    {%- if form.errors -%}
      <h2 tabindex="-1" autofocus class="p">
        {{- 'templates.contact.form.error_heading' | t -}}
      </h2>
      <ul>
        {%- for field in form.errors -%}
          <li>
            {%- if field == 'form' -%}
              {{ form.errors.messages[field] }}
            {%- else -%}
              <a href="#{{ field }}">
                {{- form.errors.translated_fields[field] | capitalize }}
                {{ form.errors.messages[field] -}}
              </a>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}

    <div class="form__row">
      <label for="password">
        {{- 'customer.activate_account.password' | t -}}
      </label>
      <input
        type="password"
        placeholder="{{- 'customer.activate_account.password' | t -}}"
        name="customer[password]"
        id="password"
        required
        autocomplete="new-password"
        {% if form.errors contains 'password' %}
          aria-invalid="true"
          aria-describedby="password-error"
        {% endif %}
      >

      {%- if form.errors contains 'password' -%}
        <small id="password-error" class="message-error">
          {{- form.errors.translated_fields.password | capitalize }}
          {{ form.errors.messages.password -}}
        </small>
      {%- endif -%}
    </div>

    <div class="form__row">
      <label for="password_confirmation">
        {{- 'customer.activate_account.password_confirm' | t -}}
      </label>
      <input
        type="password"
        required
        name="customer[password_confirmation]"
        placeholder="{{- 'customer.activate_account.password_confirm' | t -}}"
        id="password_confirmation"
        autocomplete="new-password"
        {% if form.errors contains 'password' %}
          aria-invalid="true"
          aria-describedby="password_confirmation-error"
        {% endif %}
      >

      {%- if form.errors contains 'password_confirmation' -%}
        <small id="password_confirmation-error" class="message-error">
          {{- form.errors.translated_fields.password_confirmation | capitalize }}
          {{ form.errors.messages.password_confirmation -}}
        </small>
      {%- endif -%}
    </div>

    <div class="customer-forms__buttons">
      <button>
        {{- 'customer.activate_account.submit' | t -}}
      </button>
      <button name="decline" class="btn __with-underline">
        {{- 'customer.activate_account.cancel' | t -}}
      </button>
    </div>
  {%- endform -%}
  </div>
</div>

{% schema %}
{
  "tag": "section"
}
{% endschema %}
