{% liquid
  assign heading = 'customer.reset_password.title' | t 
  assign form_class = 'customer-forms__form form-styles'

%}

<div id="Main-reset-password" class="customer-forms">
  <div class="customer-forms__container">
    <div class="customer-forms__text __align-center">
      {% render 'heading', heading: heading, heading_size: 'h5', heading_tag: 'h1' %}
      <p class="p-sm">
        {{- 'customer.reset_password.subtext'| t -}}
      </p>
    </div>

    {%- form 'reset_customer_password', class: form_class -%}
      {%- if form.errors -%}
        <h2 tabindex="-1" autofocus class="p">
          <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
          {{- 'templates.contact.form.error_heading' | t -}}
        </h2>
        <ul>
          {%- for field in form.errors -%}
            <li>
              {%- if field == 'form' -%}
                {{ form.errors.messages[field] }}
              {%- else -%}
                <a href="#{{ field }}">
                  {{- form.errors.translated_fields[field] | capitalize }}
                  {{ form.errors.messages[field] -}}
                </a>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}

      <div>
        <label for="password">
          {{- 'customer.reset_password.password' | t -}}
        </label>

        <input
          type="password"
          name="customer[password]"
          placeholder="{{- 'customer.reset_password.password' | t -}}"
          id="password"
          autocomplete="new-password"
          {% if form.errors contains 'password' %}
            aria-invalid="true"
            aria-describedby="password-error"
          {% endif %}
        >

        {%- if form.errors contains 'password' -%}
          <small id="password-error" class="message-error">
            {{- form.errors.translated_fields['password'] | capitalize }}
            {{ form.errors.messages['password'] -}}
          </small>
        {%- endif -%}
      </div>

      <div>
        <label for="password_confirmation">
          {{ 'customer.reset_password.password_confirm' | t }}
        </label>

        <input
          type="password"
          name="customer[password_confirmation]"
          placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
          id="password_confirmation"
          autocomplete="new-password"
          {% if form.errors contains 'password_confirmation' %}
            aria-invalid="true"
            aria-describedby="password_confirmation-error"
          {% endif %}
        >

        {%- if form.errors contains 'password_confirmation' -%}
          <small id="password_confirmation-error" class="message-error">
            {{- form.errors.translated_fields['password_confirmation'] | capitalize }}
            {{ form.errors.messages['password_confirmation'] -}}
          </small>
        {%- endif -%}
      </div>

      <button>
        {{ 'customer.reset_password.submit' | t }}
      </button>
    {%- endform -%}
  </div>
</div>

{% schema %}
{
  "tag": "section"
}
{% endschema %}