{% liquid
  assign section_theme = section.settings.theme
  assign top_spacing = section.settings.top_spacing
  assign bottom_spacing = section.settings.bottom_spacing
  assign form_class = 'customer-forms__form form-styles' | append: " __hide-labels-" | append: section.settings.hide_labels
%}

{% style %}
  #Main-login-{{ section.id }} {
    --topSpacingRatio: {{ top_spacing }} / 100;
    --bottomSpacingRatio: {{ bottom_spacing }} / 100;
  }
{% endstyle %}

<div id="Main-login-{{ section.id }}" class="customer-forms __theme-{{ section_theme }}">
  <div class="customer-forms__container" id="recover">
    <div class="customer-forms__text __align-center">
      {% render 'heading', heading: section.settings.reset_heading, heading_size: 'h5', heading_tag: 'h1' %}
      <p class="p-sm">
        {{- 'customer.recover_password.subtext' | t -}}
      </p>
    </div>
    {%- if recover_success == true -%}
      <h3 class="message-success p" tabindex="-1" autofocus>
        {{- 'customer.recover_password.success' | t -}}
      </h3>
    {%- endif -%}

    {%- form 'recover_customer_password', class: form_class -%}
      {% assign recover_success = form.posted_successfully? %}
      <div>
        <label for="RecoverEmail">
          {{- 'customer.login_page.email' | t -}}
        </label>
        <input
          type="email"
          value=""
          name="email"
          placeholder="{{- 'customer.login_page.email' | t -}}"
          id="RecoverEmail"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="email"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="RecoverEmail-email-error"
            autofocus
          {% endif %}
        >

        {%- if form.errors -%}
          <small id="RecoverEmail-email-error" class="message-error">
            {{- form.errors.messages.form -}}
          </small>
        {%- endif -%}
      </div>
      <div>
        <button>
          {{- 'customer.login_page.submit' | t -}}
        </button>
      </div>
    {%- endform -%}

    {% assign button_label = 'customer.login_page.cancel' | t %}
    {% render 'button', class: "customer-forms", button_label: button_label, button_link: "#login", style: "underline" %}

  </div>

  <div class="customer-forms__container" id="login">
    <div class="customer-forms__text __align-center">
        {% render 'heading', heading: section.settings.heading, heading_size: 'h5', heading_tag: 'h1', class: "customer-forms__text" %}
      <div class="customer-forms__text__description p-sm" {{ block.shopify_attributes }}>
        {{ section.settings.description }}
      </div>
    </div>
    {%- if recover_success == true -%}
      <h3 class="message-success p" tabindex="-1" autofocus>
        {{- 'customer.recover_password.success' | t -}}
      </h3>
    {%- endif -%}

    {%- form 'customer_login', class: form_class -%}
      {%- if form.errors -%}
        <h2 tabindex="-1" autofocus>
          <small class="visually-hidden">{{- 'accessibility.error' | t -}}</small>
          {{- 'templates.contact.form.error_heading' | t -}}
        </h2>

        {{ form.errors | default_errors }}
      {%- endif -%}

      <div>
        <label for="CustomerEmail">
          {{- 'customer.login_page.email' | t -}}
        </label>
        <input
          type="email"
          name="customer[email]"
          placeholder="{{- 'customer.login_page.email' | t -}}"
          id="CustomerEmail"
          autocomplete="email"
          autocorrect="off"
          autocapitalize="off"
          {% if form.errors contains 'form' %}
            aria-invalid="true"
          {% endif %}
        >
      </div>

      <div>
        <label for="CustomerPassword">
          {{- 'customer.login_page.password' | t -}}
        </label>
        <input
          type="password"
          placeholder="{{- 'customer.login_page.password' | t -}}"
          value=""
          name="customer[password]"
          id="CustomerPassword"
          autocomplete="current-password"
          {% if form.errors contains 'form' %}
            aria-invalid="true"
          {% endif %}
        >
      </div>

      <div>
        <button>
          {{- 'customer.login_page.sign_in' | t -}}
        </button>
      </div>
    {%- endform -%}

    {% assign button_label = 'customer.login_page.forgot_password' | t %}
    {% render 'button', class: "customer-forms", button_label: button_label, button_link: "#recover", style: "underline" %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-login.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "checkbox",
      "id": "hide_labels",
      "label": "Hide Labels?",
      "default": false
    },
    {
      "type": "header",
      "content": "Login Form"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Welcome",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "default":"<p>Log in to Your Account<\/p><p>Don't have an account? <a href=\"\/account\/register\" title=\"\/account\/register\">Register<\/a><\/p>",
      "label": "Description"
    },
    {
      "type": "header",
      "content": "Reset Form"
    },
    {
      "type": "text",
      "id": "reset_heading",
      "default": "Reset Your Password",
      "label": "Reset Form Heading"
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ],
      "default": "primary",
      "label": "Theme"
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
