{{ 'customer-forms.css' | asset_url | stylesheet_tag }}

{% liquid
  assign section_theme = section.settings.theme
  assign top_spacing = section.settings.top_spacing
  assign bottom_spacing = section.settings.bottom_spacing
  assign form_class = 'customer-forms__form form-styles' | append: ' __hide-labels-' | append: section.settings.hide_labels
%}

{% style %}
  #Main-register-{{ section.id }} {
    --topSpacingRatio: {{ top_spacing }} / 100;
    --bottomSpacingRatio: {{ bottom_spacing }} / 100;
  }
{% endstyle %}

<div id="Main-register-{{ section.id }}" class="customer-forms __theme-{{ section_theme }}">
  <div class="customer-forms__container">
    <div class="customer-forms__text __align-center">
      {% render 'heading', heading: section.settings.heading, heading_size: section.settings.heading_size, alt_heading: section.settings.alt_heading, heading_tag: 'h1' %}
      <div class="__article-txt-{{ section.settings.text_size }}" {{ block.shopify_attributes }}>
        {{ section.settings.description }}
      </div>
    </div>
    {% form 'create_customer', class: form_class %}
      {%- if form.errors -%}
        <h2 tabindex="-1" autofocus class="p">
          {{- 'templates.contact.form.error_heading' | t -}}
        </h2>

        <ul>
          {%- for field in form.errors -%}
            <li>
              {%- if field == 'form' -%}
                {{ form.errors.messages[field] }}
              {%- else -%}
                <a href="#RegisterForm-{{ field }}">
                  {{- form.errors.translated_fields[field] | capitalize }}
                  {{ form.errors.messages[field] -}}
                </a>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}

      <div>
        <label for="RegisterForm-FirstName">
          {{- 'customer.register.first_name' | t -}}
          *
        </label>
        <input
          required
          type="text"
          name="customer[first_name]"
          placeholder=" {{ 'customer.register.first_name' | t }}*"
          id="RegisterForm-FirstName"
          {% if form.first_name %}
            value="{{ form.first_name }}"
          {% endif %}
          autocomplete="given-name"
        >
      </div>

      <div>
        <label for="RegisterForm-LastName">
          {{- 'customer.register.last_name' | t -}}
          *
        </label>
        <input
          type="text"
          name="customer[last_name]"
          placeholder="{{ 'customer.register.last_name' | t }}*"
          required
          id="RegisterForm-LastName"
          {% if form.last_name %}
            value="{{ form.last_name }}"
          {% endif %}
          autocomplete="family-name"
        >
      </div>
      <div>
        <div>
          <label for="RegisterForm-email">
            {{- 'customer.register.email' | t -}}
            *
          </label>

          <input
            type="email"
            required
            name="customer[email]"
            placeholder="{{ 'customer.register.email' | t }}*"
            id="RegisterForm-email"
            {% if form.email %}
              value="{{ form.email }}"
            {% endif %}
            spellcheck="false"
            autocapitalize="off"
            autocomplete="email"
            aria-required="true"
            {% if form.errors contains 'email' %}
              aria-invalid="true"
              aria-describedby="RegisterForm-email-error"
            {% endif %}
          >
        </div>

        {% if form.errors contains 'email' %}
          <small id="RegisterForm-email-error" class="message-error">
            {{- form.errors.translated_fields.email | capitalize }}
            {{ form.errors.messages.email -}}
          </small>
        {% endif %}
      </div>

      <div>
        <div>
          <label for="RegisterForm-password">
            {{- 'customer.register.password' | t -}}
            *
          </label>

          <input
            type="password"
            name="customer[password]"
            id="RegisterForm-password"
            required
            placeholder="{{ 'customer.register.password' | t }}*"
            aria-required="true"
            {% if form.errors contains 'password' %}
              aria-invalid="true"
              aria-describedby="RegisterForm-password-error"
            {% endif %}
          >
        </div>
        {% if form.errors contains 'password' %}
          <small id="RegisterForm-password-error" class="message-error">
            {{- form.errors.translated_fields.password | capitalize }}
            {{ form.errors.messages.password -}}
          </small>
        {% endif %}
      </div>

      <button>
        {{- 'customer.register.submit' | t -}}
      </button>
    {% endform %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-register.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-register.settings.header.content"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Create Account",
      "label": "t:sections.main-register.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.main-register.settings.heading_size.options.label_1"
        },
        {
          "value": "h4",
          "label": "t:sections.main-register.settings.heading_size.options.label_2"
        },
        {
          "value": "h5",
          "label": "t:sections.main-register.settings.heading_size.options.label_3"
        },
        {
          "value": "h6",
          "label": "t:sections.main-register.settings.heading_size.options.label_4"
        }
      ],
      "default": "h5",
      "label": "t:sections.main-register.settings.heading_size.label"
    },
    {
      "type": "checkbox",
      "id": "alt_heading",
      "label": "t:sections.main-register.settings.alt_heading.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "default": "<p>Register for an account.</p>",
      "label": "t:sections.main-register.settings.description.label"
    },
    {
      "type": "select",
      "id": "text_size",
      "options": [
        {
          "value": "p-sm",
          "label": "t:sections.main-register.settings.description_text_size.options.label_1"
        },
        {
          "value": "p",
          "label": "t:sections.main-register.settings.description_text_size.options.label_2"
        },
        {
          "value": "p-lg",
          "label": "t:sections.main-register.settings.description_text_size.options.label_3"
        }
      ],
      "default": "p-sm",
      "label": "t:sections.main-register.settings.description_text_size.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-register.settings.header_2.content"
    },
    {
      "type": "checkbox",
      "id": "hide_labels",
      "label": "t:sections.main-register.settings.hide_labels.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.main-register.settings.header_3.content"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.main-register.settings.top_spacing.label",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.main-register.settings.bottom_spacing.label",
      "default": 50
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.main-register.settings.theme.options.label_1"
        },
        {
          "value": "2",
          "label": "t:sections.main-register.settings.theme.options.label_2"
        },
        {
          "value": "3",
          "label": "t:sections.main-register.settings.theme.options.label_3"
        },
        {
          "value": "4",
          "label": "t:sections.main-register.settings.theme.options.label_4"
        },
        {
          "value": "5",
          "label": "t:sections.main-register.settings.theme.options.label_5"
        }
      ],
      "default": "primary",
      "label": "t:sections.main-register.settings.theme.options.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.main-register.presets.name"
    }
  ]
}
{% endschema %}
