{% liquid
  assign section_theme = section.settings.theme
  assign top_spacing = section.settings.top_spacing
  assign bottom_spacing = section.settings.bottom_spacing
%}

{% style %}
  #Main-login-{{ section.id }} {
    --topSpacingRatio: {{ top_spacing }} / 100;
    --bottomSpacingRatio: {{ bottom_spacing }} / 100;
  }
{% endstyle %}

{{ 'customer.css' | asset_url | stylesheet_tag }}

<div id="Main-login-{{ section.id }}" class="container site-login __theme-{{ section_theme }}">
  <div id="recover" class="form-styles">
    <div class="form-styles__text">
      {% render 'heading', heading: section.settings.reset_heading, heading_size: 'h5', heading_tag: 'h1' %}
      <div>
        <p>
          {{- 'customer.recover_password.subtext' | t -}}
        </p>
      </div>
    </div>
    {%- if recover_success == true -%}
      <h3 class="message-success" tabindex="-1" autofocus>
        {{- 'customer.recover_password.success' | t -}}
      </h3>
    {%- endif -%}

    {%- form 'recover_customer_password' -%}
      {% assign recover_success = form.posted_successfully? %}
      <div>
        <label for="RecoverEmail">
          {{- 'customer.login_page.email' | t -}}
        </label>
        <input
          type="email"
          value=""
          name="email"
          id="RecoverEmail"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="email"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="RecoverEmail-email-error"
            autofocus
          {% endif %}
        >

        {%- if form.errors -%}
          <small id="RecoverEmail-email-error" class="message-error">
            {{- form.errors.messages.form -}}
          </small>
        {%- endif -%}
      </div>
      <div>
        <button>
          {{- 'customer.login_page.submit' | t -}}
        </button>
      </div>

      <a href="#login" class="cancel">
        {{- 'customer.login_page.cancel' | t -}}
      </a>
    {%- endform -%}
  </div>

  <div id="login" class="form-styles">
    <div class="form-styles__text site-login__text">
      <div class="site-login__text__heading">
        {% render 'heading', heading: section.settings.heading, heading_size: 'h5', heading_tag: 'h1' %}
      </div>
      <div class="site-login__text__description" {{ block.shopify_attributes }}>
        {{ section.settings.description }}
      </div>
      <span>Don't have an account?</span>
      <a class="site-login__create" href="{{ routes.account_register_url }}">
        {{ section.settings.register_label }}
      </a>
    </div>
    {%- if recover_success == true -%}
      <h3 class="message-success" tabindex="-1" autofocus>
        {{- 'customer.recover_password.success' | t -}}
      </h3>
    {%- endif -%}

    {%- form 'customer_login' -%}
      {%- if form.errors -%}
        <h2 tabindex="-1" autofocus>
          <small class="visually-hidden">{{- 'accessibility.error' | t -}}</small>
          {{- 'templates.contact.form.error_heading' | t -}}
        </h2>

        {{ form.errors | default_errors }}
      {%- endif -%}

      <div class="form__row">
        <label for="CustomerEmail">
          {{- 'customer.login_page.email' | t -}}
        </label>
        <input
          type="email"
          name="customer[email]"
          id="CustomerEmail"
          autocomplete="email"
          autocorrect="off"
          autocapitalize="off"
          {% if form.errors contains 'form' %}
            aria-invalid="true"
          {% endif %}
        >
      </div>

      <div class="form__row">
        <label for="CustomerPassword">
          {{- 'customer.login_page.password' | t -}}
        </label>
        <input
          type="password"
          value=""
          name="customer[password]"
          id="CustomerPassword"
          autocomplete="current-password"
          {% if form.errors contains 'form' %}
            aria-invalid="true"
          {% endif %}
        >
      </div>

      <div>
        <button>
          {{- 'customer.login_page.sign_in' | t -}}
        </button>
        <a class="site-login__recover" href="#recover">
          {{- 'customer.login_page.forgot_password' | t -}}
        </a>
      </div>
    {%- endform -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-login.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Login Form"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Welcome",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "default": "<p>Log in to Your Account</p>",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "register_label",
      "default": "Register",
      "label": "Register Link Label"
    },
    {
      "type": "header",
      "content": "Reset Form"
    },
    {
      "type": "text",
      "id": "reset_heading",
      "default": "Reset Your Password",
      "label": "Reset Form Heading"
    },
    {
      "type": "header",
      "content": "Forms Settings"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ],
      "default": "primary",
      "label": "Theme"
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
