{{ 'product.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{% style %}
  --topSpacingRatio: {{ section.settings.top_spacing }} / 100;
  --bottomSpacingRatio: {{ section.settings.bottom_spacing }} / 100;
{% endstyle %}


{% comment %} 
  Get these variables:
   featured_media (object)
   variant_images (array)
   media_count (int)
   first_3d_modal (object)

   TODO: What is section.settings.hide_variants below. Create it in schema? Remove it here?
{% endcomment %}
{%- liquid
  assign featured_media = product.selected_or_first_available_variant.featured_media
  assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
  assign media_count = product.media.size
  if section.settings.hide_variants and media_count > 1
    assign media_count = media_count | minus: variant_images.size | plus: 1
  endif
  assign first_3d_model = product.media | where: "media_type", "model" | first
  assign product_form_id = 'Product-Form-' | append: section.id
-%}


{% comment %} Add style sheet that'll apply to 3d model instances? {% endcomment %}
{%- if first_3d_model -%}
  <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
{%- endif -%}


<div class="main-product product __theme-{{ section.settings.theme }}">
  
    {% comment %} Product info {% endcomment %}
    <div id="Product-Info-{{ section.id }}" class="main-product__container">
      {% comment %} 
        Seems weird but we need to open this container without a closing tag. 
        Either the end of the loop of the media block within the loop will close 
        this div. Goal here is to contain all blocks that are ordered before the media block.
      {% endcomment %}
      <div 
        class="main-product__blocks-before-media"
        style="{% if product.metafields.custom.color %}--color-background: {{ product.metafields.custom.color.value.rgb }}; --color-foreground-text: {{ product.metafields.custom.color.value.rgb }};{% endif %} {% if product.metafields.custom.text_color %} --color-text: {{ product.metafields.custom.text_color.value.rgb }}; --color-foreground: {{ product.metafields.custom.text_color.value.rgb }}; --color-border: {{ product.metafields.custom.text_color.value.rgb }} / .3;{% endif %}"
      > 

      {% comment %} Loop through blocks {% endcomment %}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          

          {% comment %} Type media {% endcomment %}
          {%- when 'media' -%}
            {% comment %}
              Seems weird, but this closes the "blocks-before-media" opening div tag above
              so that all blocks ordered before media are in a container
            {% endcomment %}
            </div>


            <media-gallery class="main-product__media" id="Product-MediaGallery-{{ section.id }}">

              {% comment %} Skip to content anchor link {% endcomment %}
              <a class="skip-to-content-link visually-hidden" href="#ProductInfo-{{ section.id }}">
                {{ 'accessibility.skip_to_product_info' | t }}
              </a>

              <ul class="main-product__media__container product-media grid list-unstyled" role="list">

                {% comment %} If no media exists, output placeholder content? {% endcomment %}
                {%- unless featured_media == null -%}
                  <li class="main-product__media__item" data-media-id="{{ section.id }}-{{ featured_media.id }}">
                    {% render 'product-thumbnail', media: featured_media, loading: 'eager' %}
                  </li>
                {%- endunless -%}

                {% comment %} Loop through available media, excluding featured media item {% endcomment %}
                {% comment %} What does the parent <media-gallery> component do, why do these li's have data-media-id attr on them? {% endcomment %}
                {%- for media in product.media -%}
                  {%- unless media.id == featured_media.id -%}
                    <li class="main-product__media__item" data-media-id="{{ section.id }}-{{ media.id }}">
                      {%- liquid
                        assign media_position = media_position | default: 0 | plus: 1
                        assign loading = 'eager'
                        if media_position > 1
                          assign loading = 'lazy'
                        endif
                        render 'product-thumbnail', media: media, loading: loading
                      -%}
                    </li>
                  {%- endunless -%}
                {%- endfor -%}
              </ul>

              <ul class="main-product__media__dots">
                {%- for media in product.media -%}
                  <li>
                    
                  </li>
                {%- endfor -%}
              </ul>
              
            </media-gallery>


            {% comment %}
              Seems weird but we need to open this container without a closing tag. 
              The end of the loop will close this div so that all blocks after media are in a container
            {% endcomment %}
            <div 
              class="main-product__blocks-after-media"
              style="{% if product.metafields.custom.color %}--color-foreground: {{ product.metafields.custom.color.value.rgb }}; {% endif %} {% if product.metafields.custom.text_color %} --color-foreground-text: {{ product.metafields.custom.text_color.value.rgb }};{% endif %}"
            >
            


          {% comment %} Type app {% endcomment %}
          {%- when '@app' -%}
            <div class="app __side-left">
            {% render block %}

          {% comment %} Type text {% endcomment %}
          {%- when 'text' -%}
            <div class="main-product__block {% if block.settings.include_border %} __border-top {% endif %}">
              <p class="{{ block.settings.text_size }}" {{ block.shopify_attributes }}>
                {{ block.settings.text }}
              </p>
            </div>

          {% comment %} Type title {% endcomment %}
          {%- when 'title' -%}
            {% render 'heading', heading: product.title, alt_heading: block.settings.alt_heading, heading_size: block.settings.heading_size, heading_tag: "h1" %}

          {% comment %} Type price {% endcomment %}
          {%- when 'price' -%}
            <div
              id="Price-{{ section.id }}"
              class="no-js-hidden {{ block.settings.heading_size }}" 
              role="status"
              {{ block.shopify_attributes }}
            >
              {%- render 'price', product: product, use_variant: true, show_badges: true -%}
            </div>
            {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
              <div>
                {%- if shop.taxes_included -%}
                  {{ 'products.product.include_taxes' | t }}
                {%- endif -%}
                {%- if shop.shipping_policy.body != blank -%}
                  {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                {%- endif -%}
              </div>
            {%- endif -%}
            <div {{ block.shopify_attributes }}>
              {%- assign installment_id = 'Installment-' | append: section.id -%}
              {%-
                form 'product',
                product,
                id: installment_id
              -%}
                <input
                  type="hidden"
                  name="id"
                  value="{{ product.selected_or_first_available_variant.id }}"
                >
                {{ form | payment_terms }}
              {%- endform -%}
            </div>

          {% comment %} Type variant picker {% endcomment %}
          {%- when 'variant_picker' -%}
            {%- unless product.has_only_default_variant -%}

              {% comment %} Layout button {% endcomment %}
              {%- if block.settings.layout == 'buttons' -%}
                <variant-radios class="no-js-hidden main-product__variant-radios" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                  {%- for option in product.options_with_values -%}
                    {% capture option_variable_name %}option_{{ forloop.index }}_description{% endcapture %}
                    {% comment %} TODO logic that hanfles special color swatch and size options scenarios 
                    {%- liquid
                      assign is_color = false
                      if block.settings.enable_color_swatches
                        assign swatch_file_extension = 'png'
                        assign swatch_trigger = 'products.product.color_swatch_trigger' | t | downcase
                        assign downcased_option = option.name | downcase
                        if downcased_option contains swatch_trigger
                          assign is_color = true
                        elsif swatch_trigger == 'color' and downcased_option contains 'colour'
                          assign is_color = true
                        endif
                      endif

                      assign is_size = false
                      if block.settings.size_chart != blank
                        assign size_trigger = 'products.product.size_chart_trigger' | t | downcase
                        assign downcased_option = option.name | downcase
                        if downcased_option contains size_trigger
                          assign is_size = true
                        endif
                      endif

                      assign option_idx = forloop.index
                    -%}
                    {% endcomment %}

                    {% assign option_idx = forloop.index %}
                    <div class="main-product__variant-radios__radio main-product__block {% if block.settings.include_border %} __border-top {% endif %}">
                      <fieldset class="js variant-input-wrapper main-product__fieldset"
                        data-option-index="option{{ option_idx }}"
                        data-option-slug="{{ option.name | handleize }}"
                      >
                        {%- if block.settings.show_option_labels -%}
                          <legend class="main-product__fieldset__label p-sm">
                            <span>{{ option.name }}</span>
                            {{ product.metafields.custom[option_variable_name] }}
                            {% comment %}{%- if is_color -%}
                              <span class="form__label-info" id="color-{{ section.id }}">&ndash;&nbsp;{{ option.selected_value }}</span>
                            {%- endif -%}{% endcomment %}
                          </legend>
                        {%- endif -%}
                        {%- for value in option.values -%}
                          <input
                            type="radio"
                            id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"
                            name="{{ option.name }}"
                            value="{{ value | escape }}"
                            form="{{ product_form_id }}"
                            {%- if option.selected_value == value %}checked="checked"{% endif -%}
                            data-option-value="{{ value | escape }}"
                            class="main-product__fieldset__input"
                          />
                          {% comment %}
                          {%- if is_color -%}
                            {%- liquid
                              assign color_file_name = value | handle | append: '.' | append: swatch_file_extension
                              assign color_image = color_file_name | file_img_url: '50x50' | prepend: 'https:' 
                              assign color_swatch_fallback = value | split: ' ' | last | handle
                            -%}
                            <label
                              for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"
                              class="color__swatch color__swatch--{{ block.settings.swatch_type }}"
                              style="--swatch-background-color: {{ color_swatch_fallback }};{% if images[color_file_name] != blank %} --swatch-background-image: url({{ color_image }});{% endif %}"
                              title="{{ value | escape }}"
                            >
                              <span class="color__swatch-dot"></span>
                            </label>
                          {%- else -%}
                            <label for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}">
                              {{ value }}
                            </label>
                          {%- endif -%}
                          {% endcomment %}
                            <label for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}" class="p-sm main-product__fieldset__value">
                              {{ value }}
                            </label>
                        {%- endfor -%}

                        {% comment %}
                        {%- if is_size -%}
                          <div class="form__popup" id="size-{{ section.id }}">
                            <modal-opener class="no-js-hidden" data-modal="#PopupModal-{{ block.id }}" {{ block.shopify_attributes }}>
                              <button id="ProductPopup-{{ block.id }}" class="link link-with-icon" type="button" aria-haspopup="dialog">
                                {% render 'icon', icon: 'ruler' %}
                                <span class="label">{{ 'products.product.size_chart' | t | default: block.settings.size_chart.title }}</span>
                              </button>
                            </modal-opener>
                            <a href="{{ block.settings.size_chart.url }}" class="link link-with-icon no-js">
                              {% render 'icon', icon: 'ruler' %}
                              <span class="label">{{ 'products.product.size_chart' | t | default: block.settings.size_chart.title }}</span>
                            </a>
                          </div>
                        {%- endif -%}
                      {% endcomment %}
                      </fieldset>
                    </div>
                  {%- endfor -%}
                  
                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                </variant-radios>
              {% comment %} Layout dropdowns {% endcomment %}
              {%- else -%}
                <variant-selects class="no-js-hidden main-product__variant-dropdowns main-product__block {% if block.settings.include_border %} __border-top {% endif %}" data-section="{{ section.id }}" data-url="{{ product.url }}">
                  {%- for option in product.options_with_values -%}
                    <div class="main-product__dropdown">
                      <label for="Option-{{ section.id }}-{{ forloop.index0 }}" class="main-product__dropdown__label p-sm">
                        {{ option.name }}
                      </label>
                      <select
                        id="Option-{{ section.id }}-{{ forloop.index0 }}"
                        name="options[{{ option.name | escape }}]"
                        form="{{ product_form_id }}"
                        class="main-product__dropdown__select"
                      >
                        {%- for value in option.values -%}
                          <option
                            value="{{ value | escape }}"
                            {% if option.selected_value == value %}
                              selected="selected"
                            {% endif %}
                          >
                            {{ value }}
                          </option>
                        {%- endfor -%}
                      </select>
                    </div>
                  {%- endfor -%}

                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                </variant-selects>
              {%- endif -%}

              <noscript>
                <div class="main-product__dropdown">
                  <label for="Variants-{{ section.id }}" class="main-product__dropdown__label p-sm">
                    {{ 'products.product.product_variants' | t }}
                  </label>

                  <select
                    name="id"
                    id="Variants-{{ section.id }}"
                    form="{{ product_form_id }}"
                    class="main-product__dropdown__select"
                  >
                    {%- for variant in product.variants -%}
                      <option
                        {% if variant == product.selected_or_first_available_variant %}
                          selected="selected"
                        {% endif %}
                        {% if variant.available == false %}
                          disabled
                        {% endif %}
                        value="{{ variant.id }}"
                      >
                        {{ variant.title }}
                        {%- if variant.available == false %}
                          - {{ 'products.product.sold_out' | t -}}
                        {%- endif %}
                        - {{ variant.price | money | strip_html }}
                      </option>
                    {%- endfor -%}
                  </select>
                </div>
              </noscript>
            {%- endunless -%}

          {% comment %} Type buy buttons {% endcomment %}
          {%- when 'buy_buttons' -%}
          <div class="main-product__block {% if block.settings.include_border %} __border-top {% endif %}">
            {% render 'product-form' id: product_form_id, product: product, show_quantity: block.settings.show_quantity, include_border: block.settings.include_border, hide_dynamic_buttons: block.settings.hide_dynamic_buttons %}
          </div>

          {% comment %} Type expandable content {% endcomment %}
          {%- when 'expandable' %}
            {% render 'disclosure', title: block.settings.title, id: block.id, text: block.settings.text, page: block.settings.page, open: block.settings.open, article_text: true %}

          {% comment %} Type featured icons {% endcomment %}
          {%- when 'icons' -%}
            {% if product.metafields.custom.featured_icons.value.size > 0 %}
              <div class="main-product__block {% if block.settings.include_border %} __border-top {% endif %}">
                {% if block.settings.title %}
                  <div class="p-sm">{{ block.settings.title }}</div>
                {% endif %}
                {% render 'featured-icons'  icon_1: block.settings.icon_1, icon_1_title: block.settings.icon_1_title, icon_2: block.settings.icon_2, icon_2_title: block.settings.icon_2_title, icon_3: block.settings.icon_3, icon_3_title: block.settings.icon_3_title, product: product, class: "main-product__icons", layout: block.settings.layout, icon_height: block.settings.icon_height %}
              </div>
            {% endif %}

          {% comment %} Type description {% endcomment %}
          {%- when 'description' -%}
            {%- unless product.description == blank -%}
              <div {{ block.shopify_attributes }} class="{{ block.settings.text_size }}">
                {{ product.description }}
              </div>
            {%- endunless -%}

          {% comment %} Type rating {% endcomment %}
          {%- when 'rating' -%}
            {% render 'product-ratings' product: product %}

          {% comment %} Type pickup availability {% endcomment %}
          {%- when 'pickup_availability' -%}

            {% capture pickup_availability_content %}
              {% comment %}
                Pickup availability block's contents are rendered async to ensure faster Liquid render times, but this may cause a noticeable increase in cumulative layout shift (CLS) if rendered near the top of the page.
                To mitigate CLS, the contents of `pickup-availability.liquid` could alternatively be rendered directly in this Liquid file.
              {% endcomment %}
              <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
              <pickup-availability data-product-variant="{{ product.selected_or_first_available_variant.id }}">
                {% comment %}
                  Error template is rendered if async request for pickup availability fails
                {% endcomment %}
                <template>
                  <p class="message-error">{{ 'products.pickup_availability.error' | t }}</p>
                </template>
              </pickup-availability>  
            {% endcapture %}
            {% capture pickup_availability_id %}pickup-{{ section.id }}-{{ block.id }}{% endcapture%}
            {% render 'disclosure' title: block.settings.title, text: pickup_availability_content, id: pickup_availability_id, class: "main-product__block main-product__pickup-disclosure" %}
          
            {% comment %} Product Recommendations {% endcomment %}
            {%- when 'complementary_products' -%}
              {% assign comp_product_count = product.metafields.shopify--discovery--product_recommendation.complementary_products | split: "," | size %}
              {% if comp_product_count > 0  %}
                <div class="main-product__block main-product__comp-products {% if block.settings.include_border %} __border-top {% endif %}">
                  {% if block.settings.title %}
                    <div class="p">{{ block.settings.title }}</div>
                  {% endif %}
                  {% for product in product.metafields.shopify--discovery--product_recommendation.complementary_products.value %}
                    {% render 'quick-product' quick_product: product, class: "main-product__comp-products__product" %}
                  {% endfor %}
                </div>
              {% endif %}
          {%- endcase -%}
      {%- endfor -%}

      {% comment %}
        Seems weird, but this closes the "blocks-before-media" or "blocks-after-media" 
        opening div tag above depending on if the media block exists or not. This is
        so that all blocks ordered after media are in a container
      {% endcomment %}
      </div>
    </div>
  </div>

  {% comment %} TODO: IE purchase flow fix {% endcomment %}
  {% comment %} TODO: SEO JSON {% endcomment %}
  {%- if first_3d_model -%}
    <script type="application/json" id="Product-JSON-{{ product.id }}">
      {{ product.media | where: 'media_type', 'model' | json }}
    </script>
    <script src="{{ 'product-model.js' | asset_url }}" defer></script>
  {%- endif -%}
</div>

<script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'variant-selects.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "p-sm",
              "label": "Small Text"
            },
            {
              "value": "p",
              "label": "Basic Text"
            },
            {
              "value": "p-lg",
              "label": "Large Text"
            }
          ],
          "default": "p-sm",
          "label": "Text Size"
        },
        {
          "type": "checkbox",
          "id": "include_border",
          "label": "Include border?",
          "default": true
        }
      ]
    },
    {
      "type": "expandable",
      "name": "Expandable Content",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Text from a page"
        },
        {
          "type": "checkbox",
          "id": "open",
          "label": "Open"
        }
      ]
    },
    {
      "type": "complementary_products",
      "limit": 1,
      "name": "Complementary Products",
      "settings": [
        {
          "type": "paragraph",
          "content": "This is generated from the complementary products you specify inside the Search & Discovery app. TODO: link with more info"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Title",
          "label": "Title"
        },
        {
          "type": "checkbox",
          "id": "include_border",
          "label": "Include border?",
          "default": true
        }
      ]
    },
    {
      "type": "icons",
      "limit": 1,
      "name": "Featured Icons",
      "settings": [
        {
          "type": "paragraph",
          "content": "This are generated from the featured icons product metafield. Learn More TODO: link this to a description. You can add additional featured icons below."
        },
        {
          "type": "select",
          "id": "icon_1",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "briefcase",
              "label": "Briefcase"
            },
            {
              "value": "calendar",
              "label": "Calendar"
            },
            {
              "value": "chat_bubble",
              "label": "Chat bubble"
            },
            {
              "value": "check_mark",
              "label": "Check mark"
            },
            {
              "value": "clock",
              "label": "Clock"
            },
            {
              "value": "credit_card",
              "label": "Credit card"
            },
            {
              "value": "dollar_sign",
              "label": "Dollar sign"
            },
            {
              "value": "dryer",
              "label": "Dryer"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "feather",
              "label": "Feather"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "iron",
              "label": "Iron"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "leather",
              "label": "Leather"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map_pin",
              "label": "Map pin"
            },
            {
              "value": "pants",
              "label": "Pants"
            },
            {
              "value": "percent",
              "label": "Percent"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "price_tag",
              "label": "Price tag"
            },
            {
              "value": "question_mark",
              "label": "Question mark"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "scissors",
              "label": "Scissors"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shoe",
              "label": "Shoe"
            },
            {
              "value": "silhouette",
              "label": "Silhouette"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "washing",
              "label": "Washing"
            }
          ],
          "default": "none",
          "label": "Icon 1"
        },
        {
          "type": "text",
          "id": "icon_1_title",
          "label": "Icon 1 Title"
        },
        {
          "type": "select",
          "id": "icon_2",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "briefcase",
              "label": "Briefcase"
            },
            {
              "value": "calendar",
              "label": "Calendar"
            },
            {
              "value": "chat_bubble",
              "label": "Chat bubble"
            },
            {
              "value": "check_mark",
              "label": "Check mark"
            },
            {
              "value": "clock",
              "label": "Clock"
            },
            {
              "value": "credit_card",
              "label": "Credit card"
            },
            {
              "value": "dollar_sign",
              "label": "Dollar sign"
            },
            {
              "value": "dryer",
              "label": "Dryer"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "feather",
              "label": "Feather"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "iron",
              "label": "Iron"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "leather",
              "label": "Leather"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map_pin",
              "label": "Map pin"
            },
            {
              "value": "pants",
              "label": "Pants"
            },
            {
              "value": "percent",
              "label": "Percent"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "price_tag",
              "label": "Price tag"
            },
            {
              "value": "question_mark",
              "label": "Question mark"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "scissors",
              "label": "Scissors"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shoe",
              "label": "Shoe"
            },
            {
              "value": "silhouette",
              "label": "Silhouette"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "washing",
              "label": "Washing"
            }
          ],
          "default": "none",
          "label": "Icon 2"
        },
        {
          "type": "text",
          "id": "icon_2_title",
          "label": "Icon 3 Title"
        },
        {
          "type": "select",
          "id": "icon_3",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "briefcase",
              "label": "Briefcase"
            },
            {
              "value": "calendar",
              "label": "Calendar"
            },
            {
              "value": "chat_bubble",
              "label": "Chat bubble"
            },
            {
              "value": "check_mark",
              "label": "Check mark"
            },
            {
              "value": "clock",
              "label": "Clock"
            },
            {
              "value": "credit_card",
              "label": "Credit card"
            },
            {
              "value": "dollar_sign",
              "label": "Dollar sign"
            },
            {
              "value": "dryer",
              "label": "Dryer"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "feather",
              "label": "Feather"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "iron",
              "label": "Iron"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "leather",
              "label": "Leather"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map_pin",
              "label": "Map pin"
            },
            {
              "value": "pants",
              "label": "Pants"
            },
            {
              "value": "percent",
              "label": "Percent"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "price_tag",
              "label": "Price tag"
            },
            {
              "value": "question_mark",
              "label": "Question mark"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "scissors",
              "label": "Scissors"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shoe",
              "label": "Shoe"
            },
            {
              "value": "silhouette",
              "label": "Silhouette"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "washing",
              "label": "Washing"
            }
          ],
          "default": "none",
          "label": "Icon 3"
        },
        {
          "type": "text",
          "id": "icon_3_title",
          "label": "Icon 3 Title"
        },
        {
          "type": "range",
          "id": "icon_height",
          "min": 20,
          "max": 100,
          "step": 10,
          "unit": "px",
          "label": "Icon Height",
          "default": 40
        },
        {
          "type": "text",
          "id": "title",
          "default": "Title",
          "label": "Title"
        },
        {
          "type": "radio",
          "id": "layout",
          "label": "Layout",
          "options": [
            {
              "value": "stacked",
              "label": "Stacked"
            },
            {
              "value": "row",
              "label": "Row"
            },
            {
              "value": "icon-only",
              "label": "Icon Only"
            }
          ],
          "default": "stacked"
        },
        {
          "type": "checkbox",
          "id": "include_border",
          "label": "Include border?",
          "default": true
        }
      ]
    },
    {
      "type": "media",
      "name": "media",
      "limit": 1
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h1",
              "label": "X-Large"
            },
            {
              "value": "h2",
              "label": "Large"
            },
            {
              "value": "h3",
              "label": "Medium"
            },
            {
              "value": "h4",
              "label": "Small"
            }
          ],
          "default": "h2",
          "label": "Heading Size"
        },
        {
          "type": "checkbox",
          "id": "alt_heading",
          "label": "Use body font instead of heading font for heading?"
        }
      ]
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1,
      "settings": [
          {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                  "value": "h5",
                  "label": "X-Large"
              },
              {
                  "value": "h6",
                  "label": "Large"
              },
              {
                  "value": "p",
                  "label": "Medium"
              },
              {
                  "value": "p-sm",
                  "label": "Small"
              }
            ],
            "default": "h6",
            "label": "Heading Size"
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "radio",
          "id": "layout",
          "label": "Layout",
          "options": [
            {
              "value": "dropdown",
              "label": "Dropdown"
            },
            {
              "value": "buttons",
              "label": "Buttons"
            }
          ],
          "default": "buttons"
        },
        {
          "type": "checkbox",
          "id": "show_option_labels",
          "label": "Show option labels and option descriptions?",
          "info": "Option descriptions can be added using metafields TODO: link",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "include_border",
          "label": "Include border?",
          "default": true
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons/quanity",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_quantity",
          "label": "Show quantity selector?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "hide_dynamic_buttons",
          "label": "Hide dynamic checkout buttons?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "include_border",
          "label": "Include border?",
          "default": true
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "p-sm",
              "label": "Small Text"
            },
            {
              "value": "p",
              "label": "Basic Text"
            },
            {
              "value": "p-lg",
              "label": "Large Text"
            }
          ],
          "default": "p-sm",
          "label": "Text Size"
        }
      ]
    },
    {
      "type": "rating",
      "name": "t:sections.main-product.blocks.rating.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.rating.settings.paragraph.content"
        }
      ]
    },
    {
      "type": "pickup_availability",
      "name": "Pickup availability",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Pickup Availability",
          "label": "Title"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ],
      "default": "primary",
      "label": "Theme",
      "info": "Theme"
    }
  ]
}
{% endschema %}