{{ 'main-article.css' | asset_url | stylesheet_tag }}
{{ 'article-comment.css' | asset_url | stylesheet_tag }}

{% style %}
  #Main-article-{{ section.id }} {
    --topSpacingRatio: {{ section.settings.top_spacing }} / 100;
    --bottomSpacingRatio: {{ section.settings.bottom_spacing }} / 100;
  }
{% endstyle %}

<div id="Main-article-{{ section.id }}" class="main-article __theme-{{ section.settings.theme }}">
  <div class="main-article__main-content">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}
        {%- when 'featured_image' -%}
          {% capture featured_image %}
            {%- if article.image -%}
              <div
                class="main-article__image image-container __crop-{{ block.settings.crop_shape }} __theme-{{ block.settings.overlay_theme }}"
                style="--imageRatio: {{ article.image.height | divided_by: 1.00 | divided_by: article.image.width | times: 100 }}%; --overlayOpacity: calc( {{ block.settings.overlay }} / 100);"
              >
                {% assign image = article.image | image_url: width: article.image.width %}
                {% render 'next-gen-img',
                  image: image,
                  width: 2620,
                  widths: '2620, 1900, 1400, 1000, 700',
                  sizes: '95vw',
                  preload: true
                %}
              </div>
            {%- endif -%}
          {% endcapture %}
        {%- when 'title' -%}
          {% assign heading_class = '__overlap-' | append: block.settings.overlap | append: ' main-article' %}
          {% render 'heading',
            heading: article.title,
            class: heading_class,
            heading_tag: 'h1',
            heading_size: block.settings.heading_size,
            alt_heading: block.settings.alt_heading
          %}

        {%- when 'details' -%}
          <div class="main-article__details">
            <p class="p-sm">{{ article.published_at | time_tag: format: 'date' }}</p>
            <p class="p-sm">{{ article.author }}</p>
          </div>
        {%- when 'content' -%}
          <div class="main-article__content __article-txt p">
            {% assign article_content = article.content | split: '<img' %}
            {% assign join_string = '<img class="__crop-' | append: block.settings.image_corners | append: '"' %}
            {% assign article_content = article_content | join: join_string %}
            {{ article_content }}
          </div>

        {%- when 'side_bar' -%}
          {% capture side_bar%}
          <div class="main-article__sidebar">
            <div class="main-article__sidebar__inner">
              {% if block.settings.label %}
                <h6 class="p-sm">{{ block.settings.label }}</h6>
              {% endif %}

              {% if article.metafields.custom.sidebar_content != blank %}
                <div class="__article-txt-sm">
                  {{ article.metafields.custom.sidebar_content }}
                </div>
              {% endif %}

              {% if block.settings.content != blank %}
                <div class="">
                  {{ block.settings.content }}
                </div>
              {% endif %}

              {% if block.settings.associated_products == true and article.metafields.custom.associated_products %}
                <div class="main-article__sidebar__products">
                  {{ 'product-card.css' | asset_url | stylesheet_tag }}
                  {% render 'quick-add-dependencies' quick_add: true %}

                  {% for product in article.metafields.custom.associated_products.value %}
                    {% render 'product-card',
                      this_product: product,
                      show_bg_color: false,
                      quick_add: false,
                      alignment: "left",
                      heading_size: "p"
                      price_position: "not-visible",
                      show_phrase: false,
                      show_description: false,
                      alt_heading: true,
                      img_width: 600,
                      img_widths: '600, 300',
                      img_sizes: '(max-width: 676px) 50vw, (max-width: 1024px) 30vw, 20vw',
                      preload: true
                      class: 'main-article__sidebar__products__product'
                    %}
                  {% endfor %}
                </div>
              {% endif %}

              <div class="p-sm">{{ 'general.social.share' | t }}</div>
              {% render 'sharing-icons' %}
            </div>
          </div>
          {% endcapture %}
      {%- endcase -%}
    {%- endfor -%}
  </div>

  {{ featured_image }}

  {{ side_bar }}
</div>

<div id="Main-article-{{ section.id }}" class="main-article __theme-{{ section.settings.theme }}">
  {%- if blog.comments_enabled? -%}
    <div class="main-article__comments-wrapper">
      <div id="comments" class="main-article__comments-wrapper__comments">
        {%- if article.comments_count > 0 -%}
          {%- assign anchorId = '#Comments-' | append: article.id -%}

          <h2 id="Comments-{{ article.id }}" class="h6">
            {{ 'blogs.article.comments' | t: count: article.comments_count }}
          </h2>
          {% paginate article.comments by 2 %}
            <div>
              {%- liquid
                if comment.status == 'pending' and comment.content
                  render 'comment', comment: comment
                endif

                for comment in article.comments
                  render 'comment', comment: comment
                endfor
              -%}
            </div>
            {% render 'pagination', paginate: paginate, anchor: anchorId %}
          {% endpaginate %}
        {%- endif -%}

        <form-state>
          {% form 'new_comment', article %}
            {%- liquid
              assign post_message = 'blogs.article.success'
              if blog.moderated? and comment.status == 'unapproved'
                assign post_message = 'blogs.article.success_moderated'
              endif
            -%}
            <h2 class="h6">{{ 'blogs.article.comment_form_title' | t }}</h2>
            {%- if blog.moderated? -%}
              <p class="main-article__comment__warning">{{ 'blogs.article.moderated' | t }}</p>
            {%- endif -%}

            {%- if form.posted_successfully? -%}
              <h3 class="p" role="status" tabindex="-1" autofocus>
                {{ post_message | t }}
              </h3>
            {%- endif -%}

            <div
              {% if blog.moderated? == false %}
                class="main-article__comments-fields-wrapper"
              {% endif %}
            >
              <div class="main-article__comments-fields-wrapper__fields">
                <div class="main-article__comment-field">
                  <input
                    id="CommentForm-author"
                    type="text"
                    name="comment[author]"
                    class="field__input required{% if form.errors contains 'author' %} invalid{% endif %}"
                    required="required"
                    autocomplete="name"
                    value="{{ form.author }}"
                    aria-required="true"
                    placeholder="{{ 'blogs.article.name' | t }}"
                    {%- if form.errors contains 'author' %}
                      aria-invalid="true"
                      aria-describedby="CommentForm-author-error"
                    {% endif -%}
                  >
                  <label class="visually-hidden" for="CommentForm-author">{{ 'blogs.article.name' | t }}</label>
                  {%- if form.errors contains 'author' -%}
                    <small id="CommentForm-author-error">
                      <span class="form__message errors">
                        {% render 'icon', icon: 'error' %}
                        {{ 'blogs.article.name' | t }}
                        {{ form.errors.messages.author }}
                      </span>
                    </small>
                  {%- endif -%}
                </div>
                <div class="main-article__comment-field">
                  <input
                    id="CommentForm-email"
                    type="email"
                    name="comment[email]"
                    autocomplete="email"
                    class="field__input required{% if form.errors contains 'email' %} invalid{% endif %}"
                    required="required"
                    value="{{ form.email }}"
                    autocorrect="off"
                    autocapitalize="off"
                    aria-required="true"
                    placeholder="{{ 'blogs.article.email' | t }}"
                    {%- if form.errors contains 'email' %}
                      aria-invalid="true"
                      aria-describedby="CommentForm-email-error"
                    {% endif -%}
                  >
                  <label class="visually-hidden" for="CommentForm-email">{{ 'blogs.article.email' | t }}</label>
                  {%- if form.errors contains 'email' -%}
                    <small id="CommentForm-email-error">
                      <span class="form__message errors">
                        {% render 'icon', icon: 'error' %}
                        {{ 'blogs.article.email' | t }}
                        {{ form.errors.messages.email }}
                      </span>
                    </small>
                  {%- endif -%}
                </div>
              </div>
              <div class="main-article__comment-field">
                <textarea
                  id="CommentForm-body"
                  rows="5"
                  name="comment[body]"
                  class="text-area field__input required{% if form.errors contains 'body' %} invalid{% endif %}"
                  required="required"
                  aria-required="true"
                  placeholder="{{ 'blogs.article.message' | t }}"
                  {%- if form.errors contains 'body' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-body-error"
                  {% endif -%}
                >{{ form.body }}</textarea>
                <label class="visually-hidden" for="CommentForm-body">{{ 'blogs.article.message' | t }}</label>
              </div>
              {%- if form.errors contains 'body' -%}
                <small id="CommentForm-body-error">
                  <span class="">
                    {% render 'icon', icon: 'error' %}
                    {{ 'blogs.article.message' | t }}
                    {{ form.errors.messages.body }}
                  </span>
                </small>
              {%- endif -%}
            </div>
            <div class="main-article__comment-button">
              <button type="submit">{{ 'blogs.article.post' | t }}</button>
            </div>

            {% comment %}
              Remove the following three lines of code to remove the note
              about being protected by Google's reCAPTCHA service.
              By removing it, the small reCAPTCHA widget will appear in the
              bottom right corner of the page.
            {% endcomment %}
            <div class="main-article__comments-wrapper__disclaimer __article-txt-p-sm">
              {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}
            </div>
          {% endform %}
        </form-state>
      </div>
    </div>
  {%- endif -%}
</div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image": [
        {{ article | image_url: width: article.image.width | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.share_image %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ settings.share_image.height | json }},
          "url": {{ settings.share_image | image_url: width: settings.share_image.width | prepend: "https:" | json }},
          "width": {{ settings.share_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
</script>

{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "article",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-article.settings.header.content"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.main-article.settings.theme.options.label_1"
        },
        {
          "value": "2",
          "label": "t:sections.main-article.settings.theme.options.label_2"
        },
        {
          "value": "3",
          "label": "t:sections.main-article.settings.theme.options.label_3"
        },
        {
          "value": "4",
          "label": "t:sections.main-article.settings.theme.options.label_4"
        },
        {
          "value": "5",
          "label": "t:sections.main-article.settings.theme.options.label_5"
        }
      ],
      "default": "primary",
      "label": "t:sections.main-article.settings.theme.label"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.main-article.settings.top_spacing.label",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.main-article.settings.bottom_spacing.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "overlay",
          "label": "t:sections.main-article.blocks.featured_image.settings.overlay.label",
          "info": "t:sections.main-article.blocks.featured_image.settings.overlay.info",
          "min": 0,
          "max": 70,
          "step": 10,
          "unit": "%",
          "default": 0
        },
        {
          "type": "select",
          "id": "overlay_theme",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.main-article.blocks.featured_image.settings.overlay_theme.options.label_1"
            },
            {
              "value": "2",
              "label": "t:sections.main-article.blocks.featured_image.settings.overlay_theme.options.label_2"
            },
            {
              "value": "3",
              "label": "t:sections.main-article.blocks.featured_image.settings.overlay_theme.options.label_3"
            },
            {
              "value": "4",
              "label": "t:sections.main-article.blocks.featured_image.settings.overlay_theme.options.label_4"
            },
            {
              "value": "5",
              "label": "t:sections.main-article.blocks.featured_image.settings.overlay_theme.options.label_5"
            }
          ],
          "default": "primary",
          "label": "t:sections.main-article.blocks.featured_image.settings.overlay_theme.label"
        },
        {
          "type": "select",
          "id": "crop_shape",
          "options": [
            {
              "value": "default",
              "label": "t:sections.main-article.blocks.featured_image.settings.crop_shape.options.label_1"
            },
            {
              "value": "landscape",
              "label": "t:sections.main-article.blocks.featured_image.settings.crop_shape.options.label_2"
            },
            {
              "value": "rounded-landscape",
              "label": "t:sections.main-article.blocks.featured_image.settings.crop_shape.options.label_3"
            },
            {
              "value": "semicircle-landscape",
              "label": "t:sections.main-article.blocks.featured_image.settings.crop_shape.options.label_4"
            },
            {
              "value": "wide",
              "label": "t:sections.main-article.blocks.featured_image.settings.crop_shape.options.label_5"
            },
            {
              "value": "rounded-wide",
              "label": "t:sections.main-article.blocks.featured_image.settings.crop_shape.options.label_6"
            },
            {
              "value": "semicircle-wide",
              "label": "t:sections.main-article.blocks.featured_image.settings.crop_shape.options.label_7"
            }
          ],
          "default": "wide",
          "label": "t:sections.main-article.blocks.featured_image.settings.crop_shape.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.main-article.blocks.title.settings.heading_size.options.label_1"
            },
            {
              "value": "h2",
              "label": "t:sections.main-article.blocks.title.settings.heading_size.options.label_2"
            },
            {
              "value": "h3",
              "label": "t:sections.main-article.blocks.title.settings.heading_size.options.label_3"
            },
            {
              "value": "h4",
              "label": "t:sections.main-article.blocks.title.settings.heading_size.options.label_4"
            }
          ],
          "default": "h4",
          "label": "t:sections.main-article.blocks.title.settings.heading_size.label"
        },
        {
          "type": "checkbox",
          "id": "alt_heading",
          "label": "t:sections.main-article.blocks.title.settings.alt_heading.label"
        },
        {
          "type": "checkbox",
          "id": "overlap",
          "label": "t:sections.main-article.blocks.title.settings.overlap.label",
          "info": "t:sections.main-article.blocks.title.settings.overlap.info",
          "default": false
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "image_corners",
          "options": [
            {
              "value": "default",
              "label": "t:sections.main-article.blocks.content.settings.image_corners.options.label_1"
            },
            {
              "value": "rounded",
              "label": "t:sections.main-article.blocks.content.settings.image_corners.options.label_2"
            },
            {
              "value": "semicircle",
              "label": "t:sections.main-article.blocks.content.settings.image_corners.options.label_3"
            }
          ],
          "default": "default",
          "label": "t:sections.main-article.blocks.content.settings.image_corners.label"
        }
      ]
    },
    {
      "type": "side_bar",
      "name": "t:sections.main-article.blocks.side_bar.name",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "t:sections.main-article.blocks.side_bar.settings.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main-article.blocks.side_bar.settings.content.label",
          "info": "t:sections.main-article.blocks.side_bar.settings.content.info"
        },
        {
          "type": "checkbox",
          "id": "associated_products",
          "label": "t:sections.main-article.blocks.side_bar.settings.associated_products.label",
          "info": "t:sections.main-article.blocks.side_bar.settings.associated_products.info"
        }
      ]
    },
    {
      "type": "details",
      "name": "t:sections.main-article.blocks.details.name",
      "limit": 1
    }
  ],
  "presets": [
    {
      "name": "t:sections.main-article.presets.name",
      "blocks": [
        {
          "type": "featured_image"
        },
        {
          "type": "title"
        },
        {
          "type": "content"
        }
      ]
    }
  ],
  "templates": ["article"]
}
{% endschema %}
