{% style %}
  #Main-list-collections-{{ section.id }} {
    --topSpacingRatio: {{ section.settings.top_spacing }} / 100;
    --bottomSpacingRatio: {{ section.settings.bottom_spacing }} / 100;
  }
{% endstyle %}

<div id="Main-list-collections-{{ section.id }}" class="main-list-collections __theme-{{ section.settings.theme }}">
  {%- paginate collections by section.settings.collections_per_page -%}
    <ol class="list-unstyled" role="list">
      {% comment %} Loop through all collections {% endcomment %}
      {%- for collection in collections -%}
        <li>
          {% comment %} Collection row {% endcomment %}
          <div class="main-list-collections__collection">
            {% comment %} Details block {% endcomment %}
            <div class="main-list-collections__collection__details {% if section.settings.enable_sticky_details %} __sticky {% endif %}">
              {% comment %} Collection Image {% endcomment %}
              {% if section.settings.display_collection_image != false and collection.image != blank %}
                <div
                  class="main-list-collections__image __crop-{{ section.settings.collection_image_crop_shape }}"
                  style="--imageRatio: {{ collection.image.aspect_ratio | times: 100 }}%"
                >
                  {% render 'next-gen-img', image: collection.image %}
                </div>
              {% endif %}

              {% comment %} Title {% endcomment %}
              {% render 'heading',
                class: 'main-list-collections',
                heading: collection.title,
                alt_heading: section.settings.alt_heading,
                heading_size: section.settings.heading_size
              %}

              {% comment %} Description {% endcomment %}
              <div class="main-list-collections__description p-sm">
                {{ collection.description }}
              </div>

              {% comment %} Featured Icons {% endcomment %}
              {% if section.settings.display_featured_icons %}
                <div class="main-list-collections__featured-icons {% if section.settings.enable_icons_marquee %} __marquee {% endif %}">
                  {% assign icons = '' %}
                  {% for product in collection.products %}
                    {% for icon in product.metafields.custom.featured_icons.value %}
                      {% assign icons = icons | append: icon | append: '@#$' %}
                    {% endfor %}
                  {% endfor %}
                  {% assign icons = icons | split: '@#$' | compact | uniq %}
                  {% if section.settings.enable_icons_marquee %}
                    {% render 'featured-icons',
                      icons: icons,
                      layout: section.settings.layout,
                      icon_height: section.settings.icon_height
                    %}
                    {% render 'featured-icons',
                      icons: icons,
                      layout: section.settings.layout,
                      icon_height: section.settings.icon_height
                    %}
                    {% render 'featured-icons',
                      icons: icons,
                      layout: section.settings.layout,
                      icon_height: section.settings.icon_height
                    %}
                    {% render 'featured-icons',
                      icons: icons,
                      layout: section.settings.layout,
                      icon_height: section.settings.icon_height
                    %}
                  {% else %}
                    {% render 'featured-icons',
                      icons: icons,
                      layout: section.settings.layout,
                      icon_height: section.settings.icon_height
                    %}
                  {% endif %}
                </div>
              {% endif %}

              {% comment %} Featured Stats {% endcomment %}
              {% if section.settings.display_featured_stats %}
                <div class="main-list-collections__featured-stats">
                  {% for item in collection.metafields.custom.featured_stats.value %}
                    {% assign position = forloop.index | modulo: 2 | plus: 1 | pluralize: 'even', 'odd' %}
                    {% if position == 'odd' %}
                      <div
                        class="main-list-collections__featured-stats__stat __btn-clr-{{ section.settings.stats_color }}"
                        style="--statWidth: {{ collection.metafields.custom.featured_stats.value[forloop.index] | strip | plus: 0.0 }}%;"
                      >
                        <span class="p-sm">{{ item }}</span>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}

              {% comment %} View All Button {% endcomment %}
              {% render 'button',
                class: '__align-center',
                button_label: section.settings.view_all_button_label,
                button_link: collection.url,
                style: 'underline'
              %}
            </div>

            {% comment %} Products Block {% endcomment %}
            <div class="main-list-collections__collection__products">
              {% for product in collection.products limit: section.settings.products_per_collection %}
                {% render 'product-card' product: product, show_bg_color: section.settings.show_bg_color, quick_add: section.settings.quick_add, crop: section.settings.crop_shape, show_phrase: section.settings.show_phrase, alignment: section.settings.product_text_alignment, section.settings.show_description: section.settings.show_description, price_position: section.settings.price, alt_heading: section.settings.alt_title %}
              {% endfor %}
            </div>
          </div>
        </li>
      {%- endfor -%}
    </ol>

    {% comment %} Pagination {% endcomment %}
    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  {%- endpaginate -%}
</div>
{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "range",
      "id": "collections_per_page",
      "default": 4,
      "min": 1,
      "max": 12,
      "step": 1,
      "label": "t:sections.main-list-collections.settings.collections_per_page.label"
    },
    {
      "type": "header",
      "content": "Collection Row Settings"
    },
    {
      "type": "range",
      "id": "products_per_collection",
      "default": 2,
      "min": 2,
      "max": 12,
      "step": 1,
      "label": "Products per collection"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "X-Large"
        },
        {
          "value": "h4",
          "label": "Large"
        },
        {
          "value": "h5",
          "label": "Medium"
        },
        {
          "value": "h6",
          "label": "Small"
        }
      ],
      "default": "h4",
      "label": "Collection Titles Size"
    },
    {
      "type": "checkbox",
      "id": "alt_heading",
      "label": "Use body font instead of heading font for collection titles?"
    },
    {
      "type": "text",
      "id": "view_all_button_label",
      "label": "View All Button Label",
      "info": "If excluded, no view all button will display",
      "default": "View All"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_details",
      "default": true,
      "label": "Enable collection details to 'stick'?",
      "info": "'Sticks' within view while user scrolls through product cards. Requires product cards to be taller than collection details per collection row."
    },
    {
      "type": "checkbox",
      "id": "display_collection_image",
      "label": "Display collection image?",
      "info": "Dependent on collection having an image assign to it",
      "default": false
    },
    {
      "type": "select",
      "id": "collection_image_crop_shape",
      "options": [
        {
          "value": "default",
          "label": "No Crop"
        },
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "rounded-square",
          "label": "Rounded Square"
        },
        {
          "value": "circle",
          "label": "Circle"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "rounded-portrait",
          "label": "Rounded Portrait"
        },
        {
          "value": "semicircle-portrait",
          "label": "Semicircle Portrait"
        },
        {
          "value": "landscape",
          "label": "Landscape"
        },
        {
          "value": "rounded-landscape",
          "label": "Rounded Landscape"
        },
        {
          "value": "semicircle-landscape",
          "label": "Semicircle Landscape"
        },
        {
          "value": "wide",
          "label": "Wide"
        },
        {
          "value": "rounded-wide",
          "label": "Rounded Wide"
        },
        {
          "value": "semicircle-wide",
          "label": "Semicircle Wide"
        },
        {
          "value": "arch",
          "label": "Semicircle Arch"
        }
      ],
      "default": "default",
      "label": "Collection Image Crop Shape"
    },
    {
      "type": "checkbox",
      "id": "display_featured_icons",
      "label": "Display featured icons?",
      "info": "Dependent on addition of product featured icons metafield. //TODO: add link here",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_icons_marquee",
      "label": "Enable featured icons marquee?",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "display_featured_stats",
      "label": "Display featured stats?",
      "info": "Dependent on addition of collection featured stats metafield. //TODO: add link here",
      "default": false
    },
    {
      "type": "select",
      "id": "stats_color",
      "label": "Stats Color",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ]
    },
    {
      "type": "range",
      "id": "icon_height",
      "min": 20,
      "max": 100,
      "step": 10,
      "unit": "px",
      "label": "Icon Height",
      "default": 40
    },
    {
      "type": "radio",
      "id": "layout",
      "label": "Icon Layout",
      "options": [
        {
          "value": "stacked",
          "label": "Stacked"
        },
        {
          "value": "row",
          "label": "Row"
        },
        {
          "value": "icon-only",
          "label": "Icon Only"
        }
      ],
      "default": "stacked"
    },
    {
      "type": "header",
      "content": "Product Card Settings"
    },
    {
      "type": "checkbox",
      "id": "show_phrase",
      "label": "Show product phrase?"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show product description?"
    },
    {
      "type": "checkbox",
      "id": "quick_add",
      "label": "Enable quick add?",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_bg_color",
      "label": "Show background color?",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "alt_title",
      "label": "Use body font instead of heading font for product title?"
    },
    {
      "type": "select",
      "id": "product_text_alignment",
      "options": [
        {
          "value": "default",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "default",
      "label": "Product Text Alignment"
    },
    {
      "type": "select",
      "id": "price",
      "options": [
        {
          "value": "default",
          "label": "Right of Title"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "not-visible",
          "label": "Not Visible"
        }
      ],
      "default": "default",
      "label": "Price Position"
    },
    {
      "type": "select",
      "id": "crop_shape",
      "options": [
        {
          "value": "default",
          "label": "No Crop"
        },
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "rounded-square",
          "label": "Rounded Square"
        },
        {
          "value": "circle",
          "label": "Circle"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "rounded-portrait",
          "label": "Rounded Portrait"
        },
        {
          "value": "semicircle-portrait",
          "label": "Semicircle Portrait"
        },
        {
          "value": "landscape",
          "label": "Landscape"
        },
        {
          "value": "rounded-landscape",
          "label": "Rounded Landscape"
        },
        {
          "value": "semicircle-landscape",
          "label": "Semicircle Landscape"
        },
        {
          "value": "arch",
          "label": "Semicircle Arch"
        }
      ],
      "default": "default",
      "label": "Product Image Crop Shape"
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ],
      "default": "primary",
      "label": "Theme"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    }
  ]
}
{% endschema %}
