{% style %}
    #Marquee-{{ section.id }} {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
    }
 {% endstyle %}

{% assign blocks_length = section.blocks | size %}
<div id="Marquee-{{ section.id }}" class="marquee __layout-{{section.settings.layout}} __image-style-{{section.settings.image_style}} __theme-{{section.settings.theme}}">
  <div class="marquee__container">
    {% for i in (1..2) %}
      <div class="marquee__section h6">
        {% for block in section.blocks %}
          {% case block.type %}
              {% when 'text' %}
                <p style="transform: scale({{ section.settings.font_scale | divided_by: 100.0 }})">{{ block.settings.text}}</p>
                {% if blocks_length == 1 %}
                  <p style="transform: scale({{ section.settings.font_scale | divided_by: 100.0 }})">{{ block.settings.text}}</p>
                {% endif %}
          {% endcase %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Marquee",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "range",
      "id": "font_scale",
      "min": 10,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Font Scale",
      "default": 100
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ],
      "default": "primary",
      "label": "Theme"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Lorem ipsum",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Marquee",
      "blocks": [
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
