{{ 'multicolumn.css' | asset_url | stylesheet_tag }}
{{ 'overflow-slider.css' | asset_url | stylesheet_tag }}
{{ 'collection-card.css' | asset_url | stylesheet_tag }}
{{ 'content-card.css' | asset_url | stylesheet_tag }}
{{ 'quote-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{% liquid
  assign hide_arrows_on_desktop = true
  assign hide_arrows_on_tablet = true
  assign placeholder_blocks_size = 3
  assign blocks_size = placeholder_blocks_size
  assign columns_desktop = section.settings.columns_desktop
  assign columns_mobile = section.settings.columns_mobile

  if section.blocks.size > 0
    assign blocks_size = 0
    for block in section.blocks
      assign blocks_size = blocks_size | plus: 1
      case block.type
        when 'products', 'collections'
          assign blocks_size = blocks_size | plus: block.settings.products.count | plus: block.settings.collections.count | minus: 1
      endcase
    endfor
  endif

  if section.settings.layout == 'slideshow' and blocks_size > columns_desktop
    assign hide_arrows_on_desktop = false
  endif

  if section.settings.layout == 'slideshow' and blocks_size > columns_mobile
    assign hide_arrows_on_tablet = false
  endif

  if columns_desktop == 5
    assign width = 700
    assign widths = '700, 400'
    assign sizes = '20vw'
  elsif columns_desktop == 4
    assign width = 800
    assign widths = '800, 400'
    assign sizes = '25vw'
  elsif columns_desktop == 3
    assign width = 1100
    assign widths = '1100, 600'
    assign sizes = '33vw'
  else
    assign width = 1700
    assign widths = '1700, 815'
    assign sizes = '50vw'
  endif

  if columns_mobile == 3
    assign widths = widths | append: ' ,600, 400, 250'
    assign sizes = sizes | prepend: '(max-width: 1024px) 33vw, '
  elsif columns_mobile == 2
    assign widths = widths | append: ' ,1000, 700, 500, 350'
    assign sizes = sizes | prepend: '(max-width: 1024px) 50vw, '
    if 1000 > width
      assign width = 1000
    endif
  else
    assign widths = widths | append: ' ,2100, 1400, 1100, 700'
    assign sizes = sizes | prepend: '(max-width: 1024px) 100vw, '
    if 2100 > width
      assign width = 2100
    endif
  endif
%}


{% style %}
  #Multicolumn-{{ section.id }} {
    --topSpacingRatio: {{ section.settings.top_spacing }} / 100;
    --bottomSpacingRatio: {{ section.settings.bottom_spacing }} / 100;
    --desktopColumns: {{ columns_desktop }};
    --mobileColumns: {{ columns_mobile }}
  }
{% endstyle %}

<div
  id="Multicolumn-{{ section.id }}"
  class="multicolumn __theme-{{ section.settings.theme }} __layout-{{ section.settings.layout }}"
>
  {% comment %} Text Content {% endcomment %}
  <div class="multicolumn__text __align-{{section.settings.alignment}}">
    {% render 'heading',
      class: 'multicolumn__text',
      heading: section.settings.heading,
      alt_heading: section.settings.alt_heading,
      heading_size: section.settings.heading_size
    %}

    {% if section.settings.text %}
      <div class="multicolumn__text__desc __article-txt-{{ section.settings.text_size }}">
        {{ section.settings.text }}
      </div>
    {% endif %}
  </div>

  {% comment %} Content Container (slider or stacked depending on layout) {% endcomment %}
  <overflow-slider class="multicolumn__inner overflow-slider {% if hide_arrows_on_desktop %}__hide-desktop-arrows{% endif %} {% if hide_arrows_on_tablet %}__hide-tablet-arrows{% endif%}">
    <div class="overflow-slider__container multicolumn__container">
      {% comment %} Real Content {% endcomment %}
        {% assign first_product = false %}
        {% if section.blocks.size > 0 %}
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'quote' %}
                {% render 'quote-card', quote: block.settings.quote, alignment: block.settings.alignment, background_theme: block.settings.background_theme, card_corners: block.settings.card_corners, quotations: block.settings.quotations, details: block.settings.details, logo: block.settings.logo, class: 'multicolumn__item', img_width: width, img_widths: widths, img_sizes: sizes %}

              {% when 'image' %}
                {% render 'content-card', class: 'multicolumn__item', image: block.settings.image, alignment: block.settings.alignment, crop_shape: block.settings.crop_shape, overlay_theme: block.settings.overlay_theme, overlay: block.settings.overlay, heading: block.settings.heading, overlap: block.settings.overlap, heading_size: block.settings.heading_size, button_label: block.settings.button_label, button_link: block.settings.button_link, button_color: block.settings.button_color, text: block.settings.text, img_width: width, img_widths: widths, img_sizes: sizes %}

              {% when 'products' %}
                {% for product in block.settings.products %}
                  {% if first_product == false %}
                    {% assign first_product = true %}
                    {{ 'product-card.css' | asset_url | stylesheet_tag }}
                    {% if block.settings.quick_add %}
                      <script src="{{ 'quick-add-modal.js' | asset_url }}" defer="defer"></script>
                      <script src="{{ 'quick-add-dropdown.js' | asset_url }}" defer="defer"></script>
                      <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
                      <script src="{{ 'variant-selects.js' | asset_url }}" defer="defer"></script>
                    {% endif %}
                  {% endif %}
                  {% render 'product-card', this_product: product, class: 'multicolumn__item', show_bg_color: block.settings.show_bg_color, quick_add: block.settings.quick_add, crop: block.settings.crop_shape, show_phrase: block.settings.show_phrase, alignment: block.settings.product_text_alignment, show_description: block.settings.show_description, price_position: block.settings.price, alt_heading: block.settings.alt_title, img_width: width, img_widths: widths, img_sizes: sizes %}
                {% endfor %}

              {% when 'collections' %}
                {% for collection in block.settings.collections %}
                  {% render 'collection-card', collection: collection, class: 'multicolumn__item', alignment: block.settings.alignment, button_label: block.settings.button_label, img_width: width, img_widths: widths, img_sizes: sizes %}
                {% endfor %}
            {% endcase %}
          {% endfor %}
        {% endif %}

      {% comment %} Placeholder Content {% endcomment %}
      {% if section.blocks.size == 0 %}
        {% for i in (1..placeholder_blocks_size) %}
          <div class="multicolumn__item">
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
        {% endfor %}
      {% endif %}
    </div>

    {% comment %} Slider arrows (required for slider) {% endcomment %}
    {% render 'overflow-slider-arrows' %}
  </overflow-slider>
</div>

{% schema %}
{
  "name": "t:sections.multicolumn.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_1.content"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Heading Content",
      "label": "t:sections.multicolumn.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.multicolumn.settings.heading_size.options.label_1"
        },
        {
          "value": "h4",
          "label": "t:sections.multicolumn.settings.heading_size.options.label_2"
        },
        {
          "value": "h5",
          "label": "t:sections.multicolumn.settings.heading_size.options.label_3"
        },
        {
          "value": "h6",
          "label": "t:sections.multicolumn.settings.heading_size.options.label_4"
        }
      ],
      "default": "h4",
      "label": "t:sections.multicolumn.settings.heading_size.label"
    },
    {
      "type": "checkbox",
      "id": "alt_heading",
      "label": "t:sections.multicolumn.settings.alt_heading.label"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Write some content here that pairs with the headline or image to support your brand.</p>",
      "label": "t:sections.multicolumn.settings.text.label"
    },
    {
      "type": "select",
      "id": "text_size",
      "options": [
        {
          "value": "p-sm",
          "label": "t:sections.multicolumn.settings.description_text_size.options.label_1"
        },
        {
          "value": "p",
          "label": "t:sections.multicolumn.settings.description_text_size.options.label_2"
        },
        {
          "value": "p-lg",
          "label": "t:sections.multicolumn.settings.description_text_size.options.label_3"
        }
      ],
      "default": "p-sm",
      "label": "t:sections.multicolumn.settings.description_text_size.label"
    },
    {
      "type": "radio",
      "id": "alignment",
      "label": "t:sections.multicolumn.settings.alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.alignment.options.label_1"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.alignment.options.label_2"
        },
        {
          "value": "right",
          "label": "t:sections.multicolumn.settings.alignment.options.label_3"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_2.content"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 2,
      "max": 5,
      "step": 1,
      "label": "t:sections.multicolumn.settings.columns_desktop.label",
      "default": 3
    },
    {
      "type": "range",
      "id": "columns_mobile",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "t:sections.multicolumn.settings.columns_mobile.label",
      "default": 2
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "default",
          "label": "t:sections.multicolumn.settings.layout.options.label_1"
        },
        {
          "value": "slideshow",
          "label": "t:sections.multicolumn.settings.layout.options.label_2"
        }
      ],
      "default": "default",
      "label": "t:sections.multicolumn.settings.layout.label"
    },
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_3.content"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.multicolumn.settings.theme.options.label_1"
        },
        {
          "value": "2",
          "label": "t:sections.multicolumn.settings.theme.options.label_2"
        },
        {
          "value": "3",
          "label": "t:sections.multicolumn.settings.theme.options.label_3"
        },
        {
          "value": "4",
          "label": "t:sections.multicolumn.settings.theme.options.label_4"
        },
        {
          "value": "5",
          "label": "t:sections.multicolumn.settings.theme.options.label_5"
        }
      ],
      "default": "primary",
      "label": "t:sections.multicolumn.settings.theme.label"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.multicolumn.settings.top_spacing.label",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.multicolumn.settings.bottom_spacing.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.multicolumn.blocks.image-with-text.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.multicolumn.blocks.image-with-text.settings.header_1.content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.image-with-text.settings.image_picker.label"
        },
        {
          "type": "range",
          "id": "overlay",
          "label": "t:sections.multicolumn.blocks.image-with-text.settings.overlay.label",
          "info": "t:sections.multicolumn.blocks.image-with-text.settings.overlay.info",
          "min": 0,
          "max": 70,
          "step": 10,
          "unit": "%",
          "default": 0
        },
        {
          "type": "select",
          "id": "overlay_theme",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.overlay_theme.options.label_1"
            },
            {
              "value": "2",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.overlay_theme.options.label_2"
            },
            {
              "value": "3",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.overlay_theme.options.label_3"
            },
            {
              "value": "4",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.overlay_theme.options.label_4"
            },
            {
              "value": "5",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.overlay_theme.options.label_5"
            }
          ],
          "default": "primary",
          "label": "t:sections.multicolumn.blocks.image-with-text.settings.overlay_theme.label"
        },
        {
          "type": "select",
          "id": "crop_shape",
          "options": [
            {
              "value": "default",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.crop_shape.options.label_1"
            },
            {
              "value": "square",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.crop_shape.options.label_2"
            },
            {
              "value": "rounded-square",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.crop_shape.options.label_3"
            },
            {
              "value": "circle",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.crop_shape.options.label_4"
            },
            {
              "value": "portrait",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.crop_shape.options.label_5"
            },
            {
              "value": "rounded-portrait",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.crop_shape.options.label_6"
            },
            {
              "value": "semicircle-portrait",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.crop_shape.options.label_7"
            },
            {
              "value": "landscape",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.crop_shape.options.label_8"
            },
            {
              "value": "rounded-landscape",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.crop_shape.options.label_9"
            },
            {
              "value": "semicircle-landscape",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.crop_shape.options.label_10"
            },
            {
              "value": "arch",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.crop_shape.options.label_11"
            }
          ],
          "default": "default",
          "label": "t:sections.multicolumn.blocks.image-with-text.settings.crop_shape.label"
        },
        {
          "type": "header",
          "content": "t:sections.multicolumn.blocks.image-with-text.settings.header_2.content"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Heading Content",
          "label": "t:sections.multicolumn.blocks.image-with-text.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.heading_size.options.label_1"
            },
            {
              "value": "h4",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.heading_size.options.label_2"
            },
            {
              "value": "h5",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.heading_size.options.label_3"
            },
            {
              "value": "h6",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.heading_size.options.label_4"
            }
          ],
          "default": "h5",
          "label": "t:sections.multicolumn.blocks.image-with-text.settings.heading_size.label"
        },
        {
          "type": "checkbox",
          "id": "overlap",
          "label": "t:sections.multicolumn.blocks.image-with-text.settings.overlap.label",
          "info": "t:sections.multicolumn.blocks.image-with-text.settings.overlap.info",
          "default": false
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.multicolumn.blocks.image-with-text.settings.text.label"
        },
        {
          "type": "radio",
          "id": "alignment",
          "label": "Text Alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.alignment.options.label_1"
            },
            {
              "value": "center",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.alignment.options.label_2"
            },
            {
              "value": "right",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.alignment.options.label_3"
            }
          ],
          "default": "left"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.multicolumn.blocks.image-with-text.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.multicolumn.blocks.image-with-text.settings.button_link.label"
        },
        {
          "type": "select",
          "id": "button_color",
          "label": "t:sections.multicolumn.blocks.image-with-text.settings.button_color.label",
          "default": "default",
          "options": [
            {
              "value": "default",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.button_color.options.label_0"
            },
            {
              "value": "primary",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.button_color.options.label_1"
            },
            {
              "value": "2",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.button_color.options.label_2"
            },
            {
              "value": "3",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.button_color.options.label_3"
            },
            {
              "value": "4",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.button_color.options.label_4"
            },
            {
              "value": "5",
              "label": "t:sections.multicolumn.blocks.image-with-text.settings.button_color.options.label_5"
            }
          ]
        }
      ]
    },
    {
      "type": "quote",
      "name": "t:sections.multicolumn.blocks.quote.name",
      "settings": [
        {
          "type": "richtext",
          "id": "quote",
          "label": "t:sections.multicolumn.blocks.quote.settings.quote.label"
        },
        {
          "type": "checkbox",
          "id": "quotations",
          "label": "t:sections.multicolumn.blocks.quote.settings.quotations.label",
          "info": "t:sections.multicolumn.blocks.quote.settings.quotations.info",
          "default": true
        },
        {
          "type": "richtext",
          "id": "details",
          "label": "t:sections.multicolumn.blocks.quote.settings.details.label"
        },
        {
          "type": "radio",
          "id": "alignment",
          "label": "t:sections.multicolumn.blocks.quote.settings.alignment.label",
          "options": [
            {
              "value": "left",
              "label": "t:sections.multicolumn.blocks.quote.settings.alignment.options.label_1"
            },
            {
              "value": "center",
              "label": "t:sections.multicolumn.blocks.quote.settings.alignment.options.label_2"
            },
            {
              "value": "right",
              "label": "t:sections.multicolumn.blocks.quote.settings.alignment.options.label_3"
            }
          ],
          "default": "center"
        },
        {
          "type": "image_picker",
          "id": "logo",
          "label": "t:sections.multicolumn.blocks.quote.settings.logo.label"
        },
        {
          "type": "select",
          "id": "background_theme",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.multicolumn.blocks.quote.settings.background_theme.options.label_1"
            },
            {
              "value": "2",
              "label": "t:sections.multicolumn.blocks.quote.settings.background_theme.options.label_2"
            },
            {
              "value": "3",
              "label": "t:sections.multicolumn.blocks.quote.settings.background_theme.options.label_3"
            },
            {
              "value": "4",
              "label": "t:sections.multicolumn.blocks.quote.settings.background_theme.options.label_4"
            },
            {
              "value": "5",
              "label": "t:sections.multicolumn.blocks.quote.settings.background_theme.options.label_5"
            }
          ],
          "default": "primary",
          "label": "t:sections.multicolumn.blocks.quote.settings.background_theme.label"
        },
        {
          "type": "select",
          "id": "card_corners",
          "options": [
            {
              "value": "default",
              "label": "t:sections.multicolumn.blocks.quote.settings.card_corners.options.label_1"
            },
            {
              "value": "rounded",
              "label": "t:sections.multicolumn.blocks.quote.settings.card_corners.options.label_2"
            },
            {
              "value": "semicircle",
              "label": "t:sections.multicolumn.blocks.quote.settings.card_corners.options.label_3"
            }
          ],
          "default": "default",
          "label": "t:sections.multicolumn.blocks.quote.settings.card_corners.label"
        }
      ]
    },
    {
      "type": "products",
      "limit": 1,
      "name": "t:sections.multicolumn.blocks.products.name",
      "settings": [
        {
          "type": "product_list",
          "id": "products",
          "label": "t:sections.multicolumn.blocks.products.settings.products.label"
        },
        {
          "type": "checkbox",
          "id": "show_phrase",
          "label": "t:sections.multicolumn.blocks.products.settings.show_phrase.label"
        },
        {
          "type": "checkbox",
          "id": "show_description",
          "label": "t:sections.multicolumn.blocks.products.settings.show_description.label"
        },
        {
          "type": "checkbox",
          "id": "quick_add",
          "label": "t:sections.multicolumn.blocks.products.settings.quick_add.label",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show_bg_color",
          "label": "t:sections.multicolumn.blocks.products.settings.show_bg_color.label",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "alt_title",
          "label": "t:sections.multicolumn.blocks.products.settings.alt_title.label"
        },
        {
          "type": "select",
          "id": "product_text_alignment",
          "options": [
            {
              "value": "default",
              "label": "t:sections.multicolumn.blocks.products.settings.product_text_alignment.options.label_1"
            },
            {
              "value": "center",
              "label": "t:sections.multicolumn.blocks.products.settings.product_text_alignment.options.label_2"
            },
            {
              "value": "right",
              "label": "t:sections.multicolumn.blocks.products.settings.product_text_alignment.options.label_3"
            }
          ],
          "default": "default",
          "label": "t:sections.multicolumn.blocks.products.settings.product_text_alignment.label"
        },
        {
          "type": "select",
          "id": "price",
          "options": [
            {
              "value": "default",
              "label": "t:sections.multicolumn.blocks.products.settings.price.label"
            },
            {
              "value": "bottom",
              "label": "t:sections.multicolumn.blocks.products.settings.price.options.label_2"
            },
            {
              "value": "not-visible",
              "label": "t:sections.multicolumn.blocks.products.settings.price.options.label_3"
            }
          ],
          "default": "default",
          "label": "t:sections.multicolumn.blocks.products.settings.price.label"
        },
        {
          "type": "select",
          "id": "crop_shape",
          "options": [
            {
              "value": "default",
              "label": "t:sections.multicolumn.blocks.products.settings.crop_shape.options.label_1"
            },
            {
              "value": "square",
              "label": "t:sections.multicolumn.blocks.products.settings.crop_shape.options.label_2"
            },
            {
              "value": "rounded-square",
              "label": "t:sections.multicolumn.blocks.products.settings.crop_shape.options.label_3"
            },
            {
              "value": "circle",
              "label": "t:sections.multicolumn.blocks.products.settings.crop_shape.options.label_4"
            },
            {
              "value": "portrait",
              "label": "t:sections.multicolumn.blocks.products.settings.crop_shape.options.label_5"
            },
            {
              "value": "rounded-portrait",
              "label": "t:sections.multicolumn.blocks.products.settings.crop_shape.options.label_6"
            },
            {
              "value": "semicircle-portrait",
              "label": "t:sections.multicolumn.blocks.products.settings.crop_shape.options.label_7"
            },
            {
              "value": "landscape",
              "label": "t:sections.multicolumn.blocks.products.settings.crop_shape.options.label_8"
            },
            {
              "value": "rounded-landscape",
              "label": "t:sections.multicolumn.blocks.products.settings.crop_shape.options.label_9"
            },
            {
              "value": "semicircle-landscape",
              "label": "t:sections.multicolumn.blocks.products.settings.crop_shape.options.label_10"
            },
            {
              "value": "arch",
              "label": "t:sections.multicolumn.blocks.products.settings.crop_shape.options.label_11"
            }
          ],
          "default": "default",
          "label": "t:sections.multicolumn.blocks.products.settings.crop_shape.label"
        }
      ]
    },
    {
      "type": "collections",
      "name": "t:sections.multicolumn.blocks.collections.name",
      "settings": [
        {
          "type": "collection_list",
          "id": "collections",
          "label": "t:sections.multicolumn.blocks.collections.settings.collections.label"
        },
        {
          "type": "radio",
          "id": "alignment",
          "label": "t:sections.multicolumn.blocks.collections.settings.alignment.label",
          "options": [
            {
              "value": "left",
              "label": "t:sections.multicolumn.blocks.collections.settings.alignment.options.label_1"
            },
            {
              "value": "center",
              "label": "t:sections.multicolumn.blocks.collections.settings.alignment.options.label_2"
            },
            {
              "value": "right",
              "label": "t:sections.multicolumn.blocks.collections.settings.alignment.options.label_3"
            }
          ],
          "default": "left"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.multicolumn.blocks.collections.settings.button_label.label",
          "info": "t:sections.multicolumn.blocks.collections.settings.button_label.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multicolumn.presets.name"
    }
  ]
}
{% endschema %}
