{% style %}
  #Page-output-{{ section.id }} {
    --topSpacingRatio: {{ section.settings.top_spacing }} / 100;
    --bottomSpacingRatio: {{ section.settings.bottom_spacing }} / 100;
  }
{% endstyle %}

{% assign default_title = 'sections.page.title' | t %}
{% assign page_title = section.settings.page.title | default: default_title %}

<div id="Page-output-{{ section.id }}" class="page-output __theme-{{ section.settings.theme }}">
  {% render 'heading', heading: page_title %}

  <div class="__article-text">
    {%- if section.settings.page.content != blank -%}
      {{ section.settings.page.content }}
    {%- else -%}
      <div class="page-output__image image-container" style="padding-top: 50%;">
        {{ 'page' | placeholder_svg_tag: 'page-placeholder' }}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "t:sections.page.settings.page.label"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.page.settings.top_spacing.label",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.page.settings.bottom_spacing.label",
      "default": 50
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.page.settings.theme.options.label_1"
        },
        {
          "value": "2",
          "label": "t:sections.page.settings.theme.options.label_2"
        },
        {
          "value": "3",
          "label": "t:sections.page.settings.theme.options.label_3"
        },
        {
          "value": "4",
          "label": "t:sections.page.settings.theme.options.label_4"
        },
        {
          "value": "5",
          "label": "t:sections.page.settings.theme.options.label_5"
        }
      ],
      "default": "primary",
      "label": "t:sections.page.settings.theme.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.page.presets.name"
    }
  ]
}
{% endschema %}
