{% style %}
  #Page-output-{{ section.id }} {
    --topSpacingRatio: {{ section.settings.top_spacing }} / 100;
    --bottomSpacingRatio: {{ section.settings.bottom_spacing }} / 100;
  }
{% endstyle %}

{% assign page_title = section.settings.page.title | default: 'sections.page.title' | t %}

<div id="Page-output-{{ section.id }}" class="page-output">
  {% render 'heading' heading: page_title %}

  <div class="__article-text">
    {%- if section.settings.page.content != blank -%}
      {{ section.settings.page.content }}
    {%- else -%}
      <div class="grid">
        {{ 'page' | placeholder_svg_tag: 'page-placeholder' }}
      </div>
    {%- endif -%}
  </div>
</div>


{% schema %}
{
  "name": "Page",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "t:sections.page.settings.page.label"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Section Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Section Spacing",
      "default": 50
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ],
      "default": "primary",
      "label": "Theme"
    }
  ],
  "presets": [
    {
      "name": "t:sections.page.presets.name"
    }
  ]
}
{% endschema %}
