{% assign className = 'site-header' %}

<header class="{{ className }} __style-fixed">
    <nav class="{{ className }}__main {% if section.settings.logo_placement == "center" %}__center-links{% endif%}">
      {% comment %} Logo {% endcomment %}
      <div
        class="{{ className }}__logo"
        {% if section.settings.logo_placement == 'center' %}
          style="--logoOrder: {{ section.settings.menu.links.size | divided_by: 2 }}"
        {% endif %}
      >
        <a href="{{ routes.root_url }}">
          {%- if section.settings.logo != blank -%}
            {{
              section.settings.logo
              | image_url: width: 250
              | image_tag: width: 125, alt: section.settings.logo.alt
              | default: shop.name
              | escape
            }}
          {%- else -%}
            <span class="{{ className }}__logo__text h4">{{ shop.name }}</span>
          {%- endif -%}
        </a>
      </div>
    </nav>
</header>

{% schema %}
{
  "name": "t:sections.password-header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "logo"
    },
    {
      "type": "radio",
      "id": "logo_placement",
      "label": "Logo Placement",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "left"
    }
  ]
}
{% endschema %}
