{% comment %}
  Technically a section, but used more like a component. Must be a section because we use the section rendering API to render it after page load

  Filter store availabilities array to include only stores with pickup availability enabled
{% endcomment %}

{{ 'pickup-availability.css' | asset_url | stylesheet_tag }}

{%- assign store_availabilities = product_variant.store_availabilities | where: 'pick_up_enabled', true -%}

{%- if store_availabilities.size > 0 -%}

  {% comment %}
     Render availability at all locations and location details
  {% endcomment %}
  <ul class="pickup-availability">
    {%- for availability in store_availabilities -%}
      <li class="pickup-availability__location p-sm">
        <h3 class="p-sm pickup-availability__location__title">{{ availability.location.name }}</h3>
          {%- if availability.available -%}
            <p class="pickup-availability__location__status __available">{% render 'svg-checkmark' %} {{ 'products.pickup_availability.available' | t }} - {{ availability.pick_up_time }}</p>
          {%- else -%}
            <p class="pickup-availability__location__status">{% render 'svg-exit' %} {{ 'products.pickup_availability.unavailable' | t }}</p>
          {%- endif -%}
        {%- assign address = availability.location.address -%}
        <address class="pickup-availability__location__address p-sm">{{ address | format_address }}</address>
        {%- if address.phone.size > 0 -%}
          <p class="pickup-availability__location__phone">{{ address.phone }}</p>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
{%- else -%}
 <p class="p-sm">No stores have pickup enabled</p>
{%- endif -%}
