{{ 'overflow-slider.css' | asset_url | stylesheet_tag }}
{{ 'product-recommendations.css' | asset_url | stylesheet_tag }}

<script src="{{ 'product-recommendations.js' | asset_url }}" defer="defer"></script>

{% assign products_to_show = 4 %}

<div class="product-recommendations __align-{{ section.settings.alignment}}">
  <product-recommendations data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ products_to_show }}">
    {% if recommendations.performed and recommendations.products_count > 0 %}
      {% comment %} Text Content {% endcomment %}
      {% render 'heading',
        class: 'product-recommendations',
        heading: section.settings.heading,
        alt_heading: section.settings.alt_heading,
        heading_size: section.settings.heading_size
      %}

      {% comment %} Product Recommendations {% endcomment %}
      <overflow-slider class="overflow-slider {% if recommendations.products_count < 5 %}__hide-desktop-arrows{% endif %} {% if recommendations.products_count < 3 %}__hide-tablet-arrows{% endif%}">
        <ul class="product-recommendations__container overflow-slider__container" role="list">
          {% for recommendation in recommendations.products %}
            <li>
              {% render 'product-card',
                product: recommendation,
                img_width: 1000,
                img_widths: '1000, 750, 500',
                img_sizes: '(max-width: 676px) 75vw, (max-width: 1024px) 50vw, 25vw'
              %}
            </li>
          {% endfor %}
        </ul>

        {% comment %} Slider arrows (required for slider) {% endcomment %}
        {% render 'overflow-slider-arrows', class: 'multicolumn__arrow' %}
      </overflow-slider>
    {% endif %}
  </product-recommendations>
</div>

{% schema %}
{
  "name": "t:sections.product-recommendations.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.product-recommendations.settings.paragraph.content"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "You may also like",
      "label": "t:sections.product-recommendations.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.product-recommendations.settings.heading_size.options.label_1"
        },
        {
          "value": "h4",
          "label": "t:sections.product-recommendations.settings.heading_size.options.label_2"
        },
        {
          "value": "h5",
          "label": "t:sections.product-recommendations.settings.heading_size.options.label_3"
        },
        {
          "value": "h6",
          "label": "t:sections.product-recommendations.settings.heading_size.options.label_4"
        }
      ],
      "default": "h4",
      "label": "t:sections.product-recommendations.settings.heading_size.label"
    },
    {
      "type": "checkbox",
      "id": "alt_heading",
      "label": "t:sections.product-recommendations.settings.alt_heading.label"
    },
    {
      "type": "radio",
      "id": "alignment",
      "label": "t:sections.product-recommendations.settings.alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.product-recommendations.settings.alignment.options.label_1"
        },
        {
          "value": "center",
          "label": "t:sections.product-recommendations.settings.alignment.options.label_2"
        },
        {
          "value": "right",
          "label": "t:sections.product-recommendations.settings.alignment.options.label_3"
        }
      ],
      "default": "center"
    }
  ]
}
{% endschema %}
