{{ 'rich-text.css' | asset_url | stylesheet_tag }}

{% liquid
  assign section_theme = section.settings.theme
  assign top_spacing = section.settings.top_spacing
  assign bottom_spacing = section.settings.bottom_spacing
  assign alignment = section.settings.alignment
%}

{% style %}
  #Rich-text-{{ section.id }} {
    --topSpacingRatio: {{ top_spacing }} / 100;
    --bottomSpacingRatio: {{ bottom_spacing }} / 100;
  }
{% endstyle %}

<div id="Rich-text-{{ section.id }}" class="rich-text __theme-{{ section_theme }} __align-{{ alignment }}">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
        {% comment %} Type app {% endcomment %}
      {%- when '@app' -%}
        <div class="app">
          {% render block %}
        </div>
      
        {% comment %} Type custom liquid {% endcomment %}
      {%- when 'custom_liquid' -%}
        {{ block.settings.custom_liquid }}

        {% comment %} Type Heading {% endcomment %}
      {%- when 'heading' -%}
        {% render 'heading',
          class: 'rich-text',
          heading: block.settings.heading,
          heading_size: block.settings.heading_size
        %}

        {% comment %} Type Text {% endcomment %}
      {%- when 'text' -%}
        <div class="__article-txt-{{ block.settings.text_size }}" {{ block.shopify_attributes }}>
          {{ block.settings.text }}
        </div>

        {% comment %} Type Button {% endcomment %}
      {%- when 'button' -%}
        {% render 'button',
          class: 'rich-text',
          button_label: block.settings.button_label,
          button_link: block.settings.button_link,
          button_color: block.settings.button_color
        %}
    {%- endcase -%}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "t:sections.rich-text.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.rich-text.settings.header.content"
    },
    {
      "type": "radio",
      "id": "alignment",
      "label": "t:sections.rich-text.settings.alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.alignment.options.label_1"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.alignment.options.label_2"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.alignment.options.label_3"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "t:sections.rich-text.settings.header_2.content"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.rich-text.settings.theme.options.label_1"
        },
        {
          "value": "2",
          "label": "t:sections.rich-text.settings.theme.options.label_2"
        },
        {
          "value": "3",
          "label": "t:sections.rich-text.settings.theme.options.label_3"
        },
        {
          "value": "4",
          "label": "t:sections.rich-text.settings.theme.options.label_4"
        },
        {
          "value": "5",
          "label": "t:sections.rich-text.settings.theme.options.label_5"
        }
      ],
      "default": "primary",
      "label": "t:sections.rich-text.settings.theme.label"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.rich-text.settings.top_spacing.label",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.rich-text.settings.bottom_spacing.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Rich Text",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options.label_1"
            },
            {
              "value": "h4",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options.label_2"
            },
            {
              "value": "h5",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options.label_3"
            },
            {
              "value": "h6",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options.label_4"
            }
          ],
          "default": "h5",
          "label": "t:sections.rich-text.blocks.heading.settings.heading_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Add a paragraph or two that supplies information</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "p-sm",
              "label": "t:sections.main-page.settings.description_text_size.options.label_1"
            },
            {
              "value": "p",
              "label": "t:sections.main-page.settings.description_text_size.options.label_2"
            },
            {
              "value": "p-lg",
              "label": "t:sections.main-page.settings.description_text_size.options.label_3"
            }
          ],
          "default": "p-sm",
          "label": "t:sections.main-page.settings.description_text_size.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich-text.blocks.button.name",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Learn More",
          "label": "t:sections.rich-text.blocks.button.settings.button_label.label",
          "info": "t:sections.rich-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.rich-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "select",
          "id": "button_color",
          "label": "t:sections.rich-text.blocks.button.settings.button_color.label",
          "default": "default",
          "options": [
            {
              "value": "default",
              "label": "t:sections.rich-text.blocks.button.settings.button_color.options.label_1"
            },
            {
              "value": "primary",
              "label": "t:sections.rich-text.blocks.button.settings.button_color.options.label_2"
            },
            {
              "value": "2",
              "label": "t:sections.rich-text.blocks.button.settings.button_color.options.label_3"
            },
            {
              "value": "3",
              "label": "t:sections.rich-text.blocks.button.settings.button_color.options.label_4"
            },
            {
              "value": "4",
              "label": "t:sections.rich-text.blocks.button.settings.button_color.options.label_5"
            },
            {
              "value": "5",
              "label": "t:sections.rich-text.blocks.button.settings.button_color.options.label_6"
            }
          ]
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.rich-text.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.rich-text.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.rich-text.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
