{% liquid
  assign products_count = section.blocks | size
  assign section_theme = section.settings.theme
  assign top_spacing = section.settings.top_spacing
  assign bottom_spacing = section.settings.bottom_spacing
  assign featured_image = section.settings.image 
%}

{% style %}
    #Shop-the-look-{{ section.id }} {
      --topSpacingRatio: {{ top_spacing }} / 100;
      --bottomSpacingRatio: {{ bottom_spacing }} / 100;
      --mobileImageHeight: {{ section.settings.mobile_image_height }}px;
    }
 {% endstyle %}


<div
  id="Shop-the-look-{{ section.id }}" 
  class="shop-the-look __theme-{{ section_theme }}"
>
  <shop-the-look class="shop-the-look__inner" data-slider="{% if products_count > 1 %}true{% else %}false{% endif %}" >
    <div class="shop-the-look__image">
      {% if featured_image %}
        {% render 'next-gen-img' image: featured_image %}
      {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}

      <div class="shop-the-look__dots">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'product' %}
              {% if product == blank %}
                {% assign horizontal_pos = 50 %}
                {% assign vertical_pos = 50 %}
                {% assign border_color = "0,0,0" %}
              {% else %}
                {% assign horizontal_pos = block.settings.horizontal_pos %}
                {% assign vertical_pos = block.settings.vertical_pos %}
                {% assign border_color = block.settings.product.metafields.custom.color.value.red | append: "," | append: block.settings.product.metafields.custom.color.value.green | append: "," | append: block.settings.product.metafields.custom.color.value.blue %}
              {% endif %}
              <div 
                class="shop-the-look__dots__dot" 
                style="
                  left: {{ horizontal_pos }}%; 
                  top: {{ vertical_pos }}%; 
                  background-color: rgb({{ border_color }}); 
                  border-color:rgba({{ border_color }}, .5);
                ">
                <span class="visually-hidden">{{ block.settings.product.title }}</span>
              </div>

          {% endcase %}
        {% endfor %}
      </div>
    </div>

    <div class="shop-the-look__products">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'product' %}
            {% render 'product-card' product: block.settings.product, crop: section.settings.crop_shape, show_phrase: false, alignment: "left", price_position: "bottom", alt_heading: false, class: "shop-the-look__products__product", quick_add: true %}
        {% endcase %}
      {% endfor %}
    </div>

    <div class="shop-the-look__background-color">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'product' %}
            <div class="shop-the-look__background-color__item" style="background-color: {{ block.settings.product.metafields.custom.color }};"></div>
        {% endcase %}
      {% endfor %}
    </div>
  </shop-the-look>
</div>

{% schema %}
{
  "name": "Shop the Look",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Image Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "crop_shape",
      "options": [
        {
          "value": "default",
          "label": "No Crop"
        },
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "rounded-square",
          "label": "Rounded Square"
        },
        {
          "value": "circle",
          "label": "Circle"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "rounded-portrait",
          "label": "Rounded Portrait"
        },
        {
          "value": "semicircle-portrait",
          "label": "Semicircle Portrait"
        },
        {
          "value": "landscape",
          "label": "Landscape"
        },
        {
          "value": "rounded-landscape",
          "label": "Rounded Landscape"
        },
        {
          "value": "semicircle-landscape",
          "label": "Semicircle Landscape"
        },
        {
          "value": "arch",
          "label": "Semicircle Arch"
        }
      ],
      "default": "default",
      "label": "Product Image Crop Shape"
    },
    {
      "type": "range",
      "id": "mobile_image_height",
      "min": 200,
      "max": 600,
      "step": 50,
      "unit": "px",
      "label": "Mobile Image Height",
      "default": 450
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ],
      "default": "primary",
      "label": "Theme"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "range",
          "id": "horizontal_pos",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Dot Horizontal Position",
          "default": 50
        },
        {
          "type": "range",
          "id": "vertical_pos",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Dot Vertical Position",
          "default": 50
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Shop the Look",
      "blocks": [
        {
          "type": "product"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
