{% liquid
  assign products_count = section.blocks | size
  assign section_theme = section.settings.theme
  assign top_spacing = section.settings.top_spacing
  assign bottom_spacing = section.settings.bottom_spacing
  assign featured_image = section.settings.image 
%}

{% style %}
    #Shop-the-look-{{ section.id }} {
      --topSpacingRatio: {{ top_spacing }} / 100;
      --bottomSpacingRatio: {{ bottom_spacing }} / 100;
    }
 {% endstyle %}

{% if section.settings.quick_add %}
  <script src="{{ 'quick-add-modal.js' | asset_url }}" defer="defer"></script>
{% endif %}


<div
  id="Shop-the-look-{{ section.id }}" 
  class="shop-the-look __theme-{{ section_theme }}"
>
  <shop-the-look class="shop-the-look__inner" data-slider="{% if products_count > 1 %}true{% else %}false{% endif %}">

    {% comment %} Image content {% endcomment %}
    <div class="shop-the-look__center-vertically">
      <div class="shop-the-look__image __crop-{{ section.settings.image_crop_shape }}">
        {% if featured_image %}
          {% render 'next-gen-img' image: featured_image %}
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}

        {% comment %} Dots {% endcomment %}
        <div class="shop-the-look__dots">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'product' %}
                {% if block.settings.product == blank %}
                  {% assign horizontal_pos = 50 %}
                  {% assign vertical_pos = 50 %}
                  {% assign border_color = "0,0,0" %}
                {% else %}
                  {% assign horizontal_pos = block.settings.horizontal_pos %}
                  {% assign vertical_pos = block.settings.vertical_pos %}
                  {% assign border_color = block.settings.product.metafields.custom.color.value.red | append: "," | append: block.settings.product.metafields.custom.color.value.green | append: "," | append: block.settings.product.metafields.custom.color.value.blue %}
                {% endif %}
                <div 
                  class="shop-the-look__dots__dot" 
                  style="
                    --shopTheLookDotleft: {{ horizontal_pos }}%; 
                    --shopTheLookDotTop: {{ vertical_pos }}%; 
                    background-color: rgb({{ border_color }}); 
                    border-color:rgba({{ border_color }}, .5);
                  ">
                  <span class="visually-hidden">{{ block.settings.product.title }}</span>
                </div>

            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>

    {% comment %} Products slider {% endcomment %}
    <div class="shop-the-look__center-vertically">
      <div class="shop-the-look__products">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'product' %}
              {% render 'product-card' product: block.settings.product, class: "shop-the-look__products__product", show_bg_color: section.settings.show_bg_color, quick_add: section.settings.quick_add, crop: section.settings.crop_shape, show_phrase: section.settings.show_phrase, alignment: section.settings.product_text_alignment, section.settings.show_description: section.settings.show_description, price_position: section.settings.price, alt_heading: section.settings.alt_title %}
          {% endcase %}
        {% endfor %}
      </div>
    </div>

    {% comment %} Background slider {% endcomment %}
    <div class="shop-the-look__background-color">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'product' %}
            <div class="shop-the-look__background-color__item" style="background-color: {{ block.settings.product.metafields.custom.color }};"></div>
        {% endcase %}
      {% endfor %}
    </div>
  </shop-the-look>
</div>

{% schema %}
{
  "name": "Shop the Look",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Image Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "image_crop_shape",
      "options": [
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        }
      ],
      "default": "portrait",
      "label": "Image Crop Shape"
    },
    {
      "type": "header",
      "content": "Product Card Settings"
    },
    {
      "type": "checkbox",
      "id": "show_phrase",
      "label": "Show product phrase?"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show product description?"
    },
    {
      "type": "checkbox",
      "id": "quick_add",
      "label": "Enable quick add?",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_bg_color",
      "label": "Show background color?",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "alt_title",
      "label": "Use body font instead of heading font for product title?"
    },
    {
      "type": "select", 
      "id": "product_text_alignment",
      "options": [
        {
          "value": "default",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "default",
      "label": "Product Text Alignment"
    },
    {
      "type": "select",
      "id": "price",
      "options": [
        {
          "value": "default",
          "label": "Right of Title"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "not-visible",
          "label": "Not Visible"
        }
      ],
      "default": "default",
      "label": "Price Position"
    },
    {
      "type": "select",
      "id": "crop_shape",
      "options": [
        {
          "value": "default",
          "label": "No Crop"
        },
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "rounded-square",
          "label": "Rounded Square"
        },
        {
          "value": "circle",
          "label": "Circle"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "rounded-portrait",
          "label": "Rounded Portrait"
        },
        {
          "value": "semicircle-portrait",
          "label": "Semicircle Portrait"
        },
        {
          "value": "landscape",
          "label": "Landscape"
        },
        {
          "value": "rounded-landscape",
          "label": "Rounded Landscape"
        },
        {
          "value": "semicircle-landscape",
          "label": "Semicircle Landscape"
        },
        {
          "value": "arch",
          "label": "Semicircle Arch"
        }
      ],
      "default": "default",
      "label": "Product Image Crop Shape"
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ],
      "default": "primary",
      "label": "Theme"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "range",
          "id": "horizontal_pos",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Dot Horizontal Position",
          "default": 50
        },
        {
          "type": "range",
          "id": "vertical_pos",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Dot Vertical Position",
          "default": 50
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Shop the Look",
      "blocks": [
        {
          "type": "product"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
