{{ 'flickity.css' | asset_url | stylesheet_tag }}
{{ 'cmnc-flickity.css' | asset_url | stylesheet_tag }}
{{ 'shop-the-look.css' | asset_url | stylesheet_tag }}

<script src="{{ 'flickity.js' | asset_url }}" defer></script>

{% liquid
  assign products_count = section.blocks | size
  assign section_theme = section.settings.theme
  assign top_spacing = section.settings.top_spacing
  assign bottom_spacing = section.settings.bottom_spacing
  assign featured_image = section.settings.image
%}

{% style %}
  #Shop-the-look-{{ section.id }} {
    --topSpacingRatio: {{ top_spacing }} / 100;
    --bottomSpacingRatio: {{ bottom_spacing }} / 100;
  }
{% endstyle %}

{% if section.settings.quick_add %}
  <script src="{{ 'quick-add-modal.js' | asset_url }}" defer="defer"></script>
{% endif %}

<div
  id="Shop-the-look-{{ section.id }}"
  class="shop-the-look __theme-{{ section_theme }}"
>
  <shop-the-look class="shop-the-look__inner" data-slider="{% if products_count > 1 %}true{% else %}false{% endif %}">
    {% comment %} Image content {% endcomment %}
    <div class="shop-the-look__center-vertically">
      <div class="shop-the-look__image __crop-{{ section.settings.image_crop_shape }}">
        {% if featured_image %}
          {% render 'next-gen-img',
            image: featured_image,
            width: 1680,
            widths: '1680, 1400, 1100, 900, 700',
            sizes: '(max-width: 676px) 100vw, 50vw'
          %}
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}

        {% comment %} Dots {% endcomment %}
        <div class="shop-the-look__dots">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'product' %}
                  {% assign border_color = '0,0,0' %}
                {% if block.settings.product == blank %}
                  {% assign horizontal_pos = 50 %}
                  {% assign vertical_pos = 50 %}
                  
                {% else %}
                  {% assign horizontal_pos = block.settings.horizontal_pos %}
                  {% assign vertical_pos = block.settings.vertical_pos %}

                  {% if block.settings.product.metafields.custom.color != blank %}
                    {% assign border_color = block.settings.product.metafields.custom.color.value.red
                      | append: ','
                      | append: block.settings.product.metafields.custom.color.value.green
                      | append: ','
                      | append: block.settings.product.metafields.custom.color.value.blue
                    %}
                  {% endif %}
                {% endif %}
                <div
                  class="shop-the-look__dots__dot"
                  style="
                    --shopTheLookDotleft: {{ horizontal_pos }}%;
                    --shopTheLookDotTop: {{ vertical_pos }}%;
                    background-color: rgb({{ border_color }});
                    border-color:rgba({{ border_color }}, .5);
                  "
                >
                  <span class="visually-hidden">{{ block.settings.product.title }}</span>
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>

    {% comment %} Products slider {% endcomment %}
    <div class="shop-the-look__center-vertically">
      <div class="shop-the-look__products cmnc-flickity-buttons-bottom">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'product' %}
              {% render 'product-card' product: block.settings.product, class: "shop-the-look__products__product", show_bg_color: section.settings.show_bg_color, quick_add: section.settings.quick_add, crop: section.settings.crop_shape, show_phrase: section.settings.show_phrase, alignment: section.settings.product_text_alignment, section.settings.show_description: section.settings.show_description, price_position: section.settings.price, alt_heading: section.settings.alt_title, img_width: 1100, img_widths: "1100, 600, 300", img_sizes: "(max-width: 676px) 85vw, (max-width: 1024px) 30vw" %}
          {% endcase %}
        {% endfor %}
      </div>
    </div>

    {% comment %} Background slider {% endcomment %}
    <div class="shop-the-look__background-color">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'product' %}
            <div
              class="shop-the-look__background-color__item"
              style="background-color: {{ block.settings.product.metafields.custom.color }};"
            ></div>
        {% endcase %}
      {% endfor %}
    </div>
  </shop-the-look>
</div>

{% schema %}
{
  "name": "t:sections.shop-the-look.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.shop-the-look.settings.header.content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.shop-the-look.settings.image_picker.label"
    },
    {
      "type": "select",
      "id": "image_crop_shape",
      "options": [
        {
          "value": "square",
          "label": "t:sections.shop-the-look.settings.image_crop_shape.options.label_1"
        },
        {
          "value": "portrait",
          "label": "t:sections.shop-the-look.settings.image_crop_shape.options.label_2"
        }
      ],
      "default": "portrait",
      "label": "t:sections.shop-the-look.settings.image_crop_shape.label"
    },
    {
      "type": "header",
      "content": "t:sections.shop-the-look.settings.header_2.content"
    },
    {
      "type": "checkbox",
      "id": "show_phrase",
      "label": "t:sections.shop-the-look.settings.show_phrase.label"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "t:sections.shop-the-look.settings.show_description.label"
    },
    {
      "type": "checkbox",
      "id": "quick_add",
      "label": "t:sections.shop-the-look.settings.quick_add.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_bg_color",
      "label": "t:sections.shop-the-look.settings.show_bg_color.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "alt_title",
      "label": "t:sections.shop-the-look.settings.alt_title.label"
    },
    {
      "type": "select",
      "id": "product_text_alignment",
      "options": [
        {
          "value": "default",
          "label": "t:sections.shop-the-look.settings.product_text_alignment.options.label_1"
        },
        {
          "value": "center",
          "label": "t:sections.shop-the-look.settings.product_text_alignment.options.label_2"
        },
        {
          "value": "right",
          "label": "t:sections.shop-the-look.settings.product_text_alignment.options.label_3"
        }
      ],
      "default": "default",
      "label": "t:sections.shop-the-look.settings.product_text_alignment.label"
    },
    {
      "type": "select",
      "id": "price",
      "options": [
        {
          "value": "default",
          "label": "t:sections.shop-the-look.settings.price.options.label_1"
        },
        {
          "value": "bottom",
          "label": "t:sections.shop-the-look.settings.price.options.label_2"
        },
        {
          "value": "not-visible",
          "label": "t:sections.shop-the-look.settings.price.options.label_3"
        }
      ],
      "default": "default",
      "label": "t:sections.shop-the-look.settings.price.label"
    },
    {
      "type": "select",
      "id": "crop_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.shop-the-look.settings.crop_shape.options.label_1"
        },
        {
          "value": "square",
          "label": "t:sections.shop-the-look.settings.crop_shape.options.label_2"
        },
        {
          "value": "rounded-square",
          "label": "t:sections.shop-the-look.settings.crop_shape.options.label_3"
        },
        {
          "value": "circle",
          "label": "t:sections.shop-the-look.settings.crop_shape.options.label_4"
        },
        {
          "value": "portrait",
          "label": "t:sections.shop-the-look.settings.crop_shape.options.label_5"
        },
        {
          "value": "rounded-portrait",
          "label": "t:sections.shop-the-look.settings.crop_shape.options.label_6"
        },
        {
          "value": "semicircle-portrait",
          "label": "t:sections.shop-the-look.settings.crop_shape.options.label_7"
        },
        {
          "value": "landscape",
          "label": "t:sections.shop-the-look.settings.crop_shape.options.label_8"
        },
        {
          "value": "rounded-landscape",
          "label": "t:sections.shop-the-look.settings.crop_shape.options.label_9"
        },
        {
          "value": "semicircle-landscape",
          "label": "t:sections.shop-the-look.settings.crop_shape.options.label_10"
        },
        {
          "value": "arch",
          "label": "t:sections.shop-the-look.settings.crop_shape.options.label_11"
        }
      ],
      "default": "default",
      "label": "t:sections.shop-the-look.settings.crop_shape.label"
    },
    {
      "type": "header",
      "content": "t:sections.shop-the-look.settings.header_3.content"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.shop-the-look.settings.theme.options.label_1"
        },
        {
          "value": "2",
          "label": "t:sections.shop-the-look.settings.theme.options.label_2"
        },
        {
          "value": "3",
          "label": "t:sections.shop-the-look.settings.theme.options.label_3"
        },
        {
          "value": "4",
          "label": "t:sections.shop-the-look.settings.theme.options.label_4"
        },
        {
          "value": "5",
          "label": "t:sections.shop-the-look.settings.theme.options.label_5"
        }
      ],
      "default": "primary",
      "label": "t:sections.shop-the-look.settings.theme.label"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.shop-the-look.settings.top_spacing.label",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.shop-the-look.settings.bottom_spacing.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "t:sections.shop-the-look.blocks.product.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "Add product metafields in order to theme the slideshow with associated product colors. TODO: Add link with info"
        },
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.shop-the-look.blocks.product.settings.label"
        },
        {
          "type": "range",
          "id": "horizontal_pos",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.shop-the-look.blocks.product.settings.horizontal_pos.label",
          "default": 50
        },
        {
          "type": "range",
          "id": "vertical_pos",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.shop-the-look.blocks.product.settings.vertical_pos.label",
          "default": 50
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.shop-the-look.presets.name",
      "blocks": [
        {
          "type": "product"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
