{{ 'overflow-slider.css' | asset_url | stylesheet_tag }}
{{ 'split-slideshow.css' | asset_url | stylesheet_tag }}
{{ 'content-card.css' | asset_url | stylesheet_tag }}

{% liquid
  if section.blocks.size > 0
    assign array = section.blocks
  elsif template.name == 'blog'
    assign array = blog.articles
  else
    assign array = blogs[0]
  endif

  assign hide_arrows_on_desktop = false
  assign hide_arrows_on_tablet = false
  if array.articles.size == 1
    assign hide_arrows_on_desktop = true
    assign hide_arrows_on_tablet = true
  endif
%}

{% style %}
  #Split-slideshow-{{ section.id }} {
    --topSpacingRatio: {{ section.settings.top_spacing}} / 100;
    --bottomSpacingRatio: {{ section.settings.bottom_spacing}} / 100;
  }
{% endstyle %}

<div id="Split-slideshow-{{ section.id }}" class="split-slideshow __theme-{{ section.settings.theme }}">
  {% comment %} Text Content {% endcomment %}
  {% if section.settings.hero == true %}
    {% assign heading_tag = 'h1' %}
  {% endif %}

  {% render 'heading',
    class: '__align-center split_slideshow',
    heading_tag: heading_tag,
    heading: section.settings.heading,
    heading_size: section.settings.heading_size,
    alt_heading: section.settings.alt_heading
  %}

  <overflow-slider class="split-slideshow__inner overflow-slider {% if hide_arrows_on_desktop %}__hide-desktop-arrows{% endif %} {% if hide_arrows_on_tablet %}__hide-tablet-arrows{% endif %}">
    <ul class="split-slideshow__slides list-unstyled overflow-slider__container" role="list">
      {% for item in array limit: 10 %}
        {% liquid
          if item.object_type == 'article'
            assign heading = item.title
            assign text = item.excerpt_or_content | strip_html | truncatewords: 20
            assign button_label = section.settings.button_label
            assign button_link = item.url
            assign card_image = item.settings.image | default: item.image
            assign overlay_theme = 'default'
            assign overlay = 0.0
          else
            assign heading = item.settings.heading
            assign text = item.settings.text
            assign button_label = item.settings.button_label
            assign button_link = item.settings.button_link
            assign card_image = item.settings.image
            assign overlay_theme = item.settings.overlay_theme
            assign overlay = item.settings.overlay
          endif
        %}
        <li>
          {% render 'content-card',
            class: 'split-slideshow__card',
            style: 'row',
            heading: heading,
            text: text,
            button_label: button_label,
            button_link: button_link,
            image: card_image,
            overlay_theme: overlay_theme,
            overlay: overlay,
            text_size: section.settings.text_size,
            crop_shape: section.settings.crop_shape,
            heading_size: section.settings.article_heading_size,
            button_color: section.settings.button_color,
            img_width: 1200,
            img_widths: '1200, 800, 600, 400',
            img_sizes: '(max-width: 676px) 100vw, (max-width: 1024px) 40vw, 35vw',
            img_preload: section.settings.hero
          %}
        </li>
      {% endfor %}
    </ul>

    {% comment %} Slider arrows (required for slider) {% endcomment %}
    {% render 'overflow-slider-arrows' %}
  </overflow-slider>
</div>

{% schema %}
{
  "name": "t:sections.split-slideshow.name",
  "tag": "section",
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.split-slideshow.blocks.image-with-text.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.split-slideshow.blocks.image-with-text.settings.header.content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.split-slideshow.blocks.image-with-text.settings.image_picker.label"
        },
        {
          "type": "range",
          "id": "overlay",
          "label": "t:sections.split-slideshow.blocks.image-with-text.settings.overlay_opacity.label",
          "info": "t:sections.split-slideshow.blocks.image-with-text.settings.overlay_opacity.info",
          "min": 0,
          "max": 70,
          "step": 10,
          "unit": "%",
          "default": 0
        },
        {
          "type": "select",
          "id": "overlay_theme",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.split-slideshow.blocks.image-with-text.settings.overlay_theme.options.label_1"
            },
            {
              "value": "2",
              "label": "t:sections.split-slideshow.blocks.image-with-text.settings.overlay_theme.options.label_2"
            },
            {
              "value": "3",
              "label": "t:sections.split-slideshow.blocks.image-with-text.settings.overlay_theme.options.label_3"
            },
            {
              "value": "4",
              "label": "t:sections.split-slideshow.blocks.image-with-text.settings.overlay_theme.options.label_4"
            },
            {
              "value": "5",
              "label": "t:sections.split-slideshow.blocks.image-with-text.settings.overlay_theme.options.label_5"
            }
          ],
          "default": "primary",
          "label": "t:sections.split-slideshow.blocks.image-with-text.settings.overlay_theme.label"
        },
        {
          "type": "header",
          "content": "t:sections.split-slideshow.blocks.image-with-text.settings.header_2.content"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "One of the Slides",
          "label": "t:sections.split-slideshow.blocks.image-with-text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.split-slideshow.blocks.image-with-text.settings.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Learn More",
          "label": "t:sections.split-slideshow.blocks.image-with-text.settings.button_label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.split-slideshow.blocks.image-with-text.settings.button_link"
        }
      ]
    },
    {
      "type": "article",
      "name": "t:sections.split-slideshow.blocks.article.name",
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "t:sections.split-slideshow.blocks.article.settings.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.split-slideshow.blocks.article.settings.image_picker.label",
          "info": "t:sections.split-slideshow.blocks.article.settings.image_picker.info"
        },
        {
          "type": "range",
          "id": "overlay",
          "label": "t:sections.split-slideshow.blocks.article.settings.overlay_opacity.label",
          "info": "t:sections.split-slideshow.blocks.article.settings.overlay_opacity.info",
          "min": 0,
          "max": 70,
          "step": 10,
          "unit": "%",
          "default": 0
        },
        {
          "type": "select",
          "id": "overlay_theme",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.split-slideshow.blocks.article.settings.overlay_theme.options.label_1"
            },
            {
              "value": "2",
              "label": "t:sections.split-slideshow.blocks.article.settings.overlay_theme.options.label_2"
            },
            {
              "value": "3",
              "label": "t:sections.split-slideshow.blocks.article.settings.overlay_theme.options.label_3"
            },
            {
              "value": "4",
              "label": "t:sections.split-slideshow.blocks.article.settings.overlay_theme.options.label_4"
            },
            {
              "value": "5",
              "label": "t:sections.split-slideshow.blocks.article.settings.overlay_theme.options.label_5"
            }
          ],
          "default": "primary",
          "label": "t:sections.split-slideshow.blocks.article.settings.overlay_theme.label"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.split-slideshow.settings.header.content"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Split Slideshow",
      "label": "t:sections.split-slideshow.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.split-slideshow.settings.heading_size.label_1"
        },
        {
          "value": "h4",
          "label": "t:sections.split-slideshow.settings.heading_size.label_2"
        },
        {
          "value": "h5",
          "label": "t:sections.split-slideshow.settings.heading_size.label_3"
        },
        {
          "value": "h6",
          "label": "t:sections.split-slideshow.settings.heading_size.label_4"
        }
      ],
      "default": "h4",
      "label": "t:sections.split-slideshow.settings.heading_size.label"
    },
    {
      "type": "checkbox",
      "id": "alt_heading",
      "label": "t:sections.split-slideshow.settings.alt_heading.label"
    },
    {
      "type": "select",
      "id": "text_size",
      "options": [
        {
          "value": "p-sm",
          "label": "t:sections.split-slideshow.settings.description_text_size.options.label_1"
        },
        {
          "value": "p",
          "label": "t:sections.split-slideshow.settings.description_text_size.options.label_2"
        },
        {
          "value": "p-lg",
          "label": "t:sections.split-slideshow.settings.description_text_size.options.label_3"
        }
      ],
      "default": "p-sm",
      "label": "t:sections.split-slideshow.settings.description_text_size.label"
    },
    {
      "type": "header",
      "content": "t:sections.split-slideshow.settings.header_2.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.split-slideshow.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "hero",
      "label": "t:sections.split-slideshow.settings.hero.label",
      "info": "t:sections.split-slideshow.settings.hero.info"
    },
    {
      "type": "header",
      "content": "t:sections.split-slideshow.settings.header_3.content"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Read More",
      "label": "t:sections.split-slideshow.settings.button_label.label",
      "info": "t:sections.split-slideshow.settings.button_label.info"
    },
    {
      "type": "select",
      "id": "button_color",
      "label": "t:sections.split-slideshow.settings.button_color.label",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "t:sections.split-slideshow.settings.button_color.options.label"
        },
        {
          "value": "primary",
          "label": "t:sections.split-slideshow.settings.button_color.options.label_1"
        },
        {
          "value": "2",
          "label": "t:sections.split-slideshow.settings.button_color.options.label_2"
        },
        {
          "value": "3",
          "label": "t:sections.split-slideshow.settings.button_color.options.label_3"
        },
        {
          "value": "4",
          "label": "t:sections.split-slideshow.settings.button_color.options.label_4"
        },
        {
          "value": "5",
          "label": "t:sections.split-slideshow.settings.button_color.options.label_5"
        }
      ]
    },
    {
      "type": "select",
      "id": "article_heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.split-slideshow.settings.article_heading_size.options.label_1"
        },
        {
          "value": "h4",
          "label": "t:sections.split-slideshow.settings.article_heading_size.options.label_2"
        },
        {
          "value": "h5",
          "label": "t:sections.split-slideshow.settings.article_heading_size.options.label_3"
        },
        {
          "value": "h6",
          "label": "t:sections.split-slideshow.settings.article_heading_size.options.label_4"
        }
      ],
      "default": "h5",
      "label": "t:sections.split-slideshow.settings.article_heading_size.options.label"
    },
    {
      "type": "select",
      "id": "crop_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.split-slideshow.settings.crop_shape.options.label_1"
        },
        {
          "value": "square",
          "label": "t:sections.split-slideshow.settings.crop_shape.options.label_2"
        },
        {
          "value": "rounded-square",
          "label": "t:sections.split-slideshow.settings.crop_shape.options.label_3"
        },
        {
          "value": "circle",
          "label": "t:sections.split-slideshow.settings.crop_shape.options.label_4"
        },
        {
          "value": "portrait",
          "label": "t:sections.split-slideshow.settings.crop_shape.options.label_5"
        },
        {
          "value": "rounded-portrait",
          "label": "t:sections.split-slideshow.settings.crop_shape.options.label_6"
        },
        {
          "value": "semicircle-portrait",
          "label": "t:sections.split-slideshow.settings.crop_shape.options.label_7"
        },
        {
          "value": "landscape",
          "label": "t:sections.split-slideshow.settings.crop_shape.options.label_8"
        },
        {
          "value": "rounded-landscape",
          "label": "t:sections.split-slideshow.settings.crop_shape.options.label_9"
        },
        {
          "value": "semicircle-landscape",
          "label": "t:sections.split-slideshow.settings.crop_shape.options.label_10"
        },
        {
          "value": "arch",
          "label": "t:sections.split-slideshow.settings.crop_shape.options.label_11"
        }
      ],
      "default": "default",
      "label": "t:sections.split-slideshow.settings.crop_shape.label"
    },
    {
      "type": "header",
      "content": "t:sections.split-slideshow.settings.header_4.content"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.split-slideshow.settings.theme.options.label_1"
        },
        {
          "value": "2",
          "label": "t:sections.split-slideshow.settings.theme.options.label_2"
        },
        {
          "value": "3",
          "label": "t:sections.split-slideshow.settings.theme.options.label_3"
        },
        {
          "value": "4",
          "label": "t:sections.split-slideshow.settings.theme.options.label_4"
        },
        {
          "value": "5",
          "label": "t:sections.split-slideshow.settings.theme.options.label_5"
        }
      ],
      "default": "primary",
      "label": "t:sections.split-slideshow.settings.theme.options.label"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.split-slideshow.settings.top_spacing.label",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.split-slideshow.settings.bottom_spacing.label",
      "default": 50
    }
  ],
  "presets": [
    {
      "name": "t:sections.split-slideshow.presets.name"
    }
  ]
}
{% endschema %}
