{{ 'overflow-slider.css' | asset_url | stylesheet_tag }}
{{ 'split-slideshow.css' | asset_url | stylesheet_tag }}

{% liquid
  if section.blocks.size > 0
    assign array = section.blocks
  elsif template.name == "blog"
    assign array = blog.articles
  else
    assign array = blogs[0]
  endif

  assign hide_arrows_on_desktop = false
  assign hide_arrows_on_tablet = false
  if array.articles.size == 1
    assign hide_arrows_on_desktop = true
    assign hide_arrows_on_tablet = true
  endif

%}

{% style %}
    #Split-slideshow-{{ section.id }} {
      --topSpacingRatio: {{ section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{ section.settings.bottom_spacing}} / 100;
    }
{% endstyle %}

 
<div id="Split-slideshow-{{ section.id }}" class="split-slideshow __theme-{{ section.settings.theme }}">

  {% comment %} Text Content {% endcomment %}
  {% if section.settings.hero == true %}
    {% assign heading_tag = "h1" %}
  {% endif %}

  {% render 'heading',
    class: '__align-center split_slideshow',
    heading_tag: heading_tag,
    heading: section.settings.heading,
    heading_size: section.settings.heading_size
    alt_heading: section.settings.alt_heading
  %}

  <overflow-slider class="split-slideshow__inner overflow-slider {% if hide_arrows_on_desktop %}__hide-desktop-arrows{% endif %} {% if hide_arrows_on_tablet %}__hide-tablet-arrows{% endif %}">
    <ul class="split-slideshow__slides list-unstyled overflow-slider__container" role="list">

      {% for item in array limit: 10 %}
        {% comment %} TODO: make Read More below a settings field {% endcomment %}
        {% liquid
          if item.object_type == "article"
            assign heading = item.title
            assign text = item.excerpt_or_content | strip_html | truncatewords: 20
            assign button_label = section.settings.button_label
            assign button_link = article.url
            assign card_image = item.settings.image | default: item.image
            assign overlay_theme = 'default'
            assign overlay = 0.0
          else
            assign heading = item.settings.heading
            assign text = item.settings.text
            assign button_label = item.settings.button_label
            assign button_link = item.settings.button_link
            assign card_image = item.settings.image
            assign overlay_theme = item.settings.overlay_theme
            assign overlay = item.settings.overlay
          endif
        %}
        <li>
          {% render 'content-card' 
            class: "split-slideshow__card",
            style: "row",
            heading: heading,
            text: text, 
            button_label: button_label, 
            button_link: button_link,
            image: card_image,
            overlay_theme: overlay_theme,
            overlay: overlay,
            crop_shape: section.settings.crop_shape,
            heading_size: section.settings.article_heading_size,
            button_color: section.settings.button_color,
            img_width: 1200
            img_widths: '1200, 800, 600, 400'
            img_sizes: '(max-width: 676px) 100vw, (max-width: 1024px) 40vw, 35vw',
            img_preload: section.settings.hero
          %}
        </li>
      {% endfor %}
    </ul>

    {% comment %} Slider arrows (required for slider) {% endcomment %}
    {% render 'overflow-slider-arrows' %}
  </overflow-slider>
</div>

{% schema %}
{
  "name": "Split Slideshow",
  "tag": "section",
  "blocks": [
    {
      "type": "image",
      "name": "Image with Text",
      "settings": [
        {
          "type": "header",
          "content": "Image Content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "overlay",
          "label": "Overlay Opacity",
          "info": "If above 0%, an overlay will be added on top of the image",
          "min": 0,
          "max": 70,
          "step": 10,
          "unit": "%",
          "default": 0
        },
        {
          "type": "select",
          "id": "overlay_theme",
          "options": [
            {
              "value": "primary",
              "label": "Primary Theme"
            },
            {
              "value": "2",
              "label": "2nd Theme"
            },
            {
              "value": "3",
              "label": "3rd Theme"
            },
            {
              "value": "4",
              "label": "4th Theme"
            },
            {
              "value": "5",
              "label": "5th Theme"
            }
          ],
          "default": "primary",
          "label": "Overlay Theme"
        },
        {
          "type": "header",
          "content": "Text Content"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Lorem ipsum",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Laboris Nisi",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    },
    {
      "type": "article",
      "name": "Article",
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "Article"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "By default, if an article image exists it will be used as the image, unless overwritten here"
        },
        {
          "type": "range",
          "id": "overlay",
          "label": "Overlay Opacity",
          "info": "If above 0%, an overlay will be added on top of the image",
          "min": 0,
          "max": 70,
          "step": 10,
          "unit": "%",
          "default": 0
        },
        {
          "type": "select",
          "id": "overlay_theme",
          "options": [
            {
              "value": "primary",
              "label": "Primary Theme"
            },
            {
              "value": "2",
              "label": "2nd Theme"
            },
            {
              "value": "3",
              "label": "3rd Theme"
            },
            {
              "value": "4",
              "label": "4th Theme"
            },
            {
              "value": "5",
              "label": "5th Theme"
            }
          ],
          "default": "primary",
          "label": "Overlay Theme"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Text Content"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Lorem ipsum dolor sit",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "X-Large"
        },
        {
          "value": "h4",
          "label": "Large"
        },
        {
          "value": "h5",
          "label": "Medium"
        },
        {
          "value": "h6",
          "label": "Small"
        }
      ],
      "default": "h4",
      "label": "Heading Size"
    },
    {
      "type": "checkbox",
      "id": "alt_heading",
      "label": "Use body font instead of heading font for heading"
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "paragraph",
      "content": "If used on a blog template, articles from that blog will populate. If used anywhere else, articles from all blogs will populate. Additionally, you can populate your own content by adding blocks to this section."
    },
    {
      "type": "checkbox",
      "id": "hero",
      "label": "Use as hero",
      "info": "Should be selected if this section is the first or second on a page and contains the page title. There should only be one page title/hero used per page."
    },
    {
      "type": "header",
      "content": "Article Cards"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Read More",
      "label": "Button Label",
      "info": "Used for article buttons"
    },
    {
      "type": "select",
      "id": "button_color",
      "label": "Button Color",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ]
    },
    {
      "type": "select",
      "id": "article_heading_size",
      "options": [
        {
          "value": "h2",
          "label": "X-Large"
        },
        {
          "value": "h4",
          "label": "Large"
        },
        {
          "value": "h5",
          "label": "Medium"
        },
        {
          "value": "h6",
          "label": "Small"
        }
      ],
      "default": "h5",
      "label": "Heading Size"
    },
    {
      "type": "select",
      "id": "crop_shape",
      "options": [
        {
          "value": "default",
          "label": "No Crop"
        },
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "rounded-square",
          "label": "Rounded Square"
        },
        {
          "value": "circle",
          "label": "Circle"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "rounded-portrait",
          "label": "Rounded Portrait"
        },
        {
          "value": "semicircle-portrait",
          "label": "Semicircle Portrait"
        },
        {
          "value": "landscape",
          "label": "Landscape"
        },
        {
          "value": "rounded-landscape",
          "label": "Rounded Landscape"
        },
        {
          "value": "semicircle-landscape",
          "label": "Semicircle Landscape"
        },
        {
          "value": "arch",
          "label": "Semicircle Arch"
        }
      ],
      "default": "default",
      "label": "Image Crop Shape"
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ],
      "default": "primary",
      "label": "Theme"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    }
  ],
  "presets": [
    {
      "name": "Split Slideshow"
    }
  ]
}
{% endschema %}
