{% style %}
  #Text-marquee-{{ section.id }} {
    --topSpacingRatio: {{section.settings.top_spacing}} / 100;
    --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
    --marqueeCharacterCount: {{ section.settings.text | size }}ch;
    --marqueeSpeed: {{ section.settings.speed | minus: 11 | times: -2 }}s;
  }
{% endstyle %}

{% comment %} Text marquee {% endcomment %}
{% if section.settings.text %}
  <div id="Text-marquee-{{ section.id }}" class="marquee-styles __theme-{{ section.settings.theme }}">
    <div class="marquee-styles__inner">
      <p class="marquee-styles__text {{ section.settings.text_size }} {% if section.settings.alt_heading %}alt{% endif %}">
        {{ section.settings.text }}
      </p>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "t:sections.text-marquee.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.text-marquee.settings.header.content"
    },
    {
      "type": "text",
      "id": "text",
      "default": "Text content here.",
      "label": "t:sections.text-marquee.settings.text.label"
    },
    {
      "type": "select",
      "id": "text_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.text-marquee.settings.text_size.label_1"
        },
        {
          "value": "h4",
          "label": "t:sections.text-marquee.settings.text_size.label_2"
        },
        {
          "value": "h5",
          "label": "t:sections.text-marquee.settings.text_size.label_3"
        },
        {
          "value": "h6",
          "label": "t:sections.text-marquee.settings.text_size.label_4"
        }
      ],
      "default": "h6",
      "label": "t:sections.text-marquee.settings.text_size.label"
    },
    {
      "type": "checkbox",
      "id": "alt_heading",
      "label": "t:sections.text-marquee.settings.checkbox.label"
    },
    {
      "type": "range",
      "id": "speed",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "x",
      "label": "t:sections.text-marquee.settings.speed.label",
      "default": 5
    },
    {
      "type": "header",
      "content": "t:sections.text-marquee.settings.header_2.content"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.text-marquee.settings.theme.options.label_1"
        },
        {
          "value": "2",
          "label": "t:sections.text-marquee.settings.theme.options.label_2"
        },
        {
          "value": "3",
          "label": "t:sections.text-marquee.settings.theme.options.label_3"
        },
        {
          "value": "4",
          "label": "t:sections.text-marquee.settings.theme.options.label_4"
        },
        {
          "value": "5",
          "label": "t:sections.text-marquee.settings.theme.options.label_5"
        }
      ],
      "default": "2",
      "label": "t:sections.text-marquee.settings.theme.label"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.text-marquee.settings.top_spacing.label",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.text-marquee.settings.bottom_spacing.label",
      "default": 50
    }
  ],
  "presets": [
    {
      "name": "t:sections.text-marquee.presets.name"
    }
  ]
}
{% endschema %}
