{% style %}
    #Text-marquee-{{ section.id }} {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
      --marqueeCharacterCount: {{ section.settings.text | size }}ch;
      --marqueeSpeed: {{ section.settings.speed | minus: 11 | times: -2 }}s;
    }
 {% endstyle %}

{% comment %} Text marquee {% endcomment %}
{% if section.settings.text %}
  <div id="Text-marquee-{{ section.id }}" class="text-marquee __theme-{{ section.settings.theme }}">
    <div class="text-marquee__inner">
      <p class="text-marquee__text {{ section.settings.text_size }} {% if section.settings.alt_heading %}alt{% endif %}">
        {{ section.settings.text }}
      </p>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Text Marquee",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Text Content"
    },
    {
      "type": "text",
      "id": "text",
      "default": "Lorem ipsum dolor enim ad minim veniam    ",
      "label": "Text"
    },
    {
      "type": "select",
      "id": "text_size",
      "options": [
        {
            "value": "h2",
            "label": "X-Large"
        },
        {
            "value": "h4",
            "label": "Large"
        },
        {
            "value": "h5",
            "label": "Medium"
        },
        {
            "value": "h6",
            "label": "Small"
        }
      ],
      "default": "h6",
      "label": "Text Size"
    },
    {
      "type": "checkbox",
      "id": "alt_heading",
      "label": "Use body font instead of heading font?"
    },
    {
      "type": "range",
      "id": "speed",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "x",
      "label": "Speed",
      "default": 5
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ],
      "default": "2",
      "label": "Theme"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    }
  ],
  "presets": [
    {
      "name": "Text Marquee"
    }
  ]
}
{% endschema %}
