{{ 'timeline-section.css' | asset_url | stylesheet_tag }}

{% style %}
    #Timeline-section-{{ section.id }} {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
    }
{% endstyle %}
 

{% if section.blocks.size > 0 %}
  <div id="Timeline-section-{{ section.id }}" class="timeline-section __theme-{{ section.settings.theme }}">
    {% if section.settings.heading or section.settings.text %}
      <div class="timeline-section__heading">
        {% render 'heading' heading: section.settings.heading, heading_size: section.settings.heading_size, alt_heading: section.settings.alt_heading %}
        {% if section.settings.text %}
          <div class="__article-txt">
            {{ section.settings.text }}
          </div>
        {% endif %}
      </div>
    {% endif %}

    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'part' %}
          <div class="timeline-section__part">
            {% assign image_ratio = block.settings.image.height | divided_by: 1.00 | divided_by: block.settings.image.width | times: 100 %}

            <div class="timeline-section__part__image image-container __crop-{{ section.settings.crop_shape }}" style="--imageRatio: {{ image_ratio }}%">
              {% render 'next-gen-img' image: block.settings.image, width: 1680, widths: "1680, 1400, 1100, 900, 600", sizes: "(max-width: 676px) 100vw, 50vw" %}
            </div>

            <div class="timeline-section__part__text __btn-clr-{{ section.settings.dot_color }}">
              <div class="timeline-section__part__text__inner">
                {% render 'heading' heading: block.settings.heading, heading_size: block.settings.heading_size, alt_heading: block.settings.alt_heading %}
                <div class="__article-txt">{{ block.settings.text }}</div>
                {% render 'button' button_label: block.settings.button_label, button_link: block.settings.button_link, style: "underline" %}
              </div>
            </div>
          </div>

      {% endcase %}
    {% endfor %}
  </div>
{% endif %}

 {% schema %}
{
  "name": "Timeline",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Text Content"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Lorem ipsum",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "X-Large"
        },
        {
          "value": "h4",
          "label": "Large"
        },
        {
          "value": "h5",
          "label": "Medium"
        },
        {
          "value": "h6",
          "label": "Small"
        }
      ],
      "default": "h4",
      "label": "Heading Size"
    },
    {
      "type": "checkbox",
      "id": "alt_heading",
      "label": "Use body font instead of heading font for heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>",
      "label": "Description"
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "dot_color",
      "label": "Dot Color",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ]
    },
    {
      "type": "select",
      "id": "crop_shape",
      "options": [
        {
          "value": "default",
          "label": "No Crop"
        },
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "rounded-square",
          "label": "Rounded Square"
        },
        {
          "value": "circle",
          "label": "Circle"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "rounded-portrait",
          "label": "Rounded Portrait"
        },
        {
          "value": "semicircle-portrait",
          "label": "Semicircle Portrait"
        },
        {
          "value": "landscape",
          "label": "Landscape"
        },
        {
          "value": "rounded-landscape",
          "label": "Rounded Landscape"
        },
        {
          "value": "semicircle-landscape",
          "label": "Semicircle Landscape"
        },
        {
          "value": "wide",
          "label": "Wide"
        },
        {
          "value": "rounded-wide",
          "label": "Rounded Wide"
        },
        {
          "value": "semicircle-wide",
          "label": "Semicircle Wide"
        },
        {
          "value": "arch",
          "label": "Semicircle Arch"
        }
      ],
      "default": "default",
      "label": "Image Crop Shape"
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "Primary Theme"
        },
        {
          "value": "2",
          "label": "2nd Theme"
        },
        {
          "value": "3",
          "label": "3rd Theme"
        },
        {
          "value": "4",
          "label": "4th Theme"
        },
        {
          "value": "5",
          "label": "5th Theme"
        }
      ],
      "default": "primary",
      "label": "Theme"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "part",
      "name": "Part",
      "settings" : [
        {
          "type": "header",
          "content": "Image Content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "header",
          "content": "Text Content"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Lorem ipsum",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "X-Large"
            },
            {
              "value": "h4",
              "label": "Large"
            },
            {
              "value": "h5",
              "label": "Medium"
            },
            {
              "value": "h6",
              "label": "Small"
            }
          ],
          "default": "h4",
          "label": "Heading Size"
        },
        {
          "type": "checkbox",
          "id": "alt_heading",
          "label": "Use body font instead of heading font for heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>",
          "label": "Description"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Laboris Nisi",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Timeline"
    }
  ]
}
{% endschema %}
