{{ 'timeline-section.css' | asset_url | stylesheet_tag }}

{% style %}
  #Timeline-section-{{ section.id }} {
    --topSpacingRatio: {{section.settings.top_spacing}} / 100;
    --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
  }
{% endstyle %}

{% if section.blocks.size > 0 %}
  <div id="Timeline-section-{{ section.id }}" class="timeline-section __theme-{{ section.settings.theme }}">
    {% if section.settings.heading or section.settings.text %}
      <div class="timeline-section__heading">
        {% render 'heading',
          heading: section.settings.heading,
          heading_size: section.settings.heading_size,
          alt_heading: section.settings.alt_heading
        %}
        {% if section.settings.text %}
          <div class="__article-txt">
            {{ section.settings.text }}
          </div>
        {% endif %}
      </div>
    {% endif %}

    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'part' %}
          <div class="timeline-section__part">
            {% assign image_ratio = block.settings.image.height
              | divided_by: 1.00
              | divided_by: block.settings.image.width
              | times: 100
            %}

            <div
              class="timeline-section__part__image image-container __crop-{{ section.settings.crop_shape }}"
              style="--imageRatio: {{ image_ratio }}%"
            >
              {% render 'next-gen-img',
                image: block.settings.image,
                width: 1680,
                widths: '1680, 1400, 1100, 900, 600',
                sizes: '(max-width: 676px) 100vw, 50vw'
              %}
            </div>

            <div class="timeline-section__part__text __btn-clr-{{ section.settings.dot_color }}">
              <div class="timeline-section__part__text__inner">
                {% render 'heading',
                  heading: block.settings.heading,
                  heading_size: block.settings.heading_size,
                  alt_heading: block.settings.alt_heading
                %}
                <div class="__article-txt">{{ block.settings.text }}</div>
                {% render 'button',
                  button_label: block.settings.button_label,
                  button_link: block.settings.button_link,
                  style: 'underline'
                %}
              </div>
            </div>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
{% endif %}

{% schema %}
{
  "name": "t:sections.timeline.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.timeline.settings.content"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Lorem ipsum",
      "label": "t:sections.timeline.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.timeline.settings.heading_size.label_1"
        },
        {
          "value": "h4",
          "label": "t:sections.timeline.settings.heading_size.label_2"
        },
        {
          "value": "h5",
          "label": "t:sections.timeline.settings.heading_size.label_3"
        },
        {
          "value": "h6",
          "label": "t:sections.timeline.settings.heading_size.label_4"
        }
      ],
      "default": "h4",
      "label": "t:sections.timeline.settings.heading_size.label"
    },
    {
      "type": "checkbox",
      "id": "alt_heading",
      "label": "t:sections.timeline.settings.checkbox.label"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>",
      "label": "t:sections.timeline.settings.description.label"
    },
    {
      "type": "header",
      "content": "t:sections.timeline.settings.header.content"
    },
    {
      "type": "select",
      "id": "dot_color",
      "content": "t:sections.timeline.settings.dot_color.content",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "t:sections.timeline.settings.dot_color.options.label_1"
        },
        {
          "value": "primary",
          "label": "t:sections.timeline.settings.dot_color.options.label_2"
        },
        {
          "value": "2",
          "label": "t:sections.timeline.settings.dot_color.options.label_3"
        },
        {
          "value": "3",
          "label": "t:sections.timeline.settings.dot_color.options.label_4"
        },
        {
          "value": "4",
          "label": "t:sections.timeline.settings.dot_color.options.label_5"
        },
        {
          "value": "5",
          "label": "t:sections.timeline.settings.dot_color.options.label_6"
        }
      ]
    },
    {
      "type": "select",
      "id": "crop_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.timeline.settings.crop_shape.options.label_1"
        },
        {
          "value": "square",
          "label": "t:sections.timeline.settings.crop_shape.options.label_2"
        },
        {
          "value": "rounded-square",
          "label": "t:sections.timeline.settings.crop_shape.options.label_3"
        },
        {
          "value": "circle",
          "label": "t:sections.timeline.settings.crop_shape.options.label_4"
        },
        {
          "value": "portrait",
          "label": "t:sections.timeline.settings.crop_shape.options.label_5"
        },
        {
          "value": "rounded-portrait",
          "label": "t:sections.timeline.settings.crop_shape.options.label_6"
        },
        {
          "value": "semicircle-portrait",
          "label": "t:sections.timeline.settings.crop_shape.options.label_7"
        },
        {
          "value": "landscape",
          "label": "t:sections.timeline.settings.crop_shape.options.label_8"
        },
        {
          "value": "rounded-landscape",
          "label": "t:sections.timeline.settings.crop_shape.options.label_9"
        },
        {
          "value": "semicircle-landscape",
          "label": "t:sections.timeline.settings.crop_shape.options.label_10"
        },
        {
          "value": "wide",
          "label": "t:sections.timeline.settings.crop_shape.options.label_11"
        },
        {
          "value": "rounded-wide",
          "label": "t:sections.timeline.settings.crop_shape.options.label_12"
        },
        {
          "value": "semicircle-wide",
          "label": "t:sections.timeline.settings.crop_shape.options.label_13"
        },
        {
          "value": "arch",
          "label": "t:sections.timeline.settings.crop_shape.options.label_14"
        }
      ],
      "default": "default",
      "label": "t:sections.timeline.settings.crop_shape.label"
    },
    {
      "type": "header",
      "content": "t:sections.timeline.settings.header_2.content"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.timeline.settings.theme.options.label_1"
        },
        {
          "value": "2",
          "label": "t:sections.timeline.settings.theme.options.label_2"
        },
        {
          "value": "3",
          "label": "t:sections.timeline.settings.theme.options.label_3"
        },
        {
          "value": "4",
          "label": "t:sections.timeline.settings.theme.options.label_4"
        },
        {
          "value": "5",
          "label": "t:sections.timeline.settings.theme.options.label_5"
        }
      ],
      "default": "primary",
      "label": "t:sections.timeline.settings.theme.options.label"
    },
    {
      "type": "header",
      "content": "t:sections.timeline.settings.header_3.content"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.timeline.settings.top_spacing.label",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.timeline.settings.bottom_spacing.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "part",
      "name": "t:sections.timeline.blocks.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.timeline.blocks.header.content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.timeline.blocks.image_picker.label"
        },
        {
          "type": "header",
          "content": "t:sections.timeline.blocks.header_2.content"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Lorem ipsum",
          "label": "t:sections.timeline.blocks.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.timeline.blocks.heading_size.label_1"
            },
            {
              "value": "h4",
              "label": "t:sections.timeline.blocks.heading_size.label_2"
            },
            {
              "value": "h5",
              "label": "t:sections.timeline.blocks.heading_size.label_3"
            },
            {
              "value": "h6",
              "label": "t:sections.timeline.blocks.heading_size.label_1"
            }
          ],
          "default": "h4",
          "label": "t:sections.timeline.blocks.heading_size.label"
        },
        {
          "type": "checkbox",
          "id": "alt_heading",
          "label": "t:sections.timeline.blocks.alt_heading.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>",
          "label": "t:sections.timeline.blocks.rich_text.label"
        },
        {
          "type": "header",
          "content": "t:sections.timeline.blocks.header_3.content"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Laboris Nisi",
          "label": "t:sections.timeline.blocks.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.timeline.blocks.button_link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.timeline.presets.name"
    }
  ]
}
{% endschema %}
