{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'deferred-media.css' | asset_url | stylesheet_tag }}

{% style %}
  #Video-section-{{ section.id }} {
    --topSpacingRatio: {{section.settings.top_spacing}} / 100;
    --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
  }
{% endstyle %}

<script src="{{ 'video-section.js' | asset_url }}" defer></script>


{% comment %} TODO introduce other settings Section and Text Content {% endcomment %}

{% if section.settings.video_url != blank %}

  {% capture cover %}
    {% if section.settings.cover_image %}
      {% render 'next-gen-img' image: section.settings.cover_image, width: 3360, widths: "3360, 2100, 1700, 1400, 1100, 700", sizes: "100vw" %}
    {% else %}
      {{ 'collection-2' | placeholder_svg_tag: 'placeholder' }}
    {% endif %}
  {% endcapture %}

  <div
    id="Video-section-{{ section.id }}"
    class="video-section __theme-{{ section.settings.theme }}"
  >
    <noscript>
      <div class="video-section__media"
        {% if section.settings.cover_image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.cover_image.aspect_ratio | times: 100 }}%;"{% endif %}
      >
        <a href="{{ section.settings.video_url }}" class="video-section__poster {% if section.settings.cover_image == blank %} maybe-some-class-that-handles-svg {% endif %}">
          {{ cover }}
        </a>
      </div>
    </noscript>

    <deferred-media class="video-section__media deferred-media no-js-hidden" data-media-id="{{ section.settings.video_url.id }}">
      {% comment %} Image image/button {% endcomment %}
      <button
        id="Deferred-Poster-{{ section.settings.video_url.id }}"
        type="button"
        class="video-section__poster deferred-media__poster image-container __crop-{{ section.settings.crop_shape }}"
      >
        {{ cover }}
      </button>
      {% comment %} Video to be loaded {% endcomment %}
      <template>
        {%- if section.settings.video_url.type == 'youtube' -%}
          <video-section
            data-init-mode="template"
            data-parent="deferred-media"
            data-type="youtube"
            data-video-id="{{ section.settings.video_url.id }}"
          >

          </video-section>
        {%- else -%}
          <video-section
            data-init-mode="template"
            data-parent="deferred-media"
            data-type="vimeo"
            data-video-id="{{ section.settings.video_url.id }}"></video-section>
        {%- endif -%}
      </template>
    </deferred-media>
  </div>
{% endif %}

{% schema %}
{
  "name": "t:sections.video.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Text Content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Lorem Ipsum"
    },
        {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "X-Large"
        },
        {
          "value": "h4",
          "label": "Large"
        },
        {
          "value": "h5",
          "label": "Medium"
        },
        {
          "value": "h6",
          "label": "Small"
        }
      ],
      "default": "h4",
      "label": "Heading Size"
    },
    {
      "type": "checkbox",
      "id": "alt_heading",
      "label": "Use body font instead of heading font for heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "text_size",
      "options": [
        {
          "value": "p-sm",
          "label": "t:sections.video.settings.description_text_size.options.label_1"
        },
        {
          "value": "p",
          "label": "t:sections.video.settings.description_text_size.options.label_2"
        },
        {
          "value": "p-lg",
          "label": "t:sections.video.settings.description_text_size.options.label_3"
        }
      ],
      "default": "p-sm",
      "label": "t:sections.video.settings.description_text_size.label"
    },
    {
      "type": "header",
      "content": "Text Content"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "Cover Image"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "label": "Video",
      "accept": [
        "youtube",
        "vimeo"
      ]
    },
    {
      "type": "select",
      "id": "crop_shape",
      "options": [
        {
          "value": "video",
          "label": "Standard Video"
        },
        {
          "value": "landscape",
          "label": "Landscape"
        },
        {
          "value": "rounded-landscape",
          "label": "Rounded Landscape"
        },
        {
          "value": "semicircle-landscape",
          "label": "Semicircle Landscape"
        },
        {
          "value": "wide",
          "label": "Wide"
        },
        {
          "value": "rounded-wide",
          "label": "Rounded Wide"
        },
        {
          "value": "semicircle-wide",
          "label": "Semicircle Wide"
        }
      ],
      "default": "wide",
      "label": "Image Crop Shape"
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.video.settings.options.label1"
        },
        {
          "value": "2",
          "label": "t:sections.video.settings.options.label2"
        },
        {
          "value": "3",
          "label": "t:sections.video.settings.options.label3"
        },
        {
          "value": "4",
          "label": "t:sections.video.settings.options.label4"
        },
        {
          "value": "5",
          "label": "t:sections.video.settings.options.label5"
        }
      ],
      "default": "primary",
      "label": "t:sections.video.settings.label"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header.content"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.video.settings.range1.label",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.video.settings.range2.label",
      "default": 50
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "t:sections.video.presets.name"
    }
  ]
}
{% endschema %}
