{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'deferred-media.css' | asset_url | stylesheet_tag }}

{% style %}
  #Video-section-{{ section.id }} {
    --topSpacingRatio: {{section.settings.top_spacing}} / 100;
    --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
  }
{% endstyle %}

<div class="video-section __theme-{{ section.settings.theme }} {% if section.settings.fullwidth %}__fullwidth{% endif %}" id="Video-section-{{ section.id }}">

  {% render 'heading',
    class: 'collections-list',
    heading: section.settings.heading,
    alt_heading: section.settings.alt_headixsng,
    heading_size: section.settings.heading_size
  %}

  {% if section.settings.text %}
  <div class="video-section__rich-text __article-txt-{{ section.settings.text_size }}">
    {{ section.settings.text }}
  </div>
{% endif %}

  {%- capture cover_image_render -%}
    {%- if section.settings.cover_image != blank -%}
      {%- capture sizes -%}{% if section.settings.full_width %}100vw{% else %}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), calc(100vw - 3rem){% endif %}{%- endcapture -%}
      {%- assign alt = 'sections.video.load_video' | t: description: section.settings.description | escape -%}
      {{ section.settings.cover_image | image_url: width: 3840 | image_tag:
        loading: 'lazy',
        sizes: sizes,
        widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840',
        alt: alt
      }}
    {%- else -%}
      {{ 'collection-2' | placeholder_svg_tag: 'placeholder' }}
    {%- endif -%}
  {%- endcapture -%}
  
  <noscript>
    <div class="video-section__media"
      {% if section.settings.cover_image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.cover_image.aspect_ratio | times: 100 }}%;"{% endif %}
    >
      <a href="{{ section.settings.video_url }}" class="video-section__poster media media--transparent media--landscape{% if section.settings.cover_image == blank %} video-section__placeholder{% endif %}">
        {{ cover_image_render }}
      </a>
    </div>
  </noscript>
  <deferred-media class="video-section__media deferred-media no-js-hidden media-wrapper media-wrapper--large" data-media-id="{{ section.settings.video_url.id }}"
    {% if section.settings.cover_image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.cover_image.aspect_ratio | times: 100 }}%;"{% endif %}
  >
    <button
      id="Deferred-Poster-{{ section.settings.video_url.id }}"
      class="video-section__poster media deferred-media__poster media--landscape"
      type="button"
    >
      {{ cover_image_render }}
      <span class="deferred-media__poster-button motion-reduce">
        {%- render 'icon', icon: 'play' -%}
      </span>
    </button>
    <template>
      {%- if section.settings.video_url.type == 'youtube' -%}
        <video-section
          data-init-mode="template"
          data-parent="deferred-media"
          data-type="youtube"
          data-video-id="{{ section.settings.video_url.id }}"
        >

        </video-section>
      {%- else -%}
        <video-section
          data-init-mode="template"
          data-parent="deferred-media"
          data-type="vimeo"
          data-video-id="{{ section.settings.video_url.id }}"></video-section>
      {%- endif -%}
    </template>
  </deferred-media>
</div>

{% schema %}
{
  "name": "t:sections.video.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.video.settings.header.content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.video.settings.heading.label",
      "default": "Video Section"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.video.settings.heading_size.options.label_1"
        },
        {
          "value": "h4",
          "label": "t:sections.video.settings.heading_size.options.label_2"
        },
        {
          "value": "h5",
          "label": "t:sections.video.settings.heading_size.options.label_3"
        },
        {
          "value": "h6",
          "label": "t:sections.video.settings.heading_size.options.label_4"
        }
      ],
      "default": "h4",
      "label": "t:sections.video.settings.heading_size.label"
    },
    {
      "type": "checkbox",
      "id": "alt_heading",
      "label": "t:sections.video.settings.alt_heading.label"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Add some text that introduces the video they will watch</p>",
      "label": "t:sections.video.settings.text.label"
    },
    {
      "type": "select",
      "id": "text_size",
      "options": [
        {
          "value": "p-sm",
          "label": "t:sections.video.settings.description_text_size.options.label_1"
        },
        {
          "value": "p",
          "label": "t:sections.video.settings.description_text_size.options.label_2"
        },
        {
          "value": "p-lg",
          "label": "t:sections.video.settings.description_text_size.options.label_3"
        }
      ],
      "default": "p-sm",
      "label": "t:sections.video.settings.description_text_size.label"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header_2.content"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "t:sections.video.settings.cover_image.label"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video.settings.video_url.label",
      "accept": ["youtube", "vimeo"]
    },

    {
      "type": "text",
      "id": "description",
      "label": "t:sections.video.settings.description.label",
      "info": "t:sections.video.settings.description.info"
    },
    {
      "type": "checkbox",
      "label": "t:sections.video.settings.fullwidth.label",
      "id": "full_width",
      "default": false
    },
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.video.settings.options.label1"
        },
        {
          "value": "2",
          "label": "t:sections.video.settings.options.label2"
        },
        {
          "value": "3",
          "label": "t:sections.video.settings.options.label3"
        },
        {
          "value": "4",
          "label": "t:sections.video.settings.options.label4"
        },
        {
          "value": "5",
          "label": "t:sections.video.settings.options.label5"
        }
      ],
      "default": "primary",
      "label": "t:sections.video.settings.label"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.video.settings.range1.label",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.video.settings.range2.label",
      "default": 50
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "t:sections.video.presets.name"
    }
  ]
}
{% endschema %}
