{% style %}
  #Video-section-{{ section.id }} {
    --topSpacingRatio: {{section.settings.top_spacing}} / 100;
    --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
  }
{% endstyle %}

<div
  id="Video-section-{{ section.id }}"
  class="video-section __theme-{{section.settings.theme}}"
  style="background: magenta;"
>
  <h1>Video</h1>
</div>

{% schema %}
{
  "name": "t:sections.video.name",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "theme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.video.settings.options.label1"
        },
        {
          "value": "2",
          "label": "t:sections.video.settings.options.label2"
        },
        {
          "value": "3",
          "label": "t:sections.video.settings.options.label3"
        },
        {
          "value": "4",
          "label": "t:sections.video.settings.options.label4"
        },
        {
          "value": "5",
          "label": "t:sections.video.settings.options.label5"
        }
      ],
      "default": "primary",
      "label": "t:sections.video.settings.label"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header.content"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.video.settings.range1.label",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.video.settings.range2.label",
      "default": 50
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "t:sections.video.presets.name"
    }
  ]
}
{% endschema %}
