<!doctype html>
<html class="no-js __theme-primary __btn-hover-{{ settings.button_hover }}" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <script src="{{ 'global.js' | asset_url }}" defer></script>
    <script src="{{ 'deferred-media.js' | asset_url }}" defer></script>

    {{ content_for_header }}

    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>

    {% style %}
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}

      :root {
        --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};

        --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};

        --font-body-scale: {{ settings.body_scale | divided_by: 100.0 }};
        --font-heading-scale: {{ settings.heading_scale | times: 1.0 | divided_by: settings.body_scale }};

        --color-error: {{ settings.error_color.rgb }};
        --color-success: {{ settings.success_color.rgb }};

        --color-background-default: {{ settings.background_color.rgb }};
        --color-text-default: {{ settings.text_color.rgb }};
        --color-foreground-default: {{ settings.button_color.rgb }};
        --color-foreground-text-default: {{ settings.button_text_color.rgb }};
        --color-border-default: {{ settings.border_color.rgb }};

        --color-background-2: {{ settings.background_color_2.rgb }};
        --color-text-2: {{ settings.text_color_2.rgb }};
        --color-foreground-2: {{ settings.button_color_2.rgb }};
        --color-foreground-text-2: {{ settings.button_text_color_2.rgb }};
        --color-border-2: {{ settings.border_color_2.rgb }};

        --color-background-3: {{ settings.background_color_3.rgb }};
        --color-text-3: {{ settings.text_color_3.rgb }};
        --color-foreground-3: {{ settings.button_color_3.rgb }};
        --color-foreground-text-3: {{ settings.button_text_color_3.rgb }};
        --color-border-3: {{ settings.border_color_3.rgb }};


        --color-background-4: {{ settings.background_color_4.rgb }};
        --color-text-4: {{ settings.text_color_4.rgb }};
        --color-foreground-4: {{ settings.button_color_4.rgb }};
        --color-foreground-text-4: {{ settings.button_text_color_4.rgb }};
        --color-border-4: {{ settings.border_color_4.rgb }};


        --color-background-5: {{ settings.background_color_5.rgb }};
        --color-text-5: {{ settings.text_color_5.rgb }};
        --color-foreground-5: {{ settings.button_color_5.rgb }};
        --color-foreground-text-5: {{ settings.button_text_color_5.rgb }};
        --color-border-5: {{ settings.border_color_5.rgb }};

        --btnBorderRadius: {{ settings.button_border_radius }}px;
        --btnHeight: {{ settings.button_height }}px;
        --btnSidesSpace: {{ settings.button_sides_space }};
      }

      {% render 'custom-icons' %}
    {% endstyle %}

    {% if settings.custom_heading_font_link and settings.custom_heading_font_family_name %}
      <link rel="stylesheet" href="{{ settings.custom_heading_font_link }}">

      {% style %}
        :root {
          --font-heading-family: {{ settings.custom_heading_font_family_name }};
          --font-heading-style: normal;
          --font-heading-weight: 400;
        }
      {% endstyle %}
    {% endif %}

    {% if settings.custom_body_font_link and settings.custom_body_font_family_name %}
      <link rel="stylesheet" href="{{ settings.custom_body_font_link }}">

      {% style %}
        :root {
          --font-body-family: {{ settings.custom_body_font_family_name }};
          --font-body-style: normal;
          --font-body-weight: 400;
        }
      {% endstyle %}
    {% endif %}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'theme.css' | asset_url | stylesheet_tag }}
    {{ 'header.css' | asset_url | stylesheet_tag }}

    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>

    {%- if settings.favicon != blank and settings.favicon contains '.png' -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: 'master' }}" type="image/png">
    {%- elsif settings.favicon != blank and settings.favicon contains '.ico' -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: 'master' }}" type="image/x-icon">
    {%- endif -%}
  </head>
  <body>
    <a class="skip-to-content-link visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_content' | t }}
    </a>

    {% section 'announcement-bar' %}
    {% section 'header' %}

    <main id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    <ul hidden>
      <li id="A11y-RefreshPageMessage">{{ 'accessibility.refresh_page' | t }}</li>
    </ul>

    <script>
      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`,
      };

      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_url: '{{ routes.cart_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
      };
    </script>
  </body>
</html>
